.host-location-bar {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0 8px 0 6px;
  cursor: pointer;
  background: #f0f1f5;
  border-radius: 4px;

  .icon-dingwei {
    margin-right: 4px;
    font-size: 14px;
    color: #c4c6cc;
  }

  &-text {
    font-size: 12px;
    line-height: 20px;
    color: #4d4f56;
  }

  .temporary-share-icon {
    margin-left: 2px;
  }

  &:hover {
    color: #3a84ff;
    background-color: #e1ecff;

    .icon-dingwei,
    .host-location-bar-text {
      color: #3a84ff;
    }
  }
}
