.retrieval-filter__qs-selector-component {
  padding: 16px 10px;
  font-family: Menlo, Monaco, Consolas, Courier, PingFang SC, Microsoft Yahei, monospace;
  font-size: 12px;
  white-space: pre-wrap;

  .str-item {
    line-height: 16px;
  }
}