.masking-container {
  height: calc(100vh - 52px);
  background: #f4f7fa;
  overflow: auto;

  .masking-title {
    display: flex;
    height: 52px;
    width: 100%;
    min-width: 1366px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 0 30px;
    position: relative;
    z-index: 999;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 10%);
    background: #fff;

    :first-child {
      width: 32px;
    }

    .icon-close {
      display: inline-block;
      font-size: 32px;
      position: relative;
      cursor: pointer;

      &::before {
        position: relative;
        z-index: 999;
      }

      &:hover::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #f0f1f5;
        z-index: 1;
      }
    }
  }

  .center-box {
    margin-top: 20px;
    width: 100%;
    min-height: calc(100vh - 128px);
    min-width: 1366px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: auto;

    .content-panel {
      font-size: 12px;
      display: flex;
      width: 1312px;
      max-height: calc(100vh - 200px);
      min-height: 365px;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(25,25,41,.05); 
      overflow: hidden;
      transform: rotateX(0deg);
    }

    .left-panel {
      display: flex;
      flex-direction: column;
      width: 240px;
      height: 365px;
      background-color: white;
      border-radius: 2px;
      box-shadow: 0px 2px 4px 0px rgba(25,25,41,.05);
      margin-right: 20px;
      padding: 6px 0;

      .menu-item {
        display: flex;
        align-items: center;
        padding: 0 10px 0 20px;
        height: 40px;
        width: 100%;
        margin: 2px 0;
        font-size: 14px;

        &:hover {
          cursor: pointer;
          background: #e1ecff;
          color: #3a84ff;
        }

        &.active-menu {
          background: #e1ecff;
          color: #3a84ff;
        }
      }
    }
  }

  &.is-show-notice {
    height: calc(100vh - 92px);

    .center-box {
      min-height: calc(100vh - 168px);
    }
  }
}

.masking-dialog {
  .bk-dialog-tool {
    display: none;
  }

  .bk-dialog-body {
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
  }
}