@mixin viewWrap() {
  .view-wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 16px 24px 24px;
    overflow-y: auto;

    .empty-wrap {
      display: flex;
      margin: auto;

      .empty-card {
        margin-left: 40px;
      }

      .empty-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.profiling-page {
  height: 100%;

  .page-header {
    width: 100%;
  }

  .page-content {
    display: flex;
    height: calc(100% - 52px);

    @include viewWrap();

    .favorite-list-wrap {
      width: 240px;
      height: 100%;
    }

    .search-form-wrap {
      background-color: #fff;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    }
  }
}

.full-dialog {
  @include viewWrap();

  .bk-modal-content {
    display: flex;

    /* stylelint-disable-next-line declaration-no-important */
    height: 100% !important;

    /* stylelint-disable-next-line declaration-no-important */
    max-height: 100% !important;

    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
    background-color: #f5f7fa;
  }

  .bk-modal-header {
    height: 52px;
    line-height: 52px;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 0 0 #dcdee5, 0 3px 4px 0 rgba(64, 112, 203, 0.06);

    .bk-dialog-title {
      font-size: 16px;
      color: #63656e;
    }
  }
}
