.alarm-center-detail-alarm-info {
  padding: 8px 24px;
  background: #f8fafd;

  .block-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #313238;
    letter-spacing: 0;
  }
}
