.alarm-template-config-dialog {
  .bk-dialog-body {
    max-height: 500px;
    overflow-y: auto;
  }

  .alarm-template-dialog-wrap {
    font-size: 12px;

    .alarm-group-skeleton {
      width: 120px;
      height: 22px;
      margin-top: 5px;
    }

    .alarm-group-wrap .alarm-group-tag-list {
      margin-top: 0;

      .alarm-group-tag {
        margin-top: 0;
      }

      .add-btn {
        margin-top: 0;
      }
    }
  }

  .bk-dialog-footer {
    .bk-button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
