.panel-log-log-table {
  position: relative;

  .panel-log-log-table-scroll-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 32px;
    margin: 16px auto;
    color: #979ba5;
    background-color: #ebedf0;
    border-radius: 2px;
  }

  .table-expand-content {
    position: relative;

    .icon-mc-copy {
      position: absolute;
      top: 0;
      right: 0;
      right: -16px;
      font-size: 16px;
      color: #63656e;
      cursor: pointer;

      &:hover {
        color: #3a84ff;
      }
    }
  }

  .table-expand-icon {
    font-size: 12px;
    color: #4d4f56;
  }
}
