@mixin header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .left {
    line-height: 20px;
  }

  .right {
    color: #3a84ff;
    cursor: pointer;
  }
}

@mixin bold-color($color: #3a84ff) {
  margin: 0 4px;
  font-weight: bold;
  color: $color;
}

@mixin help-list {
  .help-list {
    color: #3a84ff;

    .help-item {
      display: flex;
      align-items: center;
      margin-top: 12px;
      line-height: 16px;
      cursor: pointer;

      .icon-monitor {
        margin-right: 8px;
        font-size: 16px;
      }
    }
  }
}

.ai-small-whale {
  .robot-img {
    position: fixed;
    z-index: 1;
    z-index: 2000;
    width: 64px;
    height: 64px;
    cursor: move;
    background-repeat: round;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
    transition: 50ms all;

    &.blue {
      background-image: url(../../static/images/png/ai-whale-blue.png);
    }

    &.red {
      background-image: url(../../static/images/png/ai-whale-red.png);
    }

    &.yellow {
      background-image: url(../../static/images/png/ai-whale-yellow.png);
    }
  }
}

.ai-small-whale-tip-content {
  min-width: 240px;
  padding: 12px 16px;
  font-size: 12px;
  color: #63656e;

  .blue-bold {
    @include bold-color();
  }

  .red-bold {
    @include bold-color(#ea3636);
  }

  .grey-bold {
    @include bold-color(#68696d);
  }

  .link {
    color: #3a84ff;
    cursor: pointer;
  }

  .click-message {
    margin: 0 -22px;

    &.click-message-blue-type {
      padding-left: 22px;
    }

    &:hover {
      cursor: pointer;
      background-color: #f0f1f5;
    }
  }

  .can-click {
    padding: 0 22px;
    line-height: 22px;
    cursor: pointer;
  }

  .blue-content {
    color: #63656e;

    .header {
      @include header();
    }

    .content {
      margin-top: 16px;

      @include help-list();
    }
  }

  .red-content {
    .header {
      @include header();
    }

    .host-detail {
      min-width: 388px;

      .table-content {
        margin-top: 8px;

        .bottom-options {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 10px;
          color: #3a84ff;

          .option {
            display: flex;
            align-items: center;
            margin-left: 16px;
            cursor: pointer;

            .icon-monitor {
              margin-right: 4px;
              font-size: 16px;
            }

            .icon-back-left {
              margin-right: 0;
              font-size: 24px;
            }
          }
        }

        .icon-mc-copy {
          margin-left: 2px;
          font-size: 14px;
          color: #aeb0b4;
          cursor: pointer;
        }
      }
    }

    .alert-overview {
      line-height: 22px;

      .icon-fenxiang {
        margin-left: 4px;
        font-size: 12px;
        color: #3a84ff;
        cursor: pointer;
      }

      .icon-double-down {
        position: relative;
        top: 2px;
        font-size: 20px;
        color: #3a84ff;
        cursor: pointer;
      }
    }

    .content {
      @include help-list();

      .mt16 {
        margin-top: 16px;
      }
    }
  }
}
