/* stylelint-disable declaration-no-important */
.apm-home-wrap-page {
  height: 100%;

  .mr-8 {
    margin-right: 8px;
  }

  /*navbar */
  .dashboard-tools-wrap {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    .alarm-tools {
      margin-right: 16px;
    }

    .dashboard-tools {
      margin-right: 11px;

      .dropdown-trigger {
        padding: 0 16px;
      }

      .time-range {
        padding: 0 16px;
      }

      .dashboard-tools-more {
        padding-left: 6px;
      }
    }

    .icon-mc-more-tool {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      margin-left: 8px;
      overflow: hidden;
      font-size: 16px;
      cursor: pointer;
      background: #f5f7fa;
      border-radius: 2px;

      &:hover {
        color: #3a84ff;
        background-color: #eaf3ff;
      }
    }
  }

  .bk-resize-layout-aside-content {
    background: #FAFBFD;
  }

  /*应用列表*/
  .app-list {
    height: calc(100vh - 114px);

    .app-list-title {
      width: 56px;
      height: 22px;
      margin: 12px 0 12px 16px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 22px;
      color: #313238;
      letter-spacing: 0;
    }

    .app-list-search {
      display: flex;
      margin: 0 16px 12px;

      .bk-form-control {
        flex: 1;
      }

      .app-list-add {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-left: 8px;
        background-color: #3a84ff;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
          background-color: rgb(105, 157, 244);
          border-color: rgb(105, 157, 244);
          opacity: 1;
        }

        .icon-monitor {
          display: inline-block;
          color: #fff;
        }
      }
    }

    .app-list-data {
      .data-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 36px;
        padding: 8px 16px;

        &:hover {
          color: #313238;
          cursor: pointer;
          background: #F0F1F5;

          .item-content {
            background: #DCDEE5;
            border-radius: 50%;

            .operate {
              display: block;
            }

            .item-service-count {
              display: none;
            }
          }


        }

        .first-code {
          display: flex;
          flex: 0 0 auto;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          margin-right: 8px;
          font-size: 10px;
          line-height: 1;
          color: #fff;
          background: #85cca8;
          border-radius: 4px;

          & > span {
            line-height: 14px;
          }
        }

        .biz-name-01 {
          flex: 1;
          overflow: hidden;
          font-size: 12px;
          line-height: 1;
          color: #313238;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .item-content {
          display: flex;
          flex: 0 0 auto;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          font-size: 12px;
          line-height: 1;
          color: #979ba5;
          text-align: right;

          .operate {
            display: none;
          }
        }


      }

      .selected {
        background-color: #e1ecff;

        .biz-name-01 {
          color: #3a84ff;
        }
      }
    }
  }

  // 服务
  .app-list-service {
    // header
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-left {
        height: 24px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        line-height: 24px;
        color: #313238;
        letter-spacing: 0;
      }

      .header-right {
        display: flex;
      }
    }
    // 右侧主体部分
    .main {
      display: flex;
      height: calc(100vh - 240px);
      margin-top: 14px;
      background-color: #fff;

      .main-left {
        width: 100%;
        height: 100%;

        .main-left-filter {
          .filter-panel-header {
            padding-bottom: 13px;
            background-color: #fff;

            .title {
              font-size: 16px;
            }
          }

          .bk-collapse-item-content {
            background-color: #fff;
          }
        }

        .main-left-table {
          padding: 16px;
        }

        .toggle-wrap {
          margin-left: 6px;
          font-size: 24px;
          color: #979ba5;
          cursor: pointer;
          transform: rotate(90deg);

          .icon-double-up {
            font-size: 24px;
          }
        }

        .isCollapsed {
          display: none;
        }

        .bk-resize-layout-aside-content {
          padding: 13px 16px 0;
          background: #fff;
        }
      }

      .app-list-content {
        flex: 1;

        .app-add-btn {
          display: flex;
          align-items: center;
          line-height: 24px;
        }
      }
    }
  }

  .app-add-icon {
    font-size: 24px;
  }

  .app-list-service {
    height: calc(100% - 48px);
    padding: 18px 16px 0 16px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f7fa;

    .app-list-content {
      position: relative;
      margin-bottom: 36px;

      .app-list-content-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-mc-full-screen,
        .icon-mc-merge {
          margin-right: 8px;
          font-size: 16px;
        }
      }

      .app-list-content-data {
        display: flex;
        flex-direction: column;
        padding-top: 16px;

        .item-expan-wrap {
          margin-bottom: 16px;
          cursor: pointer;

          .expan-header {
            display: flex;
            align-items: center;
            height: 52px;
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 #1919290d;

            .header-left {
              display: flex;
              align-items: center;

              .icon-mc-triangle-down {
                margin: 0 10px;
                font-size: 20px;
                color: #979ba5;
                transition: 0.3s transform;
                transform: rotate(-90deg);

                &.expan {
                  color: #63656e;
                  transform: rotate(0);
                }
              }
            }
          }

          .expan-content {
            min-height: 180px;
            background: #fff;

            .common-table .bk-table-column-setting.is-last {
              border-top: 0 !important;
            }

            .table-skeleton {
              padding: 16px;
            }
          }
        }
      }

      .bottom-loading-status {
        position: absolute;
        bottom: -32px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .loading-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 32px;
          padding: 8px 22px;
          font-size: 12px;
          color: #979ba5;
          background: #ebedf0;
          border-radius: 2px;
        }
      }
    }

    .app-list-search {
      width: 426px;
      background: #fff;

      .bk-loading {
        z-index: 9999;
      }
    }

    .spinner {
      width: 14px;
      height: 14px;
      margin-right: 6px;
      background: url(../../static/img/spinner.svg);
    }
  }


}

.table-operate-options-component-more-items {
  & :hover {
    color: #63656E !important;
  }

  & :nth-last-child(2) {
    position: relative;
    margin-bottom: 4px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 10;
      width: 80%;
      height: 1px;
      content: '';
      background-color: #DCDEE5;
    }
  }

  & :last-child {
    margin-top: 4px;
    color: red;
    border-color: #DCDEE5;
  }
}
