.app-list-wrap {
  height: 100%;
  .dashboard-tools-wrap {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    .alarm-tools {
      margin-right: 16px;
    }
    .dashboard-tools {
      margin-right: 11px;
      .dropdown-trigger {
        padding: 0 16px;
      }
      .time-range {
        padding: 0 16px;
      }
      .dashboard-tools-more {
        padding-left: 6px;
      }
    }
    .icon-mc-more-tool {
      justify-content: center;
      margin-left: 8px;
      overflow: hidden;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      background: #F5F7FA;
      border-radius: 2px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: #3a84ff;
        background-color: #eaf3ff;
      }
    }
  }
  .app-add-btn {
    display: flex;
    align-items: center;
    line-height: 24px;
  }
  .app-add-icon {
    font-size: 24px;
  }
  .app-list-main {
    height: calc(100% - 48px);
    padding: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f5f7fa;
    .app-list-content {
      padding: 16px 20px 26px;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(25,25,41,.05);
      .app-info {
        display: flex;
        flex-direction: column;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .app-alias-name {
          font-weight: 700;
          color: #3a84ff;
          cursor: pointer;
        }
      }
    }
    .app-list-search {
      margin-bottom: 16px;
    }
  }
}
.guide-create-dialog {
  .bk-dialog-body {
    padding: 0;
  }
}