.app-nav-bar-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  height: 48px;
  padding: 0 24px;
  background-color: #fff;
  box-shadow: 0 3px 4px 0 #0000000a;

  .nav-route {
    min-width: 200px;
    height: 100%;
  }

  .app-nav-bar-handler {
    display: flex;
    flex: 1;
    align-items: center;
  }
}
