@import '../../../theme/theme';
@import '../../../theme/mixin';

.llm-observation {
  width: 100%;
  height: 100%;
  padding-right: 16px;

  @include flex-column;

  &-loading {
    flex: 1;
    min-height: 0;

    @include flex-column;
  }

  &-main {
    flex: 1;
    min-height: 0;

    @include flex-column;

    &.is-tool {
      gap: 24px;
    }
  }

  &-stats {
    flex-shrink: 0;
    gap: 8px;
    padding: 16px 0 0;

    @include flex-align(center);
  }

  &-stat-card {
    flex: 1 0 0;
    gap: 2px;
    align-items: flex-start;
    min-width: 0;
    padding: 6px 8px;
    background: #fff;
    border: 1px solid $border-color-base;
    border-radius: 4px;

    @include flex-column;
  }

  &-stat-label {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: $font-size-base;
    line-height: 20px;
    color: #4d4f56;
    white-space: nowrap;
  }

  &-stat-value {
    font-family: arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #313238;
    white-space: nowrap;

    &.is-success {
      color: #21a380;
    }
  }

  &-io {
    flex: 1;
    min-height: 0;
    margin-top: 16px;
    margin-bottom: 16px;

    @include flex-column;
  }

  &-toolbar {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    height: 40px;
    overflow: visible;
    background: #fff;

    @include flex-align(flex-end);
  }

  &-io-tabs {
    gap: 8px;

    @include flex-align(flex-end);
  }

  &-io-tab {
    position: relative;
    gap: 6px;
    justify-content: center;
    height: 40px;
    padding: 10px 24px;
    font-size: $font-size-medium;
    font-weight: 500;
    line-height: 22px;
    color: #4e5e7a;
    white-space: nowrap;
    cursor: pointer;
    background: #e4e9f2;
    border: 1px solid transparent;
    border-radius: 8px 8px 0 0;

    @include flex-align(center);

    &-icon {
      flex-shrink: 0;
      font-size: $font-size-large;
    }

    &.is-active {
      z-index: 1;
      margin-bottom: -1px;
      color: $primary-color;
      background: #fff;
      border-color: #c1cde5;
      border-bottom-color: transparent;
      box-shadow: 0 -1px 1px rgb(25 25 41 / 4%);

      &::after {
        position: absolute;
        right: 1px;
        bottom: -1px;
        left: 1px;
        height: 2px;
        pointer-events: none;
        content: '';
        background: #fff;
      }
    }
  }

  &-io-content {
    flex: 1;
    min-height: 120px;
    overflow: auto;
    background: #fff;
    border: 1px solid #c1cde5;
    border-radius: 0 6px 6px;
  }
}
