.alarm-center-detail-panel-alarm-relation-event {
  position: relative;
  margin-top: 16px;
  background-color: #fff;
  border: 1px solid #e4e9f2;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 #1919290a;
  padding: 16px;
}
