.custom-event-menu {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: fit-content;
  padding: 2px 12px;
  font-size: 12px;
  color: #4d4f56;
  background: #2d2f33;
  border: 1px solid #454547;
  box-shadow: 0 2px 24px 0 #000000;
  border-radius: 4px;

  .is-url {
    color: #699df4;
    cursor: pointer;
  }

  .exception-wrap {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-bottom: 24px;
  }

  &-header {
    display: flex;
    flex: 0 0 36px;
    width: 100%;
    margin-top: -2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 13px;

    .header-tab {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 36px;
      cursor: pointer;
      border-top: 4px solid transparent;

      &:first-child {
        margin-left: -12px;
      }

      &:last-child {
        margin-right: -12px;
      }
    }
  }

  &-title {
    display: flex;
    align-items: center;

    width: 100%;
    height: 36px;
    line-height: 20px;
    border-bottom: 1px solid #63656e;

    .event-name {
      display: inline;
      flex: 1;
      flex-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #eaebf0;
    }

    .detail-btn {
      display: inline-flex;
      align-items: center;
      margin-left: auto;
      font-size: 12px;

      .detail-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        font-size: 12px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
  }

  .content-item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 22px;
    padding: 0 4px;
    line-height: 28px;
    color: #c4c6cc;
    border-radius: 2px;

    &:nth-child(odd) {
      background-color: #242629;
    }

    &-label {
      display: flex;
      flex: 0 0 100px;
      align-items: center;
      justify-content: flex-end;
      width: 100px;
      color: #c4c6cc;
      text-align: right;
      word-break: break-all;
    }

    &-value {
      display: flex;
      flex: 1;
      align-items: center;
      margin-left: 6px;
      color: #eaebf0;
      word-break: break-all;
    }

    &-content {
      display: inline;
      align-items: center;
      margin-right: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .bk-link {
        display: inline;
        vertical-align: baseline;

        &-text {
          font-size: 12px;
        }
      }
    }
  }

  .event-icon {
    display: inline-flex;
    flex: 0 0 16px;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-position: center;
    background-size: contain;
  }

  .link-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 12px;
    color: #699df4;
    cursor: pointer;
  }

  .content-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 28px;
    margin-bottom: 8px;

    .progress-title {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      color: #c4c6cc;
    }

    .proportions-num {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      margin-right: 10px;
      margin-left: auto;
      font-weight: bold;
      color: #979ba5;
    }

    .bk-progress {
      padding-left: 20px;

      .progress-bar {
        background: #4c4e52;
      }
    }
  }

  .common-more {
    max-width: 82px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 20px;
    padding-left: 24px;
    margin-top: 5px;
    color: #eaebf0;

    span,
    i {
      cursor: pointer;
      color: #699df4;
    }

    i {
      font-size: 15px;
    }
  }

  .custom-menu-skeleton {
    height: 18px;
    margin: 6px;
    border-radius: 2px;
  }
}

.event-analyze-tooltip {
  z-index: 9999 !important;
}