.metric-view-loading {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.metric-wrap {
  padding: 0 12px 28px 12px;
  position: relative;

  .event-analyze {
    height: 16px;
    position: absolute;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    &_title {
      color: #dcdee5;
    }

    &_icon {
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding-top: 1px;

      i {
        font-size: 14px;
      }

      &-active {
        color: #979BA5;
      }
    }

    .bk-switcher-small {
      background: #63656e;
    }
  }

  .chart-wrap_title-first {
    max-width: 200px;
  }

  .chart-wrap_title {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    color: #c4c6cc;
    margin-top: 16px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .legend-name {
    color: #979ba5 !important;
  }

  .no-data {
    width: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

.event-analyze-popover {
  background: #2d2f33 !important;
  border: 1px solid #454547;
  box-shadow: 0 2px 24px 0 #000000 !important;
  border-radius: 2px !important;

  .event-analyze-wrapper {
    display: flex;
    flex-direction: column;
    width: 254px;
    color: #f5f7fa;

    .event-content {
      display: flex;
      width: 100%;

      .event-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      &-title {
        line-height: 16px;
        padding-bottom: 1px;
      }

      &-list {
        display: flex;
        flex-direction: column;
      }

      .bk-checkbox {
        height: 20px;
        margin-top: 8px;
        margin-left: 0 !important;

        &-label {
          color: #f5f7fa !important;
          font-size: 12px !important;
        }
      }
    }

    .event-footer {
      display: flex;
      align-items: center;
      margin-top: 16px;

      .bk-button {
        margin-right: 8px;
        padding: 0 14px;
        border: none;

        &:last-child {
          background: #4e4f55;
          color: #fff;
        }
      }
    }
  }
}

.metric-chart-tooltip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  margin-top: 2px;

  .item-circle {
    display: inline-block;
    margin-right: 6px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
  }

  .item-name {
    display: inline-block;
    min-width: 120px;
    font-weight: 400;
    margin-right: 5px;
  }

  .item-value {
    display: flex;
    align-items: center;
    height: 18px;
    padding: 0 5px;
    margin-left: auto;
    background-color: rgba(1, 1, 1, 0.8);
    border-radius: 3px;
  }

}
