.node-info-wrap {
  .node-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;

    &-header-icon-wrap {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: end;
    }

    &-header {
      display: flex;
      align-items: center;
      height: 28px;
      padding-bottom: 12px;
      border-bottom: 1px solid #63656e;

      &_icon {
        background-color: #f55555;

        .icon-monitor {
          color: #fff;
          font-size: 18px;
        }
      }

      .header-name {
        height: 20px;
        line-height: 20px;
        margin-right: 4px;
        overflow: hidden;
        font-size: 14px;
        color: #eaebf0;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .header-pod-name {
        cursor: pointer;
        color: #699df4;
      }

      .copy-btn {
        display: flex;
        align-items: center;
        color: #699df4;
        white-space: nowrap;
        cursor: pointer;

        .copy-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
        }
      }

      .root-mark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        min-width: 40px;
        height: 22px;
        padding-right: 1px;
        margin-right: 4px;
        margin-left: 4px;
        color: white;
        white-space: nowrap;
        background: #ea3636;
        border-radius: 2px;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 8px;

      .content-form {
        display: flex;
        align-items: center;
        width: 100%;
        height: 28px;

        &-label {
          display: flex;
          flex: 0 0 60px;
          align-items: center;
          justify-content: flex-end;
          min-width: 60px;
          height: 28px;
          color: #c4c6cc;
          text-align: right;
          white-space: nowrap;
        }

        &-value {
          display: flex;
          flex: 1;
          align-items: center;
          width: 100px;
          height: 28px;
          margin-left: 8px;
          color: #eaebf0;

          .flex-label {
            overflow: hidden;

            .btn-text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .flex-text {
            white-space: nowrap;

            .icon-btn {
              display: inline-block;
            }
          }
        }
      }

      .except-info {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;

        .except-text {
          padding-right: 6px;
          overflow: hidden;
          color: #ff6161;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .except-icon {
          padding-right: 8px;
          font-size: 12px;
          color: #699df4;
        }
      }
    }
  }

  .item-source {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 8px;

    .icon-fuwumokuai {
      font-size: 12px;
    }
  }

  .icon-btn {
    display: flex;
    align-items: center;
    color: #699df4;
    white-space: nowrap;
    cursor: pointer;

    .btn-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
    }

    .icon-fenxiang {
      font-size: 12px;
    }

    .btn-text {
      margin-left: 5px;
      font-size: 12px;
      color: #699df4;
      white-space: nowrap;
    }
  }
}

.node-info-tab {
  margin: 0 12px;
  height: 100%;

  &__head {
    width: 100%;
    height: 40px;
    color: #ffffff;
    background: #34383c;
    font-size: 13px;

    .head-tab-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      cursor: pointer;

      &.active {
        border-top: 3px solid #3a84ff;
        background: #1d2024;
      }
    }

    .item-icon {
      margin-right: 4px;
      font-size: 11px;
      color: #979ba5;
    }
  }

  &__main {
    height: calc(100% - 40px);
    overflow: auto;
    background: #1d2024;

    .metric-wrap {
      margin-top: -9px;
    }

    .aggregated-edges-wrap {
      padding: 12px 16px;

      .edge-list-item {
        margin-bottom: 8px !important;
        background: #424447 !important;
        box-shadow: 0 2px 4px 0 #00000080 !important;

        &:hover {
          background: #48628f !important;
        }
      }
    }
  }
}

.except-text_popover span {
  white-space: pre-wrap;
}
