langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.47
langchain-experimental==0.3.4
langchain-openai==0.3.9
langchain-text-splitters==0.3.7
langsmith==0.3.18
tiktoken==0.9.0
typing_extensions==4.12.2
attrdictionary==1.0.0
retry==0.9.2
stackprinter==0.2.12
Pyro4==4.82