# refer to requirements
-r requirements.txt
-r requirements_test.txt

flake8==5.0.4
attrs==19.1.0
click==7.1.2
GitPython==3.1.20
isort==5.10.1
pyproject-flake8==5.0.4.post1
googletrans==4.0.0rc1
importlib-metadata==2.1.3
