# refer to requirements
-r requirements.txt
-r requirements_test.txt

flake8==5.0.4
attrs==24.2.0
click==8.1.4
GitPython==3.1.42
isort==5.11.5
pyproject-flake8==5.0.4.post1
googletrans==4.0.0rc1
importlib-metadata==6.0.0
