.v2-log-collection-table {
  width: 100%;
  height: 100%;
  .v2-log-collection-table-header {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    color: #313238;
    font-size: 16px;
    line-height: 48px;
    .table-header-count {
      display: inline-block;
      background: #f0f2f7;
      border-radius: 2px;
      margin-left: 8px;
      font-size: 12px;
      padding: 2px 5px;
      line-height: 14px;
      color: #8f9cb3;
      font-weight: 600;
    }
  }
  .v2-log-collection-table-tool {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    .tool-btns {
      flex: 1;
    }
    .tool-search-select {
      width: 560px;
    }
  }
  .v2-log-collection-table-main {
    width: 100%;
    padding: 0 16px;
    position: relative;
    height: calc(100% - 96px);
    .link {
      cursor: pointer;
      color: #3a84ff;
    }
    .disabled {
      cursor: not-allowed;
      color: #c4c6cc;
    }
    .mr-6 {
      margin-right: 6px;
    }
    .more-btn {
      display: inline-block;
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 50%;
      margin-left: 8px;
      cursor: pointer;
      &:hover {
        background: #fff;
      }
      &.is-hover {
        background: #e1ecff;
        color: #3a84ff;
      }
    }
    .collection-table-box {
      margin-top: 6px;
      width: calc(100% - 1px);
      height: calc(100% - 66px);
      border: none;
      .cell {
        display: flex;
      }
      &::before,
      &::after {
        background-color: transparent;
      }
      .table-operation {
        display: flex;
        align-items: center;
      }
      .table-status {
        display: inline-block;
        padding-left: 16px;
        position: relative;
        &::after {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #979ba5;
          position: absolute;
          left: 3px;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #979ba529;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &.success {
          &::after {
            background: #3fc06d;
          }
          &::before {
            background: #daf6e5;
          }
        }
        &.FAILED {
          &::after {
            background: #ea3636;
          }
          &::before {
            background: #ffebeb;
          }
        }
        &.running {
          // animation: button-icon-loading 1s linear infinite;
        }
      }
    }
    .table-skeleton-box {
      background: #fff;
      width: calc(100% - 32px);
      height: calc(100% - 110px);
      position: absolute;
      top: 20px;
      left: 16px;
      z-index: 6;
    }
    .table-pagination-box {
      padding: 12px 16px;
      .bk-select {
        border: none;
        background: #F0F1F5;
        .icon-angle-down {
          color: #979BA5;
        }
      }
    }
    .log-collection-table {
      .sort-icon {
        display: inline-block;
        color: #c4c6cc;
        font-size: 12px;
        height: 14px;
        line-height: 14px;
      }
      .t-table__sort-icon--active {
        .sort-icon {
          color: #3a84ff;
        }
      }
      td {
        font-size: 12px;
        padding: 4px 10px 4px 12px;
      }
      .t-table__header th {
        background-color: #f5f7fa !important;
        padding: 8px 10px 6px 12px;
      }
      .t-table__content {
        border: none;
      }
      .t-table__header .t-table__th-cell-inner {
        font-size: 12px;
        color: #313238;
      }
      .t-table__body {
        td {
          font-size: 12px;
          color: #4D4F56;
          padding: 10px 10px 10px 12px;
        }
      }
    }
  }
  
}
.tippy-tooltip.light-theme.bk-table-setting-popover-content-theme {
  padding: 10px 0 0 !important;
}
.tippy-tooltip.light-theme.bk-search-select-theme-theme {
  padding: 10px 0 0 !important;
  .bk-search-list {
    margin: -0.3rem 0;
  }
}
.tippy-box[data-theme~='table-menu-popover'] {
  .tippy-content {
    padding: 0;
  }
  .row-menu-content {
    padding: 4px 0;
    .menu-item {
      display: block;
      color: #4d4f56;
      font-size: 12px;
      padding: 6px 14px;
      cursor: pointer;
      &:hover {
        background: #f5f7fa;
      }
    }
  }
}
