.custom-metric-group-main {
  .bk-sideslider-wrapper {
    display: flex;
    flex-direction: column;
  }

  .bk-sideslider-content {
    flex: 1;
    padding: 24px 40px;
    overflow: hidden;
  }

  .group-content {
    .tips-main {
      margin-bottom: 12px;

      .bk-alert-title {
        color: #4d4f56;
      }
    }

    .tip-msg {
      margin-bottom: 12px;
      font-family: MicrosoftYaHei;
      font-size: 12px;
      line-height: 20px;
      color: #979ba5;
    }

    .btn {
      margin-bottom: 8px;
    }

    .search-content {
      max-height: 116px;
      padding: 0 7px;
      overflow-y: auto;
      background: #fafbfd;
      border: 1px solid #f0f1f5;
      border-radius: 2px;

      .metric-item {
        display: inline-block;
        padding: 0 8px;
        margin: 4px;
        font-family: MicrosoftYaHei;
        font-size: 12px;
        line-height: 22px;
        color: #4d4f56;
        text-align: left;
        background: #eaebf0;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
        }
      }

      .metric-change {
        display: inline-block;
        padding: 9px 6px 11px;
        font-size: 12px;
        color: #f59500;

        .icon-hint {
          padding: 2px 7px 0 0;
          font-size: 14px;
        }
      }
    }

    .non-metric {
      padding: 12px 15px;
      font-size: 12px;
      color: #c4c6cc;
      background: #fafbfd;
      border: 1px solid #f0f1f5;
      border-radius: 2px;
    }
  }

  .bk-sideslider-footer {
    padding-left: 40px;
    background-color: #fafbfd;
    box-shadow: 0 -1px 0 0 #dcdee5;

    .operate-btn {
      width: 88px;
    }
  }
}
