.retrieve-v2-index {
  &.scroll-y {
    height: calc(100vh - 52px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.show-favorites {
    .sub-head {
      .box-favorites {
        width: 100%;
        background-color: #fafbfd;

        .collet-label {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 16px;

          .left-info {
            .collect-title {
              font-size: 14px;
              color: #313238;
            }

            .collect-count {
              display: inline-flex;
              align-items: center;
              height: 16px;
              padding: 0 8px;
              margin: 0 4px;

              font-size: 12px;
              line-height: 16px;
              color: #979ba5;
              text-align: center;
              letter-spacing: 0;
              background: #f0f1f5;
              border-radius: 8px;
            }

            .collect-edit {
              font-size: 16px;
            }
          }

          .bklog-icon {
            font-size: 22px;
            transform: rotate(-90deg);
          }
        }
      }
    }

    .retrieve-body {
      position: relative;

      .collect-favorites {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 2px 4px 0 #1919290d;
      }
    }
  }

  .sub-head {
    position: relative;
    z-index: 4;
    display: flex;
    height: 48px;
    margin: 8px 8px 8px 0;

    .box-favorites {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      min-width: 94px;
      height: 100%;
      font-size: 14px;
      color: #63656e;
      cursor: pointer;

      background: #ffffff;
      box-shadow: 0 3px 4px 0 #4070cb0f;

      .bklog-icon {
        font-size: 22px;
        transform: rotate(90deg);
      }
    }
  }

  .retrieve-v2-body {
    display: flex;

    .retrieve-collect-index {
      position: relative;
      position: sticky;
      top: 8px;
      z-index: 2;

      align-self: start;
      overflow: visible;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        content: '';
        background-color: #fafbfd;
        transform: translateY(100%);
      }
    }
  }

  .retrieve-v2-content {
    width: calc(100% - var(--left-width));
    margin-left: 8px;
  }

  .search-result-panel {
    .search-result-content {
      height: fit-content;

      .result-table-container {
        height: 100%;
        margin-top: 12px;
        overflow: auto;
      }

      .finger-container {
        height: calc(100vh - 310px);
        margin-top: 12px;
        overflow: auto;
      }

      &.is-trend-chart-show {
        .result-table-container {
          height: 100%;
          overflow: auto;
        }
      }
    }
  }
}
