.field-form-edit-input {
  position: relative;

  &.is-error {
    .bk-input {
      border-color: #ea3636;
      transition: all 0.15s;
    }
  }

  .err-msg {
    position: absolute;
    bottom: -18px;
    left: 0;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #ea3636;
  }
}
