.cycle-list-wrapper-theme {
  padding: 0;
}

.extension {
  .icon-chahao {
    margin-right: 8px;
    font-size: 12px;
  }
}

.simple-condition-input-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .simple-select-input-component {
    margin-top: -2px;

    &:not(:first-of-type) {
      margin-left: -1px;
    }
  }

  .condition-item-label {
    flex-shrink: 0;
    height: 32px;
    padding: 0 16px;
    margin-left: -1px;
    line-height: 32px;
    color: #313238;
    background: #e7e9ef;
    border: 1px solid #dcdee5;
  }

  .condition {
    &-item {
      margin-bottom: 2px;

      &-label {
        flex-shrink: 0;
        height: 32px;
        padding: 0 16px;
        margin-left: -1px;
        line-height: 32px;
        color: #313238;
        background: #e7e9ef;
        border: 1px solid #dcdee5;
      }

      &-method {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        height: 32px;
        padding: 0 5px;
        margin-left: -1px;
        font-weight: bold;
        color: #3a84ff;
        cursor: pointer;
        border: 1px solid #dcdee5;
        border-radius: 0;

        &:focus {
          z-index: 9;
          background-color: white;
          border-color: #3a84ff;
          box-shadow: 0 0 4px rgba(58,132,255,.4);
        }
      }

      &-value {
        // display: flex;
        min-width: 170px;
        margin-left: -1px;

        &.bk-tag-selector .bk-tag-input {
          // width: 100%;
          border: 1px solid #dcdee5;
          border-radius: 0;

          .tag-list {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }

      &-value-loading {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 170px;
        height: 32px;
        margin-left: -1px;
        border: 1px solid #dcdee5;

        .spinner {
          width: 16px;
          height: 16px;
          background: url(../../../static/images/svg/spinner.svg);
        }
      }

      &-condition {
        min-width: 46px;
        max-width: 46px;
        height: 32px;
        padding: 0 4px;
        margin-left: -1px;
        font-weight: bold;
        color: #ff9c01;
        text-align: center;
        cursor: pointer;
        border: 1px solid #dcdee5;
        border-radius: 0;

        &:focus {
          z-index: 9;
          background-color: white;
          border-color: #3a84ff;
          box-shadow: 0 0 4px rgba(58,132,255,.4);
        }
      }
    }

    &-add {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: -1px;
      color: #979ba5;
      cursor: pointer;
      border: 1px solid #dcdee5;
      border-radius: 0;

      .icon-plus {
        font-size: 24px;
      }

      &:hover {
        z-index: 9;
        color: #3a84ff;
        background-color: white;
        border-color: #3a84ff;
        box-shadow: 0 0 4px rgba(58,132,255,.4);
      }
    }
  }
}