// 对bk.scss进行扩展 覆盖

@charset 'utf-8';
@import './conf';
@import './mixins/scroller.scss';

.bk-table {
  border-top: none;

  .toggle-btn {
    font-size: 17px;
    color: #c3cdd7;
    cursor: pointer;

    &:hover {
      color: $primaryColor;
    }
  }
}

.bk-table>thead>tr>th,
.bk-table>thead>tr>td,
.bk-table>tbody>tr>th,
.bk-table>tbody>tr>td {
  height: 68px;
  padding: 10px;
  font-size: 14px;
  color: $fontColor;
  vertical-align: middle;
  border-color: #e9edee;
}

.bk-selector-create-item {
  height: 42px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 42px;
  cursor: pointer;
  background: #fafbfd;
  border-top: 1px solid #e5e5e5;

  .text {
    font-style: normal;
    color: #737987;
    text-align: left;
  }
}

.bk-message-content {
  float: none;
  max-width: 580px;
  margin-top: -4px;
  margin-left: 30px;
  line-height: 20px;
  word-break: break-word;
}

.bk-table>thead>tr>th {
  height: 50px;
  color: #7b7d8a;
  vertical-align: middle;
  background: none;
}

.bk-table.has-table-hover>tbody>tr:hover {
  background-color: #fff;
}

.bk-button {
  &.is-round {
    border-radius: 50px;
  }

  .bk-icon {
    position: relative;
    top: 1px;
  }
}

.bk-text-button {
  white-space: nowrap;

  &.is-disabled {
    /* stylelint-disable-next-line declaration-no-important */
    color: #c3cdd7 !important;
  }
}

.bk-form .bk-label {
  padding-right: 20px;
  font-weight: bold;
  color: #737987;
}

.bk-tip-text {
  font-size: 12px;
  font-weight: normal;
  color: #c3cdd7;
}

.bk-button + .bk-button {
  margin-left: 5px;
}

.bk-button-group {
  .bk-button {
    /* stylelint-disable-next-line declaration-no-important */
    margin-left: -1px !important;

    > a {
      display: block;
      color: #737987;
    }

    &.bk-primary {
      a {
        color: #fff;
      }
    }
  }
}
// .bk-table {
//     border-collapse: separate;
//     border-spacing: 0;
// }
// .bk-table thead tr:first-child th:first-child {
//     border-top-left-radius: 12px;
// }

// .bk-table thead tr:first-child th:last-child {
//     border-top-right-radius: 12px;
// }

.bk-form-checkbox {
  margin-right: 0;
  color: $fontColor;
}

.bk-selector.open .bk-selector-icon {
  transform: rotate(180deg);
}

.bk-selector .bk-selector-list>ul::-webkit-scrollbar,
.textarea::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

.bk-selector {
  &.is-danger {
    .bk-selector-input {
      color: #ff5656;
      background-color: #fff4f4;
      border-color: #ff5656;

      &:hover:not([disabled='disabled'])+.bk-icon {
        color: #ff5656;
      }
    }

    .bk-selector-icon {
      color: #ff5656;
      background-color: #fff4f4;
      border-color: #ff5656;
    }
  }
}

.bk-selector .bk-selector-list>ul::-webkit-scrollbar-thumb,
.textarea::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: #e6e9ea;
  border-radius: 2px;
}
// .bk-button .bk-icon+span {
// 	margin-left: 0px;
// }

.bk-form-input[readonly],
.bk-form-password[readonly],
.bk-form-select[readonly],
.bk-form-textarea[readonly] {

  /* stylelint-disable-next-line declaration-no-important */
  background-color: #fafafa !important;
  /* stylelint-disable-next-line declaration-no-important */
  border-color: #c3cdd7 !important;
}

.bk-form-tip {
  &.is-danger {
    color: #ff5656;

    .bk-tip-text {
      color: #ff5656;
    }
  }
}

.bk-data-wrapper {
  border: 1px solid #c3cdd7;
  border-radius: 2px;
}

.bk-date input[name='date-select'] {
  border-radius: 2px;
}

.bk-dialog-body {
  p {
    text-align: center;
  }
}

.bk-data-list {
  li {
    white-space: nowrap;
  }
}

.biz-badge {
  /* stylelint-disable-next-line declaration-no-important */
  line-height: 18px !important;
}

.bk-mark-corner p {
  overflow: visible;
  font-size: 14px;
  transform: rotate(0);
}

.bk-button-group {
  &.bk-button-flex {
    width: 100%;

    .bk-button {
      flex: 1;
    }
  }
}

.bk-sideslider-closer {
  background-color: $primaryColor;
}

.bk-form-item {
  &.is-required {
    .bk-label {
      position: relative;
    }

    .bk-label:after {
      position: absolute;
      right: 18px;
      display: inline-block;
      margin: 3px -7px 0 2px;
      color: #ff5656;
      vertical-align: middle;
      content: '*';
    }
  }
}

.bk-form-inline-item {
  display: inline-block;
  vertical-align: top;

  &.is-required {
    .bk-label {
      position: relative;
    }

    .bk-label:after {
      position: absolute;
      right: 18px;
      display: inline-block;
      margin: 3px -7px 0 2px;
      color: #ff5656;
      vertical-align: middle;
      content: '*';
    }
  }
}

.bk-form-input-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;

  .bk-number {
    min-width: 55px;
    border-radius: 2px 0 0 2px;
  }

  .bk-input-box {
    vertical-align: top;
  }

  .bk-form-input,
  .bk-form-password,
  .bk-form-select,
  .bk-form-textarea {
    border-radius: 2px 0 0 2px;
  }

  &.is-addon-left {
    .input-group-addon {
      border-right: none;
      border-left: 1px solid #c3cdd7;
      border-radius: 2px 0 0 2px;
    }

    .bk-form-input,
    .bk-form-password,
    .bk-form-select,
    .bk-number,
    .bk-form-textarea {
      border-radius: 0 2px 2px 0;
    }
  }

  .input-group-addon {
    display: inline-block;
    height: 36px;
    min-width: 36px;
    padding: 0 7px;
    font-size: 14px;
    line-height: 34px;
    color: #737987;
    text-align: center;
    vertical-align: middle;
    background: #fafbfd;
    border: 1px solid #c3cdd7;
    border-left: none;
    border-radius: 0 2px 2px 0;

    > .bk-icon {
      font-size: 18px;
      line-height: 34px;
    }

    .bk-selector-input {
      background-color: transparent;
      border: none;
    }
  }

  button:hover {
    color: #fff;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}

.bk-dropdown-box {
  display: inline-block;
  width: 130px;
  // margin-right: 5px;
  vertical-align: middle;
}

// .bk-tooltip-inner {
// 	white-space: normal;
// }

.bk-number {
  padding-right: 0;
  vertical-align: middle;
}

.bk-number .bk-number-content.bk-number-larger {
  height: 34px;
  line-height: 34px;
}

.bk-dropdown-menu {
  .bk-dropdown-list {
    overflow: auto;
  }

  .bk-dropdown-content {
    border: 1px solid $borderWeightColor
  }
}

.bk-selector .bk-selector-list-item .text {
  display: block;
  text-align: left;
}

.bk-dropdown-menu .bk-dropdown-content {
  text-align: left;

  @include scroller;

  &.left-align {
    left: 0;
  }
}

.bk-form-textarea {
  line-height: 20px;
}

.bk-button .bk-icon+span {
  margin-right: 0;
}

.bk-sideslider-wrapper {
  top: 0;

  @include scroller;
}

.bk-number .bk-number-content .bk-number-input {
  margin-top: -2px;
  vertical-align: middle;
}

.bk-selector .bk-selector-list {
  border: 1px solid #c3cdd7;
}

.bk-button {
  .biz-update-dot {
    position: absolute;
    top: 16px;
    right: 8px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    vertical-align: middle;
    background: #3c96ff;
    border-radius: 50%;
  }

  &.bk-primary {
    .biz-update-dot {
      background: #fff;
    }
  }
}

.bk-sideslider {
  &.biz-app-container-tojson-sideslider {
    .bk-sideslider-wrapper {
      padding-bottom: 0;
    }
  }
}


.bk-data-list a:hover:after,
.bk-data-active a:after,
.bk-data-avatar {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bk-data-list a:hover:after,
.bk-data-active a:after {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  content: '';
  transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateY(-50%);
  // background-image: url("../images/icon_enter.png");
}

.hidden {
  display: none;
}

.bk-data {
  position: absolute;
  top: 32px;
  left: 3px;
  z-index: 999;

  /*width: 200px;*/
  background-color: #fafbfb;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.bk-data-wrapper {
  position: relative;
  min-height: 33px;
  padding: 5px 5px 0 5px;
  cursor: text;
  border: 1px solid #ccc;
}

.bk-data-wrapper.active {
  border-color: #57a3f1;
}

.bk-data-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: transparent;
}

.bk-data-wrapper.disabled {
  cursor: not-allowed;
  background-color: #eee;
}

.bk-data-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bk-data-list a {
  position: relative;
  display: block;
  padding: 5px 35px 5px 15px;
  line-height: 30px;
  color: #333;
  text-decoration: none;
}

.bk-data-list a:hover {
  background-color: #f4f4f4;
}

.bk-data-active a {
  background-color: #f4f4f4;
}

.bk-data-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  // background-image: url("../images/avatar.jpg");
  vertical-align: middle;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
}

.bk-data-name em {
  font-style: normal;
  font-weight: bold;
  color: #e95b5f;
}

.bk-data-editor {
  min-height: 30px;
}

.bk-data-editor input[name='bk-data-input'] {
  width: 10px;
  height: 100%;
  min-width: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.bk-data-item {
  display: inline-block;
  padding: 0 5px;
  margin: 2px 5px 5px;
  font-size: 14px;
  color: #2b2b2b;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.bk-data-highlight {
  font-style: normal;
  font-weight: bold;
  color: #e95b5f;
}

.biz-check-permission-loading,
.biz-app-loading,
.biz-node-loading,
.biz-namespace-loading {
  .bk-loading {
    background-color: transparent;
  }
}

.biz-app-list-wrapper {
  .bk-loading {
    margin-top: 107px;
  }
}

.bk-searcher-dropdown-list {
  .bk-loading {
    background-color: rgba(255, 255, 255, 1);
  }
}

.bk-dialog .bk-dialog-close {
  font-size: 12px;
}

.bk-form-checkbox input[type=checkbox][disabled] {
  cursor: not-allowed;
  background-color: #fafbfd;
  background-position: 67px 13px;
  border: 1px solid #ebf0f5;
}

.bk-form-checkbox input[type=checkbox][disabled]+.bk-checkbox-text {
  color: inherit;
}

.bk-form-checkbox input[type=checkbox]:checked[disabled] {
  color: inherit;
  background-color: transparent;
  background-position: -99px -62px;
  border: none;
}

.bk-resource-configmap {
  .bk-loading {
    background-color: #fff;
  }
}

.bk-resource-secret {
  .bk-loading {
    background-color: #fff;
  }
}

.bk-form-input[disabled],
.bk-form-password[disabled],
.bk-form-select[disabled],
.bk-form-textarea[disabled] {
  color: inherit;
}


.bk-dropdown-menu .bk-dropdown-content.is-show {
  overflow: visible;
}

.biz-templateset-wrapper {
  .bk-tooltip,
  .bk-tooltip-rel {
    /* stylelint-disable-next-line declaration-no-important */
    width: 100% !important;
  }
}

.biz-back-btn {
  display: inline-block;
  height: 60px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 60px;
  cursor: pointer;

  .back {
    position: relative;
    top: 1px;
    font-size: 16px;
    font-weight: 700;
    color: #3c96ff;
  }
}

.biz-monitor-dashboard-wrapper {
  .bk-loading {
    background-color: #fff;

    .bk-loading-wrapper {
      top: 30%;
    }
  }
}
