/* stylelint-disable declaration-no-important */
.data-retrieval-wrap {
  height: 100%;

  .data-retrieval-container {
    height: 100%;

    .left-show-icon-container {
      display: flex;
      align-items: center;

      .icon-container {
        position: relative;
        display: flex;
        margin: 12px 17px;
        background: #f0f1f5;
        border-radius: 2px;

        > :first-child {
          margin-right: 2px;
        }

        .result-icon-box {
          width: 32px;
          height: 24px;
          font-size: 14px;
          line-height: 20px;
          color: #fff;
          text-align: center;
          cursor: pointer;
          background: #699df4;
          border-radius: 2px;

          .icon-monitor {
            display: inline-block;
            font-size: 18px;
            transform: translateY(2px);
          }

          &.light-icon {
            color: #63656e;
            background: #f0f1f5;
          }

          &.disable-icon {
            pointer-events: none !important;
            cursor: not-allowed;
          }

          &.light-icon:hover {
            background: #dcdee5;
          }
        }
      }
    }
  }

  .favorite-list {
    width: 100%;
    height: 100%;

    .line {
      right: -5px !important;
    }
  }

  .data-retrieval-main {
    position: relative;
    z-index: 9;
    display: flex;
    width: 100%;

    .data-retrieval-left {
      z-index: 1000;
      flex-shrink: 0;
      height: calc(100vh - 102px) !important;
      overflow-y: auto;
      background-color: #fff;
      border-right: 1px solid #dcdee5;

      .bk-monitor-drag {
        right: 8px;
      }

      &.is-loading {
        .bk-monitor-drag {
          z-index: 3000;
        }
      }

      .left-tab-wrap {
        display: flex;
        width: 100%;
        height: 52px;

        .left-tab-item {
          flex: 1;
          height: 52px;
          font-size: 14px;
          line-height: 52px;
          color: #63656e;
          text-align: center;
          cursor: pointer;
          background-color: #f9fbfd;
          border-bottom: 1px solid #dcdee5;

          &:not(:last-child) {
            border-right: 1px solid #dcdee5;
          }

          &.active {
            color: #3a84ff;
            background-color: #fff;
            border-bottom: 0;
          }
        }
      }

      .left-content-wrap {
        height: 100%;
        overflow: auto;

        &.is-event {
          background-color: #fbfbfb;

          .title-wrap {
            .title-main {
              padding: 0 10px;
            }
          }
        }

        .title-wrap {
          padding: 16px 14px 0;
          background-color: #fff;
          box-shadow: inset 0px 3px 4px 0px rgba(64, 112, 203, 0.06);

          .title-main {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
            padding: 0 10px;

            .edit {
              position: absolute;
              display: inline-block;
              font-size: 24px;
              color: #979ba5;
              cursor: pointer;
              transform: translateY(-2px);
            }
          }

          .title-text {
            font-size: 16px;
            color: #313238;
          }

          .title-operate {
            display: flex;
            align-items: center;
            color: #979ba5;

            .expand-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              overflow: hidden;
              font-size: 16px;
              // margin-right: 8px;margin-right
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              transform-origin: center;
            }
          }

          .icon-menu-setting {
            font-size: 16px;
            color: #979ba5;
            cursor: pointer;
          }

          .icon-double-down {
            display: inline-block;
            font-size: 26px;
            color: #979ba5;
            cursor: pointer;
            transform: rotateZ(90deg) translateY(-6px);
          }

          .edit-mode-btn {
            display: flex;
            align-items: center;
            margin-right: 16px;
            color: #3a84ff;
            cursor: pointer;

            &.mode-disable {
              color: #c4c6cc;

              &:hover {
                color: #c4c6cc;
                cursor: not-allowed;
              }
            }

            .icon-switch {
              margin-right: 4px;
              font-size: 12px;
            }
          }
        }

        .collapse-wrap {
          margin: 0 14px;

          .drag-item {
            margin-bottom: 12px;
          }

          li.drag-item::marker {
            content: '';
          }

          .collapse-item {
            .bk-collapse-item-header {
              height: auto;
              line-height: 1;
            }

            .icon-angle-right {
              display: none;
            }

            .collapse-item-title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 26px;
              padding: 0 7px 0 8px;
              border-radius: 2px;

              .title-left {
                display: flex;
                align-items: center;
                font-size: 12px;
                color: #2d3542;

                .icon-play-shape {
                  margin-right: 2px;
                  font-size: 14px;
                  color: #63656e;
                  transition: all 0.2s ease-in-out;
                  transform: scale(0.5) rotate(0deg);

                  &.acitve {
                    transform: scale(0.5) rotate(90deg);
                  }
                }

                .title-name,
                .title-desc {
                  display: inline-block;
                  height: 18px;
                  line-height: 18px;
                }

                .title-name {
                  margin-right: 4px;
                }

                .title-desc {
                  color: #979ba5;
                }
              }

              .title-center {
                display: inline-block;
                flex: 1;
                height: 100%;
                // cursor: move;cursor
              }

              .title-right {
                display: flex;
                align-items: center;
                color: #63656e;

                .icon-monitor {
                  padding: 5px;
                  font-size: 16px;

                  &:hover {
                    color: #3a84ff;
                  }
                }

                .icon-mc-sorce {
                  font-size: 10px;
                  transform: scale(0.9);
                }

                .is-source {
                  color: #3a84ff;
                }

                .disabled {
                  color: #c4c6cc;
                  cursor: not-allowed;

                  &:hover {
                    color: #c4c6cc;
                  }
                }
              }
            }

            .collapse-item-content {
              padding: 12px 10px 20px 24px;
              background-color: #fafbfd;

              &.promql {
                padding: 12px 10px;
              }

              .source-mode-wrap {
                display: flex;

                .source-mode {
                  width: 100%;
                  min-height: 315px;
                  overflow-y: auto;
                  background-color: #fff;
                  border: 1px solid #dcdee5;
                  border-radius: 3px;

                  &.source-mode-h80 {
                    min-height: 80px;
                  }

                  &.is-error {
                    border-color: #ff5656;
                  }

                  .promql-editor {
                    height: 100%;
                    min-height: 80px;
                    overflow: auto;
                    resize: vertical;
                    border: 0;

                    .cm-content {
                      padding: 8px 20px 8px 18px;
                    }
                  }
                }
              }

              .step-content {
                display: block;
                margin-top: 10px;

                .step-input {
                  width: 205px;

                  .step-input-prepend {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 96px;
                    height: 100%;
                    font-size: 12px;

                    .icon-hint {
                      margin-left: 8px;
                    }
                  }
                }
              }
            }
          }
        }

        .collapse-wrap-data {
          .collapse-item {
            .collapse-item-title {
              background-color: #f0f1f5;

              .title-center {
                cursor: move;
              }
            }
          }
        }

        .target-add-btn {
          display: flex;
          align-items: center;
          height: 44px;
          padding: 0 12px;
          font-size: 12px;
          color: #3a84ff;

          .target-add-btn-content {
            cursor: pointer;

            .icon-plus-line {
              margin-right: 7px;
              font-size: 14px;
            }
          }
        }

        .query-add-btn-wrap {
          display: flex;
          align-items: center;
          height: 41px;
          padding: 0 20px;
          font-size: 12px;
          color: #3a84ff;
          border-top: 1px solid #f0f1f5;
          border-bottom: 1px solid #f0f1f5;

          .query-add-btn {
            display: flex;
            align-items: center;
            cursor: pointer;

            .icon-mc-add {
              font-size: 17px;
            }

            &:not(:last-child) {
              margin-right: 40px;
            }
          }
        }

        .handle-btn-group {
          // padding: 30px 24px 0;padding
          display: flex;

          .bk-button {
            font-size: 12px;
          }

          .icon-monitor {
            margin-right: 5px;
            font-size: 14px;
          }

          & > :not(:last-child) {
            margin-right: 8px;
          }

          &.search-group {
            position: sticky;
            bottom: 0;
            z-index: 10;
            padding: 20px 24px;
            background-color: white;
          }

          .query-type-btn {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin-right: 2px;
            cursor: pointer;
            background: #fff;
            border: 1px solid #c4c6cc;
            border-radius: 2px;

            .icon-kaishi11,
            .icon-weibiaoti519 {
              margin: 0;
            }

            .status-loading {
              width: 24px;
              height: 24px;
            }
          }

          .favorite-btn-container {
            position: relative;

            .catching-ball {
              position: absolute;
              top: -6px;
              right: -4px;
              z-index: 999;
              width: 12px;
              height: 12px;
              background: #ea3636;
              border-radius: 50%;
            }

            .icon-mc-mark {
              display: inline-block;
              transform: translateY(1px);
            }
          }
        }

        .clear-params-btn {
          position: relative;
          cursor: pointer;

          .icon-mc-clear-query {
            position: absolute;
            top: 8px;
            left: 9px;
            z-index: 99;
            font-size: 14px;
            color: #63656e;
            pointer-events: none;
          }
        }

        .pdtop-0 {
          padding-top: 0;
        }

        .filter-condition {
          padding: 0 24px;
          margin-bottom: 16px;
        }

        .event-control-bg {
          background-color: #fff;
        }
      }

      .err-msg {
        margin-top: 10px;
        color: #ea3636;
        word-break: break-all;
      }
    }

    .data-retrieval-right {
      flex: 1;
    }

    .metric-copy-btn {
      display: inline-flex;
      align-items: center;
      height: 26px;
      padding: 0 8px;
      margin: 12px 0 10px 24px;
      color: #63656e;
      cursor: pointer;
      background: #f0f1f5;

      .icon-arrow-down {
        margin-left: 10px;
        font-size: 20px;
      }
    }
  }

  .notify-box {
    z-index: 1001;
    min-height: 60px;

    .target-arrow {
      top: -5px !important;

      left: 10px !important;
      border-top: 1px solid #dcdee5;
      border-left: 1px solid #dcdee5;
    }
  }
}

.setting-pop-centent {
  display: flex;
  align-items: center;
  height: 16px;
  padding: 1px 0;
  margin: 0 -4px;

  .text {
    line-height: 1;
  }

  .switcher {
    margin-left: 12px;
  }

  .icon-hint {
    margin-left: 4px;
  }

  .i-see-btn {
    margin-top: -1px;
    margin-left: 8px;
    color: #3a84ff;
    cursor: pointer;
  }
}

.favorite-pop-content {
  min-width: 200px;
  padding: 4px 2px;

  .fav-title {
    margin-bottom: 7px;
    line-height: 20px;
    color: #63656e;
  }

  .fav-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > :not(:last-child) {
      margin-right: 8px;
    }

    .fav-btn {
      color: #3a84ff;
      cursor: pointer;
    }
  }
}

.bk-monitor-drag {
  z-index: 50;
}

.flip-list-move {
  transition: transform 0.5s;
}

.filp-list-none-move {
  transition: transform 0s;
}

.bk-dialog-wrapper .bk-info-box .bk-dialog-type-header .header {
  overflow: hidden;
  text-overflow: inherit;
  white-space: normal;
}
