.uptime-check-form-custom-btn {
  &.add-btn {
    display: flex;
    align-items: center;
    color: #3a84ff;
    font-size: 14px;
    cursor: pointer;

    .icon-plus-circle-shape {
      font-size: 12px;
      margin-right: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
