.http-url-input {
  display: flex;
  align-items: center;
  height: 32px;
  width: 525px;
  margin-top: 8px;
  flex-direction: column;

  .url-text {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #f5f7fa;
    border-radius: 2px;
    width: 100%;
    padding: 0 8px 0 12px;
    color: #63656e;

    &:hover {
      background-color: #f0f1f5;

      .text-edit,
      .text-close {
        display: flex;
      }
    }

    .text-edit,
    .text-close {
      color: #63656e;
      display: none;
      cursor: pointer;
      font-size: 20px;
    }

    .text-edit {
      margin-left: auto;
    }
  }

  .bk-form-item,
  .url-input {
    // display: flex;
    // align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    .bk-form-input {
      /* stylelint-disable-next-line declaration-no-important */
      color: #63656e !important;
    }

    .error-tips {
      font-size: 12px;
      color: #ea3636;
      line-height: 18px;
      margin: 2px 0 0;
    }

    .terror-tips-icon {
      position: absolute;
      right: 8px;
      top: 8px;
      color: #ea3636;
      cursor: pointer;
      font-size: 16px;
    }
  }
}