/* stylelint-disable declaration-no-important */
@import '../../../../theme/index';

.tcp-target {
  &-btns {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .uptime-check-form-custom-btn {
      &.add-btn {
        position: relative;
        height: 30px;
        margin-right: 16px;

        &:nth-child(n + 2) {
          margin-left: 16px;
        }

        &:not(:last-child) {
          &::after {
            position: absolute;
            right: -16px;
            width: 1px;
            height: 16px;
            content: ' ';
            background-color: #dcdee5;
          }
        }
      }
    }
  }

  &-details {
    width: 1000px;

    .collapse-header-count {
      display: inline-flex;
      margin: 0 4px;
      font-weight: bold;
      color: #3a84ff;
    }
  }

  .domain-dialog {
    .monitor-dialog {
      min-height: 410px;
    }

    .monitor-dialog-body {
      padding: 0 16px;
    }

    .domain-header {
      display: flex;
      align-items: center;
      width: 408px;
      margin-top: 18px;
    }

    .domain-item {
      display: flex;
      flex: 1;
      flex-direction: column;

      .bk-checkbox-text,
      .bk-radio-text {
        font-size: 12px !important;
      }

      .bk-form-checkbox {
        margin-right: 24px;
      }

      &-title {
        margin-bottom: 8px;
      }

      .domain-input {
        width: 100%;
        height: 176px;

        &.is-error {
          .bk-textarea-wrapper {
            border-color: #ea3636;
          }
        }

        .bk-form-textarea {
          min-height: 176px;
        }
      }
    }

    .domain-content {
      display: flex;
      align-items: center;
      width: 408px;

      .validate-tips {
        margin-top: 2px;
        line-height: 18px;
        color: #ea3636;
      }
    }
  }

  .domain-select {
    display: flex;
    align-items: center;
    margin-left: 100px;

    .setting-wrap {
      display: flex;
      align-items: center;
      margin-right: 40px;
      color: #63656e;
    }

    .setting-text {
      display: flex;
      align-items: center;
      height: 42px;
      color: #313238;
    }
  }

  .domain-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: auto;
    font-size: 24px;
  }
}

.domain-select-tips {
  * {
    transition: none !important;
    transition-duration: 0ms !important;
  }

  .tippy-tooltip {
    min-width: 68px;
    padding: 0 !important;
    pointer-events: all;
    background-color: white !important;
    border: 1px solid #dcdee5;
    border-radius: 2px !important;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);

    .domain-select-list {
      @include common-list(88px);

      .check-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -8px;
        margin-left: auto;
        font-size: 24px;
        color: #3a84ff;
      }
    }
  }
}
