.check-view-table {
  width: 100%;
  height: 100%;

  .check-view-table-main,
  .check-view-table-statistical {
    td,
    th.is-leaf {
      height: 32px !important;
    }
    .bk-table-header-label {
      width: 100%;
    }
    th > .cell {
      line-height: 32px;
    }
    td > .cell {
      color: #313238;
    }
    // th,
    // td {
    //   border-right: 1px solid #dcdee5;
    // }
    .bk-table-fixed {
      border-bottom: none;
    }
    .color-label {
      display: inline-block;
      width: 100%;
      color: #000000;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
    .not-color {
      margin-top: 10px;
    }
    .color-head {
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 20px;
      cursor: pointer;
      padding-top: 4px;
      &.disabled {
        .color-label {
          color: rgb(204, 204, 204);
        }
        .color-box {
          background-color: rgb(204, 204, 204) !important;
        }
      }
      .color-box {
        display: block;
        width: 10px;
        height: 4px;
        margin-right: 3px;
        margin-bottom: 2px;
        margin-top: 2px;
      }
    }
    .no-compare {
      padding-top: 8px;
      .not-color {
        margin-top: 2px;
      }
    }
    .num-cell {
      display: inline-block;
      padding-left: 12px;
      .gray-text {
        margin-left: 4px;
        font-size: 12px;
        color: #a8b5cf;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .check-view-table-statistical {
    td {
      background: #fafbfd;
    }
  }
  .is-nowrap {
    th > .cell {
      height: 76px;
      padding: 0;
    }
    .is-first .cell {
      padding: 0 15px;
    }
    .head-list {
      display: block;
      border-top: 1px solid #dcdee5;
      padding-top: 2px;
      .head-list-item {
        display: inline-block;
        width: 33.33%;
        padding-left: 15px;
        margin-top: 4px;
        &.disabled {
          color: rgb(204, 204, 204);
          .color-box {
            background-color: rgb(204, 204, 204) !important;
          }
        }
      }
    }
    .color-label {
      padding-left: 15px;
    }
    .check-table-merge {
      display: block;
      .check-table-merge-item {
        display: inline-block;
        width: 33.33%;
        padding-left: 13px;
        color: #313238;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-left: 20px;
        }
      }
    }
  }
  .table-skeleton-block {
    width: 100%;
    padding: 0 12px;
    .common-table-skeleton-row-item.skeleton-element {
      &:after {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.04) 25%,
          rgba(0, 0, 0, 0.08) 37%,
          rgba(0, 0, 0, 0.04) 63%
        ) !important;
      }
    }
  }
}
.check-view-tooltips {
  min-width: 200px;
  padding: 8px 12px;
  border-radius: 2px;
  .tippy-arrow {
    display: none;
  }
  .tips-name {
    display: inline-block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
  }
  .tips-item,
  .tips-item-even {
    display: inline-block;
    width: 100%;
    line-height: 24px;
    color: #fff;
    border-radius: 2px;
    .item-name {
      display: inline-block;
      width: 80px;
      color: #c4c6cc;
      text-align: right;
    }
  }
  .tips-item-even {
    background: #404040;
  }
}
