.check-view-detail {
  width: 100%;
  height: 100%;
  background: #f5f7fa;
  position: fixed;
  left: 0;
  top: 52px;
  z-index: 1000;
  .check-view-detail-head {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 #1919290d;
    border-radius: 2px;
    font-size: 16px;
    color: #313238;
    position: relative;
    padding-left: 52px;
    margin-bottom: 2px;
    .close-btn {
      color: #3a84ff;
      font-size: 32px;
      position: absolute;
      left: 16px;
      cursor: pointer;
    }
    .detail-head-right {
      height: 100%;
      position: absolute;
      right: 6px;
      top: 2px;
      min-width: 240px;
      .right-line {
        display: inline-block;
        width: 1px;
        height: 14px;
        background: #dcdee5;
      }
      .filter-tools-timerange {
        vertical-align: sub;
      }
      .filter-tools-interval {
        height: 100% !important;
        font-size: 12px;

        .bk-dropdown-trigger {
          .trigger-name {
            height: 46px;
            width: 50px;
            display: inline-block;
          }
          .trigger-name i {
            color: #63656e;
            height: 100%;
          }
          .icon-mc-alarm-recovered {
            overflow: inherit;
            line-height: 16px;
          }
          .trigger-text {
            position: absolute;
            top: -1px;
            padding-left: 5px;
          }
        }
      }
    }
    .detail-head-title {
      color: #979ba5;
      font-size: 14px;
      padding-left: 16px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 8px;
        top: 50%;
        width: 1px;
        height: 14px;
        background: #dcdee5;
        transform: translateY(-50%);
      }
    }
  }
  .check-view-detail-body {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    padding-bottom: 24px;
  }
  .check-view-main {
    width: calc(100% - 24px);
    height: calc(100% - 218px);
    overflow-y: auto;
    box-shadow: 0 2px 4px 0 #1919290d;
    border-radius: 2px;
    margin: 12px 12px 0;
    background: #ffffff;
    .check-view-main-layout {
      width: 100%;
      .bk-resize-layout-aside {
        border: none;
      }
      .check-view-main-chart {
        width: 100%;
        padding: 12px;
        position: relative;
        .chart-title {
          padding-right: 100px;
          .strategy-icon {
            position: absolute;
            right: 56px;
            top: 20px;
            font-size: 13px;
          }
          .more-icon {
            position: absolute;
            right: 20px;
          }
        }
        .chart-context-menu-info {
          position: absolute;
          right: 100px;
          top: 27px;
          color: #c4c6cc;
          .mouse-icon {
            color: #c4c6cc;
            margin-right: 4px;
            font-size: 12px;
          }
        }
      }
      .check-view-main-table {
        width: 100%;
        padding: 8px 12px 0;
        overflow: auto;
      }
    }
  }
}
