.issues-history {
  .issues-history-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;

    .issues-history-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      padding: 0 12px;
      line-height: 20px;
      background-color: #f2f6fc;
      border-radius: 6px;

      .item-title {
        color: #3974ff;
        cursor: pointer;
      }

      .item-time {
        color: #8f9fbd;
        text-decoration: underline dotted;
        cursor: pointer;
      }
    }
  }
}
