.inquire-header-wrap {
  display: flex;
  height: 48px;
  background: #fff;
  box-shadow: 0 3px 4px 0 rgba(64, 112, 203, .06);

  .inquire-header-center {
    flex: 1;
  }

  .inquire-header-append {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-right: 16px;
  }

  .inquire-header-append-item {
    display: flex;
    align-items: center;
    height: 32px;

    &:first-child {
      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 14px;
        border-right: 1px solid #dcdee5;
      }
    }

    &:not(:last-child) {
      position: relative;
      margin-right: 6px;

      &::after {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 14px;
        border-right: 1px solid #dcdee5;
      }
    }

    .icon-mc-more-tool {
      justify-content: center;
      margin-left: 8px;
      overflow: hidden;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      background: #f5f7fa;
      border-radius: 2px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: #3a84ff;
        background-color: #eaf3ff;
      }
    }
  }
}