@import '../../theme/index';

@mixin layout-flex($flexDirection, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

.custom-report-page {
  position: relative;

  @include layout-flex(row, stretch, flex-start);

  .mr-6 {
    margin-right: 6px;
  }

  .mr-16 {
    margin-right: 16px;
  }

  .custom-report-page-content {
    padding: 24px 16px 16px 16px;
    margin-top: 8px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 #1919290d;
  }

  .content-left {
    flex: 1 1 auto;
    height: calc(100vh - 52px - var(--notice-alert-height));
    padding: 0 20px 20px 20px;
    overflow-y: auto;

    &-operator {
      // margin-top: 20px;
      display: flex;
      align-items: center;

      .operator-input {
        width: 360px;
        margin: 0 0 0 auto;
      }
    }

    &-table {
      margin-top: 16px;
      background: #fff;
      // border: 1px solid #dfe0e5;
      border-top: 0;
      border-radius: 2px;

      .col-strategy {
        width: 48px;
        color: $unsetColor;
        text-align: right;
      }

      .col-btn {
        color: $primaryFontColor;
        cursor: pointer;
      }

      .col-change {
        @include layout-flex(column, stretch, flex-start);

        .col-change-author {
          margin-bottom: 3px;
        }
      }

      .col-operator {
        padding-left: 0;
        margin-right: 10px;
      }

      .table-empty-icon {
        font-size: 32px;
        color: $defaultBorderColor;
      }

      .table-empty-title {
        margin-top: 10px;
        font-size: $fontSmSize;
      }

      .bk-table-pagination-wrapper {
        /* stylelint-disable-next-line declaration-no-important */
        padding: 15px !important;
      }

      .platform-tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        padding: 4px;
        margin-left: 6px;
        font-size: 12px;
        color: #fff;
        white-space: nowrap;
        background: #979ba5;
        border-radius: 2px;
      }
    }
  }

  .content-right {
    flex-basis: 246px;
    background: $whiteColor;
    border-left: 1px solid $defaultBorderColor;
    border-radius: 0 0 2px 2px;
  }
}