.match-rule-more-list-component {
  width: 100%;
  max-height: 32px;
  transition: max-height .3s ease-in-out;
  padding-top: 5px;
  overflow: hidden;
  position: relative;

  &.is-expand {
    overflow: auto;
    max-height: none;
    background: #fff;
    border-top: 0;
    border: 1px solid #dcdee5;
    padding-left: 4px;
    z-index: 1;

    &:hover {
      background: #e1ecff;
      border: 1px solid #699df4;
    }
  }

  .more-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #63656e;

    .list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      height: 22px;
      background: #fafbfd;
      border: 1px solid rgba(151,155,165,.30);
      border-radius: 2px;
      margin-right: 4px;
      margin-bottom: 5px;

      &.add {
        border: 1px solid rgba(0, 0, 0, 0);
        width: 24px;
        background: rgba(0, 0, 0, 0);
        opacity: 0;

        .icon-mc-add {
          color: #3a84ff;
          font-size: 20px;
        }
      }

      .icon-mc-close {
        font-size: 18px;
        color: #3a84ff;
        display: none;
        margin-right: -12px;
      }

      &:hover,
      &.active {
        color: #3a84ff;
        background: #edf4ff;
        border: 1px solid rgba(58,132,255,.30);

        .icon-mc-close {
          display: flex;
        }
      }

      &.add-active {
        opacity: 1;
      }
    }

    .num-overflow-item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      width: 36px;
      height: 22px;
      background: #fafbfd;
      border: 1px solid rgba(151,155,165,.30);
      margin-bottom: 5px;
      margin-right: 4px;
    }
  }

  &:hover {
    .list-item {
      &.add {
        opacity: 1;
      }
    }
  }
}

.match-rule-more-list-component-operate-wrap {
  width: 283px;
  padding: 16px;

  .edit-input {
    margin-bottom: 4px;
  }

  .tip-msg {
    line-height: 20px;
    font-size: 12px;
    color: #979ba5;
  }

  .operate-btn {
    margin-top: 12px;
    display: flex;
    justify-content: end;
  }

  .mr8 {
    margin-right: 8px;
  }

  .err-msg {
    color: #f56c6c;
  }
}