.search-result-panel {
  background-color: #fff;

  &.flex {
    position: relative;
    display: flex;
    height: fit-content;
    margin: 0 8px;
    overflow: visible;

    .field-list-sticky {
      position: sticky;
      top: 52px;
      align-self: start;
      margin-right: 16px;
    }

    .search-result-content {
    }

    .split-line {
      width: 100%;
      margin: 3px 0 6px;
      border-bottom: solid 1px #dcdee5;
    }
  }
}
