.search-result-panel {
  background-color: #fff;

  &.flex {
    position: relative;
    display: flex;
    height: fit-content;
    overflow: visible;

    .field-list-sticky {
      &.is-show {
        position: sticky;
        top: var(--offset-search-bar);
        z-index: 3;
        align-self: start;
        height: calc(100vh - var(--offset-search-bar) - 150px);
      }
    }

    .split-line {
      width: 100%;
      margin: 3px 0 6px;
      border-bottom: solid 1px #dcdee5;
    }

    .search-result-content {
      position: relative;
      border-left: solid 1px #dcdee5;

      .monitor-echarts-container {
        padding-left: 16px;

        .title-wrapper-new {
          z-index: 3;
          width: calc(100% - 110px);
          margin-left: 110px;
        }
      }

      &.field-list-show {
        .monitor-echarts-container {
          .title-wrapper-new {
            margin-left: 0;
          }
        }
      }

      // &::before {
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   left: 0;
      //   z-index: 1;
      //   width: 500px;
      //   content: '';
      //   background-color: #f4f7fa;
      //   box-shadow: 1px 0 0 0 #eaebf0;
      //   transform: translateX(-100%);
      // }

      // &::after {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   z-index: 1;
      //   width: 10px;
      //   content: '';
      //   background-color: #fff;
      //   transform: translateX(100%);
      // }
    }
  }
}
