.create-subscription-container {
  position: relative;
  height: calc(100vh - 52px);
  padding: 24px 24px 60px 24px;
  overflow-y: auto;
}

.footer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 24px;
  background: #fff;
  box-shadow: 0 -1px 0 0 #dcdee5, 0 -3px 4px 0 #4070cb0f;
}