@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono-Medium';
  src: url('RobotoMono-Medium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('RobotoMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
