/* stylelint-disable selector-class-pattern */

/* stylelint-disable scss/no-global-function-names */
.alarm-center-detail-panel-alarm-relation-event-table {
  .header-operate {
    display: flex;
    align-items: center;
    height: 21px;
    padding-left: 24px;
    margin: 15px 0;
    color: #313238;

    .source-item {
      display: flex;
      align-items: center;
      font-size: 12px;

      .source-icon {
        display: inline-block;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        margin-right: 4px;

        &.icon-explore-host {
          background-image: url('../../../../../../../monitor-common/svg/svg/host.svg');
        }

        &.icon-explore-bcs {
          background-image: url('../../../../../../../monitor-common/svg/svg/bcs.svg');
        }

        &.icon-explore-landun {
          background-image: url('../../../../../../../monitor-common/svg/svg/landun.svg');
        }

        &.icon-explore-default {
          background-image: url('../../../../../../../monitor-common/svg/svg/default.svg');
        }
      }
    }
  }

  .relation-event-table {
    $statusColors: #ea3635 #ff9c00 #699df4;

    @for $i from 1 through length($statusColors) {
      .row-event-status-#{$i} {
        .t-table__expandable-icon-cell {
          position: relative;

          &::before {
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 0;
            width: 3px;
            content: '';
            background: nth($statusColors, $i);
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
      }
    }

    .table-expand-icon {
      font-size: 12px;
      color: #4D4F56;
    }

    .t-table__expanded-row {
      & > td {
        padding: 0;

        .t-table__row-full-element {
          padding: 0;
        }
      }
    }
  }
}
