$alarmColor: #dcdee5 #63656e #ea3636;

.title-wrapper {
  width: 100%;

  .chart-title {
    min-height: 40px;
    padding: 3px 19px 3px 16px;
    font-size: 12px;
    color: #63656e;
    border-radius: 2px;

    &:hover {
      .main-title {
        .title-name {
          &.has-more {
            color: black;
            // font-weight: 600;
          }
        }
      }
    }

    .main-title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      min-height: 30px;

      .alarm-icon {
        z-index: 9;
        // display: none;
        align-items: center;
        justify-content: center;
        height: 14px;
        margin-right: 8px;
        margin-right: 8px;
        font-size: 14px;
        color: #dcdee5;

        @for $i from 1 through 3 {
          &.status-#{$i} {
            display: flex;
            color: nth($alarmColor, $i);
          }
        }

        &::before {
          height: 14px;
        }

        &.status-strategy {
          /* stylelint-disable-next-line declaration-no-important */
          height: 16px !important;

          /* stylelint-disable-next-line declaration-no-important */
          font-size: 16px !important;
          color: #699df4;

          &-not-config {
            /* stylelint-disable-next-line declaration-no-important */
            height: 16px !important;

            /* stylelint-disable-next-line declaration-no-important */
            font-size: 16px !important;
            color: #dcdee5;

            &::before {
              height: auto;
            }
          }

          &::before {
            height: auto;
          }
        }
      }

      .title-name {
        display: flex;
        align-items: center;
        height: 20px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #313238;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title-interval {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        padding: 0 2px;
        margin-left: 8px;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        color: #63656e;
        background-color: #f0f1f5;
        // border: 1px solid rgba(151, 155, 165, .3);
        border-radius: 2px;
      }

      .title-center {
        margin-left: auto;
      }

      .tips-icon,
      %tips-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        // margin-left: 8px;
        height: 30px;
        margin-right: 10px;
        font-size: 14px;
        color: #c4c6cc;

        &::before {
          height: 14px;
        }
      }

      .strategy-icon {
        margin-right: 0;
        font-size: 15px;
        // margin-left: auto;
        color: #63656e;

        @extend %tips-icon;

        &:hover {
          background-color: #e1ecff;
          border-radius: 50%;
        }
      }

      .more-icon {
        margin-right: 0;
        font-size: 15px;
        font-weight: 700;
        // margin-left: auto;
        color: #63656e;

        @extend %tips-icon;

        &:hover {
          background-color: #e1ecff;
          border-radius: 50%;
        }
      }

      .icon-btn {
        cursor: pointer;
      }

      .instant-icon {
        margin-left: 8px;
      }
    }

    .sub-title {
      height: 18px;
      overflow: hidden;
      line-height: 18px;
      color: #979ba5;
      text-overflow: ellipsis;
      white-space: nowrap;
      // margin-left: 20px;
    }
  }
}
