/* span 场景专属样式（根类 + 场景类名同元素复合）：按 DOM 层级嵌套于 td */
.rum-explore-table.span-table {
  .explore-col {
    &.explore-prefix-icon-col {
      &:has([data-col-id='attributes.span_type']) {
        column-gap: 4px;

        .span-type-icon {
          flex-shrink: 0;
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  td {
    .custom-duration-col {
      font-weight: 700;
    }

    .custom-duration-col.is-normal {
      color: #2dcb56;
    }

    .custom-duration-col.is-warning {
      color: #ff9c01;
    }

    .custom-duration-col.is-failed {
      color: #ea3636;
    }
  }
}
