.alarm-group-detail-wrap {
  .alarm-detail-header {
    display: flex;
    align-items: center;

    .header-name {
      max-width: 280px;
      margin-right: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .header-edit {
      width: 88px;
      font-size: 12px;
      font-weight: normal;
      color: #3a84ff;
      cursor: pointer;

      &.disabled {
        color: #c4c6cc;
        cursor: not-allowed;
      }
    }

    .header-record {
      margin: 0 40px 0 16px;

      /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
      @extend .header-edit;
    }
  }

  .mt-16 {
    margin-top: 10px;
  }

  .mr-8 {
    margin-right: 8px;
  }

  .alarm-details {
    display: flex;
    flex-direction: column;
    padding: 38px 40px 38px 30px;
    color: #63656e;

    .alarm-dividing-line {
      width: 100%;
      height: 1px;
      margin-bottom: 20px;
      background: #dcdee5;
    }

    &-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-col {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      line-height: 16px;
    }

    &-item {
      flex: 1;
      word-break: break-all;

      &.notice {
        width: 379px;

        .notice-item-wrap {
          margin-top: 16px;
          border: 1px solid #dcdee5;
          border-radius: 3px;
        }

        .bk-tab.bk-tab-border-card .bk-tab-header {
          /* stylelint-disable-next-line declaration-no-important */
          background-image: linear-gradient(transparent 40px, rgb(220, 222, 229) 43px) !important;
          border-top: 0;
          border-right: 0;
          border-left: 0;
        }

        .bk-tab-section {
          display: none;
        }

        .notice-item-content {
          padding: 20px;
        }
      }
    }

    &-label {
      width: 70px;
      margin-right: 21px;
      color: #979ba5;
      text-align: right;

      &.en-lang {
        width: 110px;
      }
    }

    &-person {
      display: flex;
      flex-flow: row wrap;

      .person-box {
        display: flex;
        align-items: center;
        height: 26px;
        margin-bottom: 10px;
      }

      .person-image {
        display: flex;
        align-items: center;

        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }

        .no-img {
          font-size: 22px;
          color: #c4c6cc;
          background: #fafbfd;
          border-radius: 16px;
        }
      }

      .person-name {
        margin-right: 20px;
        margin-left: 6px;
      }

      .duty-wrap {
        width: 793px;

        .preview-wrap {
          margin: 0;
        }

        .alarm-group-rotation-preview-component {
          width: 793px;
          min-width: 793px;
        }

        .duty-notice {
          .notice-label {
            margin: 0 8px 0 24px;
          }
        }
      }
    }

    &-person-label {
      position: relative;
      top: 5px;
    }

    &-noticeway-label {
      position: relative;
      top: 4px;
    }

    &-des-label {
      position: relative;
      top: 1px;
    }

    .notice-empty {
      position: relative;
      top: 5px;
    }

    .text-top {
      align-items: start;
    }
  }
}
