.edit-template-slider {
  .edit-template-slider-header {
    font-size: 14px;

    .desc {
      padding-left: 8px;
      margin-left: 8px;
      color: #979BA5;
      border-left: 1px solid #DCDEE5;
    }
  }

  .edit-template-form {
    padding: 24px 40px 0 0;
  }
}