.view-template-panel {
  padding: 14px 24px 14px 0;
  background-color: #fafbfd;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding-left: 24px;
    margin-bottom: 20px;

    .title-wrap {
      .title {
        font-size: 14px;
        font-weight: 700;
        color: #313238;
      }

      .name {
        padding-left: 8px;
        margin-left: 8px;
        font-size: 12px;
        color: #4d4f56;
        border-left: 1px solid #c4c6cc;
      }
    }

    .detail-link {
      font-size: 12px;
      color: #3a84ff;
      cursor: pointer;

      .icon-mc-link {
        margin-left: 5px;
      }
    }
  }
}
