@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detection-algorithms {
  align-items: center;
  line-height: 20px;

  @include ellipsis;

  .method {
    margin-right: 4px;
  }

  .bold {
    font-weight: 700;
  }

  .detection-algorithms-label {
    margin-left: 4px;
  }

  .algorithm-item-text {
    margin: 0 4px;
  }

  .detection-algorithms-level {
    font-size: 14px;

    &.icon-danger {
      color: #e71818;
    }

    &.icon-mind-fill {
      color: #f59500;
    }

    &.icon-tips {
      color: #3a84ff;
    }
  }
}
