.new-metric-view-metrics-select {
  background: #fff;
  height: 100%;
  .header-wrapper {
    background: #f5f7fa;
    padding: 12px 16px 8px;
  }

  .action-box {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }
}
