.text-overflow-copy-comp {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;

  &.has-copy {
    padding-right: 15px;
  }

  .icon-mc-copy {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    transform: translateY(-50%);
  }
}
