.apm-home-list {
  height: 100%;

  // header
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;

    .header-left {
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      color: #313238;
      letter-spacing: 0;

      span:first-child {
        color: #313238;
      }

      span:last-child {
        display: inline-block;
        margin-left: 8px;
        color: #a3b1cc;
      }
    }

    .header-right {
      display: flex;

      & > div {
        margin-left: 24px;
      }

      .header-btn span {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;

        .icon-monitor {
          margin-right: 4px;
        }
      }

      .disabled {
        color: #fff;
        background: #dcdee5;
        border-color: #dcdee5;
      }
    }
  }

  // 右侧主体部分
  .main {
    display: flex;
    height: calc(100% - 46px);
    margin-top: 10px;
    background-color: #fff;

    .main-left {
      width: 100%;
      height: 100%;

      .main-left-filter {
        height: 100%;

        // .label-text {
        //   color: #63656e;
        // }

        // .label-count {
        //   color: #c4c6cc;
        // }
      }

      .main-left-table {
        height: 100%;
        padding: 0 16px;

        &.filter-panel-hide {
          padding-left: 12px;
        }
      }

      .isCollapsed {
        display: none;
      }

      .aside-content {
        padding: 6px 12px 0;
        background: #f8fafd;
        border-radius: 4px;
      }
    }

    .app-list-content {
      position: relative;
      flex: 1;
      height: 100%;

      .app-add-btn-style {
        width: 100px;
        padding: 0 6px;
      }

      .app-add-btn {
        display: flex;
        align-items: center;
        line-height: 24px;
      }

      .app-list-search {
        flex: 1;
        min-width: 426px;
        background: #fff;

        .bk-loading {
          z-index: 9999;
        }
      }

      .app-list-content-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .app-list-bts {
          display: flex;
          align-items: center;
          margin-right: 12px;

          .disabled {
            color: #fff;
            background: #dcdee5;
            border-color: #dcdee5;
          }
        }

        .bts-filter-wrap {
          display: flex;
          align-items: center;
          height: 32px;
          padding: 0 16px;
          margin-right: 12px;
          color: #4d4f56;
          cursor: pointer;
          background: #f5f7fa;
          border-radius: 2px;
        }

        .bts-filter-hd {
          margin-right: 7px;
          font-size: 12px;
          transform: rotate(180deg);
        }

        .bts-filter-bd {
          font-size: 14px;
        }

        .icon-mc-full-screen,
        .icon-mc-merge {
          margin-right: 8px;
          font-size: 16px;
        }
      }

      .app-right-content {
        height: calc(100% - 48px);
      }

      .app-list-content-data {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 16px;

        .item-expand-wrap {
          height: 100%;

          .expand-header {
            display: flex;
            align-items: center;
            height: 52px;
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 #1919290d;

            .header-left {
              display: flex;
              align-items: center;

              .icon-mc-triangle-down {
                margin: 0 10px;
                font-size: 20px;
                color: #979ba5;
                transform: rotate(-90deg);
                transition: 0.3s transform;

                &.expand {
                  color: #63656e;
                  transform: rotate(0);
                }
              }
            }
          }

          .expand-content {
            height: 100%;
            min-height: 180px;
            background: #fff;

            .common-table {
              height: 100%;
              margin-bottom: 16px;

              .bk-table {
                z-index: 0;
                height: 100%;
                overflow-y: auto;

                .cell {
                  padding-right: 10px;
                  padding-left: 10px;
                }
              }

              .bk-table-header-wrapper {
                position: sticky;
                top: 0;
                z-index: 99;
                margin-right: 1px;
              }

              .bk-table-pagination-wrapper {
                position: sticky;
                bottom: 0;
                z-index: 99;
                margin-right: 1px;
                background: #fff;
              }

              .bk-table-outer-border::before {
                background-color: transparent;
              }
            }

            .table-skeleton {
              padding: 16px;
            }
          }
        }
      }

      .bottom-loading-status {
        position: absolute;
        bottom: -32px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .loading-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 32px;
          padding: 8px 22px;
          font-size: 12px;
          color: #979ba5;
          background: #ebedf0;
          border-radius: 2px;
        }
      }
    }
  }

  // apm筛选面板新样式整合旧筛选样式到此处，不影响其他地方筛选面板样式
  .filter-panel-apm {
    &.filter-panel {
      height: 100%;
    }

    .filter-panel-header {
      display: inline-flex;
      justify-content: flex-start;
      padding-bottom: 13px;
      cursor: pointer;

      .title {
        display: inline-block;
        line-height: 22px;
      }

      .folding {
        margin-right: 7px;
        color: #000;
        transform: rotate(0);
      }

      i {
        font-size: 12px;
        line-height: 22px;
        color: #4d4f56;
      }
    }

    .filter-panel-body {
      height: calc(100% - 40px);
    }

    .bk-collapse-item-header {
      padding: 0 8px 0 3px;
      background-color: #edeff7;
    }

    .bk-big-tree-node .node-options .node-checkbox {
      margin-right: 0;
    }

    .label-count {
      font-weight: bold;
      color: #a3b1cc;
    }

    .group-title.filter .title-left .name {
      color: #4d4f56;
    }

    .check-label-content {
      display: flex;
      align-items: center;
      margin-left: 5px;

      .pre-icon {
        min-width: auto;
        padding-right: 5px;
        color: #a3b1cc;
      }

      .label-text {
        color: #63656e;
      }
    }
  }

  .apm-index-table {
    .icon-mc-uncollect {
      visibility: hidden;
    }

    .bk-table-row:hover .icon-mc-uncollect {
      visibility: visible;
    }
  }
}
