.alarm-shield-config-scope-date-config-component {
  .mr10 {
    margin-right: 10px;
  }

  .width-413 {
    width: 413px;
  }

  .datetimerange-tip {
    position: absolute;
    top: 36px;
    left: 0;
    font-size: 12px;
    color: #c4c6cc;
  }

  .week-data-time-range {
    display: flex;
    align-items: center;
  }
}