/* stylelint-disable comment-empty-line-before */
/* stylelint-disable declaration-no-important */
/* stylelint-disable indentation */
@font-face {
  font-family: 'icon-monitor'; /* Project id 1185924 */
  src: url('monitor-icons.woff2?t=1705908796951') format('woff2'),
       url('monitor-icons.woff?t=1705908796951') format('woff'),
       url('monitor-icons.ttf?t=1705908796951') format('truetype');
}

.icon-monitor {
  font-family: 'icon-monitor' !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profiling:before {
  content: '\e7a5';
}

.icon-dingwei1:before {
  content: '\e7a4';
}

.icon-fuwumokuai:before {
  content: '\e7a3';
}

.icon-yingjian:before {
  content: '\e79f';
}

.icon-fuwuzujian:before {
  content: '\e7a0';
}

.icon-OS:before {
  content: '\e7a1';
}

.icon-jincheng:before {
  content: '\e7a2';
}

.icon-mc-flame:before {
  content: '\e79d';
}

.icon-mc-fenping:before {
  content: '\e79e';
}

.icon-mc-arrow-down:before {
  content: '\e79c';
}

.icon-mc-arrow-right:before {
  content: '\e79b';
}

.icon-mc-note:before {
  content: '\e79a';
}

.icon-mc-bcs-namespace:before {
  content: '\e799';
}

.icon-mc-bcs-workload:before {
  content: '\e794';
}

.icon-mc-bcs-node:before {
  content: '\e795';
}

.icon-mc-bcs-service:before {
  content: '\e796';
}

.icon-mc-bcs-ingress:before {
  content: '\e797';
}

.icon-mc-bcs-cluster:before {
  content: '\e798';
}

.icon-mc-mac-os:before {
  content: '\e791';
}

.icon-mc-load-balancer:before {
  content: '\e792';
}

.icon-mc-rack:before {
  content: '\e793';
}

.icon-mc-container:before {
  content: '\e790';
}

.icon-mc-pod:before {
  content: '\e78d';
}

.icon-mc-endpoint:before {
  content: '\e78e';
}

.icon-mc-cmdb-process:before {
  content: '\e787';
}

.icon-mc-user-experience:before {
  content: '\e788';
}

.icon-mc-data-center:before {
  content: '\e789';
}

.icon-mc-target-cloud:before {
  content: '\e78a';
}

.icon-mc-relate-alert:before {
  content: '\e78b';
}

.icon-mc-intelligent-detection:before {
  content: '\e78c';
}

.icon-mc-not-assigned:before {
  content: '\e785';
}

.icon-mc-all:before {
  content: '\e786';
}

.icon-mc-lunliu:before {
  content: '\e784';
}

.icon-mc-statistical:before {
  content: '\e783';
}

.icon-mc-fault-list:before {
  content: '\e77a';
}

.icon-mc-enterprise-wechat:before {
  content: '\e77b';
}

.icon-mc-expired:before {
  content: '\e77c';
}

.icon-mc-cancel-feedback:before {
  content: '\e77d';
}

.icon-mc-restoration-ratio:before {
  content: '\e77e';
}

.icon-mc-fault:before {
  content: '\e77f';
}

.icon-mc-solved:before {
  content: '\e780';
}

.icon-gaojing1:before {
  content: '\e781';
}

.icon-fankuixingenyin:before {
  content: '\e782';
}

.icon-ziyuantuopu:before {
  content: '\e775';
}

.icon-AlertSort:before {
  content: '\e776';
}

.icon-Pod:before {
  content: '\e777';
}

.icon-A-ZSort:before {
  content: '\e778';
}

.icon-guanchazhong:before {
  content: '\e779';
}

.icon-beizhu:before {
  content: '\e774';
}

.icon-tiaoyonglian:before {
  content: '\e773';
}

.icon-minimap:before {
  content: '\e772';
}

.icon-celvepingbi:before {
  content: '\e771';
}

.icon-shengxu:before {
  content: '\e76f';
}

.icon-jiangxu:before {
  content: '\e770';
}

.icon-mc-robot:before {
  content: '\e76d';
}

.icon-mc-internal-user:before {
  content: '\e76e';
}

.icon-mc-fold-menu:before {
  content: '\e76c';
}

.icon-System1:before {
  content: '\e76b';
}

.icon-Network1:before {
  content: '\e76a';
}

.icon-ES:before {
  content: '\e766';
}

.icon-Kafka:before {
  content: '\e767';
}

.icon-DB1:before {
  content: '\e768';
}

.icon-Transfer:before {
  content: '\e769';
}

.icon-beauty:before {
  content: '\e763';
}

.icon-shouqi2:before {
  content: '\e764';
}

.icon-xiangqing1:before {
  content: '\e765';
}

.icon-zhongzhi1:before {
  content: '\e762';
}

.icon-mc-mouse:before {
  content: '\e761';
}

.icon-table:before {
  content: '\e760';
}

.icon-Sequence:before {
  content: '\e759';
}

.icon-legend:before {
  content: '\e75a';
}

.icon-Component:before {
  content: '\e75b';
}

.icon-AB:before {
  content: '\e75c';
}

.icon-Flame:before {
  content: '\e75d';
}

.icon-YZ:before {
  content: '\e75e';
}

.icon-Waterfall:before {
  content: '\e75f';
}

.icon-zhuanhuan:before {
  content: '\e758';
}

.icon-yibu:before {
  content: '\e752';
}

.icon-Network:before {
  content: '\e753';
}

.icon-tongbu:before {
  content: '\e754';
}

.icon-System:before {
  content: '\e755';
}

.icon-neibutiaoyong:before {
  content: '\e756';
}

.icon-undefined:before {
  content: '\e757';
}

.icon-suoxiao2:before {
  content: '\e750';
}

.icon-fangda:before {
  content: '\e751';
}

.icon-zhankai1:before {
  content: '\e74e';
}

.icon-shouqi1:before {
  content: '\e74f';
}

.icon-mc-clear-query:before {
  content: '\e74d';
}

.icon-mc-search:before {
  content: '\e74c';
}

.icon-mc-wholesale-editor:before {
  content: '\e74b';
}

.icon-tongyishezhi:before {
  content: '\e74a';
}

.icon-chehui1:before {
  content: '\e749';
}

.icon-mc-business:before {
  content: '\e73f';
}

.icon-mc-other:before {
  content: '\e740';
}

.icon-mc-component:before {
  content: '\e741';
}

.icon-mc-dimension:before {
  content: '\e742';
}

.icon-mc-service-test:before {
  content: '\e743';
}

.icon-mc-equipment:before {
  content: '\e744';
}

.icon-mc-host:before {
  content: '\e745';
}

.icon-mc-aiops-process:before {
  content: '\e746';
}

.icon-mc-aiops-kubernetes:before {
  content: '\e747';
}

.icon-operating-system:before {
  content: '\e748';
}

.icon-mc-demo:before {
  content: '\e73e';
}

.icon-mc-space-others:before {
  content: '\e68c';
}

.icon-mc-space-bcs:before {
  content: '\e6df';
}

.icon-mc-space-paas:before {
  content: '\e715';
}

.icon-mc-space-biz:before {
  content: '\e736';
}

.icon-mc-search-favorites:before {
  content: '\e73d';
}

.icon-mc-like:before {
  content: '\e737';
}

.icon-mc-unlike-filled:before {
  content: '\e738';
}

.icon-mc-unlike:before {
  content: '\e739';
}

.icon-mc-like-filled:before {
  content: '\e73a';
}

.icon-mc-correlation-metrics:before {
  content: '\e73b';
}

.icon-mc-drill-down:before {
  content: '\e73c';
}

.icon-bangzhuzhongxin:before {
  content: '\e78f';
}

.icon-shipin:before {
  content: '\e735';
}

.icon-erweima:before {
  content: '\e733';
}

.icon-kefu:before {
  content: '\e734';
}

.icon-wendang:before {
  content: '\e99c';
}

.icon-weibiaoti519:before {
  content: '\e731';
}

.icon-kaishi11:before {
  content: '\e732';
}

.icon-mc-more-tool:before {
  content: '\e730';
}

.icon-xiazai2:before {
  content: '\e6e5';
}

.icon-shangchuan:before {
  content: '\e72e';
}

.icon-mc-collect:before {
  content: '\e8c2';
}

.icon-mc-uncollect:before {
  content: '\e8c3';
}

.icon-mc-grafana-home:before {
  content: '\e72f';
}

.icon-mc-migrate-tool:before {
  content: '\e72c';
}

.icon-mc-calendar-service:before {
  content: '\e72d';
}

.icon-lishijilu:before {
  content: '\e72b';
}

.icon-mc-expand:before {
  content: '\e729';
}

.icon-mc-fold:before {
  content: '\e72a';
}

.icon-mc-open-folder:before {
  content: '\e726';
}

.icon-mc-full-folder:before {
  content: '\e727';
}

.icon-daochu:before {
  content: '\e728';
}

.icon-code:before {
  content: '\e725';
}

.icon-fenpai:before {
  content: '\e724';
}

.icon-mc-share:before {
  content: '\e721';
}

.icon-mc-event:before {
  content: '\e723';
}

.icon-rizhi:before {
  content: '\e722';
}

.icon-mc-menu-trace:before {
  content: '\e867';
}

.icon-menu-aler-source:before {
  content: '\e88e';
}

.icon-minus-line:before {
  content: '\e720';
}

.icon-plus-line:before {
  content: '\e71f';
}

.icon-gengduo:before {
  content: '\e71e';
}

.icon-xiazai1:before {
  content: '\e71d';
}

.icon-we-com:before {
  content: '\e71c';
}

.icon-mc-menu-alert:before {
  content: '\e719';
}

.icon-kaishi1:before {
  content: '\e71b';
}

.icon-shixiao:before {
  content: '\e71a';
}

.icon-zanting1:before {
  content: '\e718';
}

.icon-tuopumorenmoshi:before {
  content: '\e716';
}

.icon-tuopujincoumoshi:before {
  content: '\e717';
}

.icon-fankui:before {
  content: '\e714';
}

.icon-xiazuan:before {
  content: '\e713';
}

.icon-gaojing2:before {
  content: '\e711';
}

.icon-avg:before {
  content: '\e710';
}

.icon-sum:before {
  content: '\e70b';
}

.icon-last:before {
  content: '\e70c';
}

.icon-max:before {
  content: '\e70d';
}

.icon-min:before {
  content: '\e70e';
}

.icon-cnt:before {
  content: '\e70f';
}

.icon-mc-menu-apm:before {
  content: '\e712';
}

.icon-loading1:before {
  content: '\e709';
}

.icon-qizhi:before {
  content: '\e70a';
}

.icon-tuopu:before {
  content: '\e708';
}

.icon-xiaoxizhongjianjian:before {
  content: '\e702';
}

.icon-renwu:before {
  content: '\e703';
}

.icon-shijian1:before {
  content: '\e704';
}

.icon-jiekou:before {
  content: '\e705';
}

.icon-DB:before {
  content: '\e706';
}

.icon-yuanchengfuwu:before {
  content: '\e707';
}

.icon-gailan:before {
  content: '\e700';
}

.icon-fx:before {
  content: '\e701';
}

.icon-wangye:before {
  content: '\e6ff';
}

.icon-zidingyi:before {
  content: '\e6fc';
}

.icon-shujuku:before {
  content: '\e6fd';
}

.icon-huancun:before {
  content: '\e6fe';
}

.icon-mc-custom-scene:before {
  content: '\e6fb';
}

.icon-mc-position-tips:before {
  content: '\ec32';
}

.icon-lidu:before {
  content: '\e6fa';
}

.icon-mc-custom-event:before {
  content: '\e6f9';
}

.icon-mc-nav-import:before {
  content: '\e6f8';
}

.icon-mc-mainboard:before {
  content: '\e6f7';
}

.icon-mc-add-directory:before {
  content: '\e6f5';
}

.icon-mc-history:before {
  content: '\e6f6';
}

.icon-mc-overview:before {
  content: '\e6f3';
}

.icon-mc-list:before {
  content: '\e6ee';
}

.icon-mc-target-link:before {
  content: '\e6f4';
}

.icon-mc-add-strategy:before {
  content: '\e6ae';
}

.icon-mc-chart-alert:before {
  content: '\e6ad';
}

.icon-mc-detail:before {
  content: '\e6ac';
}

.icon-mc-one-column:before {
  content: '\e6ed';
}

.icon-mc-two-column:before {
  content: '\e6f0';
}

.icon-mc-three-column:before {
  content: '\e6f1';
}

.icon-mc-split-panel:before {
  content: '\e6f2';
}

.icon-mc-tree:before {
  content: '\e6ef';
}

.icon-mc-email:before {
  content: '\e6ec';
}

.icon-zhiding:before {
  content: '\e6eb';
}

.icon-yizhiding:before {
  content: '\e6ea';
}

.icon-mc-time:before {
  content: '\e6e2';
}

.icon-number:before {
  content: '\e6e6';
}

.icon-unkown:before {
  content: '\e6e7';
}

.icon-string:before {
  content: '\e6e8';
}

.icon-text:before {
  content: '\e6e9';
}

.icon-chulitaocan:before {
  content: '\e6c2';
}

.icon-xiazai:before {
  content: '\e6e1';
}

.icon-mc-zidongsousuo:before {
  content: '\e6e4';
}

.icon-mc-tuozhuai:before {
  content: '\e853';
}

.icon-mc-sorce:before {
  content: '\e6e3';
}

.icon-bujiankong:before {
  content: '\e6e0';
}

.icon-guanlian:before {
  content: '\e6de';
}

.icon-chuli:before {
  content: '\e6dd';
}

.icon-mc-official:before {
  content: '\e6d8';
}

.icon-mc-clear:before {
  content: '\e6d9';
}

.icon-mc-source:before {
  content: '\e6da';
}

.icon-mc-tv:before {
  content: '\e6db';
}

.icon-mc-heat:before {
  content: '\e6dc';
}

.icon-yanjiu:before {
  content: '\e6d7';
}

.icon-fenxiang:before {
  content: '\e6d6';
}

.icon-filter:before {
  content: '\e6d5';
}

.icon-audit:before {
  content: '\e6d4';
}

.icon-switch:before {
  content: '\e6d3';
}

.icon-arrow-turn:before {
  content: '\e6d2';
}

.icon-mc-area:before {
  content: '\e6d0';
}

.icon-mc-line:before {
  content: '\e6d1';
}

.icon-mc-yaxis:before {
  content: '\e6cd';
}

.icon-mc-yaxis-scale:before {
  content: '\e6ce';
}

.icon-mc-retrieval:before {
  content: '\e6cf';
}

.icon-menu-classify:before {
  content: '\e6cb';
}

.icon-menu-retrieval:before {
  content: '\e6cc';
}

.icon-menu-upgrade:before {
  content: '\e6bd';
}

.icon-menu-self:before {
  content: '\e6be';
}

.icon-menu-export:before {
  content: '\e6bf';
}

.icon-menu-setting:before {
  content: '\e6c0';
}

.icon-menu-custom:before {
  content: '\e6c1';
}

.icon-menu-shield:before {
  content: '\e6c3';
}

.icon-menu-auth:before {
  content: '\e6c4';
}

.icon-menu-plugin:before {
  content: '\e6c5';
}

.icon-menu-collect:before {
  content: '\e6c6';
}

.icon-menu-upload:before {
  content: '\e6c7';
}

.icon-menu-task:before {
  content: '\e6c8';
}

.icon-menu-node:before {
  content: '\e6c9';
}

.icon-menu-group:before {
  content: '\e6ca';
}

.icon-mc-menu:before {
  content: '\e6bc';
}

.icon-bushuaxin:before {
  content: '\e6ba';
}

.icon-zidongshuaxin:before {
  content: '\e6bb';
}

.icon-shouqi:before {
  content: '\e6b8';
}

.icon-zhankai:before {
  content: '\e6b9';
}

.icon-mc-check-small:before {
  content: '\e6b7';
}

.icon-mc-strategy:before {
  content: '\e6b6';
}

.icon-mc-process:before {
  content: '\e6b4';
}

.icon-mc-ip:before {
  content: '\e6b5';
}

.icon-qiye-weixin:before {
  content: '\e6b3';
}

.icon-mc-alert:before {
  content: '\e6b1';
}

.icon-sunhuai:before {
  content: '\e6b2';
}

.icon-hebing:before {
  content: '\e6af';
}

.icon-chaifen:before {
  content: '\e6b0';
}

.icon-mc-time-shift:before {
  content: '\e6ab';
}

.icon-mc-more:before {
  content: '\e6aa';
}

.icon-mc-add:before {
  content: '\e6a6';
}

.icon-mc-file-close:before {
  content: '\e6a7';
}

.icon-mc-file-open:before {
  content: '\e6a8';
}

.icon-mc-close-fill:before {
  content: '\e6a9';
}

.icon-mc-visual-fill:before {
  content: '\e6a0';
}

.icon-mc-copy-fill:before {
  content: '\e6a1';
}

.icon-mc-invisible-fill:before {
  content: '\e6a2';
}

.icon-mc-invisible:before {
  content: '\e6a3';
}

.icon-mc-copy:before {
  content: '\e6a4';
}

.icon-mc-visual:before {
  content: '\e6a5';
}

.icon-mc-delete-line:before {
  content: '\e69e';
}

.icon-delete-fill:before {
  content: '\e69f';
}

.icon-mc-camera:before {
  content: '\e699';
}

.icon-mc-full-screen:before {
  content: '\e69a';
}

.icon-mc-merge:before {
  content: '\e69b';
}

.icon-mc-edit:before {
  content: '\e69c';
}

.icon-mc-mark:before {
  content: '\e69d';
}

.icon-mc-triangle-down:before {
  content: '\e698';
}

.icon-portrait:before {
  content: '\e697';
}

.icon-landscape:before {
  content: '\e696';
}

.icon-mc-delete:before {
  content: '\e695';
}

.icon-mc-uncertified-fill:before {
  content: '\e693';
}

.icon-mc-verified-fill:before {
  content: '\e694';
}

.icon-copy-link:before {
  content: '\e692';
}

.icon-mc-help-fill:before {
  content: '\e691';
}

.icon-mc-link:before {
  content: '\e68f';
}

.icon-mc-download:before {
  content: '\e68e';
}

.icon-mc-log-retrieval:before {
  content: '\e690';
}

.icon-mc-file:before {
  content: '\e68d';
}

.icon-mc-dianhua:before {
  content: '\e61a';
}

.icon-mc-weixin:before {
  content: '\e617';
}

.icon-mc-duanxin:before {
  content: '\e618';
}

.icon-mc-youjian:before {
  content: '\e619';
}

.icon-mc-guanlian:before {
  content: '\e610';
}

.icon-mc-import:before {
  content: '\e60c';
}

.icon-mc-export:before {
  content: '\e60b';
}

.icon-mc-notice-shield:before {
  content: '\e60a';
}

.icon-filter-fill:before {
  content: '\e616';
}

.icon-mc-plus-fill:before {
  content: '\e68a';
}

.icon-mc-minus-plus:before {
  content: '\e68b';
}

.icon-mc-user-one:before {
  content: '\e609';
}

.icon-mc-alarm-abnormal:before {
  content: '\e680';
}

.icon-mc-alarm-filter:before {
  content: '\e681';
}

.icon-mc-alarm-notice:before {
  content: '\e682';
}

.icon-mc-alarm-create:before {
  content: '\e683';
}

.icon-mc-event-chart:before {
  content: '\e684';
}

.icon-mc-alarm-shield:before {
  content: '\e685';
}

.icon-mc-alarm-closed:before {
  content: '\e686';
}

.icon-mc-alarm-recovered:before {
  content: '\e687';
}

.icon-mc-alarm-converge:before {
  content: '\e688';
}

.icon-mc-alarm-ack:before {
  content: '\e689';
}

.icon-mc-wailian:before {
  content: '\e608';
}

.icon-mc-user-group:before {
  content: '\e607';
}

.icon-mc-unconfirm:before {
  content: '\e67e';
}

.icon-mc-confirm:before {
  content: '\e67f';
}

.icon-mc-retry:before {
  content: '\e67d';
}

.icon-jiahao-fill:before {
  content: '\e67c';
}

.icon-double-up:before {
  content: '\e679';
}

.icon-mc-close:before {
  content: '\e67a';
}

.icon-double-down:before {
  content: '\e67b';
}

.icon-menu-view:before {
  content: '\e671';
}

.icon-menu-uptime:before {
  content: '\e672';
}

.icon-menu-config:before {
  content: '\e673';
}

.icon-menu-chart:before {
  content: '\e674';
}

.icon-menu-event:before {
  content: '\e675';
}

.icon-menu-home:before {
  content: '\e676';
}

.icon-menu-performance:before {
  content: '\e677';
}

.icon-menu-set:before {
  content: '\e678';
}

.icon-danger:before {
  content: '\e606';
}

.icon-user:before {
  content: '\e605';
}

.icon-change:before {
  content: '\e612';
}

.icon-mind-fill:before {
  content: '\e670';
}

.icon-bianji:before {
  content: '\e66f';
}

.icon-xls:before {
  content: '\e604';
}

.icon-upload-cloud:before {
  content: '\e603';
}

.icon-paixu-xia:before {
  content: '\e66d';
}

.icon-paixu-shang:before {
  content: '\e66e';
}

.icon-biaoge:before {
  content: '\e66b';
}

.icon-biaoge-tianchong:before {
  content: '\e66c';
}

.icon-fullscreen:before {
  content: '\e615';
}

.icon-map-fill:before {
  content: '\e60d';
}

.icon-map:before {
  content: '\e60e';
}

.icon-mc-unfull-screen:before {
  content: '\e60f';
}

.icon-trend:before {
  content: '\e611';
}

.icon-card-fill:before {
  content: '\e613';
}

.icon-card:before {
  content: '\e614';
}

.icon-tips:before {
  content: '\e602';
}

.icon-aix:before {
  content: '\e61b';
}

.icon-arrow-down:before {
  content: '\e61c';
}

.icon-arrow-left:before {
  content: '\e61d';
}

.icon-apache:before {
  content: '\e61e';
}

.icon-back-down:before {
  content: '\e61f';
}

.icon-back-right:before {
  content: '\e620';
}

.icon-arrow-right:before {
  content: '\e621';
}

.icon-back-up:before {
  content: '\e622';
}

.icon-arrow-up:before {
  content: '\e623';
}

.icon-back-left:before {
  content: '\e624';
}

.icon-mc-check-fill:before {
  content: '\e625';
}

.icon-check:before {
  content: '\e626';
}

.icon-cluster:before {
  content: '\e627';
}

.icon-ceph:before {
  content: '\e628';
}

.icon-database:before {
  content: '\e629';
}

.icon-default:before {
  content: '\e62a';
}

.icon-hint:before {
  content: '\e62b';
}

.icon-custom:before {
  content: '\e62c';
}

.icon-hadoop:before {
  content: '\e62d';
}

.icon-kafka:before {
  content: '\e62e';
}

.icon-inform:before {
  content: '\e62f';
}

.icon-InfluxDB:before {
  content: '\e630';
}

.icon-inform-circle:before {
  content: '\e631';
}

.icon-iis:before {
  content: '\e632';
}

.icon-http:before {
  content: '\e633';
}

.icon-memcached:before {
  content: '\e634';
}

.icon-nginx:before {
  content: '\e635';
}

.icon-remind:before {
  content: '\e636';
}

.icon-linux:before {
  content: '\e637';
}

.icon-performance:before {
  content: '\e638';
}

.icon-tsdb:before {
  content: '\e639';
}

.icon-warning:before {
  content: '\e63a';
}

.icon-zookeeper:before {
  content: '\e63b';
}

.icon-message-queue:before {
  content: '\e63c';
}

.icon-setting:before {
  content: '\e63d';
}

.icon-elastic-search:before {
  content: '\e63e';
}

.icon-mysql:before {
  content: '\e63f';
}

.icon-redis:before {
  content: '\e640';
}

.icon-windows:before {
  content: '\e641';
}

.icon-tomcat:before {
  content: '\e642';
}

.icon-bangzhu:before {
  content: '\e643';
}

.icon-bangzhuwendang:before {
  content: '\e644';
}

.icon-bofang:before {
  content: '\e645';
}

.icon-chahao:before {
  content: '\e646';
}

.icon-bingtu:before {
  content: '\e647';
}

.icon-chexiao:before {
  content: '\e648';
}

.icon-jia:before {
  content: '\e649';
}

.icon-chehui:before {
  content: '\e64a';
}

.icon-guanji:before {
  content: '\e64b';
}

.icon-dingwei:before {
  content: '\e64c';
}

.icon-dingshi:before {
  content: '\e64d';
}

.icon-jian:before {
  content: '\e64e';
}

.icon-lishi:before {
  content: '\e64f';
}

.icon-shijian:before {
  content: '\e650';
}

.icon-jinyongIP:before {
  content: '\e651';
}

.icon-shang:before {
  content: '\e652';
}

.icon-duihao:before {
  content: '\e653';
}

.icon-tishi:before {
  content: '\e654';
}

.icon-dengdai:before {
  content: '\e655';
}

.icon-xia:before {
  content: '\e656';
}

.icon-xingneng:before {
  content: '\e657';
}

.icon-tingzhi:before {
  content: '\e658';
}

.icon-xiangqing:before {
  content: '\e659';
}

.icon-tixing:before {
  content: '\e65a';
}

.icon-weixian:before {
  content: '\e65b';
}

.icon-zanting:before {
  content: '\e65c';
}

.icon-shuaxin:before {
  content: '\e65d';
}

.icon-zuo:before {
  content: '\e65e';
}

.icon-yonghu:before {
  content: '\e65f';
}

.icon-xiaoxi:before {
  content: '\e660';
}

.icon-shezhi:before {
  content: '\e661';
}

.icon-zhongbo:before {
  content: '\e662';
}

.icon-IP:before {
  content: '\e663';
}

.icon-zhongzhi:before {
  content: '\e664';
}

.icon-you:before {
  content: '\e665';
}

.icon-loading:before {
  content: '\e666';
}

.icon-cipan:before {
  content: '\e667';
}

.icon-gaojing:before {
  content: '\e668';
}

.icon-neicun:before {
  content: '\e669';
}

.icon-CPU:before {
  content: '\e66a';
}

