.alarm-center-detail-panel-link-table {
  font-size: 12px;
  .link {
    color: #3a84ff;
    cursor: pointer;
  }
  .cell-trace-id {
    direction: rtl;
    text-align: left;
  }
  .service-wrap {
    display: flex;
    align-items: center;
    .service-status {
      margin-right: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-mind-fill {
        color: #ea3636;
      }
    }
  }
  .err-info {
    color: #c12626;
  }
}
