.cli-result-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #19192914;
  overflow: hidden;
  padding: 9px 12px;
}

.cli-result-log-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  max-width: calc(100% - 366px);
  height: 100%;
  background: #fff;
  font-size: 12px; /* 调整字体大小 */
  overflow: hidden;
}

.cli-result-lines {
  background: #f5f7fa;
  color: #c78500; /* num 列颜色 */
  text-align: right;
  padding: 8px 0;
  min-width: 40px;
  max-width: 40px;
  user-select: none;
  font-family: monospace;
  overflow-y: auto;
  height: 100%;
}

.cli-result-line-number {
  height: 24px; /* 调整行高 */
  line-height: 24px; /* 调整行高 */
  padding-right: 8px;
  color: #c78500; /* num 列颜色 */
  width: 43px;
  text-align: right;
  display: inline-block;
  padding-right: 16px;
}

.cli-result-contents {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: 8px 0;
  font-family: monospace;
}

.cli-result-line-content {
  height: 24px; /* 调整行高 */
  line-height: 24px; /* 调整行高 */
  white-space: pre;
  padding-left: 8px;
  color: #313238; /* 调整内容颜色 */
  font-size: 12px;
}

.cli-result-right-panel {
  width: 366px;
  min-width: 366px;
  max-width: 366px;
  background: #fff;
  border-left: 1px solid #e6e9ea;
  height: 100%;
}
