@import '@/scss/mixins/clearfix';
@import '@/scss/conf';
@import '@/scss/devops-common.scss';

.log-archive-restore {
  padding: 20px 24px;

  .top-operation {
    margin-bottom: 20px;

    @include clearfix;

    .bk-button {
      width: 120px;
    }
  }

  .restore-search {
    width: 320px;
  }

  .restore-table {
    .filter-column {
      .cell {
        display: flex;
      }
    }

    .restore-status {
      display: flex;
      align-items: center;
    }

    .status-icon {
      display: inline-block;
      width: 4px;
      height: 4px;
      margin-right: 6px;
      border-radius: 50%;

      &.is-finish {
        background: #6dd400;
      }

      &.is-unStart {
        background: #e02020;
      }

      &.is-restoring {
        background: #fe9c00;
      }
    }
  }
} 