.alarm-center-detail-alarm-alert {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 8px 0 25px;
  border-left: 4px solid transparent;

  .status-icon {
    display: flex;
    align-items: center;
    line-height: 36px;

    .icon-monitor {
      font-size: 14px;
      vertical-align: middle;
    }

    .status-text {
      margin-left: 5px;
      font-size: 13px;
      vertical-align: middle;
    }
  }

  .separator {
    width: 1px;
    height: 12px;
    margin: 0 8px;
    background-color: #c4c6cc;
  }

  .alert-content {
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;

    .alarm-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .alarm-tips {
      display: flex;
      align-items: center;
      min-width: fit-content;
      margin-left: 5px;

      .shielded-duration {
        color: #f59500;
      }

      .duration-value {
        margin-left: 5px;
        font-weight: 700;
        color: #313238;
      }
    }
  }

  .tools {
    color: #3a84ff;

    .bk-button {
      margin-left: 12px;
    }

    .icon-mc-notice-shield {
      font-size: 12px;
    }

    .icon-fenxiang {
      font-size: 10px;
    }

    .btn-text {
      margin-left: 5px;
    }
  }

  &.ABNORMAL {
    background: #ffebeb;
    border-left-color: #e71818;

    .status-icon {
      color: #ea3636;
    }
  }

  &.SHIELDED_ABNORMAL {
    background: #fdeed8;
    border-left-color: #f59500;

    .status-icon {
      color: #f59500;
    }

    .status-text {
      color: #e38b02;
    }
  }

  &.RECOVERED {
    background: #daf6e5;
    border-left-color: #2caf5e;

    .status-icon {
      color: #2caf5e;
    }
  }

  &.CLOSED {
    background: #eaebf0;
    border-left-color: #c4c6cc;

    .status-icon {
      color: #979ba5;
    }
  }
}

.bk-popover.bk-pop2-content.alarm-alert-monitor-data-popover {
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 12px 0 #0003;
}
