/* stylelint-disable declaration-no-important */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alarm-dispath-page {
  width: 100%;
  height: 100%;
  padding: 16px 16px 40px 16px;

  .alarm-dispath-page-wrap {
    position: relative;
    min-height: 100%;
    padding: 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(25, 25, 41, 0.05);

    .wrap-header {
      display: flex;
      align-items: center;

      .search-input {
        width: 480px;
        margin: 0 0 0 auto;
      }

      .icon-zhankai1,
      .icon-shouqi1 {
        margin-right: 4px;
      }

      .expand-up-btn {
        margin-left: 12px;
      }
      
    }

    .wrap-content {
      .expan-item {
        margin-top: 16px;
        outline: 1px solid #dcdee5;

        .expan-item-header {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 0 16px;
          color: #63656e;
          cursor: pointer;
          background: #f0f1f5;
          border: none;
          border-bottom: 1px solid #dcdee5;
          border-radius: 2px 2px 0 0;
          // box-shadow: 0 1px 0 0 #dcdee5;
          // transform: translateY(1px);
          &.is-collapse {
            border-bottom: none;
          }

          .icon-bianji {
            font-size: 20px;
            color: #c4c6cc;
          }

          .expan-status {
            width: 20px;
            height: 20px;

            @include flex-center();

            .icon-mc-triangle-down {
              font-size: 20px;
              transform: rotate(-90deg);
            }

            &.is-expan {
              .icon-mc-triangle-down {
                transform: rotate(0);
              }
            }
          }

          .expand-update-record {
            margin-left: 176px;
            font-size: 12px;
            color: #63656E;

            .separator {
              display: inline-block;
              width: 1px;
              height: 9px;
              margin: 0 7.5px;
              background-color: #C4C6CC;
            }

          }

          .title-wrap {
            display: flex;
            align-items: center;
            width: 260px;

            .title {
              max-width: 220px;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 14px;
              font-weight: 700;
              color: #63656e;
              white-space: nowrap;
            }

            .rule-count {
              padding: 0 6px;
              color: #979ba5;
            }

            .count {
              height: 16px;
              padding: 0 8px;
              margin: 0 10px 0 6px;
              color: #979ba5;
              background: #fff;

              @include flex-center();
            }
          }

          .priority-wrap {
            display: flex;
            align-items: center;
            margin-left: 106px;

            .count {
              height: 16px;
              padding: 0 8px;
              margin: 0 8px 0 2px;
              background: #dbd4ed;
              border-radius: 2px;

              @include flex-center();
            }
          }

          .edit-btn-wrap {
            height: 26px;
            padding: 0 10px;
            margin: 0 0 0 auto;
            color: #3a84ff;
            background: #fff;
            border: 1px solid #3a84ff;
            border-radius: 2px;

            @include flex-center();

            .icon-bianji {
              color: #3a84ff;
            }

            &.edit-btn-disabled {
              color: #c4c6cc;
              cursor: not-allowed;
              border: 1px solid #c4c6cc;

              .icon-bianji {
                color: #c4c6cc;
              }
            }
          }

          .del-btn-wrap {
            width: 26px;
            height: 26px;
            margin: 0 0 0 12px;
            color: #ea3636;
            background: #fff;
            border: 1px solid #c4c6cc;
            border-radius: 2px;

            @include flex-center();

            &.del-btn-disabled {
              color: #c4c6cc;
              cursor: not-allowed;
            }
          }

          .head-skeleton {
            width: 260px;
            height: 20px;
          }
        }

        .expan-item-content {
          height: 0;
          overflow: hidden;

          .item-content-skeleton {
            padding: 16px 16px 0 16px;
            border: 1px solid #dcdee5;
            border-top: 0;
          }

          .bk-table-header-wrapper {
            border-bottom: 1px solid #eaebf0;
          }

          &.is-expan {
            height: auto;
          }

          .alarm-group-list {
            width: 100%;
            overflow: hidden;
            word-break: break-all;

            .bk-tag {
              margin: 2px 6px 2px 0;
            }
          }

          .alarm-tag {
            max-width: 98%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .alarm-tag:hover {
            color: #fff;
            cursor: pointer;
            background: #3b83ff;
          }

          .tag-status {
            height: 18px;
            line-height: 18px;
            text-align: center;
          }

          .start {
            color: #3fc06d;
            background: #e5f6ea;
          }

          .stop {
            color: #979ba5;
            background: #f0f1f5;
          }

          .rule-wrap {
            padding-left: 0;

            .line-wrap {
              padding: 0;
            }
          }

          .bk-table {
            border: none !important;

            &::after,
            &::before {
              display: none !important;
            }

            td,
            th.is-leaf {
              border-bottom: none;
            }

            .bk-table-striped .bk-table-body tr.bk-table-row-striped td {
              background-color: #fafbfd;
            }

            .bk-table-empty-text {
              padding: 15px 0;

              .alarm-group-empty {
                img {
                  width: 220px;
                  height: 100px;
                }

                .empty-text {
                  color: #63656e;
                }

                .empty-rule-config {
                  color: #3a84ff;
                  cursor: pointer;
                }
              }
            }
          }
        }

        &:hover {
          outline-color: #a3c5fd;
          box-shadow: 0 1px 0 0 #dcdee5;
        }
      }

      .empty-dispatch-content {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
      }

      .empty-dispatch-text {
        font-size: 24px;
        color: #63656e;
      }

      .item-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 16px;
      }
    }
  }
}

.alarm-dispatch-bk-info {
  .bk-info-box .bk-dialog-type-header .header {
    word-break: break-all;
    white-space: pre-wrap;
  }
}
