/* stylelint-disable declaration-no-important */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin process-arrow () {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 16px solid transparent !important;
  border-right: 16px solid transparent !important;
  border-bottom: 16px solid transparent !important;
  border-left: 16px solid;
}

@mixin rule-change {
  background: #fff9f0;
}

@mixin rule-add {
  background: #f3fff5;;
}

@mixin rule-verification {
  background: #fff2f2;
}

.alarm-dispatch-config-page {
  width: 100%;
  height: 100%;

  .config-content {
    height: calc(100% - 45px);
    padding: 32px;

    .table-wrap {
      position: relative;
      width: 100%;
      max-height: 100%;
      margin-bottom: 30px;
      // border-top: 1px solid #dcdee5;
      overflow-x: auto;
      background: #fff;

      &.is-scroll {
        border-top: 1px solid #dcdee5;
        //border-bottom: 1px solid #dcdee5;
      }

      .table-wrap-header-tr {
        position: sticky;
        top: -1px;
        z-index: 666;
      }

      .table-wrap-header-td {
        border: 0;
      }

      .table-wrap-header {
        position: relative; 
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 16px;
        color: #63656e;
        // border-right: 1px solid #dcdee5;
        // border-left: 1px solid #dcdee5;
        cursor: pointer;
        background: #fafbfd;
        border-radius: 2px 2px 0 0;

        .icon-bianji {
          font-size: 20px;
          color: #c4c6cc;
        }

        .title-wrap {
          display: flex;
          align-items: center;

          .title {
            max-width: 500px;
            overflow: hidden;
            font-size: 14px;
            font-weight: 700;
            color: #63656e;
            text-overflow: ellipsis;
          }

          .rule-count {
            padding: 0 6px;
            color: #979ba5;
          }

          .count {
            height: 16px;
            padding: 0 8px;
            margin: 0 10px 0 6px;
            color: #979ba5;
            background: #dbd4ed;

            @include flex-center();
          }
        }

        .priority-wrap {
          display: flex;
          align-items: center;
          margin-left: 106px;

          .count {
            height: 16px;
            padding: 0 8px;
            margin: 0 8px 0 2px;
            background: #dbd4ed;
            border-radius: 2px;

            @include flex-center();
          }
        }

        .file-wrap {
          position: absolute;
          right: 10px;
        }

      }

      table {
        position: relative;
        height: auto;
      }

      table,
      table tr th,
      table tr td {
        position: relative;
        border: 1px solid #dcdee5;
      }

      .table-wrap-content {
        width: 100%;
        border-collapse: collapse;

        .process-list {
          position: sticky;
          top: 39px;
          z-index: 666;

          & > td {
            &:first-of-type {
              border-left: 1px solid #dcdee5;
            }

            &:last-of-type {
              border-right: 1px solid #dcdee5 !important;
            }
          }

          .process-list-item {
            position: relative;
            display: flex;
            width: 100%;
            height: 32px;


            @include flex-center();

            .index {
              width: 16px;
              height: 16px;
              margin: 0 4px 0 18px;
              background: #fff;
              border: 1px solid #c4c6cc;
              border-radius: 50%;

              @include flex-center();
            }

            .text {
              font-size: 12px;
              font-weight: 700;
              color: #63656e;

              &.text-en {
                width: 90px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            .merge {
              position: absolute;
              bottom: -6px;
              z-index: 4;
              width: 28px;
              height: 12px;
              color: #fff;
              cursor: pointer;
              background: #c4c6cc;
              background-repeat: no-repeat;
              background-position: -1px -1px;
              border: 1px solid #dcdee5;
              border-radius: 8px;
            }

            .icon-expand {
              background-image: url('../../static/images/png/icon-expand.png');

              &:hover {
                background-image: url('../../static/images/png/icon-expand-hover.png');
              }
            }

            .icon-reduce {
              background-image: url('../../static/images/png/icon-reduce.png');

              &:hover {
                background-image: url('../../static/images/png/icon-reduce-hover.png');
              }
            }

            .process-arrow {
              @include process-arrow();
            }
          }
        }

        .table-column {
          position: sticky;
          top: 71px;
          z-index: 665;
          background: #f0f1f5;

          .table-column-item {
            display: flex;
            align-items: center;
            height: 42px;
            padding: 0 16px;
            font-size: 12px;
            color: #313238;
          }

          .match-rule-th {
            min-width: 400px;

            .unified-setting {
              margin-left: 18px;
              color: #3a84ff;
              cursor: pointer;
            }
          }

          .select-level-th {
            width: 120px;
          }

          .enable-th {
            width: 63px;
          }

          .additional-tag-th {
            width: 260px;
          }

          .operate-th {
            width: 143px;
          }
        }

        .batch-list {
          position: sticky;
          top: 113px;
          z-index: 666;

          &.is-scroll {
            td {
              border-top: 1px solid #dcdee5;
              border-bottom: 1px solid #dcdee5;
            }
          }

          .batch-list-item {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 0 16px;
            background: #f5f7fa;
            box-shadow: 1px 0 0 0 #dcdee5;

            .icon-mc-edit {
              font-size: 16px;
              cursor: pointer;
            }

            .batch-operate-warp {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 100%;

  
              .icon-monitor {
                font-size: 14px;
                cursor: pointer;
              }
  
              .icon-hidden {
                cursor: default;
                opacity: 0;
              }
            }
          }
        }

        .table-data-row {
          background: #fff;

          .rule-td {
            height: 1px;

            .rule-td-item {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;
              border: 1px solid #fff;

              &.condition-wrap {
                min-width: 400px;

                &.rule-change {
                  input {
                    @include rule-change();
                  }
                }

                &.rule-add {
                  input {
                    @include rule-add();
                  }
                }
              }

              &.alarm-group-wrap {
                display: block;
                flex: 1;
                min-width: 180px;

                .alarm-dispatch-alarm-group-select-component {
                  width: 100%;

                  .bk-select {
                    border: 1px solid rgba(0, 0, 0, 0);

                    &.is-focus {
                      box-shadow: none;
                    }
                  }
                }
              }
            }

            // 校验样式
            .rule-verification {
              border: 1px solid #fff2f2;

              @include  rule-verification();

              .is-change {
                @include rule-verification();

                .add-btn {
                  @include rule-verification();
                }

                .bk-tag-input {
                  @include rule-verification();
                }

                .alarm-group-select {
                  border: 1px solid #fff2f2 !important;
                }

                .staff-input {
                  @include rule-verification();

                  input {
                    @include rule-verification();
                  }
                }
              }
            }
            
            // 变更样式
            .rule-change {
              border: 1px solid #fff9f0;

              @include rule-change();

              .is-change {
                @include rule-change();

                .bk-tag-input {
                  @include rule-change();
                }

                .add-btn {
                  @include rule-change();
                }

                .alarm-group-select {
                  border: 1px solid #fff9f0 !important;
                }

                .staff-input {
                  @include rule-change();

                  input {
                    @include rule-change();
                  }
                }
              }

              .common-condition-component .input-wrap .input {
                @include rule-change();
              }
            }

            // 添加| 复制样式
            .rule-add {
              border: 1px solid#F3FFF5;;

              .add-btn {
                @include rule-add();
              }

              .table-data-row-item {
                @include rule-add();
              }

              .bk-tag-input {
                @include rule-add();
              }

              .alarm-group-select {
                border: 1px solid#F3FFF5 !important;
              }

              .staff-input {
                @include rule-add();

                input {
                  @include rule-add();
                }
              }

              .common-condition-component .input-wrap .input {
                @include rule-add();
              }
            }

            .is-active:hover {
              border: 1px solid #a3c5fd;
            }

            .is-active:active {
              border: 1px solid #3a84ff;
            }
          }
        
          .table-data-row-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            min-height: 42px;
            padding: 0 16px;
            background: #fff;

            &.alarm-group-select-wrap {
              width: 100%;
              height: 100%;
              padding: 0 16px;

              .bk-tag-input {
                border: none;
              }
            }

            &.action-id-wrap {
              flex-grow: 1;
              width: 0;
              height: 100% !important;
              padding: 0 !important;

              .bk-select {
                height: 100%;

                &::before {
                  display: flex;
                  align-items: center;
                }

                .bk-select-angle {
                  top: 50%;
                  margin-top: -11px;
                }

                .bk-select-clear {
                  top: 50%;
                  margin-top: -7px;
                }

                .bk-select-dropdown {
                  height: 100%;

                  .bk-tooltip-ref {
                    flex-direction: column;
                    height: 100%;

                    @include flex-center();

                    .bk-select-name {
                      padding: 0 20px 0 10px
                    }
                  }
                }
              }
            }

            &.notify-upgrade {
              width: 100%;
              height: 100%;

              .notice-content {
                word-break: break-all;

                .alarm-group {
                  color: rgb(58, 132, 255);
                  cursor: pointer;
                }
              }
            }

            &.alarm-gourp-contaier {
              display: flex;
              align-items: center;
              height: 100%;
              padding: 0;

              .alarm-group-wrap {
                .alarm-group-tag .tag-text {
                  white-space: nowrap;
                }

                .add-btn {
                  .add-tag {
                    min-width: auto;

                    .icon-mc-add {
                      margin-left: 0;
                    }
                  }
                }
              }

              .alarm-dispatch-alarm-group-select-component {
                height: 100%;

                .bk-select {
                  height: 100%;

                  .bk-tooltip.bk-select-dropdown {
                    height: 100%;

                    .bk-tooltip-ref {
                      height: 100%;
                    }
                  }
                }

                .tag-list {
                  align-content: center;
                  height: 100%;
                }
              }

              .icon-mind-fill {
                display: none;
                font-size: 14px;
              }

              &.is-err {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;

                @include rule-verification();

                .alarm-dispatch-alarm-group-select-component {
                  flex: 1;
                }

                .icon-mind-fill {
                  display: block;
                  margin-right: 8px;
                  color: #ea3636;
                }
              }
            }
           
            &.additional-tags {
              position: relative;
              width: 100%;
              padding: 4px 0;

              .bk-tag-selector {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;

                .bk-tag-input {
                  flex: 1;
                }

                .staff-input {
                  max-width: 180px !important;

                  input {
                    max-width: 180px !important;
                  }
                }
              }

              .icon-mind-fill {
                position: absolute;
                right: 4px;
                z-index: 6666;
                font-size: 14px;
                color: #ea3636;
              }

              .key-node {
                max-width: 180px;

                .tag {
                  max-width: 160px;
                }
              }

              .key-node:hover {
                background: #dcdee5;

                .tag {
                  background: #dcdee5;
                }
              }
            }


            &.operate-wrap {
              display: flex;
              justify-content: space-around;
              width: 100%;
              font-size: 14px;
              cursor: pointer;

              .icon-monitor:hover {
                color: #3a84ff;
              }

              .disabled {
                color: #dcdee5;
                cursor: not-allowed;
              }

              .disabled:hover {
                color: #dcdee5;
              }

            }

            .alarm-group-select {
              width: 100%;
              border: 1px solid #fff;
            }

            .notice-time {
              margin-right: 6px;
            }

            &.table-data-row-item-conditions {
              width: 100%;
              padding: 0;

              .icon-mind-fill {
                display: none;
                color: #ea3636;
              }

              .repeat-tip {
                display: none;
                height: 16px;
                padding: 0 4px;
                font-size: 12px;
                color: #fff;
                background: #ea3636;
                border-radius: 2px;
              }

              &.is-err {
                display: flex;
                justify-content: space-between;

                @include rule-verification();

                .common-condition-component {
                  flex: 1;

                  @include rule-verification();

                  .input {
                    @include rule-verification();
                  }
                }

                .icon-mind-fill {
                  display: block;
                  margin-right: 9px;
                }

                .repeat-tip {
                  display: block;
                  margin-right: 9px;
                }
              }
            }
          }

          .colspan-item {
            width: 100%;
            height: 100%;
            color: #c4c6cc;
            background: #fafbfd;
            background: #fafbfd !important;

            @include flex-center();

            .content {
              position: relative;
             

              &::before {
                position: absolute;
                top: 50%;
                left: -8px;
                width: 4px;
                height: 4px;
                margin-top: -2px;
                content: '';
                background: #2dcb56;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.alarm-dispatch-config-unified-setting {
  .ml8 {
    margin-left: 8px;
  }

  .mr8 {
    margin-right: 8px;
  }

  .ml16 {
    margin-left: 16px;
  }

  .mr16 {
    margin-right: 16px;
  }

  .setting-msg-wrap {
    min-width: 260px;
    max-width: 400px;
    padding: 14px 12px;
    font-size: 14px;
    line-height: 22px;
    color: #63656e;

    .condition-wrap {
      .common-condition-component {
        padding-left: 0;
      }
    }

    .btn-wrap {
      display: flex;
      justify-content: end;
      margin-top: 8px;

      .btn {
        line-height: 20px;
        color: #3a84ff;
        cursor: pointer;
      }
    }
  }

  .setting-content-wrap {
    min-width: 400px;
    max-width: 600px;
    padding-top: 16px;

    .setting-title {
      margin-bottom: 6px;
      font-size: 12px;
      line-height: 20px;
      color: #63656e;

      .icon-tishi {
        margin-left: 5px;
        font-size: 14px;
        color: #979ba5;
        cursor: pointer;
      }
    }

    .bottom-opreate {
      display: flex;
      align-items: center;
      justify-content: end;
      height: 42px;
      padding: 0 16px;
      margin-top: 12px;
      background: #fafbfd;
      border: 1px solid #eaebf0;
      border-radius: 0 0 2px 2px;
    }

    .common-condition-new-component {
      padding-top: 6px;

      .line-wrap {
        padding: 0;
      }
    }
  } 
}

.alarm-dispatch-rule-operate {
  .popconfirm-content {
    .content {
      font-size: 12px !important;
      line-height: 22px;
      line-height: 22px;
    }
    
  }

  .popconfirm-operate {
    button {
      height: auto !important;
      padding: 0px !important;
      margin-left: 8px;
      color: #3a84ff !important;
      background: none !important;
      border: none !important;
    }

    button:hover {
      background: none !important;
      border: none !important;
    }
  }
}


.alarm-group-select-process-component-pop {
  width: 150px !important;

  .bk-select-extension {
    padding: 0;

    &:hover {
      background: #fafbfd;
    }
  }

  .extension-wrap {
    display: flex;
    align-items: center;
    height: 40px;

    .add-wrap {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 12px;
      color: #63656e;
      cursor: pointer;

      .icon-jia {
        margin-right: 5px;
        font-size: 14px;
        color: #979ba5;
      }

      &:hover {
        background: #dcdee5;
      }
    }

    .loading-wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 100%;
      cursor: pointer;

      .status-loading {
        height: 16px;
      }

      &::after {
        position: absolute;
        top: 10px;
        left: -1px;
        width: 1px;
        height: 16px;
        content: '';
        background: #dcdee5;
      }

      &:hover {
        background: #dcdee5;

        &::after {
          display: none;
        }
      }
    }
  }

}