html,
body {
  .bk-radio-label {
    font-size: 12px;
  }
}

.bk-monitor-drag {
  position: fixed;
  top: 50%;
  left: 242px;
  z-index: 100;
  display: flex;
  place-items: center center;
  width: 6px;
  height: 100px;
  background-color: #dcdee5;
  border-radius: 3px;
  transform: translateY(-50%);

  &::after {
    position: absolute;
    left: 2px;
    width: 0;
    height: 80px;
    content: ' ';
    border-left: 2px dotted white;
  }

  &:hover {
    cursor: col-resize;
  }
}

.bk-monitor-drag-simple {
  position: absolute;
  top: 50%;
  right: -3px;
  z-index: 100;
  display: flex;
  place-items: center center;
  width: 6px;
  height: 22px;
  border-radius: 3px;
  transform: translateY(-50%);

  &::after {
    position: absolute;
    left: 2px;
    width: 0;
    height: 100%;
    content: ' ';
    border-left: 2px dotted #63656e;
  }

  &:hover {
    cursor: col-resize;
  }
}

.tippy-tooltip {
  .tippy-content {
    padding: 0;
  }

  .tippy-arrow,
  .tippy-roundarrow {
    position: absolute;
    width: 0;
    height: 0;
  }

  &.common-monitor-theme {
    min-width: 68px;

    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
    pointer-events: all;

    /* stylelint-disable-next-line declaration-no-important */
    background-color: white !important;

    /* stylelint-disable-next-line declaration-no-important */
    border-radius: 2px !important;
  }
}

.tippy-box[data-theme~='common-monitor'] {
  .tippy-content {
    padding: 0;
  }
}

.disable-hover,
.disable-hover * {
  /* stylelint-disable-next-line declaration-no-important */
  pointer-events: none !important;
}

.cursor-element {
  width: 12px;
  height: 16px;
  background: url('../img/lock.svg');
}

.monitor-chart-tooltips {
  z-index: 12;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .tooltips-header {
    margin: 0 0 2px 6px;
    font-weight: bold;
    color: #f1f3fa;
    text-align: left;
  }

  .tooltips-content {
    max-width: 640px;
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      flex: 1;
      align-items: center;
      height: 18px;
      margin: 2px 4px;
      margin-right: 5px;

      .item-series {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 6px;
        height: 6px;
        margin-right: 6px;
        border-radius: 50%;
      }

      .item-name {
        display: inline-block;
        min-width: 80px;
        max-width: calc(100% - 20px);
        margin-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #f1f3fa;
        white-space: nowrap;
      }

      .item-value {
        display: flex;
        align-items: center;
        height: 18px;
        padding: 0 5px;

        // flex: 1;
        margin-left: auto;
        color: rgb(255 255 255 / 80%);
        background-color: rgb(1 1 1 / 80%);
        border-radius: 3px;
      }
    }
  }
}

.bk-scroll-home {
  .bk-min-nav-slide {
    /* stylelint-disable-next-line declaration-no-important */
    width: 4px !important;
    border-radius: 4px;
  }
}

.simplicity-input {
  .bk-form-input {
    height: 24px;
    padding-left: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  .bk-form-input[readonly] {
    /* stylelint-disable-next-line declaration-no-important */
    border-bottom-color: #c4c6cc !important;
  }
}

.bk-table-column-setting {
  /* stylelint-disable-next-line declaration-no-important */
  border-bottom: 1px solid #dfe0e5 !important;
}

.bk-table-setting-popover-content-theme.tippy-tooltip {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 15px 0 0 !important;
}

.common-chart-tooltips-wrap {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

#app {
  width: 100%;
  height: 100%;
}

.bk-cascader-popover {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
}

.skeleton-element {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;

  &::after {
    position: absolute;
    inset-inline: -150%;
    top: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(90deg, rgb(0 0 0 / 6%) 25%, rgb(0 0 0 / 15%) 37%, rgb(0 0 0 / 6%) 63%);
    animation-name: skeleton-loading;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  &.skeleton-element-lg {
    border-radius: 50%;
  }
}

@keyframes skeleton-loading {
  0% {
    transform: translateX(-37.5%);
  }

  100% {
    transform: translateX(37.5%);
  }
}

:where(.bk-sideslider) {
  z-index: 2000;
}

.bk-popover.bk-pop2-content {
  &.padding-0 {
    padding: 0;
  }

  &.max-width-50vw {
    max-width: 50vw;
  }

  &.text-wrap {
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.tippy-box[data-theme~='padding-0'] {
  .tippy-content {
    padding: 0;
  }
}

.tippy-box[data-theme~='text-wrap'] {
  .tippy-content {
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.tippy-box[data-theme~='max-width-50vw'] {
  .tippy-content {
    max-width: 50vw;
  }
}

.tippy-box[data-theme~='light'] {
  color: #26323d;
  background-color: #fff;
  box-shadow:
    0 0 20px 4px rgb(154 161 177 / 15%),
    0 4px 80px -8px rgb(178 182 187 / 25%),
    0 4px 4px -2px rgb(91 94 105 / 15%);

  .tippy-arrow {
    color: #fff;
  }
}

.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #fff;
}
