.cluster-type-tabs {
  display: inline-flex;
  margin-bottom: 16px;
  border-radius: 2px;
  overflow: hidden;

  .tab-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    border: 1px solid #3a84ff;
    transition: all 0.15s;
    user-select: none;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    &.active {
      color: #fff;
      background-color: #3a84ff;
      border-color: #3a84ff;
      z-index: 1;
    }

    &:not(.active) {
      color: #3a84ff;
      background-color: #fff;
      border-color: #3a84ff;

      &:hover {
        background-color: #e1ecff;
      }
    }
  }
}
