.anomaly-detection {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.1);

  &-header {
    padding: 16px 30px;

    .header-wrapper {
      display: flex;
      align-items: center;
      line-height: 22px;
    }

    .collapse-expand {
      position: relative;
      top: -1px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-left: -24px;
      font-size: 10px;
      color: #63656e;

      i {
        transition: transform .2s ease-in-out;
      }

      .icon-rotate {
        transform: rotate(90deg)
      }
    }

    .title {
      font-size: 14px;
      font-weight: 700;
      color: #313238;
    }

    .subtitle {
      color: #979ba5;
    }

    .header-tool {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }

  &-content {
    position: relative;
    padding: 0 40px 8px 40px;

    .content-readonly {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: transparent;
      opacity: 0;
    }
  }
}

.anomaly-dark {
  background-color: #f5f7fa;
}