.ai-settings-notification-component {
  .add-tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    min-width: 90px;
    height: 20px;
    border-radius: 2px;
    color: #3a84ff;
    cursor: pointer;
    overflow: hidden;
  
    .add-tag-text {
      line-height: 20px;
    }
  
    .icon-mc-add {
      margin-left: -8px;
      font-size: 20px;
      line-height: 20px;
    }
  }
  
  .host-count {
    color: #3a84ff;
  }
  
  .notification-tv {
    padding-right: 6px;
  }
  
  .mc-edit {
    padding-left: 8px;
    color: #3a84ff;
    font-size: 18px;
  }

  .target-overview {
    .icon-mc-edit {
      cursor: pointer;
    }

    &.overview {
      cursor: pointer;
    }

    &.no-target {
      cursor: default;
      color: #979ba5;
    }
  }
}

.ai-settings-notification-component-dialog {
  .icon-tishi {
    margin-left: 12px;
    margin-right: 4px;
    color: #979ba5;
    font-size: 16px;
  }

  .sub-title-text {
    color: #979ba5;
    font-size: 14px;
  }
}