.alarm-dashboard-group {
  .alarm-dashboard-group-main {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .alarm-dashboard-group-skeleton {
    display: grid;
    grid-template-columns: repeat(var(--dashboard-grid-col), minmax(0, 1fr));
    gap: 12px;
    padding-top: 12px;

    .alarm-dashboard-group-skeleton-item {
      display: flex;
      height: 247px;
      background: #fff;
      border: 1px solid #e4e9f2;
      border-radius: 8px;
    }
  }
}
