/* stylelint-disable no-descending-specificity */
.alarm-view-panel-dimension-analysis-wrap {
  margin-top: 14px;
  background-color: #fff;
  border: 1px solid #e4e9f2;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 #1919290a;

  .alarm-dimension-chart {
    width: 100%;
    height: 240px;
    background-color: #fff;
    border-radius: 8px;

    .dimension-chart {
      border-radius: 8px;

      .title-wrapper {
        .chart-title {
          padding: 12px 34px 3px 16px;

          .main-title {
            min-height: 22px;

            .title-name {
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
            }

            .icon-hint.tips-icon {
              width: 22px;
              height: 22px;
              margin-left: 0;
              font-size: 12px;
              color: #8f9fbd;

              &::before {
                height: unset;
              }
            }

            .custom-tools-wrapper {
              margin-bottom: -16px;
            }

            & > div:last-child {
              margin-bottom: -16px;

              .icon-monitor.icon-mc-more.more-icon {
                width: 22px;
                height: 22px;
                color: #4d4f56;
              }
            }
          }

          .sub-title {
            height: 20px;
            line-height: 20px;
            color: #8f9fbd;
          }
        }
      }

      .custom-tools-wrapper {
        .dimension-chart-fullscreen {
          margin-right: 6px;
          cursor: pointer;

          &:hover {
            color: #3a84ff;
          }
        }
      }
    }
  }

  .dimension-analysis-table-view {
    position: relative;
    display: flex;
    min-height: 300px;
    max-height: 540px;
    padding: 0 16px 16px;

    .dimension-analysis-left {
      width: 240px;
      overflow-y: auto;
      background: #f3f6fa;
      border-radius: 8px;
    }

    .dimension-analysis-right {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: calc(100% - 160px);
      overflow: hidden;
      background: #fff;
      border-bottom-right-radius: 8px;

      .type-select {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 32px;
        padding: 0 4px;
        margin: 0 0 14px 12px;
        background: #f0f1f5;
        border-radius: 2px;

        .type-select-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          cursor: pointer;
          border-radius: 2px;

          .icon-monitor {
            font-size: 12px;
          }

          &.active {
            cursor: default;
            background: #fff;
            box-shadow: 1px 1px 4px 0 #0000001a;

            .icon-monitor {
              color: #3a84ff;
            }
          }
        }
      }

      .conditions-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 8px 8px;

        .condition-item {
          display: flex;
          align-items: center;
          height: 22px;
          padding: 0 2px 0 8px;
          margin: 2px 6px 2px 0;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          color: rgb(99 101 110);
          white-space: nowrap;
          background-color: rgb(151 155 165 / 10%);

          .text-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .method {
            margin: 0 4px;
            color: rgb(255 156 1);
          }

          .icon-mc-close {
            font-size: 16px;
            cursor: pointer;
          }
        }
      }

      .dimension-analysis-data {
        flex: 1;
        margin-left: 12px;
      }
    }
  }
}

.alarm-dimension-chart-full-dialog.bk-dialog {
  .bk-modal-wrapper {
    .bk-modal-content {
      & > div {
        height: 100%;

        .bk-dialog-content {
          height: 100%;
          margin-top: 0;
          margin-bottom: 0;

          .view-wrap {
            height: 100%;

            .dimension-fullscreen-chart {
              .chart-skeleton {
                .h-20 {
                  height: 16%;
                }
              }
            }
          }
        }
      }
    }
  }
}
