.alarm-view-panel-dimension-analysis-wrap {
  .dimension-analysis-table-view {
    display: flex;
    min-height: 300px;
    border-top: 1px solid #dcdee5;

    .dimension-analysis-left {
      width: 160px;
      background: #f3f6fa;
    }

    .dimension-analysis-right {
      flex: 1;
      background: #fff;

      .type-select {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 32px;
        padding: 0 4px;
        margin: 8px;
        background: #f0f1f5;
        border-radius: 2px;

        .type-select-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          cursor: pointer;
          border-radius: 2px;

          .icon-monitor {
            font-size: 12px;
          }

          &.active {
            cursor: default;
            background: #fff;

            .icon-monitor {
              color: #3a84ff;
            }
          }
        }
      }

      .conditions-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 8px;

        .condition-item {
          display: flex;
          align-items: center;
          height: 22px;
          margin: 2px 6px 2px 0;
          font-size: 12px;
          color: rgb(99 101 110);
          background-color: rgb(151 155 165 / 10%);

          .method {
            margin: 0 4px;
            color: rgb(255 156 1);
          }

          .icon-mc-close {
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
