@import './common';

.suspicious-link-panel {
  @extend %panel-container;

  .link-group-list {
    @extend %group-list;

    .group-title {
      @extend %group-title;

      .group-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: #313238;
        white-space: nowrap;
      }

      .group-count {
        font-weight: 400;

        .count-strong {
          margin: 0 2px;
          font-weight: 700;
        }
      }
    }
  }
}
