.suspicious-log-panel {
  .link-text {
    color: #3a84ff;
    cursor: pointer;

    .icon-monitor {
      margin-right: 4px;
      font-size: 12px;
    }

    &:hover {
      color: #699df4;
    }
  }

  .log-group-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .group-title {
      display: flex;
      flex: 1;
      justify-content: space-between;
      overflow: hidden;
      line-height: 20px;

      .group-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 500;
        color: #4e5e7a;
        white-space: nowrap;
      }

      .link-text {
        flex-shrink: 0;
      }
    }
  }
}
