.suspicious-metric-panel {
  .tips {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #313238;
  }

  .link-text {
    color: #3a84ff;
    cursor: pointer;

    .icon-monitor {
      margin-right: 4px;
      font-size: 12px;
    }

    &:hover {
      color: #699df4;
    }
  }

  .metric-group-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .group-title {
      display: flex;
      flex: 1;
      justify-content: space-between;
      overflow: hidden;
      line-height: 20px;

      .group-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 500;
        color: #4e5e7a;
        white-space: nowrap;
      }
    }

    .footer-content {
      display: flex;
      flex: 1;
      justify-content: space-between;
      line-height: 24px;

      .reason {
        font-size: 12px;
        color: #c12726;
      }

      .link-text {
        flex-shrink: 0;
      }
    }
  }
}
