@import '@/scss/mixins/clearfix';
@import '@/scss/conf';
@import '@/scss/devops-common.scss';

.log-archive-list {
  padding: 20px 24px;

  .top-operation {
    margin-bottom: 20px;

    @include clearfix;

    .bk-button {
      width: 120px;
    }
  }

  .list-search {
    width: 320px;
  }

  .archive-table {
    .filter-column {
      .cell {
        display: flex;
      }
    }
  }

  .bk-table-body td.bk-table-expanded-cell {
    padding: 0;
  }
}
