.app-add-page {
  height: 100%;

  .mr8 {
    margin-right: 8px;
  }

  .app-add-content {
    height: calc(100% - 48px);
    padding: 16px 24px;
    overflow-x: hidden;
    overflow-y: auto;

    .app-add-desc {
      margin-bottom: 12px;

      .app-add-question {
        margin-bottom: 12px;
        font-size: 16px;
        color: #313238;
      }
    }
  }
}
