/* stylelint-disable declaration-no-important */
@import '../../../theme';

.add-collect-dialog.bk-dialog-wrapper {
  .bk-dialog-header {
    height: 20px;
    padding: 0 16px;

    .bk-dialog-header-inner {
      font-size: 16px;
      line-height: 20px;
      color: #313238;
    }
  }

  .bk-dialog-body {
    padding: 16px;
  }

  .edit-information {
    width: 100%;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 18px;
    background: #f0f1f5;
    border-radius: 2px;
  }

  .collect-radio {
    margin-top: 12px;

    .bk-form-control {
      > :last-child {
        margin-left: 20px;
      }
    }
  }

  .affiliation-group {
    margin-top: 2px !important;
  }

  .bk-form-item {
    padding: 0;

    .bk-label,
    .bk-radio-text,
    .bk-checkbox-text {
      font-size: 12px;
    }
  }

  .add-new-page-container {
    .add-new-page-input {
      display: flex;
      padding: 6px 0;
    }

    .operate-button {
      justify-content: space-between;
      margin-left: 6px;
      font-size: 16px;
      color: #979ba5;

      span {
        cursor: pointer;
      }

      > :first-child {
        margin-right: 12px;
        color: #33d05c;
      }

      > :last-child {
        color: #979ba5;
      }
    }
  }

  .string-json {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    cursor: pointer;
    -webkit-box-orient: vertical;
  }

  .fl-jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .view-box {
    width: auto;
    max-height: 180px;
    overflow-y: hidden;

    .view-content {
      .promql-val {
        width: 100%;
        word-wrap: break-word;
      }

      .vjs-tree {
        font-size: 12px !important;

        .vjs-value-string {
          tab-size: 3;
          white-space: pre-wrap;
        }
      }
    }
  }

  .is-expand {
    padding: 10px 30px !important;
    overflow-y: auto !important;
    background-color: #fafbfd !important;

    .view-content {
      padding: 0 !important;
      background-color: #fafbfd !important;
    }
  }
}
