.retrieve-collect-container-comp {
  width: 100%;
  font-size: 12px;

  .bk-icon {
    font-size: 14px;
    cursor: pointer;
  }

  .group-container {
    height: calc(100vh - 240px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      background: transparent;
    }
  }

  .list-number {
    color: #979ba5;
  }

  .data-empty {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 30px;

    .exception-image {
      width: 235px;
    }
  }
}