.new-add-application {
  .content-main {
    position: relative;
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);

    .form-wrap {
      box-sizing: border-box;
      max-height: calc(100vh - 111px);
      padding: 28px 40px;
      overflow-y: auto;
      background-color: #fff;

      .bk-label-text {
        font-size: 12px;
      }

      .bk-form-item {
        &:not(:first-child) {
          margin-top: 18px;
        }
      }

      .bk-form-item.is-error {
        :deep(.bk-select) {
          border-color: #c4c6cc;
        }
      }

      .input,
      .biz-list-wrap {
        width: 465px;
      }

      .report-type-wrap {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        background: #fafbfd;
        border: 1px solid #dcdee5;
        border-radius: 2px;

        .report-left-content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          margin: 8px;
          background: #e1ecff;
          border-radius: 2px;

          .icon-monitor {
            font-size: 18px;
            color: #699df4;

            &:not(:first-child) {
              margin-top: 18px;
            }
          }

          .icon-tiaoyonglian {
            font-size: 24px;
          }
        }

        .report-middle-content {
          display: flex;
          flex: 1;
          flex-direction: column;

          .middle-content-title {
            height: 20px;
            font-family: MicrosoftYaHei-Bold;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            color: #63656e;
            letter-spacing: 0;
          }

          .middle-content-text {
            margin-right: 16px;
            font-family: MicrosoftYaHei;
            font-size: 12px;
            line-height: 20px;
            color: #979ba5;
            letter-spacing: 0;
          }
        }

        .report-right-content {
          margin-right: 25px;
        }
      }
    }

    .footer-wrap {
      padding: 0 40px;

      .mr8 {
        margin-right: 8px;
      }
    }
  }
}
