.subbar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  padding-left: 4px;
  background: #ffffff;
  box-shadow: 0 3px 4px 0 #4070cb0f;

  .box-biz-select {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    > div {
      display: flex;
      align-items: center;
      cursor: pointer;

      &.retrieve-index-select {
        .bk-select-dropdown {
          width: 100%;

          .bk-select-name,
          .index-select-tag-container {
            position: relative;
            padding: 0 6px;
            padding-right: 20px;
            border-color: #c4c6cc;

            .bklog-arrow-down-filled {
              position: absolute;
              top: 50%;
              right: 6px;
              font-size: 18px;
              color: #4d4f56;
              transform: translateY(-50%);
            }
          }
        }
      }

      &.retrieve-tab-item-title {
        padding-left: 8px;
        border-right: none;
      }
    }

    .bk-select {
      background-color: #f0f1f5;
      border: 1px solid transparent;

      &:hover {
        background-color: #eaebf0;
      }
    }

    .is-focus {
      background-color: transparent;
      border: 1px solid #3a84ff;
      box-shadow: 0 0 4px rgba(58, 132, 255, 0.4);
    }
  }

  .box-right-option {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    color: #4d4f56;

    .field-setting {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 30px;
      cursor: pointer;
      border-right: solid 1px #dcdee5;

      span {
        margin-right: 4px;
        font-size: 16px;
      }

      .bklog-icon {
        margin-right: 4px;
        font-size: 16px;
      }

      &:hover {
        color: #0083ff;
        cursor: pointer;
        background-color: #e1ecff;
        border-radius: 2px;
      }
    }

    .more-setting {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      cursor: pointer;
    }
  }
}

.bk-select-dropdown-expand-theme {
  border: 1px solid #dcdee5;
  border-radius: 2px;
}

.retrieve-setting-container {
  .list-menu {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    color: #63656e;
    background-color: white;

    .list-menu-item {
      display: flex;
      align-items: center;
      min-width: 150px;
      height: 32px;
      padding: 0 10px;

      &:hover {
        color: #3a84ff;
        cursor: pointer;
        background-color: #eaf3ff;
      }
    }
  }
}
