.retrieve2-tab {
  position: relative;
  padding-top: 8px;
  margin: 0px 8px 0 0;
  background: #f5f7fa;
  border-radius: 2px 2px 0 0;

  & > span {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .btn-alert-policy {
    position: absolute;
    top: 0px;
    right: -2px;
    height: 42px;
    font-size: 12px;
    line-height: 42px;
    color: #4d4f56;
    cursor: pointer;
  }

  .retrieve-panel {
    position: relative;
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 32px;
    color: #313238;
    text-align: center;
    cursor: pointer;
    background-color: #dcdee5;
    border-top-left-radius: 4px; /* 设置左上角圆角 */
    border-top-right-radius: 4px; /* 设置右上角圆角 */

    &.active {
      font-weight: 700;
      color: #3a84ff;
      background: #ffffff;
    }
  }
}
