.metric-table {
  &__name {
    color: #3a84ff;
    cursor: pointer;
  }

  &__group-select {
    width: 100%;
  }

  &__hidden-title {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
  }

  &__filter-icon {
    font-size: 14px;
    color: #c4c6cc;
    cursor: pointer;

    &.is-active,
    &:hover {
      color: #3a84ff;
    }
  }
}
