.metric-table {
  &__name {
    color: #3a84ff;
    cursor: pointer;
  }

  &__group-select {
    width: 100%;

    .bk-select {
      width: 100%;
    }
  }

  .metric-list-drag {
    color: #979ba5;
  }
}
