.kv-list-wrapper {
  .log-item {
    display: flex;
    align-items: baseline;
    line-height: 24px;

    .field-label {
      width: 160px;
      min-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .field-value {
      word-break: break-all;
    }

    .handle-option-list {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;

      .icon {
        margin-right: 6px;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          color: #3a84ff;
        }
      }

      .search {
        font-size: 16px;
      }

      .icon-arrows-up-circle {
        transform: rotate(45deg);
      }

      .icon-arrows-up-circle {
        margin-right: 2px;
        font-size: 12px;

        &.is-hidden {
          transform: rotate(225deg);
        }
      }

      .icon-chart {
        margin: 0 0 0 6px;
      }

      .icon-copy {
        transform: rotate(0);
        font-size: 24px;
        cursor: pointer;
      }

      .icon-enlarge-line,
      .icon-minus-circle,
      .icon-arrows-up-circle,
      .icon-copy {
        &.is-disabled {
          color: #dcdee5;
          cursor: not-allowed;
        }
      }
    }
  }

  .relation-monitor-btn {
    margin-left: 12px;
    color: #3a84ff;
    cursor: pointer;
  }
}