{{gettext("%(notice_title)s", notice_title=notice_title)}}{{gettext("the business %(bk_biz_name) , the rule %(strategy_name) alarms has been closed", bk_biz_name=business.bk_biz_name, strategy_name=alert.alert_name, level_name=level_name)}}