.filter-by-condition-tag___type-kv {
  position: relative;
  min-width: 110px;
  height: 40px;
  padding: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #63656E;
  cursor: pointer;
  background: #F0F1F5;
  border: 1px solid #F0F1F5;
  border-radius: 2px;

  .tag-content {
    .tag-content-key {
      display: flex;
      align-items: center;
      line-height: 14px;

      .key-name {
        font-family: Roboto-Regular;
        color: #757880;
      }

      .method {
        margin-left: 2px;
        color: #3A84FF;
      }
    }

    .tag-content-values {
      display: flex;
      align-items: center;
      margin-top: 2px;
      font-family: Menlo, Monaco, "Courier New", monospace, Consolas, "Courier New", monospace;
      line-height: 16px;

      .split {
        margin-right: 2px;
        margin-left: 2px;
        font-weight: 700;
        color: #F59500;
      }

      .value-span {
        color: #313238;
      }
    }
  }

  .delete-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #00000014;

    .icon-monitor {
      font-size: 14px;
      color: #4D4F56;
    }

    &:hover {
      .icon-monitor {
        color: #E71818;
      }
    }
  }

  &:hover {
    background: #EAEBF0;

    .delete-btn {
      display: flex;
    }
  }
}