.favorite-group-tree {
  color: #4d4f56;
  font-size: 12px;
  height: 100%;

  .favorite-create {
    height: 34px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdee5;
    border-top: 1px solid #dcdee5;
    transition: all 0.15s;
    margin: 0 12px 8px;
    cursor: pointer;
    .icon-monitor {
      color: #a3b1cc;
    }

    &:hover,
    &.is-active {
      background: #ffffff;
      box-shadow: 0 1px 2px 0 #00000014;
      border-color: #fff;
      border-radius: 3px;
    }
  }
  .favorite-group-wrapper {
    height: calc(100% - 54px);
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
  .favorite-group-item {
    .favorite-wrapper {
      position: relative;
      padding: 0 12px;
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 20px;
        width: 1px;
        bottom: 0;
        background: #a3b1cc99;
      }
    }
  }
}
