{{gettext("%(notice_title)s", notice_title=notice_title)}}{{gettext("通知，当前%(bk_biz_name)s业务%(strategy_name)s下%(level_name)s告警已恢复", bk_biz_name=business.bk_biz_name, strategy_name=strategy.name, level_name=level_name)}}