.bk-monitor-favorite-box {
  color: #4d4f56;
  height: 100%;
  .header-wrapper {
    display: flex;
    font-size: 14px;
    line-height: 22px;
    color: #313238;
    padding: 15px 12px;
    display: flex;
    align-items: center;
    .number-tag {
      display: flex;
      height: 16px;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      border-radius: 8px;
      color: #fff;
      margin-left: 4px;
      background: #a3b1cc;
      padding: 4px;
    }
    .extend-action {
      margin-left: auto;
      color: #4d4f56;
      .icon-monitor {
        cursor: pointer;
        & ~ .icon-monitor {
          margin-left: 12px;
        }
      }
    }
  }
  .favorite-wrapper {
    padding: 0 12px;
  }
  .favorite-search {
    .bk-input {
      border: none;
      border-radius: 4px;
    }
    .bk-input--text {
      background: #dde1eb;
    }
  }
  .favorite-action {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 12px;
    color: #4d4f56;

    .bk-checkbox {
      font-size: 12px;
      color: #4d4f56;
    }
    .icon-monitor {
      cursor: pointer;
      & ~ .icon-monitor {
        margin-left: 14px;
      }
    }
  }
}
