.edit-variable-value {
  min-width: 240px;

  .variable-value {
    display: flex;
    width: 100%;
    font-size: 0;

    .variable-value-label {
      max-width: 200px;
      height: 32px;
      padding: 0 9px 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 32px;
      white-space: nowrap;
      background: #ebeef5;
      border: 1px solid #dcdee5;
      border-right: none;
      border-radius: 2px 0 0 2px;

      span {
        font-size: 12px;
        font-weight: 500;
        color: #313238;
        cursor: pointer;
        border-bottom: 1px dashed #c4c6cc;
      }
    }

    .variable-value-input {
      flex: 1;
      background-color: #fff;

      .bk-select,.bk-form-input {
        box-sizing: border-box;
        height: 32px;
        border-color: #DCDEE5;
        border-radius: 0 2px 2px 0;

        &.is-focus {
          border-color: #3a84ff;
        }
      }
    }
  }
}
