.application {
  display: flex;

  .add-service-btn {
    display: flex;

    .add-service-icon {
      font-size: 24px;
    }
  }

  .tools-wrap {
    .application-tools {
      display: flex;

      .icon-mc-more-tool {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        margin-left: 8px;
        overflow: hidden;
        font-size: 16px;
        cursor: pointer;
        background: #f5f7fa;
        border-radius: 2px;

        &:hover {
          color: #3a84ff;
          background-color: #eaf3ff;
        }
      }
    }
  }

  .no-data-alert {
    margin: 16px 16px 0;

    .bk-alert-wraper {
      align-items: center;
      padding: 7px 10px;

      .bk-spin {
        margin-right: 6px;
      }

      .link {
        margin-left: 6px;
        color: #3a84ff;
        cursor: pointer;
      }
    }
  }

  .common-nav-bar.navigation-bar {
    .item-name.placeholder {
      font-size: 14px;
      color: #c4c6cc;
    }
  }
}

.no-data-guide-dialog {
  .bk-dialog-tool {
    display: none;
  }

  .bk-dialog-body {
    /* stylelint-disable-next-line declaration-no-important */
    padding: 3px 0 26px !important;

    .no-data-guide-main {
      max-height: 770px;
      padding: 0 24px;
      overflow-y: auto;
    }
  }
}
