@import '@/scss/mixins/flex.scss';

.add-collect-dialog {
  .bk-form {
    > :not(:first-child) {
      /* stylelint-disable-next-line declaration-no-important */
      margin-top: 12px !important;
    }
  }

  .edit-information {
    padding: 0 16px;
    font-size: 12px;

    @include flex-justify(start);

    > :first-child {
      display: inline-block;
      min-width: 72px;
      margin-right: 6px;
      color: #979ba5;
    }

    > :last-child {
      flex-direction: column;

      @include flex-justify(center);
    }
  }

  .bk-form-item {
    padding: 0 16px;

    .bk-label,
    .bk-radio-text,
    .bk-checkbox-text {
      font-size: 12px;
    }
  }

  .form-item-container-new {
    align-items: center;

    @include flex-justify(space-between);

    .bk-form-item {
      width: 100%;
    }

    .bk-form-input[readonly], .bk-form-textarea[readonly] {
      cursor: default;

      /* stylelint-disable-next-line declaration-no-important */
      background-color: #fafbfd !important;

      /* stylelint-disable-next-line declaration-no-important */
      border-color: #dcdee5 !important;
    }
  }

  .bk-form-checkbox {
    margin-right: 20px;
  }

  .add-new-page-container {
    .add-new-page-input {
      display: flex;
      align-items: center;
    }

    .operate-button {
      justify-content: space-between;
      margin-left: 6px;
      font-size: 16px;
      color: #979ba5;

      span {
        cursor: pointer;
      }

      > :first-child {
        margin-right: 12px;
        color: #33d05c;
      }

      > :last-child {
        color: #979ba5;
      }
    }
  }

  .fl-jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
