@import '../../../../../theme/theme';
@import '../../../../../theme/mixin';

.llm-execution-toolbar {
  flex-shrink: 0;
  gap: 8px;

  @include flex-column;

  &-title {
    font-family: 'PingFang SC', sans-serif;
    font-size: $font-size-large;
    font-weight: 500;
    line-height: 24px;
    color: #313238;
  }

  &-row {
    @include flex-align(flex-start);
    @include flex-justify(space-between);
  }

  &-left {
    gap: 12px;

    @include flex-align(center);
  }
}

.llm-execution-session {
  height: 32px;
  padding: 0 8px;
  background: #f0f1f5;
  border-radius: 4px;

  @include flex-align(center);

  .bk-checkbox {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: $font-size-base;
    line-height: 20px;
    color: #4d4f56;
  }

  &.is-disabled {
    cursor: not-allowed;
  }
}

.llm-execution-filter-icon {
  font-size: $font-size-medium;
  color: #4d4f56;

  &.is-error {
    color: $danger-color !important;
  }
}

.llm-execution-filter-inner {
  gap: 4px;

  @include flex-align(center);
}

.llm-execution-filters {
  height: 32px;
  border-radius: 4px;

  .llm-execution-filter {
    color: #4d4f56;

    &:has(+ .is-checked)::before,
    &:has(+ .llm-execution-filter:hover)::before {
      display: none;
    }

    &:hover:not(.is-checked, .is-disabled) {
      background: #fff;
      box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

      &::before {
        display: none;
      }
    }

    &.is-checked {
      z-index: inherit !important;
      color: $primary-color;
      box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

      .llm-execution-filter-icon {
        color: $primary-color;
      }
    }

    .bk-radio-button-label {
      font-family: 'Microsoft YaHei', sans-serif;
      color: inherit;
    }
  }
}

.llm-execution-search {
  width: 400px !important;

  /* stylelint-disable-next-line selector-class-pattern */
  .bk-input--suffix-icon {
    font-size: $font-size-large;
    color: #979ba5;
  }
}
