.drill-analysis-table {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 8px;
  .custom-header-main {
    .custom-header-tips {
      padding-bottom: 2px;
      border-bottom: 1px dashed #979ba5;
    }
  }
  .table-left {
    width: 240px;
    height: 100%;
    background: #f5f7fa;
    border-radius: 2px;
    margin-right: 12px;
    padding: 12px 0;
    .table-left-header {
      color: #313238;
      line-height: 20px;
      margin-bottom: 8px;
      position: relative;
      padding: 0 12px;
      .header-checkbox {
        position: absolute;
        right: 10px;
        .bk-checkbox-text {
          font-size: 12px;
          color: #4d4f56;
        }
      }
    }
    .search-input {
      width: calc(100% - 20px);
      margin: 0 10px;
    }
    .dimensions-list {
      width: 100%;
      height: calc(100% - 66px);
      margin-top: 8px;
      overflow-y: auto;
      padding: 0 10px;
      .skeleton-loading {
        padding: 10px 2px 0;
        .skeleton-element {
          margin-bottom: 13px;
          height: 24px;
          border-radius: 3px;
          &::after {
            background: linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.04) 25%,
              rgba(0, 0, 0, 0.08) 37%,
              rgba(0, 0, 0, 0.04) 63%
            );
          }
        }
      }
      .dimensions-list-item {
        width: 100%;
        height: 32px;
        line-height: 32px;
        padding: 0 4px;
        color: #313238;
        border-radius: 3px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .item-alias {
          display: inline-block;
          width: 100%;
        }
        .item-name {
          color: #a3b1cc;
          margin-left: 6px;
        }
        .item-checkbox {
          margin-right: 4px;
        }
        .bk-checkbox-text {
          width: 100%;
          font-size: 12px;
          color: #313238;
        }

        &.active {
          color: #3a84ff;
          background: #e1ecff;
          .item-name {
            color: #699df4;
          }
        }
      }
    }
  }
  .table-right {
    flex: 1;
    background: #fff;
    height: 100%;
    .table-skeleton-block {
      width: 100%;
      padding: 0 12px;
      .common-table-skeleton-row-item.skeleton-element {
        &:after {
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.04) 25%,
            rgba(0, 0, 0, 0.08) 37%,
            rgba(0, 0, 0, 0.04) 63%
          ) !important;
        }
      }
    }
    .dimensions-filter {
      width: 100%;
      margin-bottom: 8px;
      .drill-tag {
        &:hover {
          opacity: 1;
        }
        .tag-eq {
          font-weight: 700;
          color: #3a84ff;
          margin: 0 4px;
        }
        .icon-close {
          color: #979ba5;
          margin-left: 4px;
          font-size: 15px;
        }
        .tag-value {
          color: #313238;
        }
      }
    }
    .dimensions-table {
      height: calc(100% - 10px);
      overflow-y: auto;
      .color-box {
        width: 8px;
        height: 4px;
      }
      .bk-table-header-wrapper th {
        border-color: #eaebf0;
      }
      .bk-table-body td {
        border: none;
        height: 32px;
      }
      .hover-row td {
        background-color: #f5f7fa !important;
      }
      .bk-table-row-striped {
        td,
        tr {
          background-color: #fafbfd;
        }
      }
      .disabled-drill-down {
        color: #c4c6cc;
        cursor: not-allowed;
      }
      .dimensions-value {
        // color: #3a84ff;
        display: flex;
        align-items: center;
        .tab-row-icon {
          margin-left: 8px;
          font-size: 13px;
          color: #4d4f56;
          cursor: pointer;
          visibility: hidden;
        }
        .dimensions-value-text {
          // cursor: pointer;
          display: inline-block;
          max-width: 95%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:hover {
          .tab-row-icon {
            visibility: visible;
          }
        }
      }
    }
  }
}
.table-drill-down-popover {
  .table-drill-down-btn {
    color: #3a84ff;
    cursor: pointer;
    .icon-mc-arrow-down {
      font-size: 12px;
      margin-left: 4px;
    }
  }
  .table-drill-down-list {
    background: rgb(255, 255, 255);
    max-height: 300px;
    min-height: 20px;
    min-width: 80px;
    overflow: auto;
    .table-drill-down-item {
      font-size: 12px;
      color: rgb(99, 101, 110);
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      padding: 0px 8px 0px 12px;
      position: relative;
      &:hover {
        color: #3a84ff;
        background: #e1ecff;
      }

      &.active {
        color: #3a84ff;
        background: #f4f6fa;
      }
    }
  }
}
.drill-multi-detail-slider {
  width: 100%;
  height: 100%;

  .drill-multi-slider-filter {
    display: flex;
    align-items: center;
    width: 640px;
    height: 48px;
    padding-left: 24px;
    background: #ffffff;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.05);

    .filter-title {
      margin-right: 12px;
      font-size: 12px;
      font-weight: 700;
      color: #313238;
    }

    .filter-select {
      display: flex;
      flex: 1;
      flex: 0 0 538px;
      align-items: center;
      margin-right: 24px;

      .bk-select-dropdown {
        width: 538px;
      }
    }
  }

  .drill-multi-slider-chart {
    width: 100%;
    height: calc(100vh - 104px);
    margin-top: 3px;
    overflow: auto;
    background: #f5f7fa;
  }
}
