.panel-metric-chart-view {
  min-width: 1000px;
  .chart-view-collapse {
    width: 100%;

    .item-icon {
      margin-right: 6px;
      font-size: 12px;
      color: #6498b3;
    }

    .chart-view-collapse-item {
      margin-bottom: 10px;
    }

    .is-hide-header {
      .bk-collapse-item-header {
        display: none;
      }
    }

    .bk-collapse-item-content {
      padding: 0;
    }

    .bk-collapse-item-header {
      height: 24px;
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 24px;
      color: #313238;
      background: #dde4eb;
    }

    .chart-view-collapse-item-content {
      .chart-view-row {
        display: flex;
        overflow: hidden;
      }

      .chart-view-item {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        padding-bottom: 18px;
        margin-bottom: 12px;
        background: #ffffff;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 #1919290d;

        & ~ .chart-view-item {
          margin-left: 12px;
        }

        &:hover {
          .chart-title {
            .title-name {
              display: initial;
            }
            .status-tab-view,
            .title-icon-list,
            .hover-show {
              display: block !important;
            }

            .strategy-icon {
              display: flex !important;
              min-width: 24px;
              margin-left: 0;
            }
            // .more-icon {
            //   margin-left: 0 !important;
            // }
          }
        }

        .chart-title {
          .title-name {
            min-width: 40px;
            display: initial;
          }

          .title-icon-list,
          .status-tab-view,
          // .strategy-icon,
          .hover-show {
            display: none !important;
          }

          .more-icon {
            margin-left: auto !important;
          }

          .strategy-icon {
            margin-left: auto;
            & + .more-icon {
              margin-left: 0!important;
            }
          }
        }

        .indicator-table-view {
          width: 100%;
          height: 40%;
          margin-top: 10px;
        }

        .indicator-chart-view {
          width: 100%;
          height: 60%;
        }

        &.column-2 {
          width: calc(50% - 6px);
        }

        &.column-3 {
          width: calc(33.33% - 8px);
        }
      }

      .single-item {
        width: 100%;
        height: 600px;
        padding: 12px;
      }
    }
  }

  .view-skeleton-loading {
    width: 100%;
    height: 100%;
    // background: #fff;
    padding: 12px;

    .skeleton-element {
      height: 32px;
      margin-bottom: 13px;
      border-radius: 2px;

      &::after {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.03) 25%, rgba(0, 0, 0, 0.06) 37%, rgba(0, 0, 0, 0.03) 63%);
      }
    }

    .skeleton-element-row {
      display: flex;
      height: 260px;
      margin: 20px 0 30px;

      .skeleton-element-row-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 33%;
        height: 100%;
        margin-right: 24px;
        background: rgba(0, 0, 0, 0.03);
        border-radius: 2px;
        box-shadow: 0 2px 6px 0 #19192914;

        &:last-child {
          margin-right: 0;
        }

        .skeleton-icon {
          font-size: 54px;
          font-weight: 900;
          color: #dfe0e5;
        }
      }
    }
  }
}

.panel-metric-chart-view-empty {
  height: 100%;
  padding-top: 18%;
}
