.log-context-dialog-main {
  .bk-dialog-body {
    padding: 0;

    .bk-resize-layout-aside-content {
      overflow: visible !important;
    }
  }

  .bk-resize-collapse {
    background: #3a84ff !important;
  }

  .bk-resize-layout-aside {
    position: relative;
    z-index: 10;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, .04);

    &::after {
      display: none;
    }
  }

  .dialog-related-log-page {
    height: 100%;
  }
}
