.handler-list {
  width: 33%;
  height: 100%;
  border-right: 1px solid #eaebf0;

  .handler-list-head {
    display: flex;
    width: 100%;
    padding: 16px 12px 8px;

    .head-input {
      // width: calc(100% - 40px);
      border: 0;
      background: #f0f1f5;

      .bk-input--text {
        background: #f0f1f5;
        color: #313238;

        &::placeholder {
          color: #979ba5;
        }
      }

      .bk-input--clear-icon {
        font-size: 14px !important;
      }

      .bk-input--suffix-icon {
        background: inherit;
        color: #979ba5;
        font-size: 16px;
      }
    }

    .is-focused {
      border: 1px solid #3a84ff;
      box-shadow: none !important;
      background: #fff;

      .bk-input--text {
        background: #fff;
      }
    }

    .head-btn {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-left: 8px;
      font-size: 18px;
      line-height: 32px;
      color: #979ba5;
      text-align: center;
      cursor: pointer;
      border: 1px solid #c4c6cc;
      border-radius: 2px;
    }
  }

  .handler-list-main {
    width: 100%;
    height: calc(100% - 58px);

    .search-exception {
      .bk-exception-img {
        width: auto;
        height: 160px;
      }

      .bk-exception-footer {
        margin-top: 0;

        .exception-title {
          font-size: 14px;
          color: #313238;
        }

        .exception-desc {
          padding: 0 20px;
          margin-top: 8px;
          color: #979ba5;
          overflow-wrap: break-word;
        }
      }

      .clear-btn {
        margin: 8px 2px 0px;
        color: #3a84ff;
        cursor: pointer;
      }
    }

    .list-item {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      padding: 0 12px;
      color: #63656e;
      cursor: pointer;

      &.active {
        color: #3a84ff;
        background: #f0f5ff;

        .item-total {
          color: #3a84ff;
        }
      }

      &:hover {
        background: #f5f7fa;
      }
    }

    .item-line {
      display: block;
      width: calc(100% - 24px);
      height: 1px;
      margin: 8px 0 8px 12px;
      background: #f0f1f5;
    }

    .item-head {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background: #c4c6cc;
      border-radius: 50%;
    }

    .item-name {
      display: inline-block;
      width: 69%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .item-total {
      position: absolute;
      right: 12px;
      display: inline-block;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      color: #a3b1cc;
      border-radius: 8px;
      font-family: 'Menlo,Monaco,Consolas,Courier,monospac';
      font-weight: 700;
    }

    .item-icon {
      position: absolute;
      right: 6px;
      font-size: 26px;
      color: #1cab88;
    }
  }
}

.sort-popover {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 4px 0 !important;

  .sort-item {
    display: block;
    width: 100%;
    height: 32px;
    padding: 0 12px;
    line-height: 32px;
    color: #63656e;
    cursor: pointer;

    .search-btn-icon {
      margin-right: 4px;
    }

    &:hover,
    &.active {
      color: #3a84ff;
      background: #e1ecff;

      .search-btn-icon {
        color: #3a84ff;
      }
    }
  }
}
