.common-nav-bar.navigation-bar {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(64, 112, 203, 0.06);

  &.detail-bar {
    box-shadow: none;
  }

  .nav-append-wrap {
    margin-left: auto;
  }

  .navigation-bar-list {
    flex: initial;
    line-height: 21px;
    white-space: nowrap;
  }

  .bar-item {
    display: flex;
    align-items: center;
    height: 21px;
    line-height: 21px;

    .item-split {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: #c4c6cc;
    }

    .item-name {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #313238;
      cursor: initial;

      &.only-title {
        font-size: 16px;
      }

      &.parent-nav {
        color: #3a84ff;
        cursor: pointer;
      }

      .item-name-text {
        display: inline-block;
        height: 20px;
        line-height: 20px;
      }

      .item-sub-name {
        margin-left: 8px;
        font-size: 12px;
        line-height: 20px;
        color: #63656e;
      }
    }

    .arrow-wrap {
      width: 26px;
      height: 26px;
      margin-left: 1px;
      font-size: 12px;
      line-height: 26px;
      color: #979ba5;
      text-align: center;
      background-color: transparent;
      border-radius: 2px;

      &:hover {
        background-color: #f0f1f5;
      }

      &.active {
        color: #3a84ff;
        background-color: #e1ecff;
        transform: rotateZ(180deg);
      }
    }

    .skeleton-element {
      width: 100px;
      height: 21px;
    }
  }
}

.nav-bar-select-popover-theme.light-theme {
  padding: 0;

  .nav-bar-select-popover-content {
    width: 127px;
    height: 200px;
    margin-top: 4px;
    overflow-y: auto;
    background-color: #fff;

    .item {
      width: 100%;
      height: 32px;
      padding: 0 12px;
      overflow: hidden;
      line-height: 32px;
      color: #63656e;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background-color: #f5f7fa;
      }

      &.active {
        color: #3a84ff;
        background: #e1ecff;
      }
    }

    .empty {
      width: 100%;
      line-height: 200px;
      color: #63656e;
      text-align: center;
    }
  }
}
