// color
$primary-color: #3a84ff;
$success-color: #2dcb56;
$warning-color: #ff9c01;
$danger-color: #ea3636;
$default-color: #63656e;

// font
$font-size-base: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

$font-color-base: $default-color;


$line-height-base: 16px;
$line-height-medium: 16px;
$line-height-large: 18px;


$component-size-small: 26px;
$component-size-base: 32px;
$component-size-large: 38px;


$border-color-base: #dcdee5;
$border-color-disable: #dcdee5;
$border-width-base: 1px;
$border-style-base: solid;
$border-radius-base: 2px;
