@mixin span-row-border($boderColor) {
  &:before,
  &:after {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 1px;
    content: '';
    background-color: $boderColor;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  .span-name-column::before {
    position: absolute;
    left: 0;
    z-index: 9;
    width: 1px;
    height: 100%;
    content: '';
    background-color: $boderColor;
  }

  .span-view::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 1px;
    height: 100%;
    content: '';
    background-color: $boderColor;
  }
}

/** 默认状态 奇偶间隔背景色 */
.span-row {
  height: 28px;
  background-color: #fff;

  &:hover {
    background-color: #F1F2F5;
  }

  &.is-odd-row {
    background-color: #f8f9fc;

    &:hover {
      background-color: #EDEEF3;
    }
  }

  /** 搜索匹配状态 */
  &.is-matching-filter {
    background-color: #FFF3E1;

    &:hover {
      background-color: #F1EBE3;
    }

    &.is-odd-row {
      background-color: #FFEBCC;

      &:hover {
        background-color: #F1E6D6;
      }
    }
  }

  .span-name-column {
    position: relative;
    z-index: 1;
    white-space: nowrap;

    &:hover {
      z-index: 1;
    }
  }

  &.clipping-left {
    .span-name-column::before {
      position: absolute;
      left: 100%;
      z-index: -1;
      width: 6px;
      height: 28px;
      content: " ";
      background-image: linear-gradient(to right, rgba(25, 25, 25, .25), rgba(32, 32, 32, 0));
    }
  }

  .span-name-wrapper {
    display: flex;
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    border-right: 1px solid #DCDEE5;
  }

  &.is-expanded {
    .span-name-wrapper {
      background: #f0f0f0;
      box-shadow: 0 1px 0 #ddd;
    }

    &.is-matching-filter {
      background: #fff3d7;

      .span-view {
        background: #fff3d7;
      }
    }

    .span-view {
      background: #f8f8f8;
    }

    &:hover .span-view {
      background: #eee;
    }
  }

  .span-name {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding-right: .25em;
    padding-left: 9px;
    color: #979ba5;
    cursor: pointer;
    outline: none;

    &::before {
      position: absolute;
      top: 6px;
      bottom: 6px;
      left: 0;
      content: " ";
      border-left: 3px solid;
      border-left-color: inherit;
    }

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1000px;
      content: " ";
      background: transparent;
    }

    &:focus {
      text-decoration: none;
    }

    &.is-detail-expanded::before {
      bottom: 0;
    }

    &:hover .endpoint-name {
      color: #313238;
    }
  }

  .endpoint-name {
    margin-left: 4px;
    font-size: 12px;
    color: #979ba5;

    &.label {
      margin: 0;
    }
  }

  .span-svc-name {
    display: flex;
    display: inline-block;
    flex: 1;
    width: 0;
    padding: 0 6px 0 4px;
    overflow: hidden;
    font-size: 14px;
    color: #313238;
    text-align: left;
    text-overflow: ellipsis;

    .read-service {
      color: #7200FF;
      text-decoration: underline;
    }

    &.is-rtl {
      direction: rtl;
    }
  }

  .error-icon,
  .service-icon {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }

  .span-view {
    position: relative;
  }

  &.clipping-right {
    .span-view::before {
      position: absolute;
      right: 0%;
      width: 6px;
      height: 100%;
      content: " ";
      background-image: linear-gradient(to left, rgba(25, 25, 25, .25), rgba(32, 32, 32, 0));
    }
  }

  .span-bar-row-error-icon {
    padding: 1px;
    margin-right: 6px;
    font-size: 12px;
    color: #fff;
    background: #db2828;
    border-radius: 6.5px;
  }

  .span-bar-row-arrow-icon {
    position: relative;
    top: 3px;
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }

  .span-bar-row-rpc-color-marker {
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 1px;
    margin-right: 6px;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 6.5px;
  }

  .collapsed-mark {
    position: relative;
    z-index: 1;
    padding: 0 4px;
    margin-right: 4px;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    background-color: #a2afd2;
    border-radius: 12px;
  }

  .icon-collapsed {
    position: relative;
    z-index: 1;
    margin-right: 4px;
    font-size: 14px;
  }

  /** 筛选边框高亮 */
  &.is-focus-matching {
    @include span-row-border(#FFB848);

    .cross-app-span::before {
      position: absolute;
      left: 0;
      z-index: 9;
      width: 1px;
      height: 100%;
      content: '';
      background-color: #FFB848;
    }
  }

  /** 当前选中状态 */
  &.is-active-matching {
    @include span-row-border(#3A84FF);

    .cross-app-span::before {
      position: absolute;
      left: 0;
      z-index: 9;
      width: 1px;
      height: 100%;
      content: '';
      background-color: #3A84FF;
    }
  }

    /** 已读状态 */
  .have-read-mark {
    position: absolute;
    top: 10px;
    left: -10px;
    width: 6px;
    height: 6px;
    background-color: #699DF4;
    border-radius: 50%;
  }

  /** 当前选中状态 */
  &.is-active-matching {
    &:before,
    &:after {
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 1px;
      content: '';
      background-color: #3A84FF;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: -1px;
    }

    .span-name-column::before {
      position: absolute;
      left: 0;
      z-index: 9;
      width: 1px;
      height: 100%;
      content: '';
      background-color: #3A84FF;
    }

    .span-view::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      width: 1px;
      height: 100%;
      content: '';
      background-color: #3A84FF;
    }
  }

  .cross-app-span {
    .span-name-wrapper {
      font-size: 14px;
      background-color: #D9E1FC;

      &.is-matching-filter {
        background-color: #FFF3E1;

        &:hover {
          background-color: #F1EBE3;
        }

        &.is-odd-row {
          background-color: #FFEBCC;

          &:hover {
            background-color: #F1E6D6;
          }
        }
      }

      &.is-disabled {
        opacity: 0.6;
      }

      .cross-span-name {
        display: flex;
        align-items: center;

        .cross-tag {
          display: inline-block;
          width: 52px;
          height: 18px;
        }

        .cross-span-name {
          margin: 0 4px;
          color: #4C4E57;
        }

        .cross-description {
          font-size: 12px;
          color: #979BA5;
        }
      }
    }
  }
}
