.v3-search-bar-root {
  position: sticky;
  top: 0;
  z-index: 4;
  margin: 0 8px;
  box-shadow: 0 2px 4px 0 rgba(25, 25, 41, 0.0784313725);

  &.is-sticky-top {
    margin: 0;

    .v3-ai-mode-root {
      background-color: #fff;
      margin: 0 8px 8px 8px;
    }

  }

  .bklog-ai-edit-btn {
    font-size: 12px;
    color: #313238;
    width: max-content;
    background-image: linear-gradient(-79deg, #F1EDFA 0%, #EBF0FF 100%);
    border-radius: 16px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
      background-image: linear-gradient(-79deg, #E7E1FA 0%, #E0E9FF 100%);
    }
  }
}
.fix-search-bar{
  width: calc(100vw - var(--left-collection-width) - 20px);
}