.fingerprint-setting {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  height: 32px;
  font-size: 12px;
  line-height: 24px;

  .is-near24 {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      margin-left: 4px;
      line-height: 16px;
      cursor: pointer;
    }
  }

  .split-line {
    margin: 0 16px 0 8px;
    width: 1px;
    height: 16px;
    background: #dcdee5;
  }
}

.quick-filter-trigger-main {
  width: 84px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #f0f1f5;
    border-radius: 2px;
  }

  .trigger-icon {
    font-size: 14px;
    margin-right: 5px;
  }
}

.quick-filter-selected-ext {
  .bk-option {
    .bk-checkbox-text {
      font-size: 12px;
    }

    &.is-selected {
      background: none !important;
    }
  }

  .bk-option:hover {
    background: #f4f6fa;
  }
}
