.bklog-v3-object-view-item {
  .bk-label {
    .bk-label-text {
      color: #83868f;
    }
  }

  .bk-form-content {
    font-size: 12px;
    color: #4d4f56;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
