.collapse-item {
  margin-bottom: 16px;
  .bk-collapse-item-hover:hover {
    color: unset;
  }
  &-bold {
    .bk-collapse-item-header {
      height: 32px;
      line-height: 32px;
      background: #f5f6fa;
      border-radius: 2px;
    }
    .bk-collapse-item-content {
      padding: 16px 0 8px 0;
    }
  }
  &-filter {
    .bk-collapse-item-header {
      height: 24px;
      line-height: 24px;
      background: #f5f6fa;
      border-radius: 2px;
    }
    .bk-collapse-item-content {
      padding: 12px 10px 0 10px;
    }
  }
}
.group-title {
  display: flex;
  align-items: center;
  &.filter {
    justify-content: space-between;
    .title-left {
      display: flex;
      align-items: center;
      .icon-angle-right {
        display: inline-block;
        font-size: 14px;
        margin-right: 4px;
      }
      .name {
        color: #979ba5;
        font-size: 12px;
      }
    }
    .icon-mc-clear {
      font-size: 12px;
      color: #979ba5;
    }

    .icon-a-Clearqingkong {
      font-size: 13px;
      line-height: 1;
    }
  }
  &.bold {
    .icon-angle-right {
      font-size: 24px;
    }
    .name {
      color: #313238;
      font-weight: 700;
    }
  }
  .icon-angle-right {
    transition: transform .2s ease-in-out;
    &.expand {
      transform: rotate(90deg);
    }
  }

  .icon-mc-arrow-down {
    margin-right: 4px;
    font-size: 12px;
    transition: transform .2s ease-in-out;
    transform: rotate(-90deg) scale3d(.8, .8, .8);
    &.expand {
      transform: rotate(0) scale3d(.8, .8, .8);
    }
  }
}
