/* stylelint-disable declaration-no-important */
.aggregation-select {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-content-wrap {
    width: 280px;
    padding: 12px;
    .panel-header {
      display: flex;
      gap: 8px;

      .panel-btn {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 32px;
        font-size: 12px;
        color: #c4c6cc;
        cursor: pointer;
        background-color: #4d4f52;
        border-radius: 2px;
        transition: all 0.2s;

        &.is-active {
          color: #cddffe;
          background-color: #505f7b;
        }
      }
    }

    .info-tips {
      display: flex;
      align-items: center;
      padding: 6px 8px;
      margin: 8px 0;
      font-size: 12px;
      color: #c4c6cc;
      background-color: #293652;
      border-radius: 2px;

      i {
        flex-shrink: 0;
        margin-right: 8px;
        font-size: 14px;
        color: #3a84ff;
      }

      span {
        line-height: 20px;
      }
    }

    .switcher-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .switcher-item {
        background-color: #34383d;
        border-radius: 4px;

        &-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          line-height: 20px;
          .switcher-label {
            color: #f0f1f5;
            .label-num {
              display: inline-flex;
              margin-right: 3px;
            }
          }

          .switcher-action {
            display: flex;
            align-items: center;
            gap: 12px;

            .reset-btn {
              color: #699df4;
              cursor: pointer;
              user-select: none;
            }
          }
        }

        &-content {
          padding: 8px;
          border-top: 1px solid #28292e;

          .content-search {
            display: flex;
            width: 100%;

            .bk-input {
              background-color: #34383d !important;
              border-bottom-color: #63656e !important;

              input {
                color: #fff !important;
                background-color: #34383d !important;

                &::placeholder {
                  color: #979ba5;
                }
              }

              .show-clear-only-hover {
                background: #34383d !important;
              }

              .search-icon {
                font-size: 16px;
                color: #979ba5;
              }
            }
          }

          .content-tree {
            position: relative;
            max-height: 300px;
            min-height: 120px;
            overflow-y: auto;
            margin-top: 2px;

            .bk-tree {
              color: #979ba5;
              font-size: 12px;

              .bk-node-content {
                .bk-checkbox {
                  margin-right: 4px;
                }
              }
              .bk-node-row {
                padding-left: 0;
                &:hover {
                  background-color: transparent;
                }
              }

              .is-selected {
                background-color: transparent !important;
              }

              .bk-tree-node .bk-node-action {
                color: #979ba5;
              }

              .bk-exception-img {
                img {
                  content: url('../../../static/img/no-data.svg');
                  width: 145px;
                  height: 100%;
                }
              }
              .bk-exception-footer {
                margin-top: 0;
              }
            }

            .tree-empty.exception-wrap {
              position: relative;
              top: unset;
              left: unset;
              transform: none;
              display: flex;
              justify-content: center;
              padding: 16px 0;

              .bk-exception-img {
                width: 145px !important;
              }

              .exception-title {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  &-trigger {
    display: flex;
    align-items: center;
    height: 40px;
    color: #c4c6cc;

    .trigger-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.aggregation-select-popover {
  padding: 0 !important;
  background-color: #434547 !important;
  border: 1px solid #454547 !important;
  border-radius: 2px !important;
  box-shadow: 0 2px 6px 0 #00000080;

  .bk-popover-content {
    padding: 0 !important;
  }
}

/** 非 macOS 下修正 switcher 圆点位置 */
.aggregation-select-content-wrap.non-mac {
  .bk-switcher-small::after {
    top: 2px;
  }
}
