/* stylelint-disable declaration-no-important */
.failure-topo {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2c2d30;

  .failure-topo-graph-zoom {
    position: absolute;
    right: 16px;
    bottom: 12px;
    display: flex;
    align-items: center;
    width: 260px;
    height: 32px;
    padding: 0 4px;
    background: #454547;
    border: 1px solid #4f4f52;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 #00000080;

    .failure-topo-graph-zoom-slider {
      display: flex;
      flex: 1;
      align-items: center;
    }

    .slider {
      width: 125px;
      height: 4px;

      .bk-slider-runway {
        background: #5c5c5c !important;

        .bk-slider-button {
          z-index: 998;
        }
      }

      .slider-button {
        background: #5c5c5c;
      }
    }

    .failure-topo-graph-legend-active {
      color: #699ef4 !important;
      background: #5c5c5c !important;
    }

    .failure-topo-graph-proportion {
      margin: 0 6px;
    }

    .failure-topo-graph-legend,
    .failure-topo-graph-proportion,
    .failure-topo-graph-setting {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      font-size: 16px;
      color: #c5c7cd;
      cursor: pointer;
      background: #454547;
      border-radius: 2px;

      &.disabled {
        color: #7e7e7f;
        cursor: not-allowed;
      }
    }

    .failure-topo-graph-legend,
    .failure-topo-graph-proportion {
      &:hover {
        background: #5c5c5c !important;
      }
    }

    .failure-topo-graph-line {
      width: 1px;
      height: 16px;
      margin: 0 4px;
      background: #666;
    }
  }

  .failure-topo-loading {
    width: 100%;
    height: calc(100% - 40px);
  }

  .topo-graph-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .topo-graph-wrapper-padding {
      position: relative;
      flex: 1;
      width: 100%;
      height: 100%;
      padding: 16px;
      background: #000;
    }

    .topo-graph {
      display: flex;
      flex: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  .g6-component-tooltip {
    z-index: 999;
    width: fit-content;
    padding: 0;
    color: #454547;
    background: none;
    border: 1px solid #454547 !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 6px 0 #00000080 !important;
  }

  .combo-label-tooltip {
    position: fixed;
    display: block;
    visibility: hidden;
    padding: 7px 14px;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    pointer-events: none;
    background: #333;
    border-radius: 4px;
    transform: translateY(-8px);

    p {
      padding: 0;
      margin: 0;
      font-size: 12px;
      line-height: 20px;
    }

    .combo-label-text {
      color: #c4c6cc;
    }
  }

  .node-detail-tips {
    padding: 7px 14px;
    color: #fff;
    background: #333;

    &_item {
      display: flex;
      justify-content: center;
      line-height: 24px;

      .item-label {
        display: inline-block;
        width: 60px;
        margin-right: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #c4c6cc;
        text-align: right;
        white-space: nowrap;
      }

      .item-value {
        flex: 1;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.failure-topo-play {

  .aggregation-select,
  .topo-tools-list {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.failure-topo-graph-legend-popover {
  left: 23px !important;
  padding: 8px 16px !important;
  background: #454547 !important;
  border-radius: 2px !important;
  box-shadow: 0 2px 6px 0 #00000080;
}

.failure-topo-tooltips-popover {
  z-index: 999;
  border: 1px solid #454547 !important;
  border-radius: 2px !important;
  box-shadow: 0 2px 6px 0 #00000080 !important;
}


.node-message-tooltip {
  transform: translateY(var(--offset, 0));

  .node-detail-tips {
    z-index: 999;
    border: 1px solid #454547 !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 6px 0 #00000080 !important;
  }
}
