.topo-tools {
  display: flex;
  flex: 0 0 40px;
  align-items: center;
  height: 40px;
  padding-right: 0px;
  padding-left: 12px;
  color: white;
  background-color: #494d52;
  box-shadow: 0px 2px 6px 0px #00000080;
  z-index: 1;

  &-agg {
    margin-left: auto;
    padding-left: 16px;
    border-left: 1px solid #14161a;
  }

  .topo-tools-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    font-size: 14px;
    color: #c4c6cc;
    cursor: pointer;
    border-left: 1px solid #14161a;
  }
}
