.strategy-detection-rules-side {
  .strategy-detection-rules-side-content {
    padding: 24px 40px;
  }
  .mt-32 {
    margin-top: 32px;
  }
  .mr-8 {
    margin-right: 8px;
  }
  .button-88 {
    width: 88px;
  }
}