<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>即将转入蓝鲸登录...</title>
        <link href="${STATIC_URL}css/bk.css" rel="stylesheet">
    </head>
    <body style="font-family:Microsoft Yahei;">
        <div class="errors-login-wrap box" style="position: absolute;top: 50%;left: 50%;margin-top: -187px;margin-left: -100px;">
            <img src="${STATIC_URL}img/expre_login.jpg" width="183" height="113" />
            <div class="errors-login-con clearfix">          
                <h1>您需要登录蓝鲸</h1>
                <p><strong>看起来：</strong></p>
                <p>1.您还没有登录蓝鲸</p>
                <p>2.您之前的登录已经失效了</p> 
                <a href="javascript:;" class="btn-jump f_r" onclick='login()'>立即登录</a>
            </div>
        </div>


        <script type="text/javascript">
            var static_url = '${STATIC_URL}';
            var refer_url = "${refer_url}";
        </script>

        <script src="${STATIC_URL}js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="${STATIC_URL}account/login.js"></script>

        <script type="text/javascript">
            $(function(){
                login();
            })
            
            function login(){
                // 仅触发弹框
                $.get(refer_url, {}, function(){}, 'json');

                window.close_login_dialog_after = function () {
                    window.location.href = refer_url;
                }
            }
        </script>
    </body>
</html>
