.clustering-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0 12px;

  .operations-main {
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    height: 28px;
    color: #63656e;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .right-operation-main {
      display: flex;
      align-items: center;
    }
  }

  .tags-main {
    width: 100%;
    margin-bottom: 8px;

    .bk-tag {
      margin: 0 4px 0 0;
      background: #fafbfd;
      border: 1px solid #dcdee5;
      color: #4d4f56;
    }
  }
}
