/* stylelint-disable declaration-no-important*/
.chart-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 2px;
  background: #fff;

  &.hover-style {
    box-shadow: 0px 2px 4px 0px rgba(25,25,41,.05); 
  }

  .loading-icon {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 1000;
  }
  
  &.is-collapsed {
    border: 1px solid transparent !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  &.hover-style {
    &:hover {
      box-shadow: 0px 2px 4px 0px rgba(25,25,41,.05), 0px 2px 4px 0px rgba(0,0,0,.10);

      &.is-collapsed {
        box-shadow: none;
        background: transparent;
        border: 1px solid transparent;
      }
      // &.grafana-check {
      //   border-color: #3a84ff !important;
      // }
      .check-mark {
        display: block;
      }
    }
  }

  &.is-checked {
    // border-color: #3a84ff !important;
    .check-mark {
      border-color: #3a84ff #3a84ff transparent transparent !important;;
      display: block;
    }
  }

  .check-mark {
    position: absolute;
    right: -1px;
    top: -1px;
    border-width: 14px;
    border-color: #dcdee5 #dcdee5 transparent transparent;
    border-style: solid;
    display: none;
    border-radius: 2px;
    z-index: 999;

    &:hover {
      cursor: pointer;
      border-color: rgba(58,132,255,.6) rgba(58,132,255,.6) transparent transparent;
    }

    &::after {
      content: ' ';
      width: 4px;
      height: 8px;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
      position: absolute;
      top: -12px;
      left: 3px;
      transform: rotate(45deg) scaleY(1);
    }
  }

  .monitor-echart-common {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;
    z-index: 999;
    background-color: white;

    &-header {
      flex: 0 0 46px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 46px;
    }

    &-content {
      flex: 1;
      display: flex;
      width: 100%;
      height: calc(100% - 46px);
      flex-direction: column;

      &.right-legend {
        flex-direction: row;
      }

      .chart-instance {
        flex: 1;
        display: flex;
        flex-grow: 2;
      }

      .chart-legend {
        max-width: 100%;
        max-height: 40%;
        overflow: auto;
        height: auto;
        min-height: 1px;
        position: relative;

        &.right-legend {
          max-width: 40%;
          max-height: 100%;
        }
      }
    }
  }

  .empty-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
  }

  .is-error {
    position: absolute;
    left: -1px;
    top: -1px;
    border-width: 12px;
    border-color: #e0226e transparent transparent #e0226e;
    border-style: solid;
    display: block;
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    z-index: 999;

    &::after {
      content: '!';
      width: 4px;
      height: 8px;
      position: absolute;
      top: -12px;
      left: -6px;
    }
  }
}

.chart-wrapper-error-tooltip {
  .tippy-tooltip {
    background-color: #e0226e !important;
    max-width: 400px;

    .tippy-arrow {
      border-top: 8px solid #e0226e !important;
    }
  }
}