/* stylelint-disable declaration-no-important */
.dashboard-panel {
  // overflow: visible;
  flex: 1;
  width: 100%;
  height: 100%;
  // max-height: 300px;
  overflow: auto;
  overflow-x: hidden;

  .vue-grid-layout {
    background: #f5f7fa;

    .vue-grid-item {
      touch-action: none;
      border: 2px solid transparent !important;
      transition: none !important;

      &.resizing {
        opacity: 1;
      }

      &:not(.vue-grid-placeholder) {
        background: transparent;
        border: 0;
      }

      &.vue-grid-placeholder {
        background-color: steelblue;
      }

      .vue-resizable-handle {
        z-index: 8 !important;
      }

      &.vue-draggable-dragging {
        z-index: 10 !important;
        background-color: white !important;
      }

      &.no-border {
        border: 0;
      }

      &.row-panel {
        .vue-resizable-handle {
          display: none !important;
        }
      }

      &.scroll-in:not(.row-panel) {
        border-color: #3a84ff !important;
      }

      &:hover {
        z-index: 9;
      }
    }
  }

  .single-chart-content {
    height: 100%;
    padding: 16px;
    overflow: hidden;

    .single-chart-main {
      height: 100%;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(25,25,41,.05);

      &.has-btn {
        height: calc(100% - 20px);
      }
    }

    .single-chart-header {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      // padding: 0 16px;
      height: 20px;
      margin-bottom: 8px;

      .header-title {
        font-size: 14px;
        color: #313238;
      }
    }

    .back-to-overview {
      display: flex;
      align-items: center;
      color: #3a84ff;
      cursor: pointer;

      .icon-double-up {
        display: inline-block;
        margin-top: 1px;
        font-size: 24px;
        transform: rotate(-90deg);
      }
    }

    .single-chart-wrap {
      height: 100%;

      .chart-wrapper {
        &.hover-style {
          box-shadow: initial;
        }
      }

      .draggable-handle {
        display: none;
      }
    }
  }

  &.empty-data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .flex-dashboard {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;

    &-item {
      display: flex;
      height: 256px;
      margin-right: 16px;
      margin-bottom: 8px;
      border: 2px solid transparent;

      &.scroll-in:not(.row-panel) {
        border-color: #3a84ff !important;
      }

      &.row-panel {
        flex: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        height: 32px !important;
      }
    }
  }
}