.strategy-view-dimensions-component {
  display: flex;
  flex-wrap: wrap;
  padding: 0 14px;

  .dimensions-panel-item {
    display: flex;
    align-items: center;
    height: 24px;
    margin-right: 5px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .item-title {
      padding: 0 10px;
      cursor: pointer;
      background: #f0f1f5;
      border: 1px solid #c4c6cc;
      border-radius: 2px 0px 0px 2px;
    }

    .item-content-select {
      min-width: 100px;
      margin-left: -1px;
    }
  }
  .bk-select.is-default-trigger.is-unselected:before,
  .bk-select-small .bk-select-angle {
    z-index: 1;
  }
}