.tab-from-wrapper {
  padding: 36px 40px;
  .tab-form {
    .bk-label {
      font-size: 12px;
    }
    .bk-form-item {
      width: 540px;
      margin-bottom: 16px;
    }
    .handle-footer {
      margin-top: 20px;
      .handle-btn {
        margin-right: 10px;
      }
    }
  }
}