.v3-bklog-toolbar {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #ffff;
  @media (max-width: 1366px) {
    .low-resolution-hide{
      display: none;
    }

    .low-resolution-show{
      display: block;
    }

    .box-right-option {
      .low-resolution-icon {
        width: 40px;
        padding: 0;
        margin: 0;

        .bklog-icon{
          margin: 0;
        }
      }
    }
    
  }

  .collection-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f0f1f5;
    border-radius: 2px;

    &.active {
      background-color: #e1ecff;
    }

    &:hover {
      background-color: #eaebf0;
    }
  }

  .low-resolution-show{
    display: none;
  }
}
