.manual-group-main {
  .search-input-main {
    margin: 8px 0;
  }

  .search-type-select {
    width: 96px;
    background: #fff;
    border: none;
  }
}

.bk-table-filter-panel-theme {
  .panel-checkbox-group {
    max-height: 300px;
    overflow-y: auto;
  }
}
