/* stylelint-disable declaration-no-important */
.failure-tags {
  position: relative;
  flex-shrink: 0;
  flex-basis: 40px;
  width: 100%;
  @keyframes text-ellipsis-animate {
    0% {
      overflow: unset;
      text-overflow: unset;
      white-space: unset;
    }

    50% {
      overflow: unset;
      text-overflow: unset;
      white-space: unset;
    }

    51% {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    100% {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .failure-root-tag {
    height: 20px;
    padding: 0px 3px;
    margin-right: 5px;
    line-height: 20px;
    color: white;
    background: #e71818;
    border-radius: 2px;

    &:hover {
      background: #e71818;
    }
  }

  .failure-tags-container {
    display: grid;
    grid-template-columns: 1fr calc(var(--icon-size) + var(--icon-padding-right));
    width: 100%;
    overflow: hidden;
    background: #ebeef5;
    box-shadow: 0 1px 2px 0 #0000001f;
    transition: calc(var(--animation-timeline) * 1s);
    transition-timing-function: ease-in-out;
    will-change: height;

    .failure-tags-main {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      min-height: 40px;
      min-width: 0;
      padding: 8px 16px 8px 40px;

      .failure-tags-item {
        display: flex;
        flex: 1;
        min-width: 0;
        margin-right: 28px;
        color: #63656e;

        &:first-child {
          .item-main {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .item-main {
          display: inline-block;
          flex: 1;
          min-width: 0px;
          height: 100%;
          overflow: hidden;
          line-height: 24px;
        }

        .item-label {
          display: inline-block;
          flex-shrink: 0;
          height: 100%;
          line-height: 24px;
          color: #313238;
        }

        .item-info {
          display: inline-block;
          width: 100%;
          line-height: 24px;

          .link-span {
            margin-left: 10px;
            color: #3a84ff;
            cursor: pointer;

            i {
              margin-right: 2px;
              font-size: 12px;
            }
          }
        }
      }

      .name-target {
        color: #3a84ff;
        cursor: pointer;
      }
    }

    .failure-tags-icon {
      padding-top: var(--icon-padding-top);
      padding-right: var(--icon-padding-right);

      .icon-monitor {
        display: inline-block;
        font-size: var(--icon-size);
        font-weight: 500;
        color: #63656e;
        transition: transform calc(var(--animation-timeline) * 1s);
        transform: rotate(0deg);
      }

      &:hover {
        cursor: pointer;

        .icon-monitor {
          color: #3a84ff;
        }
      }

      &.failure-tags-icon-collapse {
        .icon-monitor {
          transform: rotate(180deg);
        }
      }
    }

    .business-tag {
      color: #3a84ff;
      background: transparent;
    }

    .business-tag {
      padding: 0 4px !important;
      background-color: #fafbfd !important;
      // &.business-tag-collapse {
      //   color: #63656e !important;
      // }
    }

    .principal-tag {
      .bk-tag.bk-tag--default {
        padding: 0 4px;
        background-color: #fafbfd;
      }
    }
  }

  &.failure-tags-show-omit {
    .failure-tags-container {
      grid-template-rows: 0fr;

      .item-info {
        animation: calc(var(--animation-timeline) * 1s) text-ellipsis-animate;
        animation-fill-mode: forwards;
      }
    }
  }

  &.failure-tags-show-all {
    .failure-tags-container {
      grid-template-rows: 1fr;
      transition-timing-function: cubic-bezier(0, 0.98, 0.51, 0.83);

      .failure-tags-main {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }

  &.failure-tags-positions-absolute {
    z-index: 1;

    .failure-tags-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1002;
    }
  }

  .failure-tags-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
}
