.storage-status {
  &-title {
    font-size: 14px;
    font-weight: 600;
    color: #63656e;
  }

  &-content {
    margin-top: 16px;
  }

  .storage-info {
    .storage-status-content {
      padding-bottom: 28px;
      border-bottom: 1px solid #eaebf0;
    }
  }

  .storage-info-row {
    display: flex;
    gap: 80px;
    line-height: 32px;

    .storage-info-item {
      display: flex;
      min-width: 400px;

      .item-label {
        display: inline-block;
        width: 80px;
        margin-right: 8px;
        font-size: 12px;
        color: #63656e;
        text-align: right;
      }

      .item-value {
        font-size: 12px;
        color: #313238;
      }
    }
  }

  .physical-index,
  .field-info {
    margin-top: 24px;
  }
}
