/* stylelint-disable font-family-no-missing-generic-family-keyword */

/* stylelint-disable font-family-name-quotes */

/* stylelint-disable selector-class-pattern */
.vue3_retrieval-filter__qs-selector-options-component {
  display: flex;
  height: 400px;

  .mr-2 {
    margin-right: 2px;
  }

  .h-16 {
    height: 16px;
  }

  .wrap-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    .options-wrap {
      flex: 1;
      overflow-y: scroll;
      border-bottom: 1px solid #dcdee5;

      .option-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 32px;
        cursor: pointer;

        &.skeleton-item {
          padding: 0 12px;
        }

        &.scroll-loading {
          justify-content: center;

          img {
            width: 22px;
            height: 22px;
          }
        }

        &.main-item {
          .option-item-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin-right: 6px;

            .icon-monitor {
              width: 20px;
              height: 20px;
              font-size: 20px;
              line-height: 20px;
            }
          }

          .option-item-name {
            font-family: 'RobotoMono-Regular';
            font-size: 12px;
            color: #313238;
          }

          &.cursor-active,
          &:hover {
            background: #f5f7fa;

            .option-item-icon {
              .icon-monitor {
                color: #313238;
              }
            }

            &::after {
              position: absolute;
              top: 0;
              left: 0;
              width: 32px;
              height: 32px;
              content: '';
              background-color: rgb(0 0 0 / 10%);
            }
          }
        }

        .subtitle-text {
          position: absolute;
          top: 0;
          left: 36%;
          font-size: 12px;
          line-height: 30px;
          color: #979ba5;

          .subtitle-text-tag {
            padding: 2px 4px;
            color: #313238;
            background-color: #f4f6fa;
            border-radius: 2px;
          }
        }
      }
    }

    .favorite-wrap {
      // flex: 1;

      // max-height: 200px;
      padding: 0 12px;
      overflow-y: scroll;
      border-bottom: 1px solid #dcdee5;

      .favorite-wrap-title {
        margin-top: 6px;
        font-size: 12px;
        line-height: 22px;
        color: #313238;

        .favorite-count {
          color: #3a84ff;
        }
      }

      .favorite-item {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 18px;
        color: #4d4f56;
        cursor: pointer;

        .favorite-item-name {
          margin-right: 8px;
          font-weight: 700;
          color: #313238;
        }

        .favorite-item-content {
          color: #4d4f56;

          .highlight {
            color: #3a84ff;
          }
        }
      }

      .empty-status-container {
        padding: 0;
        margin-top: -20px;
      }
    }

    .key-help {
      display: flex;
      flex: 0 0 48px;
      align-items: center;
      height: 48px;
      padding-left: 16px;
      background: #fafbfd;

      .desc-item {
        display: flex;
        align-items: center;
        margin-right: 24px;

        .desc-item-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          background: #a3b1cc29;
          border: 1px solid #a3b1cc4d;
          border-radius: 2px;

          .icon-mc-arrow-down {
            font-size: 12px;
            color: #a3b1cc;

            &.up {
              rotate: 180deg;
            }
          }
        }

        .desc-item-name {
          margin-left: 4px;
          font-size: 12px;
          color: #7a8599;
        }

        .desc-item-box {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 16px;
          padding: 0 4px;
          font-size: 12px;
          font-weight: 700;
          color: #a3b1cc;
          background: #a3b1cc29;
          border: 1px solid #a3b1cc4d;
          border-radius: 2px;
        }
      }
    }
  }

  .wrap-right {
    min-width: 240px;
    background: #f5f7fa;
    border-left: 1px solid #dcdee5;
  }
}
