.extract-auth-manage {
  padding: 0 24px 20px;

  .king-table {
    .task-operation-container {
      display: flex;
      align-items: center;

      .task-operation {
        margin-right: 12px;
        color: #3a84ff;
        cursor: pointer;
      }
    }
  }
}
