.module-select-container {
  .tree-container {
    height: 440px;
    overflow: auto;

    .checkbox-container {
      padding: 0 0 7px 20px;
      line-height: 22px;
      border-bottom: 1px solid #dfdfdf;
    }
  }
} 