{{gettext("已汇总`%(collect_count)d`条`[%(level_name)s]`告警", collect_count=alarm.collect_count, level_name=level_name)}} {% if alarm.detail_url %}[列表详情]({{alarm.detail_url}}){% endif %}
**{{gettext("代表：")}}**
{{alert.alert_name | safe}} {% if alarm.detail_url %}[详情]({{alarm.example_detail_url}}){% endif %}
{{user_content | safe}}