{{gettext("%(notice_title)s", notice_title=notice_title)}}{{gettext("通知，")}}{{gettext("已汇总%(collect_count)d条%(level_name)s告警", collect_count=alarm.collect_count, level_name=level_name)}}
{{gettext("代表：")}}{{alert.alert_name | safe}}
{{user_content | safe}}