{{gettext("%(notice_title)s", notice_title=notice_title)}}{{gettext("notice ,the business %(bk_biz_name) , the rule %(strategy_name) triggered alarms", bk_biz_name=business.bk_biz_name, strategy_name=strategy.name, level_name=level_name)}}