.quick-create-subscription-slider {
  .bk-sideslider-content {
    height: calc(100vh - 60px);
    background-color: #f5f7fa;
  }

  .footer-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px 10px 24px;
    gap: 8px;
    background-color: #f5f7fa;
  }
}

.test-send-success-dialog-header {
  font-size: 20px;
  font-weight: bold;
  color: #313238;
  text-align: left;
}

.test-send-success-dialog-content {
  padding-top: 14px;
  margin-left: 30px;
}

.test-sending-result-dialog {
  .bk-dialog-header {
    /* stylelint-disable-next-line declaration-no-important */
    padding-bottom: 0 !important;
  }
}
