.dimension-analysis-data-table {
  position: relative;

  .operation-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #3a84ff;
    cursor: pointer;

    .icon-mc-triangle-down {
      margin-left: 4px;
      font-size: 16px;
    }
  }
}

.dimension-analysis-data-table-popover {
  min-width: 80px;
  min-height: 140px;
  max-height: 300px;
  overflow: auto;
  background: rgb(255 255 255);

  .selector-item {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    cursor: pointer;

    &:hover {
      color: rgb(58 132 255);
      background: rgb(225 236 255);
    }

    &.active {
      color: rgb(58 132 255);
      background: rgb(244 246 250);
    }
  }
}
