/* stylelint-disable declaration-no-important */
@import '../../../theme';

$hover-bg-grey: #f0f1f5;
$active-bg-blue: #e1ecff;

.page-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #63656e;
  background-color: white;

  .page-header {
    display: flex;
    flex: 0 0 50px;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 24px;

    &-name {
      display: flex;
      align-items: center;
      height: 24px;
      overflow: hidden;
      font-size: 16px;
      color: #313238;
    }

    &-tools {
      display: flex;
      align-items: center;
      margin-left: auto;
      white-space: nowrap;

      .tools-wrap {
        display: flex;
        align-items: center;

        .tools-button-groups {
          margin-left: 8px;
        }
      }
    }
  }

  .page-filters {
    z-index: 1;
    display: flex;
    width: 100%;
    box-shadow: 0px 3px 4px 0px rgba(64, 112, 203, .06),
      0px 1px 0px 0px #dcdee5;

    &-tab {
      flex: 1;
      width: calc(100% - 130px);

      .bk-tab-section {
        display: none;
      }

      .bk-tab-header {
        height: 38px !important;
        line-height: 38px !important;

        &-setting {
          height: 38px !important;
          line-height: 38px !important;
        }

        .bk-tab-scroll-controller {
          line-height: 38px !important;
        }
      }

      .bk-tab-label-list {
        height: 38px !important;
        line-height: 38px !important;

        .bk-tab-label-item {
          height: 38px !important;
          line-height: 38px !important;
        }
      }

      .tab-item-count {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        height: 18px;
        padding: 0 8px;
        margin-left: 4px;
        color: #63656e;
        background-color: #f0f1f5;
        border-radius: 11px;

        &.item-active {
          color: #3a84ff;
          background-color: #edf4ff;
        }
      }

      .bk-tab-add-custom {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 38px !important;
        line-height: 38px !important;
        background-color: initial;
        border-bottom: 0;

        .add-btn-wrap {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          cursor: pointer;
          border-radius: 50%;

          &:hover {
            background-color: #f0f1f5;
          }
        }

        .icon-mc-add {
          display: none;
          font-size: 24px;
          color: #979ba5;
        }
      }

      &:hover {
        .bk-tab-add-custom {
          .icon-mc-add {
            display: initial;
          }
        }
      }
    }

    &-tools {
      display: flex;
      align-items: center;
      margin-right: 24px;
      font-size: 16px;

      .page-filters-select {
        position: relative;

        .filter-search {
          .bk-select-angle {
            display: none;
          }
        }

        .icon-search {
          position: absolute;
          top: 8px;
          right: 6px;
          font-size: 16px;
          color: #63656e;
        }
      }

      .filter-search-wrap {
        position: relative;
        width: 230px;

        .search-icon {
          position: absolute;
          top: 50%;
          right: 10px;
          color: #c4c6cc;
          transform: translateY(-50%);
        }
      }

      .filter-search {
        width: 230px;

        .vue3-bk-search-select-container {
          border-top: 0;
          border-right: 0;
          border-left: 0;

          .search-nextfix {
            color: #63656e;
          }
        }

        &.bk-select {
          max-height: 32px;

          .bk-select-tag-container.is-focus {
            z-index: 99;
            height: 30px !important;
          }
        }
      }

      .tool-icon {
        margin-left: 3px;

        @include tool-icon(28px);

        &.icon-mc-tree {
          @include tool-icon(28px, 15px);

          &.icon-active {
            color: $primary-color;
            background-color: $active-bg-blue;
            border-radius: 2px;
          }
        }

        &.icon-active {
          color: $primary-color;
          background-color: $active-bg-blue;
          border-radius: 2px;
        }

        &:first-child {
          margin-left: auto;
        }

        &.panel-type-icon {
          @include tool-icon(28px, 15px);
        }
      }

      .overview-list-options {
        display: flex;
        margin-left: 3px;

        .overview,
        .list {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 26px;
          padding: 0 8px;
          font-size: 12px;
          color: #63656e;
          cursor: pointer;
          border: 1px solid #c4c6cc;

          .option-icon {
            font-size: 12px;
            color: #979ba5;
          }

          .option-text {
            margin-left: 2px;
          }
        }

        .overview {
          border-right: 1px rgba(0, 0, 0, 0);
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }

        .list {
          border-left: 1px rgba(0, 0, 0, 0);
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

        .overview,
        .list {
          &.active {
            background: $active-bg-blue;
            border: 1px solid $primary-color;

            .option-icon,
            .option-text {
              color: $primary-color;
            }
          }

          &.disable {
            cursor: not-allowed;
            background: #fafbfd;
            border: 1px solid #dcdee5;

            .option-icon,
            .option-text {
              color: #dcdee5;
            }
          }
        }
      }

      .filter-tool-wrap {
        position: relative;

        .filter-badge {
          position: absolute;
          top: -6px;
          right: -6px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 20px;
          height: 20px;
          font-size: 12px;
          color: #fff;
          background-color: #3a84ff;
          border: 2px solid #fff;
          border-radius: 50%;
        }
      }
    }
  }
}
