/* stylelint-disable selector-class-pattern */
.tapd-field-config-dialog {
  .bk-modal-header {
    .tapd-field-config-dialog-header {
      display: flex;
      gap: 8px;
      align-items: center;

      .dialog-header-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #313238;
      }

      .dialog-header-divider {
        width: 1px;
        height: 12px;
        background: #dcdee5;
      }

      .dialog-header-subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #979ba5;
      }
    }
  }

  .bk-modal-body {
    .bk-dialog-content {
      padding: 0;
      margin: 0;
    }

    .tapd-field-config-dialog-body {
      display: flex;
      flex-direction: column;
      padding: 20px 24px 24px;

      .dialog-tips {
        display: flex;
        gap: 14px;
        align-items: flex-start;
        padding: 6px 8px;
        margin-bottom: 24px;
        line-height: 20px;
        background: #f0f5ff;
        border: 1px solid #a3c5fd;
        border-radius: 2px;

        .icon-hint {
          flex-shrink: 0;
          font-size: 16px;
          color: #3a84ff;
        }

        .dialog-tips-content {
          flex: 1;
          padding: 0;
          margin: 0;
          font-size: 12px;
          color: #4d4f56;
          list-style: none;

          li {
            position: relative;
            padding-left: 12px;

            &::before {
              position: absolute;
              top: 8px;
              left: 0;
              width: 4px;
              height: 4px;
              content: '';
              background: #4d4f56;
              border-radius: 50%;
            }
          }
        }
      }

      .dialog-transfer {
        display: flex;
        height: 540px;
        min-height: 0;
        overflow: hidden;
        border: 1px solid #dcdee5;
        border-radius: 4px;

        .dialog-panel {
          display: flex;
          flex: 1;
          flex-direction: column;
          min-width: 0;

          &.dialog-panel-source {
            border-right: 1px solid #dcdee5;

            .dialog-panel-item {
              cursor: pointer;
            }
          }

          .dialog-panel-header {
            display: flex;
            gap: 8px;
            align-items: center;
            height: 44px;
            padding: 0 16px;
            background: #fafbfd;
            border-bottom: 1px solid #dcdee5;

            .dialog-panel-title {
              font-size: 12px;
              font-weight: 500;
              color: #313238;
            }

            .dialog-panel-divider {
              width: 1px;
              height: 12px;
              background: #dcdee5;
            }

            .dialog-panel-description {
              font-size: 12px;
              color: #979ba5;
            }
          }

          .dialog-panel-list {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 6px;
            min-height: 0;
            padding: 16px;
            overflow-y: auto;
            list-style: none;

            .dialog-panel-item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 44px;
              padding: 0 12px;
              font-size: 12px;
              background: #f5f7fa;
              border-radius: 4px;

              .item-left {
                .dialog-panel-item-name {
                  flex: 1;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #000;
                  white-space: nowrap;
                }
              }

              .item-right {
                display: flex;
                gap: 12px;
                align-items: center;

                .item-tag {
                  display: flex;
                  align-items: center;
                  height: 22px;
                  padding: 0 8px;
                  font-weight: 500;
                  line-height: 22px;
                  color: #8f9fbd;
                  background: #fff;
                  border-radius: 11px;

                  &.dialog-core-tag {
                    color: #fff;
                    background: #979ba5;
                  }
                }

                .dialog-panel-item-arrow {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  width: 16px;
                  height: 16px;
                  font-size: 26px;
                  color: #979ba5;
                }

                .item-required-operation {
                  display: flex;
                  flex-shrink: 0;
                  gap: 6px;
                  align-items: center;
                  cursor: pointer;

                  .dialog-required-label {
                    font-size: 12px;
                    color: #4d4f56;
                  }
                }

                .dialog-remove-btn {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 18px;
                  height: 18px;
                  font-size: 16px;
                  color: #c4c6cc;
                  cursor: pointer;
                  border-radius: 2px;
                }
              }

              &:hover {
                color: #3a84ff;
                background: #e1ecff;

                .dialog-panel-item-arrow {
                  color: #3a84ff;
                }
              }
            }
          }
        }
      }
    }
  }

  .bk-modal-footer {
    .tapd-field-config-dialog-footer {
      display: flex;
      gap: 8px;
      justify-content: flex-end;

      .bk-button {
        width: 60px;
      }
    }
  }
}
