.data-pipline-page {
  width: 100%;

  .mr24 {
    margin-right: 24px;
  }

  .head-operate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 24px 16px 24px;

    .left {
      .update-time {
        font-size: 12px;
        color: #63656e;
      }
    }

    .right {
      width: 320px;
    }
  }

  .table-content {
    padding: 0 24px 24px 24px;
    // max-height: calc(100vh - 220px);
    // overflow: auto;
    color: #63656e;

    .pipline-name {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon-mc-triangle-down {
        font-size: 24px;
        color: #c4c6cc;
        transition: 100ms all;
        transform: rotate(-90deg);

        &.active {
          color: #63656e;
          transform: rotate(0deg);
        }
      }
    }

    .count-status-info {
      display: flex;
      flex-direction: column;

      .name-info {
        display: flex;
        align-items: center;

        .icon-fenxiang {
          display: none;
          margin-left: 6px;
          color: #3a84ff;
          cursor: pointer;
        }
      }

      .count-status {
        display: flex;
        align-items: center;
        margin-top: 2px;

        &:nth-of-type(2) {
          margin-top: 4px;
        }

        .status-cube {
          width: 6px;
          height: 6px;
          background: #ffb848;

          &.status-1 {
            background: #58c989;
          }

          &.status-2 {
            background: #ea6864;
          }

          &:not(:first-of-type) {
            margin-left: 2px;
          }
        }
      }
    }

    .bk-table-row {
      &:hover {
        .count-status-info {
          .icon-fenxiang {
            display: block;
          }
        }
      }
    }

    .is-expanded-row {
      background: #fafbfd;
      box-shadow: 0 -1px 0 0 #dcdee5;

      .bk-table-expanded-cell {
        padding: 0;
        background: #fafbfd;

        &:hover {
          background: #fafbfd;
        }
      }

      .child-row {
        background: #fafbfd;
      }
    }

    .child-table {
      padding: 0 24px;
      color: #63656e;

      .data-name {
        line-height: 20px;

        .subtitle {
          color: #979ba5;
        }
      }

      .bk-table-empty-block {
        background: #fafbfd;
      }

      .bottom-loading {
        height: 24px;
      }
    }
  }
}
