.trace-explore-view {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  height: 100%;
  overflow-y: scroll;
  overflow-y: overlay;

  .trace-explore-view-chart {
    flex-shrink: 0;
  }

  .trace-explore-view-filter {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 44px;
    padding: 0 6px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height: 20px;
    color: #4d4f56;

    .bk-checkbox {
      font-size: inherit;
      color: inherit;

      & ~ .bk-checkbox {
        margin-left: 16px;
      }
    }
  }

  .trace-explore-view-table {
    flex-grow: 1;
    flex-basis: auto;
    width: 100%;
  }
}
