.language-en{
    .field-setting-wrap{
        width: 155px;
    }
    .original-log-panel .operation-icons .light-search .light-search-label{
        width: 60px;
    }
    .retrieve-tab-item-title .history-button{
        width: 110px;
    }
}