.language-en{
    .field-setting-wrap{
        width: 155px;
    }
    .original-log-panel .operation-icons .light-search .light-search-label{
        width: 60px;
    }
    .retrieve-tab-item-title .history-button{
        width: 110px;
    }
    .ui-query-options .ui-query-option-footer .ui-btn-opts .bk-button.cancel-btn{
        width: 84px;
    }
    .bklog-v3-grade-setting .grade-row.grade-footer button{
        width: 84px;
    }
}