.alarm-shield-set {
  margin: 20px 24px 70px;

  /* stylelint-disable-next-line declaration-no-important */
  min-height: inherit !important;
  .alarm-shield-scope {
    /* stylelint-disable-next-line declaration-no-important */
    padding: 40px 0 20px 30px !important;
  }
}