**{{ title }}**

**故障名称**: 【{{ level }}】{{ incident_name }}
**通知时间**: {{ notify_time }}
**影响业务**: {{ business_name }}
**故障根因**: {{ incident_reason }}
**故障状态**: {{ status }}
**故障持续时间**: {{ duration }}
**故障内告警数**: {{ number }}
**故障负责人**: {{ assignees }}

[查看详情]({{ url }})
