{{ title }}
故障:【{{ level }}】{{ incident_name }}
时间:{{ notify_time }}
业务:{{ business_name }}
状态:{{ status }}
持续:{{ duration }}
告警数:{{ number }}
负责人:{{ assignees }}
查看结果:{{ url }}{% if process_url %} 分析过程:{{ process_url }}{% endif %}