// roboto-Mono
.bklog-result-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  // width: fit-content;
  width: 100%;
  min-width: 100%;
  min-height: 400px;
  margin-top: 6px;
  border-top: solid 1px #dfe0e5;

  .bklog-requsting-loading {
    text-align: center;
    pointer-events: none;

    > div {
      height: 40px;
      line-height: 40px;
      color: #3a84ff; //var(--table-fount-color);
    }
  }

  .bklog-scroll-x {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 4;
    height: 14px;
    overflow-x: auto;
    background-color: transparent;

    > div {
      height: 1px;
      background-color: transparent;
    }
  }

  .bklog-row-box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 100%;
    transform: translate3d(var(--scroll-left), 0, 0);

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      content: '';
      background: repeating-linear-gradient(#f8f8f8, #f8f8f8 40px, #fff 40px, #fff 48px),
        linear-gradient(90deg, rgba(240, 240, 240, 0), rgba(224, 224, 224, 0.5), rgba(240, 240, 240, 0));
      background-repeat: no-repeat;
      background-size:
        100% 100%,
        50% 100%;
      // animation: loading-animation 1.5s infinite;
    }
  }

  .bklog-row-container {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: fit-content;
    min-width: 100%;
    min-height: 32px;
    background-color: #fff;
    border-bottom: 1px solid #dfe0e5;

    .bklog-row-observe {
      width: fit-content;
      min-width: 100%;
      height: 100%;

      &.is-pending {
        position: relative;
      }
    }

    .bklog-list-row {
      position: relative;
      box-sizing: border-box;
      display: inline-flex;
      align-items: flex-start;
      width: var(--scroll-width);
      min-width: fit-content;
      // min-height: 32px;
      padding: 4px 0;
      font-family: var(--table-fount-family);
      font-size: var(--table-fount-size);
      line-height: 32px;
      color: var(--table-fount-color);

      .bklog-row-cell {
        padding: 0px 12px;
        line-height: 22px;

        .bklog-expand-icon {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          font-size: 12px;
          color: #c4c6cc;
          cursor: pointer;

          > i {
            position: absolute;
          }

          &.is-expaned {
            > i {
              transition: transform 0.2s ease-in-out;
              transform: rotate(90deg);
            }
          }
        }

        &.right {
          position: absolute;
          right: 0;
          z-index: 2;
          display: flex;
          align-items: flex-start;
          height: 100%;
          height: 22px;
          background-color: #fff;

          .handle-content {
            position: relative;
            display: flex;
            justify-content: space-around;

            .handle-card {
              margin-left: 0;
            }
          }
        }

        &.header-cell {
          position: relative;
          display: inline;
          height: 32px;

          font-family: var(--table-fount-family);
          font-size: var(--table-fount-size);
          line-height: 32px;
          color: var(--table-fount-color);
          text-align: left;
          text-overflow: ellipsis;
          vertical-align: middle;
          cursor: pointer;
          background-color: #fafbfd;

          &.right {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
          }

          .bklog-header-cell {
            display: flex;
            align-items: center;
            height: 32px;
            font-weight: bold;
            line-height: 32px;
            color: #313238;

            .bk-table-caret-wrapper {
              position: relative;
              display: inline-flex;
              flex: 20px 0 0;
              flex-direction: column;
              align-items: center;
              height: 20px;

              .bk-table-sort-caret {
                position: absolute;
                width: 0;
                height: 0;
                border: 5px solid transparent;

                &.ascending {
                  top: -1px;
                  border-bottom-color: #c0c4cc;

                  &.active {
                    border-bottom-color: #3a84ff;
                  }
                }

                &.descending {
                  bottom: -1px;
                  border-top-color: #c0c4cc;

                  &.active {
                    border-top-color: #3a84ff;
                  }
                }
              }
            }
          }

          .field-type-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 16px;
            height: 16px;
            margin: 0 5px 0 0;
            font-size: 14px;
            color: #63656e;
            background: #dcdee5;
            border-radius: 2px;
          }

          .bklog-ext {
            min-width: 22px;
            height: 22px;
            transform: translateX(-3px) scale(0.7);
          }

          .toggle-display {
            position: absolute;
            top: 12px;
            right: 12px;
            display: none;
            color: #c4c6cc;
            cursor: pointer;

            &:hover {
              color: #ea3636;
            }

            &.is-hidden {
              visibility: hidden;
            }
          }

          .timer-formatter {
            transform: translateY(-1px);
          }

          .lack-index-filed {
            line-height: 20px;
            border-bottom: 1px dashed #63656e;
          }

          &.is-hidden {
            display: none;
          }

          &:hover {
            background-color: #f0f1f5;

            .toggle-display {
              display: inline-block;
            }
          }
        }

        &.is-hidden {
          display: none;
        }

        &.hidden-field {
          visibility: hidden;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        right: var(--fix-right-width);
        bottom: 0;
        z-index: 2;
        width: 8px;
        pointer-events: none;
        content: '';
        background-image: linear-gradient(270deg, #0000000f 0%, #00000000 100%);
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: var(--fix-right-width);
        content: '';
        background-color: #fff;
      }
    }

    .expand-view-wrapper {
      width: 100%;
      border-top: 1px solid #dfe0e5;

      .view-content {
        &.kv-view-content {
          .kv-list-wrapper {
            .kv-content {
              width: 100%;

              .log-item {
                .field-value {
                  width: 100%;

                  .bklog-text-segment {
                    &.is-text-show {
                      width: fit-content;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.is-intersecting {
      visibility: visible;
    }

    &.row-header {
      // position: sticky;
      // top: 0;
      z-index: 2;
      box-sizing: content-box;
      display: none;
      width: fit-content;
      min-width: 100%;
      height: 32px;
      line-height: 32px;
      visibility: visible;
      background-color: #fafbfd;

      .bklog-list-row {
        // position: sticky;
        z-index: 1;
        padding: 0;
      }
    }

    &:not(.row-header) {
      position: relative;

      .bklog-row-ai {
        position: absolute;
        top: 4px;
        right: 10px;
        z-index: 1;
        display: none;
        padding: 2px;
        opacity: 0;

        img {
          width: 20px;
          height: 20px;
        }
      }

      &:hover,
      &.ai-active {
        background-color: #fafbfd;

        .bklog-row-ai {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          opacity: 1;
          transition: opacity 0.3s;
        }
      }

      &::before {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 0;
        z-index: 1;
        width: 3.09px;
        content: '';
        background: #f59789;
        border-radius: 0 1px 1px 0;
        transform: translateX(var(--row-offset-left));
      }

      &.normal,
      &.TRACE {
        &::before {
          background: #dcdee5;
        }
      }

      &.DEBUG {
        &::before {
          background: #92d4f1;
        }
      }

      &.INFO {
        &::before {
          background: #6fc5bf;
        }
      }

      &.WARN {
        &::before {
          background: #f5c78e;
        }
      }

      &.ERROR {
        &::before {
          background: #f59789;
        }
      }
    }
  }

  .btn-scroll-top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #e9ecf1;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 #0000001f;
    transition: 0.3s;

    &.show-box {
      display: flex;
    }

    i {
      font-size: 24px;
      color: #3a84ff;
    }
  }

  .resize-guide-line {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none; /* Initially hidden */
    width: 1px;
    height: 100%;
    background-color: #3a84ff;
  }

  .bklog-empty-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      height: 28px;
      font-family: MicrosoftYaHei-Bold;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      color: #313238;
      letter-spacing: 0;
    }

    .sub-title {
      height: 22px;
      margin: 8px 0 24px 0;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 22px;
      color: #313238;
      letter-spacing: 0;
    }

    .empty-validate-steps {
      display: flex;
      justify-content: center;
      width: 100%;

      > div {
        width: 30%;
        height: 240px;
        padding: 12px 16px;
        font-size: 12px;
        color: #4d4f56;
        background: #f5f7fa;

        h3 {
          height: 22px;
          margin: 0;
          margin-bottom: 8px;
          font-family: MicrosoftYaHei-Bold;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          color: #313238;
          letter-spacing: 0;
        }

        &.validate-step1 {
          .step1-content {
            display: flex;
            width: 100%;
            padding: 6px 24px 32px 6px;

            font-family: MicrosoftYaHei;
            line-height: 20px;

            letter-spacing: 0;
          }
        }

        &.validate-step2 {
          margin: 0 16px;
          font-size: 12px;
          line-height: 20px;
          color: #4d4f56;
        }

        .segment-span-tag {
          color: #3a84ff;
          cursor: pointer;
        }
      }
    }
  }

  &.show-header {
    .bklog-row-container {
      &.row-header {
        display: block;
        transform: translate3d(var(--scroll-left), 0, 0);
      }
    }
  }

  &.has-scroll-x {
    .bklog-row-container {
      .bklog-list-row {
        .header-cell {
          &.right {
            position: sticky;
            right: var(--scroll-left);
            z-index: 1;
          }
        }
      }
    }

    .bklog-row-box {
      will-change: transform;

      .bklog-row-container {
        content-visibility: auto;

        .bklog-list-row {
          .bklog-row-cell {
            &.right {
              position: sticky;
              right: var(--scroll-left);
            }

            &.hidden-field {
              display: none;
            }
          }
        }
      }
    }
  }
}
