.bklog-row-observe {
  position: relative;
  height: fit-content;

  &.is-pending {
    @keyframes lazyanimloader {
      0% {
        box-shadow:
          14px 0 0 -2px,
          38px 0 0 -2px,
          -14px 0 0 -2px,
          -38px 0 0 -2px;
      }

      25% {
        box-shadow:
          14px 0 0 -2px,
          38px 0 0 -2px,
          -14px 0 0 -2px,
          -38px 0 0 2px;
      }

      50% {
        box-shadow:
          14px 0 0 -2px,
          38px 0 0 -2px,
          -14px 0 0 2px,
          -38px 0 0 -2px;
      }

      75% {
        box-shadow:
          14px 0 0 2px,
          38px 0 0 -2px,
          -14px 0 0 -2px,
          -38px 0 0 -2px;
      }

      100% {
        box-shadow:
          14px 0 0 -2px,
          38px 0 0 2px,
          -14px 0 0 -2px,
          -38px 0 0 -2px;
      }
    }

    &::before {
      position: absolute;
      top: 14px;
      left: 100px;
      box-sizing: border-box;
      display: block;
      width: 12px;
      height: 12px;

      /* margin: 15px auto; */
      color: #f0f1f5;
      visibility: visible;
      content: '';
      border-radius: 50%;
      transform: translateY(-50%);
      animation: lazyanimloader 2s linear infinite;
    }
  }
}
