.bklog-text-segment {
  position: relative;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
  font:
    12px Menlo,
    Monaco,
    Consolas,
    Courier,
    'PingFang SC',
    'Microsoft Yahei',
    monospace;
  font-size: 12px;
  text-align: left;
  word-break: break-all;
  white-space: pre-line;

  &.is-wheeling {
    .canvas-konva-front {
      pointer-events: all;
    }
  }

  .static-text {
    position: relative;
    width: 100%;
    line-height: 20px;
    cursor: pointer;
  }

  .canvas-konva-background,
  .canvas-konva-front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: transparent;

    canvas,
    div {
      background: transparent;
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  &.is-expand-all {
    max-height: max-content;
  }

  &.is-show-long {
    max-height: max-content;

    .btn-more-action {
      display: none;
    }
  }

  span {
    line-height: 20px;

    &.segment-content {
      span {
        font:
          12px Menlo,
          Monaco,
          Consolas,
          Courier,
          'PingFang SC',
          'Microsoft Yahei',
          monospace;
      }

      .last-placeholder {
        &:last-child {
          display: inline-block;
          min-width: 120px;
        }
      }
    }
  }

  .btn-more-action {
    position: absolute;
    right: 0;
    bottom: 0px;
    display: none;
    color: #3a84ff;
    cursor: pointer;
    background-color: #fff;

    &.is-show {
      display: block;
    }

    &.word-canvas {
      bottom: 0;
    }
  }

  &.is-inline {
    display: flex;
  }
}
