.index-select-tag-container {
  // height: auto;
  height: 30px;
  padding: 0 30px 0 10px;
  overflow: hidden;

  // &.is-fixed-height {
  // height: 30px;
  // }

  // &.is-focus {

  /* stylelint-disable-next-line declaration-no-important */
  // height: auto !important;
  // overflow: auto;
  // }

  .select-tag {
    display: inline-flex;
    align-items: center;
    height: 22px;
    padding: 0 5px;
    margin: 0 6px 0 0;
    font-size: var(--font-size);
    line-height: 22px;
    background: #f0f1f5;
    border-radius: 2px;

    &.width-limit-tag {
      display: inline-flex;
      width: 140px;

      span {
        width: 130px;
        height: 100%;
      }
    }
  }

  .tag-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .not-val {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    background: #ffe6e6;
    border: 1px solid #ea3636;
    border-radius: 50%;
  }

  .select-overflow-tag {
    display: inline-flex;
    min-width: 22px;
    padding: 0 5px;
    margin: 0 6px 0 0;
    font-size: var(--font-size);
    line-height: 22px;
    text-align: center;
    background: #f0f1f5;

    & ~ .select-tag {
      pointer-events: none;
      visibility: hidden;
    }
  }
}
