.table-operate-options-component {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &-more-items {
    display: flex;
    flex-direction: column;
    min-width: 68px;
    font-size: 12px;
    color: #63656e;
    border: 1px solid #dcdee5;

    .more-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 32px;
      padding: 0 10px;
      white-space: nowrap;
      background: #fff;

      &:hover {
        color: #3a84ff;
        cursor: pointer;
        background: #f0f1f5;
      }

      &.is-danger {
        color: #ea3636;
      }

      .icon-monitor {
        margin-right: 6px;
      }
    }

    .more-item.authority {
      color: #c4c6cc;

      &:hover {
        color: #c4c6cc;
      }
    }
  }

  .options-item {
    margin-right: 10px;
  }

  .option-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    .icon-more {
      font-size: 14px;
      color: #3a84ff;
    }

    &:hover {
      cursor: pointer;
      background: #ddd;
    }

    &.active {
      background: #ddd;
    }
  }
}
