.chat-group-dialog-wrap {
  .bk-dialog-header {
    padding-bottom: 10px;
  }

  .bk-modal-content {
    /* stylelint-disable-next-line declaration-no-important */
    padding-bottom: 26px !important;
  }

  .header {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    margin: 0 10px 0 16px;
    border-bottom: 1px solid #dcdee5;

    span {
      margin-left: 6px;
    }
  }

  .content {
    margin: 20px 10px 0 16px;

    .title {
      font-size: 12px;
    }

    .bk-form-checkbox {
      margin-right: 24px;

      .bk-checkbox-text {
        font-size: 12px;
      }
    }

    .bk-user-selector {
      width: 100%;

      /* stylelint-disable-next-line declaration-no-important */
      height: 76px !important;
      margin: 12px 0;
    }
  }
}
