.rum-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .rum-host-error {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }

  &-iframe {
    width: 100%;
    height: 100%;

    #app {
      width: 100%;
      height: 100%;
    }
  }
}
