.explore-condition-menu {
  width: 232px;
  padding: 4px 0;

  .menu-item {
    display: flex;
    column-gap: 4px;
    align-items: center;
    height: 32px;
    padding-right: 10px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #4d4f56;
    cursor: pointer;

    &:hover {
      background: #f5f7fa;
    }

    .icon-monitor,
    .item-suffix {
      flex-shrink: 0;
    }

    .hover-blue {
      &:hover {
        color: #3a84ff;
      }
    }

    span {
      flex: 1;
      min-width: 0;
    }
  }
}
