@import '../../../theme/index';

.metric-list-content {
  display: flex;
  border-top: 1px solid #DCDEE5;

  .left {
    position: relative;
    width: 0px;
    max-height: 614px;
    overflow: visible;
    background: #F2F5FA;
    border: 0;

    &.active {
      width: 260px;
      min-width: 260px;
    }

    .right-button {
      position: absolute;
      top: calc(50% - 72px);
      right: -16px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 72px;
      background: #DCDEE5;
      border: 1px solid #dcdee5;
      border-radius: 0 4px 4px 0;

      @include hover($cursor: pointer);

      .icon {
        font-size: 24px;
        color: #FFF;
      }

      div {
        margin: -4px 0 0 6px;
      }
    }

    .group-list {
      overflow: hidden;

      .group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 18px 6px 20px;
        margin-bottom: 4px;
        font-family: MicrosoftYaHei;
        font-size: 13px;
        line-height: 22px;
        color: #4D4F56;

        &.is-dragover {
          background-color: #F0F1F5;
        }

        .group-count {
          width: 20px;
          height: 20px;
          font-family: Menlo-Bold;
          font-size: 12px;
          font-weight: 700;
          color: #A3B1CC;
          text-align: center;
        }

        .icon-monitor {
          margin-right: 6px;
          font-size: 13px;
          color: #A3B1CC;
        }

        &:hover {
          cursor: pointer;
        }

        &.group-selected {
          color: #3A84FF;
          background-color: #E1ECFF;

          .icon-monitor, .group-count {
            color: #3A84FF;
          }
        }
      }

      .top-group {
        padding: 16px 0 4px;
        border-bottom: 1px solid #DCDEE5;

        .group-name {
          display: flex;
          align-items: center;

          .icon-monitor {
            font-size: 16px;
          }
        }
      }

      .custom-group-set {
        display: flex;
        justify-content: center;
        padding: 8px;

        .add-group {
          width: 32px;
          height: 32px;
          margin-right: 8px;
          font-size: 20px;
          line-height: 32px;
          color: #3A84FF;
          text-align: center;
          background: #CDDFFE;
          border-radius: 2px;

          &:hover {
            color: #FFFFFF;
            cursor: pointer;
            background-color: #3A84FF;
          }
        }

        .search-group {
          flex: 1;
        }
      }

      .custom-group {
        .group-popover {
          display: none;

          .icon-mc-more {
            margin-right: 0;
            color: #979BA5;
          }

          .more-operation {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            color: #63656e;
            text-align: center;
            cursor: pointer;
            border-radius: 50%;

            &:hover {
              background: #fff;
            }
          }
        }

        .group {
          position: relative;

          &:hover {
            background: #F0F1F5;

            .group-count {
              display: none;
            }

            .group-popover {
              display: block;
            }

            .item-drag {
              cursor: move;
              visibility: inherit;
            }
          }

          .item-drag {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 7px;
            height: 10px;
            font-size: 10px;
            color: #979BA5;
            visibility: hidden;
          }

          .group-name {
            display: flex;
            align-items: center;

            .icon-FileFold-Close {
              font-size: 16px;
            }
          }
        }
      }

      .empty-group {
        font-family: MicrosoftYaHei;

        .empty-tip {
          margin-top: 8px;
          font-size: 12px;
          color: #979ba5;
        }

        .empty-img {
          width: 220px;
          height: 100px;
          margin: 16px auto 8px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .empty-text {
          margin-bottom: 4px;
          font-size: 12px;
          line-height: 22px;
          color: #979BA5;
          text-align: center;
        }

        .add-group {
          margin-top: 30px;
          font-size: 12px;
          line-height: 20px;
          color: #3A84FF;
          text-align: center;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .right {
    flex: 1;
    min-width: 0;
    padding: 16px;
  }
}
