
.list-header {
  padding: 12px 16px 0;
  .head {
    display: flex;
    justify-content: space-between;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #3A84FF;
    line-height: 22px;
    .tabs {
      padding-bottom: 10px;
      .tab {
        &:hover {
          cursor: pointer;
        }
        padding-bottom: 11px;
        margin-right: 32px;
        &.active {
          border-bottom: 2px solid #3A84FF;
        }
      }
    }
    .tools {
      display: flex;
      .tool {
        display: flex;
        margin-left: 22px;
        .icon-monitor {
          font-size: 12px;
          margin-right: 2px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

