.timeseries-detail-page {
  width: 100%;
  height: 100%;
  .list-header {
    padding: 12px 16px 0;

    .head {
      display: flex;
      justify-content: space-between;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 22px;
      color: #3a84ff;

      .tabs {
        padding-bottom: 10px;

        .tab {
          padding-bottom: 11px;
          margin-right: 32px;
          color: #4d4f56;

          &:hover {
            cursor: pointer;
          }

          &.active {
            color: #3a84ff;
            border-bottom: 2px solid #3a84ff;
          }
        }
      }

      .tools {
        display: flex;

        .tool {
          display: flex;
          margin-left: 22px;
          font-size: 12px;

          .icon-monitor {
            margin-right: 2px;
            font-size: 12px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .timeseries-detail-page-content {
    width: 100%;
    height: calc(100% - 80px);
  }
}
