.collector-plugin-selector-component {
  width: 100%;

  .select-big {
    width: 500px;
  }
}

.collector-plugin-selector-component-options {
  .plugin-option {
    display: flex;
    align-items: center;
    font-size: 12px;

    .plugin-logo {
      flex: 0 0 22px;
      width: 22px;
      height: 22px;
      font-weight: bold;
      line-height: 22px;
      color: #fff;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
    }

    .name {
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .subtitle {
      margin: 0 6px;

      /* stylelint-disable-next-line declaration-no-important */
      color: #979ba5 !important;
    }

    .type {
      min-width: fit-content;
      margin: 0 0 0 auto;

      /* stylelint-disable-next-line declaration-no-important */
      color: #979ba5 !important;
    }
  }

  .bottom-add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
