.alarm-center-detail-panel-process {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #f5f7fa;

  .panel-process-chart-wrap {
    flex: 1;
    padding: 12px 24px;
  }

  .panel-process-skeleton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    .panel-process-skeleton-item {
      display: flex;
      height: 247px;
      background: #fff;
      border: 1px solid #e4e9f2;
      border-radius: 8px;
    }
  }
}
