.favorite-box-update-favorite-group-popover {
  flex: 1;
  width: 100%;
  user-select: none;
  line-height: 32px;
}

.tippy-box[data-theme~='favorite-box-update-favorite-group-panel'] {
  min-width: 240px;
  font-size: 12px;
  color: #4d4f56;

  .tippy-content {
    padding: 0;
  }
  .group-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }
  .group-item {
    display: flex;
    height: 32px;
    padding: 0 12px;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: #f5f7fa;
    }
  }
  .create-group {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #fafbfd;
    border-top: 1px solid #dcdee5;
    border-radius: 0 0 2px 2px;
    color: #4d4f56;
  }
}
