.explore-chart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--chart-container-height, 166px);
  min-height: 0;

  .explore-chart-container {
    display: flex;
    flex: 1;
    min-height: 0;
  }

  .explore-chart {
    flex: 1;
    width: 33.33333333333333%;
  }
}
