.event-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f5f7fa;

  .time-series-content .chart-legend .common-legend {
    display: flex;
    flex-wrap: wrap;
  }
}
