.grok-manage {
  padding: 24px;

  .operating-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .operating-left {
      display: flex;
      align-items: center;
    }

    .operating-right {
      .bk-input-text {
        width: 480px;
      }
    }
  }
}