.filed-masking-container {
  position: relative;
  height: 100%;

  .masking-field-box {
    height: calc(100% - 65px);
    overflow-y: auto;
    min-width: 1030px;
    padding: 0 40px;
  }

  .submit-content {
    position: absolute;
    z-index: 9;
    min-width: 1030px;
    width: 100%;
    height: 65px;
    background: #fafbfd;
    border-top: 1px solid #dde4eb;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;

    > :first-child {
      margin-left: 40px;
    }

    .bk-button {
      margin-right: 8px;
      padding: 0px 29px;
    }
  }
}