.index-set-select-box {
    width: 100%;
}
.index-set-select-extension {
    .add-index-set-btn {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;
    }
    .icon-plus-circle {
        margin-right: 5px;
    }
}