.event-explore-dimension-echarts-e {
  display: flex;
  width: 100%;
  height: 136px;

  .empty-chart {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}