.explore-kv-list-menu {
  width: 234px;
  padding: 4px 0;

  .menu-item {
    display: flex;
    column-gap: 4px;
    align-items: center;
    height: 32px;
    padding-right: 10px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #4d4f56;
    cursor: pointer;

    &:hover {
      background: #f5f7fa;
    }

    .prefix-icon,
    .item-suffix {
      flex-shrink: 0;
    }

    .icon-monitor {
      &.prefix-icon {
        display: flex;
        justify-content: center;
        width: 16px;

        &.icon-switch {
          font-size: 10px;
        }
      }
    }

    .item-suffix {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .icon-arrow-right {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        font-size: 26px;
      }
    }

    .hover-blue {
      &:hover {
        color: #3a84ff;
      }
    }

    span {
      flex: 1;
      min-width: 0;
    }
  }
}

.tippy-tooltip.event-to-k8s-scene-popover-theme {
  min-width: 58px;

  .scene-list-menu {
    width: 58px;
    padding: 4px 0;

    .menu-item {
      height: 32px;
      padding: 0 12px;
      font-size: 12px;
      line-height: 32px;
      color: #4d4f56;
      cursor: pointer;

      &:hover {
        background: #f5f7fa;
      }
    }
  }
}
