.event-retrieval-dimension-filter-content {
  .popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22px;
     
    .loading-icon {
      width: 20px;
      height: 20px;
    }

    .download-tool {
      margin-left: 10px;
      cursor: pointer;

        .icon-xiazai2 {
          font-size: 14px;
          color: #4D4F56;
        }
    
        .text {
          margin-left: 6px;
          font-size: 12px;
          color: #4D4F56;
        }
    }
  }

  .skeleton-wrap {
    .skeleton-element {
      height: 28px;
      margin-top: 12px;
    }
  }

  .load-more {
    margin: 8px 0 0 46px;
    font-size: 12px;
    line-height: 20px;
    color: #3A84FF;
    cursor: pointer;
  }
}

.dimension-top-k-title {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;

  .field-name {
    overflow: hidden;
    font-size: 16px;
    color: #313238;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .divider {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 8px 0 6px;
    background: #DCDEE5;
  }

  .desc {
    flex-shrink: 0;
    font-size: 14px;
    color: #979BA5;
  }
}


.dimension-top-k-slider {
  .skeleton-wrap {
    .skeleton-element {
      height: 28px;
      margin-top: 12px;
    }
  }

  .dimension-slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;

    .loading-icon {
      width: 20px;
      height: 20px;
    }

    .download-tool {
      margin-left: 10px;
      cursor: pointer;

      .icon-xiazai2 {
        font-size: 14px;
        color: #4D4F56;
      }

      .text {
        margin-left: 6px;
        font-size: 12px;
        color: #4D4F56;
      }
    }
  }

  .dimension-slider-content {
    padding: 12px 40px;

    .slider-load-more {
      width: 120px;
      height: 27px;
      margin: 16px auto 0;
      font-size: 12px;
      line-height: 27px;
      color: #3A84FF;
      text-align: center;
      cursor: pointer;
      background: #F0F5FF;
      border-radius: 14px;

      &.is-loading {
        background: transparent
      }

      &:hover {
        background: #E1ECFF;

        &.is-loading {
          background: transparent
        }
      }
    }

  }
}