.aiops-container {
  display: none;
  margin-top: 40px;

  &.aiops-container-show {
    display: flex;
    flex-direction: column;
  }

  .aiops-container-show {
    display: flex;
    flex-direction: column;
  }

  .aiops-container-hide {
    display: none;
  }

  .bk-functional-dependency {
    padding: 16px;
  }
}
