.correlation-nav-classification {
  width: 144px;
  // margin-right: 16px;

  .icon-mc-correlation-metrics {
    font-size: 12px;
  }

  .classification-title {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px 2px;
    margin: 0;
    background: #f0f3fa;
    // border-left: 1px solid #d1d9e8;
    .collapse-icon {
      font-size: 12px;
      color: #4d4f56;
      cursor: pointer;
    }

    .classification-text {
      flex: 1;
      margin-left: 2px;
      overflow: hidden;
      font-size: 12px;
      line-height: 22px;
      color: #313238;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .classification-num {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 14px;
      padding: 0px 2px;
      font-size: 12px;
      color: #ffffff;
      background: #a3b1cc;
      border-radius: 2px;

      i {
        margin-right: 2px;
        color: white;
      }
    }
  }

  .classification-list {
    width: 100%;
    background: #f0f3fa;

    &-item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 30px;
      // padding-right: 12px;
      padding-left: 16px;
      cursor: pointer;

      &:hover {
        border: none;

        @extend %select;
      }

      .level-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 6px;
        height: 6px;
        margin-right: 3px;
        margin-left: 2px;
        background: #f0f1f5;
        border: 1px solid #979ba5;
        border-radius: 50%;

        &.level-1 {
          background-color: #ffebeb;
          border-color: #ea3636;
        }

        &.level-2 {
          background-color: #fdeed8;
          border-color: #e38b02;
        }
      }

      &-text {
        flex: 1;
        overflow: hidden;
        font-size: 12px;
        color: #4d4f56;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-num {
        display: flex;
        align-items: center;
        justify-content: center;
        // min-width: 33px;
        height: 18px;
        padding: 0px 5px;
        color: #a3b1cc;
        // background: #f0f1f5;
        border-radius: 9px;

        i {
          margin-right: 2px;
          color: #979ba5;
        }
      }
    }

    .select,
    %select {
      // background: #e1ecff;

      .classification-list-item-text {
        color: #3a84ff;
      }

      .classification-list-item-num {
        font-weight: 700;
        color: #3a84ff;
        // background: #3a84ff;

        i {
          color: white;
        }
      }
    }

    .active {
      position: relative;

      @extend %select;

      &:after {
        position: absolute;
        left: 0px;
        width: 2px;
        height: 100%;
        content: '';
        background: #3a84ff;
      }
    }
  }
}
