/* stylelint-disable declaration-no-important */
.dimension-table {
  z-index: 9;
  margin-top: 16px;
  margin-bottom: 24px;
  
  &.min-260 {
    flex-direction: row !important;
    align-items: center;
    min-height: 260px;
    margin-top: 0px;
  }

  table,
  .bk-table-empty-block {
    width: 100% !important;
  }

  .is-first {
    border-right: none !important;

    .bk-table-header-label {
      .is-checked {
        cursor: not-allowed;

        .bk-checkbox {
          background-color: #dcdee5;
          border-color: #dcdee5;
        }
      }
    }
  }

  .js-table-head {
    border-bottom: 1px dashed;
  }

  th,
  td {
    border-bottom-color: #dcdee5;
  }

  th {
    background: #fafbfd;;

    &:hover {
      background-color: #fafbfd;

      .cell,
      div {
        background-color: #fafbfd;;
      };
    }
  }

  .dimension-num {
    color: #3a84ff;

    span {
      cursor: pointer;
    }
  }
}

.disabled-select {
  .bk-table-body {
    .is-checked {
      cursor: not-allowed;

      .bk-checkbox {
        background-color: #dcdee5;
        border-color: #dcdee5;
      }
    }
  }
}

.aiops-dimension-tips {
  .tippy-tooltip {
    padding: 12px;
  }

  .tippy-arrow {
    display: none;
  }

  .aiops-dimension-tips-content {
    .hide-dimension-value {
      display: block;
      height: 0;
      visibility: hidden;
    }

    &-msg {
      display: flex;
      flex-direction: row;
      align-items: center;

      .label-content {
        .label {
          width: 100%;
        }
      }
    }

    p {
      padding: 0;
      margin: 0px 0px 6px 0px;
      margin-bottom: 6px;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
    }

    li {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 20px;

      div {
        display: flex;
        align-items: center;
      }


      .label {
        display: inline-block;
        max-width: 160px;
        overflow: hidden;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        color: #f0f1f5;
        color: #699df4;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

      }

      .is-anomaly-label {
        &:hover {
          &~i {
            visibility: hidden;
          }
        }
      }

      i {
        display: inline-block;
        width: 8px;
        color: #3a84ff;
        visibility: hidden;
      }

      .progress {
        display: flex;
        align-items: center;
        max-width: 225px;
        // flex: 1;
        height: 12px;

        .progress-bar {
          display: inline-block;
          height: 10px;
          background: rgba(220,222,229,.40);;
        }

      }

      .absolute-num {
        position: relative;

        .num {
          position: absolute;
          right: 5px;
          min-width: 24px;
          transform: scale(.83);
        }
      }

      .is-abnormal {
        .progress-bar {
          background: rgba(234,54,54,.40);
        }
      }

      .num {
        min-width: 24px;
        margin-left: 3px;
        font-size: 12px;
        color: #fff;
        white-space: nowrap;;
      }

      .num-position {
        position: absolute;
      }
    }
  }
}