.aiops-metrics-view {
  width: 100%;
  height: 100%;

  @keyframes select {
    0% {
      background: #fafbfd;
      border-color: #3a84ff;
    }

    35% {
      background: #fafbfd;
      border-color: #dcdee5;
    }

    70% {
      background: #fafbfd;
      border-color: #3a84ff;
    }

    100% {
      background: white;
      border-color: #dcdee5;
    }
  }

  .correlation-metric-nav-wrap-bg {
    position: absolute;
    top: 8px;
    right: 1px;
    z-index: 1;
    width: 144px;
    background: #f0f3fa;
    border-left: 1px solid #d1d9e8;
    border-radius: 2px 2px 0 0;
  }

  .correlation-metric-nav-wrap {
    position: sticky;
    top: 8px;
    z-index: 9;
    height: 100%;
    padding-bottom: 40px;
    overflow-y: auto;
    border-left: 1px solid #d1d9e8;
    transform: translateZ(0);
  }

  .correlation-nav {
    max-height: 100%;
    margin-top: -4px;
    overflow-y: auto;
  }

  .correlation-metric-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    // min-height: 260px;
    padding-top: 8px;

    .bk-table-empty-block {
      align-items: flex-start;
      background: none;
    }

    .correlation-metric-fixed {
      position: fixed;
      right: 0;
      z-index: 999;
    }

    .correlation-metric-fixed-padding {
      padding-right: 275px;
    }

    .scroll-ing {
      pointer-events: none;
    }

    .correlation-metrics-collapse-content {
      margin-top: 8px;
    }

    .correlation-metric-panels {
      flex: 1;
      width: calc(100% - 275px);
      max-height: calc(100% - 52px);
      padding-right: 8px;
      overflow-y: auto;
    }

    .add-more {
      display: inline-block;
      width: 100%;
      margin-top: 2px;
      font-size: 12px;
      line-height: 24px;
      color: #3a84ff;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;

      &:hover {
        background: #f0f5ff;
      }
    }
  }

  .metrics-err {
    align-items: center;
    padding-top: 0px;
  }

  .aiops-metrics-view-show {
    display: block;
  }

  .aiops-metrics-view-hide {
    display: none;
  }

  .bk-table-empty-text {
    width: 100%;
  }

  .dashboard-panel {
    width: 100%;
  }

  .aiops-dimension-panels {
    padding-top: 40px;
    margin-top: -40px;
  }
  .aiops-dimension-lint {
    .title-name {
      .title-txt {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .metrics-view-aiops {
    .aiops-dimension-lint {
      .title-name {
        .title-txt {
          direction: rtl;
        }
      }
    }
  }

  .select {
    animation: select 1s;
    animation-delay: 0.5s;

    .chart-wrapper,
    .aiops-dimension-lint {
      background: inherit;
    }
  }

  .flex-dashboard {
    padding-left: 0px;

    .flex-dashboard-item {
      border: 1px solid #dcdee5;
      border-radius: 2px;
    }
  }
}
