/* stylelint-disable declaration-no-important */
.aiops-tab-title {
  display: flex;
  align-items: center;
  height: 72px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdee5;
  border-radius: 2px;

  .tips-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    font-size: 14px;
    color: #999;
  }

  &-item {
    display: flex;
    flex: 1;
    align-items: center;
    height: 70px;
    padding: 15px;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-item:first-child {
    border-right: 1px solid #dcdee5;
  }

  &-active {
    position: relative;
    background: #fafbfd;

    .aiops-tab-icon {
      color: #3a84ff;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 4px;
      content: '';
      background: #3a84ff;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 12px;

    i {
      font-size: 36px;
      color: #c4c6ca;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
  }

  &-name {
    font-size: 14px;
    line-height: 22px;
    color: #313238;
    letter-spacing: 0;
  }

  &-message {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    color: rgba(99, 101, 110, 1);

    font {
      font-size: 12px;
      font-weight: 700;
      color: rgba(234, 54, 54, 1);
    }
  }

  &-index-message {
    font {
      color: #3a84ff;
    }
  }

  .err-text {
    color: #ea3636;

    i {
      position: relative;
      top: -1px;
      margin-right: 4px;
    }
  }

  .vis-show {
    visibility: visible;
  }

  .vis-hide {
    visibility: hidden;
  }
}

.metric_loading {
  .bk-loading-wrapper {
    top: 17px;
    left: 17px;
  }
}

.aiops-tab-title-active {
  .metric_loading {
    background-color: #fafbfd !important;
  }
}
