@import './scss/reset.scss';
@import './scss/app.scss';
@import './scss/animation.scss';
@import './scss/mixins/clearfix.scss';
@import './scss/mixins/scroller.scss';

#app {
  min-width: 1280px;
  height: 100%;
  min-height: 730px;
  background: #f4f7fa;
}

.clear-min-height {
  /* stylelint-disable-next-line declaration-no-important */
  min-height: 0 !important;
}

.button-text {
  color: #3a84ff;
  cursor: pointer;

  &:hover {
    color: #699df4;
  }

  &:active {
    color: #2761dd;
  }

  &.is-disabled {
    color: #c4c6cc;
    cursor: not-allowed;
  }
}

.text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-search-container {
  position: relative;
  width: 100%;
  height: calc(100% - 52px - var(--notice-component-height));
  overflow-y: hidden;

  &.as-iframe {
    height: 100%;
  }

  &.is-show-notice {
    height: calc(100% - 90px);

    .sub-nav-container {
      top: 91px;
    }

    .masking-dialog {
      .bk-dialog {
        /* stylelint-disable-next-line declaration-no-important */
        top: 92px !important;
      }
    }
  }
}

/*无权限时 v-cursor 样式*/
.cursor-element {
  width: 12px;
  height: 16px;
  background: url('./images/cursor-lock.svg') no-repeat;
}
// 检索里一些公用的样式
.tab-button {
  float: left;

  @include clearfix;

  .tab-button-item {
    padding: 0 15px;
    margin-left: -1px;
    font-size: 0;
    color: #63656e;
    cursor: pointer;
    border: 1px solid #c4c6cc;
    border-left-color: transparent;

    &:first-child {
      margin-left: 0;
      border-left-color: #c4c6cc;
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    &.active {
      z-index: 10;
      color: #3a84ff;
      background: #e1ecff;
      border: 1px solid #3a84ff;
    }
  }

  .tab-button-text {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    line-height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
// hack 组件样式
.bk-dialog.bk-info-box .bk-dialog-header-inner {
  /* stylelint-disable-next-line declaration-no-important */
  white-space: normal !important;
}

.bk-date-picker-dropdown .bk-picker-confirm-time {
  color: #3a84ff;
}

.tippy-tooltip .tippy-content {
  padding: 0;
  word-break: break-all;
}

.bk-form-control.is-error .bk-form-input {
  border-color: #ff5656;
}
// 导航
.bk-log-navigation.bk-navigation,
.hack-king-navigation.bk-navigation {
  /* stylelint-disable-next-line declaration-no-important */
  width: 100% !important;

  /* stylelint-disable-next-line declaration-no-important */
  height: 100% !important;

  .container-header {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }

  .bk-navigation-wrapper {
    height: 100%;

    .navigation-container {
      z-index: 100;

      /* stylelint-disable-next-line declaration-no-important */
      max-width: calc(100% - 60px) !important;

      .container-content {
        /* stylelint-disable-next-line declaration-no-important */
        height: 100% !important;

        /* stylelint-disable-next-line declaration-no-important */
        max-height: 100% !important;
        padding: 0;

        .navigation-content {
          height: 100%;
        }
      }
    }

    .bk-navigation-menu-group {
      .group-name-wrap .group-name {
        margin-right: 0;
      }
    }

    .navigation-menu-item-icon.bk-icon {
      min-width: 28px;
    }

    .nav-item {
      display: inline-block;
      width: 100%;
    }
  }

  .nav-slider-list {
    /* stylelint-disable-next-line declaration-no-important */
    height: calc(100% - 56px) !important;
  }
}

.biz-menu {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

// 表格单元 v-bk-overflow-tips
.bk-table .bk-table-body-wrapper .table-ceil-container {
  width: 100%;

  > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
// hack vue-json-pretty
.json-view-wrapper .vjs-value {
  word-break: break-all;
}
// hack be-select将下拉宽度全部交给slot以控制宽度和事件传播
.custom-no-padding-option.bk-option > .bk-option-content {
  padding: 0;

  &.is-selected {
    color: #3a84ff;
    background-color: #e1ecff;
  }

  > .option-slot-container {
    min-height: 32px;
    padding: 9px 16px;
    line-height: 14px;

    &.no-authority {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #c4c6cc;
      cursor: not-allowed;

      .text {
        width: calc(100% - 56px);
      }

      .apply-text {
        display: none;
        flex-shrink: 0;
        color: #3a84ff;
        cursor: pointer;
      }

      &:hover .apply-text {
        display: flex;
      }
    }
  }
}
// 采集项管理、索引集管理通用样式
.access-manage-container {
  padding: 28px 24px;

  .bk-tab-section {
    display: none;
  }

  .go-search {
    // position: fixed;
    position: absolute;
    right: 0;
    z-index: 999;
    font-size: 12px;

    .icon-info {
      font-size: 14px;
      color: #979ba5;
    }

    .search-button {
      display: inline-block;
      color: #3a84ff;
      cursor: pointer;
    }

    .search-text {
      height: 32px;
      padding: 0 9px;
      line-height: 32px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 #1919290d;
    }
  }

  .tab-content {
    height: calc(100% - 50px);
    padding: 20px;
    overflow: auto;
    background-color: #fff;
    border-top: none;
    box-shadow: 0 2px 4px 0 #1919290d;

    @include scroller($backgroundColor: #c4c6cc, $width: 4px);

    .main-title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 0 8px 0;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      color: #63656e;
      border-bottom: 1px solid #dcdee5;
    }

    .refresh-button {
      display: flex;
      align-items: center;
      margin-left: 8px;
      font-size: 12px;
      font-weight: normal;
      color: #3a84ff;
      cursor: pointer;

      &:hover {
        color: #699df4;
      }

      .bk-icon {
        margin-right: 4px;
        font-size: 13px;
      }
    }

    .charts-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .chart-container {
        position: relative;
        width: calc((100% - 16px) / 2);
        padding: 0 16px;
        border: 1px solid #f0f1f5;
        border-radius: 3px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

        .chart-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;

          .title {
            font-size: 12px;
            font-weight: bold;
            line-height: 16px;
            color: #63656e;
          }

          .date-picker {
            display: flex;
            align-items: center;
          }
        }

        .chart-canvas-container {
          position: relative;
          height: 230px;

          &.big-chart {
            height: 280px;
          }
        }

        .king-exception {
          position: absolute;
          top: 80px;
          left: 0;
        }
      }
    }
  }
}

.title-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.beta-class {
  padding-top: 3px;
  margin-left: 2px;
  color: #ffa228;
}

.bk-dialog-type-header .header {
  /* stylelint-disable-next-line declaration-no-important */
  white-space: normal !important;
}

.bk-options .bk-option {
  &:hover {
    color: #63656e;
    background-color: #f5f7fa;
  }
}

:root {
  --table-fount-family: Menlo, Monaco, Consolas, Courier, 'PingFang SC', 'Microsoft Yahei', monospace;
  --table-fount-size: 12px;
  --table-fount-color: #16171a;
}

.bk-log-drag {
  position: absolute;
  top: 50%;
  left: 242px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 6px;
  height: 18px;
  background-color: transparent;
  border-radius: 3px;
  transform: translateY(-50%);

  &::after {
    position: absolute;
    left: 2px;
    width: 0;
    height: 18px;
    content: ' ';
    border-left: 2px dotted #979ba5;
  }

  &:hover {
    cursor: col-resize;
  }
}

.bk-log-drag-simple {
  position: absolute;
  top: 50%;
  right: -3px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 6px;
  height: 22px;
  border-radius: 3px;
  transform: translateY(-50%);

  &::after {
    position: absolute;
    left: 2px;
    width: 0;
    height: 100%;
    content: ' ';
    border-left: 2px dotted #63656e;
  }

  &:hover {
    cursor: col-resize;
  }
}