.space-add-item-wrap {
  border: 1px solid #c4c6cc;
  border-radius: 2px;

  .spance-add-header {
    display: flex;
    align-items: center;
    min-height: 84px;
    font-size: 12px;
    padding: 12px 0;

    &:not(.disabled) {
      cursor: pointer;
    }

    .header-desc {
      font-size: 12px;
      color: #979ba5;
      line-height: 20px;
    }

    .title-wrap {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 88px;

      .title-icon {
        font-size: 30px;
        color: #3a84ff;
      }

      .title-text {
        font-size: 14px;
        color: #313238;
        letter-spacing: 0;
        line-height: 22px;
      }
    }

    &.checked {
      min-height: 52px;

      .title-wrap {
        flex-direction: row;
        padding-left: 24px;
        width: 118px;

        .title-icon {
          font-size: 15px;
        }

        .title-text {
          margin-left: 6px;
        }
      }

      .header-desc {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
    }
  }

  &.checked {
    .spance-add-header {
      border-bottom: 1px solid #c4c6cc;;
    }
  }

  &:hover:not(.checked):not(.disabled) {
    background-color: #fafbfd;

    .item-radio {
      border: 1px solid #c4c6cc;
    }
  }

  .item-radio {
    flex-shrink: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 16px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;

    &.checked {
      height: auto;
      width: auto;

      .icon-mc-check-fill {
        font-size: 18px;
        color: #3a84ff;
      }
    }
  }

  .spance-add-content {
    background-color: #f5f7fa;
    overflow: hidden;

    .spance-add-content-mian {
      padding: 16px 24px;
    }
  }
}