.trace-explore-table {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .explore-col {
    width: 100%;

    &.explore-click-col {
      color: #3a84ff;

      .explore-click-text {
        cursor: pointer;
      }
    }

    &.explore-link-col {
      display: flex;
      align-items: baseline;
      color: #3a84ff;

      .explore-link-text {
        flex-basis: auto;
        min-width: 0;

        a {
          vertical-align: text-bottom;
        }
      }

      .icon-monitor {
        visibility: hidden;
        flex-shrink: 0;
        height: 16px;
        line-height: 16px;
      }

      &:hover {
        .icon-monitor {
          visibility: visible;
        }
      }
    }

    &.explore-tags-col {
      display: flex;
      column-gap: 4px;
      align-items: center;

      .tag-item {
        height: 18px;
        padding: 0 10px;
        color: var(--tag-color);
        background-color: var(--tag-bg-color);
        border-radius: 2px;
      }
    }

    &.explore-prefix-icon-col {
      display: flex;
      align-items: center;

      .status-code-icon {
        &-normal {
          position: relative;
          display: inline-block;
          width: 13px;
          height: 13px;
          margin-right: 5px;
          background: #3fc06d29;
          border-radius: 50%;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: auto;
            content: '';
            background: #3fc06d;
            border-radius: 50%;
          }
        }

        &-failed {
          position: relative;
          display: inline-block;
          width: 13px;
          height: 13px;
          margin-right: 5px;
          background: #ea363629;
          border-radius: 50%;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: auto;
            content: '';
            background: #ea3636;
            border-radius: 50%;
          }
        }

        &-warning {
          position: relative;
          display: inline-block;
          width: 13px;
          height: 13px;
          margin-right: 5px;
          background: #fff1db;
          border-radius: 50%;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: auto;
            content: '';
            background: #fe9c00;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .explore-table-skeleton {
    position: absolute;
    top: 0;
    padding: 10px 8px;
  }

  .t-table {
    height: 100%;
    --td-comp-paddingTB-s: var(--td-size-3);
    --td-comp-margin-s: var(--td-size-2);
    --td-text-color-primary: #313238;

    &__header {
      tr {
        background: #f5f7fa;

        .t-table__th-cell-inner {
          color: #000000;

          .t-table__cell--title {
            color: inherit;

            .t-text-ellipsis {
              flex-basis: auto;
              width: unset;
              min-width: 0;
            }

            .t-table__filter-icon-wrap {
              flex-shrink: 0;
              color: #c4c6cc;
            }
          }
        }
      }
    }

    &__body {
      tr {
        &:not(.t-table__row--full) {
          height: 32px;
        }

        &.t-table__first-full-row {
          .t-table__filter-result {
            position: sticky;
            left: 50%;
            display: inline-flex;
            transform: translateX(-50%);
          }
        }

        &.t-table__first-full-row {
          .t-table__row-full-element {
            padding: var(--td-comp-paddingTB-m) 0;

            .t-table__row-filter-inner {
              text-align: left;
            }
          }
        }

        &.t-table__last-full-row {
          td,
          .t-table__row-full-element {
            padding: 0;

            .scroll-end-loading {
              position: sticky;
              left: 50%;
              display: inline-flex;
              align-items: center;
              height: 32px;
              transform: translateX(-50%);

              .bk-loading-size-mini {
                flex-direction: row;
                column-gap: 8px;
                align-items: center;

                .bk-loading-title {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }

    &__content {
      height: 100%;

      .t-table--layout-fixed {
        height: 100%;
      }

      .t-table__empty-row {
        td {
          padding: 0;
        }
      }
    }
  }
}
