@use './theme/trace-table.scss' as traceTable;

.trace-explore-table {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .explore-table {
    height: 100%;
    // 最小高度应为骨架屏高度避免出现空白
    min-height: 370px;
    @include traceTable.table-theme();

    &.t-table {
      color: #313238;
      // 容器有剩余空间时撑满容器
      .t-table__content {
        // 1px 是由于兼容 tdesign 使用滚动条吸底功能时填充多加了1px
        height: calc(100% + 1px);
        overflow-x: scroll;
        overflow-y: hidden;

        .t-table--layout-fixed {
          height: 100%;
        }

        .t-table__body {
          tr {
            &:not(.t-table__row--full) {
              height: var(--trace-table-row-height, 32px);
            }
          }
        }
      }
    }
  }

  .t-table__header {
    .explore-header-col {
      display: flex;
      align-items: center;
      min-width: 0;
      color: #000000 !important;
      user-select: none;
    }

    .explore-header-col {
      .col-type-icon {
        margin-right: 4px;
      }

      &.active-statistics-field {
        .icon-monitor.icon-Chart.statistics-icon {
          display: block;
          color: #3a84ff;
        }
      }

      .icon-monitor.icon-Chart.statistics-icon {
        display: block;
        margin-left: 6px;
        color: #4d4f56;

        &:hover {
          color: #3a84ff;
        }
      }
    }
  }

  .explore-col {
    --trace-table-explore-col-height: 15px;

    &.explore-prefix-icon-col {
      .status-code-icon {
        &-normal {
          position: relative;
          display: inline-block;
          width: 13px;
          height: 13px;
          margin-right: 5px;
          background: #3fc06d29;
          border-radius: 50%;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: auto;
            content: '';
            background: #3fc06d;
            border-radius: 50%;
          }
        }

        &-failed {
          position: relative;
          display: inline-block;
          width: 13px;
          height: 13px;
          margin-right: 5px;
          background: #ea363629;
          border-radius: 50%;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: auto;
            content: '';
            background: #ea3636;
            border-radius: 50%;
          }
        }

        &-warning {
          position: relative;
          display: inline-block;
          width: 13px;
          height: 13px;
          margin-right: 5px;
          background: #fff1db;
          border-radius: 50%;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: auto;
            content: '';
            background: #fe9c00;
            border-radius: 50%;
          }
        }
      }

      .span-kind-icon {
        flex-shrink: 0;
        width: 22px;
        margin-right: 4px;
      }
    }
  }

  .explore-table-condition-menu {
    cursor: pointer;

    &:hover {
      color: #3a84ff;
    }
  }

  .explore-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:has(> .explore-table-condition-menu) {
      &:hover {
        color: #3a84ff;
      }
    }
  }

  .explore-table-hidden-all {
    display: none;
  }

  .explore-table-hidden-body {
    .t-table__body tr {
      display: none;
    }
  }

  .explore-table-skeleton {
    position: absolute;
    top: 32px;
    z-index: 9;
    visibility: hidden;
    padding: 10px 8px;
    background: #fff;

    &.explore-skeleton-show-all,
    &.explore-skeleton-show-body {
      visibility: visible;
    }

    &.explore-skeleton-show-body {
      .common-table-skeleton-row:nth-child(1) {
        display: none;
      }
    }

    .common-table-skeleton-row {
      margin-bottom: 10px;
    }
  }

  .scroll-end-loading {
    position: sticky;
    left: 50%;
    display: inline-flex;
    align-items: center;
    // height: 32px;
    transform: translateX(-50%);

    .bk-loading-size-mini {
      flex-direction: row;
      column-gap: 8px;
      align-items: center;

      .bk-loading-title {
        margin-top: 0;
      }
    }
  }

  .explore-table.t-table {
    .t-table__body {
      tr {
        .icon-Tracing {
          display: none;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          // background: #fafbfd;
          // box-shadow: 0 1px 3px 1px #00000014;
          // border-radius: 2px;
          margin-left: 6px;
          cursor: pointer;
        }

        &:hover {
          .icon-Tracing {
            display: inline-flex;
          }
        }
      }
    }
  }

  .explore-table-empty {
    position: sticky;
    right: var(--td-comp-paddingLR-s);
    left: var(--td-comp-paddingLR-s);
    width: calc(100% - var(--td-comp-paddingLR-s) - var(--td-comp-paddingLR-s));
    padding: 20px 0;
  }
}
