.share-wrap {
  width: 100%;
  height: 100%;

  &-iframe {
    width: 100%;
    height: 100%;
  }

  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .bk-exception {
      margin-top: -200px;
    }

    .text-wrap {
      color: #979ba5;
      font-size: 14px;
      margin-top: 16px;
    }
  }
}