.alarm-dispatch-action {
  display: flex;
  flex-direction: column;
  padding: 4px 0;

  .action-row {
    line-height: 20px;
  }
  
  .package {
    color: rgb(58, 132, 255);
    cursor: pointer;
  }
}