.alarm-dispatch-action {
  padding: 4px 0;
  display: flex;
  flex-direction: column;

  .action-row {
    height: 30px;
    line-height: 30px;
  }
  
  .package {
    cursor: pointer;
    color: rgb(58, 132, 255);
  }
}