
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$statusColors: #ea3635 #ff9c00 #699df4;
  

.debugging-result-siderlider {
  .mr-4 {
    margin-right: 4px;
  }

  .ml-4 {
    margin-left: 4px;
  }

  .wrap-content {
    min-height: calc(100vh - 120px);
    padding: 20px 40px;

    .expand-item {
      margin-top: 16px;

      .expand-item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0 16px;
        color: #63656e;
        cursor: pointer;
        background: #f0f1f5;
        border-radius: 2px 2px 0 0;
        box-shadow: 0 1px 0 0 #dcdee5;

        .header-left {
          display: flex;
          flex: 1;
        }

        .icon-bianji {
          font-size: 20px;
          color: #c4c6cc;
        }

        .expand-status {
          width: 20px;
          height: 20px;

          @include flex-center();

          .icon-mc-triangle-down {
            font-size: 20px;
            transform: rotate(-90deg);
          }

          &.is-expand {
            .icon-mc-triangle-down {
              transform: rotate(0);
            }
          }
        }

        .title-wrap {
          display: flex;
          align-items: center;

          .title {
            max-width: 570px;
            overflow: hidden;
            font-size: 14px;
            font-weight: 700;
            color: #63656e;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .count {
            height: 16px;
            padding: 0 8px;
            margin: 0 10px 0 6px;
            color: #979ba5;
            background: #fff;

            @include flex-center();
          }
        }

        .priority-wrap {
          display: flex;
          align-items: center;
          margin-left: 106px;

          .count {
            height: 16px;
            padding: 0 8px;
            margin: 0 8px 0 0;
            background: #dbd4ed;
            border-radius: 2px;

            @include flex-center();
          }
        }

        .edit-btn-wrap {
          height: 26px;
          padding: 0 10px;
          margin: 0 0 0 auto;
          color: #3a84ff;
          background: #fff;
          border: 1px solid #3a84ff;
          border-radius: 2px;

          @include flex-center();

          .icon-bianji {
            color: #3a84ff;
          }
        }

        .del-btn-wrap {
          width: 26px;
          height: 26px;
          margin: 0 0 0 12px;
          color: #ea3636;
          background: #fff;
          border: 1px solid #c4c6cc;
          border-radius: 2px;

          @include flex-center();
        }
      }

      .expand-item-content {
        height: 0;
        overflow: hidden;
        // border-top: 1px solid #dfe0e5;

        .alarm-group-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-height: 40px;
          padding: 0 16px;
          background: #f0f5ff;

          .header-left {
            .group-title-wrap {
              display: inline-flex;
              align-items: center;
              width: 150px;
              max-width: 150px;
              white-space: nowrap;

              .title {
                display: inline-block;
                max-width: 107px;
                overflow: hidden;
                font-weight: 700;
                color: #63656e;
                text-overflow: ellipsis;
              }
            }

            .start {
              color: #3fc06d;
              background: #e5f6ea;
            }

            .stop {
              color: #979ba5;
              background: #f0f1f5;
            }

            .rule {
              margin-left: 20px;

              .rule-wrap {
                display: inline-flex;
                max-width: 500px;
              }
            }
          }

          .header-right {
            color: #ea3636;
          }
        }

        &.is-expand {
          height: auto;

          &.is-light {
            border-collapse: collapse;
            border: 1px solid #3a84ff;
          }
        }

        &.mt-1 {
          margin-top: -1px;
        }

        &.mb1 {
          margin-bottom: 1px;
        }

        .event-status {
          height: 16px;
          padding-left: 4px;
          line-height: 16px;
          color: #3a84ff;
          cursor: pointer;
          border-left: 4px solid #699df4;
      
          @for $i from 1 through length($statusColors) {
            &.status-#{$i} {
              border-left-color: nth($statusColors, $i);
            }
          }
        }

        .tag-item {
          display: inline-block;
          max-width: 100%;
          padding: 6px 11px;
          margin-right: 3px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          background: #f0f1f5;
        }
      }
    }
  }

  .debugger-result-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);

    img {
      height: 100px;
    }
  }

  .bk-sideslider-footer {
    padding: 0 40px;
  }

  .debug-header {
    display: flex;
    align-items: center;

    .right {
      margin: 0 40px 0 auto;
      font-size: 12px;
    }
  }
}

.tag-column-wrap {
  display: flex;
  align-items: center;
  height: 59px;
  overflow: hidden;

  .tag-column {
    max-height: 59px;
    padding-top: 2px;
    overflow: hidden;
  }
}