/* stylelint-disable declaration-no-important */
.new-home-select {
  position: absolute;
  z-index: 10;
  width: 100%;
  min-height: 52px;

  .loading-view {
    width: 170px;
    height: 24px;
    padding: 0 8px;
    margin: 0 auto;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;

    .icon-loading1 {
      margin-right: 6px;
    }
  }

  .mt-30 {
    margin-top: 30px;
  }

  .new-home-select-input {
    position: relative;
    width: 100%;
    min-height: 52px;
    padding: 0 14px 0 51px;
    margin: 0 auto;

    // background-image: linear-gradient(to right, #2b3547, #2b3547), linear-gradient(90deg, #57a8fa, #58c2be);
    background-image: linear-gradient(to right, #2b3547, #2b3547), linear-gradient(90deg, #7295F3, #C784EF);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border: 2px solid transparent;
    border-radius: 26px;

    .clear-btn {
      position: absolute;
      top: 16px;
      right: 12px;
      z-index: 1;
      font-size: 18px;
      color: #979ba5;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .ip-tag {
    height: 16px;
    padding: 0 4px;
    margin-right: 4px;
    font-size: 10px;
    line-height: 16px;
    color: #4d4f56;
    background: #f0f1f5;
    border-radius: 2px;
  }

  .ip-sub {
    color: #979ba5;
  }

  .host-compare {
    font-size: 14px;
    color: #4d4f56;

    .host-compare-num {
      margin-right: 8px;
      color: #f59500;
    }
  }

  .host-show-view {
    position: absolute;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    background: #333c5d;

    .ip-tag {
      display: inline-block;
      height: 22px;
      padding: 0 6px;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      background: #979ba5;
    }

    .ip-sub {
      font-size: 14px;
    }
  }

  .new-home-select-left-icon {
    position: absolute;
    top: 4px;
    left: 8px;
    width: 36px;
    height: 36px;
    color: #dcdee5;
  }

  .new-home-select-right-icon {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 26px;
    color: #dcdee5;
  }

  .home-select-input {
    box-sizing: border-box;
    width: 98%;
    margin: 12px 0 4px;
    font-size: 14px;
    line-height: 22px;
    color: #f0f1f5;
    caret-color: #fff;
    resize: none;
    background: transparent;
    border: none;

    &.is-hidden {
      overflow: hidden;
    }

    &::placeholder {
      font-size: 15px;
      line-height: 21px;
      color: #7a8199;
    }

    .clear-icon {
      font-size: 18px;
    }

    .bk-textarea-wrapper {
      background-color: transparent !important;
    }
  }

  .search-keyboard {
    position: absolute;
    top: 50%;
    right: 56px;
    min-width: 56px;
    height: 24px;
    padding: 0 6px;
    margin-top: -11px;
    line-height: 24px;
    color: #c4c6cc;
    text-align: center;
    cursor: default;
    background: #53617a66;
    border: 1px solid #495a7a;
    border-radius: 2px;
  }
}

.select-empty {
  z-index: 1;
  width: 100%;
  height: 250px;
  padding-top: 30px;
  border-radius: 2px;
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.15);

  .bk-exception-img.part-img .exception-image {
    height: 96px;
  }

  .bk-exception-text.part-text {
    margin-top: 10px;
    font-size: 12px;
    color: #4d4f56;
  }

  .empty-clear-btn {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #3a84ff;
    cursor: pointer;
  }
}

.new-home-select-popover {
  position: absolute;
  left: 0;
  z-index: 500;
  width: 100%;
  max-height: 405px;
  margin-top: 8px;
  background: #fff;
  border-radius: 8px;
}

.new-home-select-popover-content {
  width: 100%;
  min-height: 252px;
  max-height: 405px;
  padding-bottom: 12px;
  overflow: auto;
  font-size: 12px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.15);

  &.empty-aiwhale {
    min-height: 48px;
    padding-bottom: 0;
    
    .new-home-select-group-item {
      &.item-aiwhale {
        margin-top: 8px;
      }
    }
  }

  .item-list {
    min-height: 100px;
    padding-top: 12px;
  }

  .skeleton-loading {
    padding: 5px 12px 0;

    .skeleton-element {
      height: 24px;
      margin-bottom: 13px;
      background: linear-gradient(to right, #f5f7fa, #eaebf0);
      border-radius: 3px;

      &:nth-child(3n + 1) {
        width: 65%;
      }

      &:nth-child(3n) {
        width: 80%;
      }
    }
  }

  .is-history {
    padding-top: 0;
  }

  .item-list-title {
    position: relative;
    padding: 12px 12px 8px;
    font-size: 12px;
    color: #979ba5;

    .item-list-clear {
      position: absolute;
      right: 14px;
      color: #4d4f56;
      cursor: pointer;
    }

    .history-clear-icon {
      margin-right: 3px;
      font-size: 13px;
    }
  }

  .new-home-select-divider {
    width: 98.5%;
    height: 1px;
    margin: 12px auto;
    border-bottom: 1px solid #eaebf0;
  }

  .secondary-list {
    margin-bottom: 8px;
  }

  .new-home-select-router-list {
    padding: 0 24px;
    margin-top: 5px;

    .new-home-select-router-item {
      display: inline-block;
      width: 140px;
      padding: 4px 0;
      margin-right: 16px;
      color: #4d4f56;
      background: #ebeef5;
      border-radius: 2px;

      &:hover {
        color: #3a84ff;
        cursor: pointer;
        background: #e1ecff;

        .router-item-icon {
          color: #3a84ff;
        }
      }

      .router-item-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 4px;
        font-size: 14px;
        line-height: 24px;
        color: #a3b1cc;
        text-align: center;
        vertical-align: inherit;
        background: #ffffff;
        border-radius: 1px;
      }

      .item-txt {
        display: inline-block;
        margin-left: 3px;
        font-size: 12px;
      }
    }
  }

  .item-icon {
    margin-right: 5px;
    font-size: 13px;
    color: #a3b1cc;
  }

  .icon-delete-wrap {
    display: none;
    font-size: 13px;
    color: #4d4f56;
    vertical-align: middle;

    &:hover {
      color: #3a84ff;
    }
  }

  .new-home-select-history-item,
  .new-home-select-item-title,
  .new-home-select-group-item {
    width: 100%;
    height: 32px;
    padding: 0 16px 0 24px;
    line-height: 32px;
    color: #4d4f56;
    cursor: pointer;

    &.active,
    &:hover {
      background: #f5f7fa;

      .ip-tag {
        background: #dcdee5;
      }
    }

    &.disabled {
      color: #c4c6cc;
      cursor: not-allowed;
    }

    .history-item-name {
      display: inline-block;
      // width: 96%;
      width: calc(100% - 34px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
      cursor: pointer;
    }
  }

  .new-home-select-history-item:hover .icon-delete-wrap {
    display: inline-block;
  }

  .new-home-select-item-title {
    padding-left: 12px;
    color: #979ba5;
    cursor: none;

    &:hover {
      background: none;
    }
  }

  .new-home-select-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px 0 24px;

    &.item-aiwhale {
      justify-content: flex-start;
      margin-top: 6px;

      .aiwhale-icon {
        flex-shrink: 0;
        width: 18px;
        max-height: 18px;
        margin-right: 8px;
      }

      .empty-title {
        flex-shrink: 0;
        font-size: 12px;
        color: #7a8199;
      }
    }

    .item-label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .highlight {
      color: #f59500;
    }

    .item-business {
      width: 130px;
      overflow: hidden;
      color: #a3b1cc;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .list-item-tag {
      display: inline-block;
      height: 22px;
      padding: 0 8px;
      margin-left: 8px;
      font-size: 12px;
      line-height: 22px;
      color: #979ba5;
      background: #f0f1f5;
      border-radius: 2px;
    }

    .result-aiwhale-icon {
      visibility: hidden;
      width: 20px;
      max-height: 20px;
      margin-left: 8px;
    }

    &.active .result-aiwhale-icon,
    &:hover .result-aiwhale-icon {
      visibility: visible;
    }

    .item-operator {
      margin-right: 20px;
      color: #3a84ff;

      .item-operator-item {
        margin-right: 24px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/** 展示在顶部导航栏的时候的样式处理 */
.home-select-bar-tool {
  top: calc(10px + var(--notice-alert-height));
  // right: 262px;
  right: 235px;
  z-index: 100; // 数据探索→指标检索容器.data-retrieval-main: z-index: 9; tracing探索.inquire-right-header: z-index: 99;
  width: 720px !important;
  min-height: 32px;

  .icon-search {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 14px;
    color: #979ba5;
  }

  .new-home-select-input {
    min-height: 32px;
    padding: 0;
    background: #252f43;
    border: 1px solid #394561 !important;
    border-radius: 2px;

    .clear-btn {
      top: 8px;
      right: 30px;
      font-size: 14px;
    }
  }

  .home-select-input {
    width: 93%;
    padding: 5px 0 0 16px;
    // margin: 3px 0 1px;
    margin: 0;
    font-size: 12px;
    line-height: 22px;

    &::placeholder {
      font-size: 12px;
      line-height: 23px;
      color: #7a8199;
    }
  }

  .new-home-select-popover {
    margin-top: 6px;
    border-radius: 2px;

    .new-home-select-popover-content {
      border-radius: 2px;
    }
  }

  .select-empty {
    border-radius: 2px;
  }
}
