.home-alarm-chart {
  z-index: 7;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 0 #1919290d;
  border-radius: 2px;
  padding: 2px;
  .home-alarm-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 46px);
    padding-bottom: 6px;
    .chart-instance {
      display: flex;
      flex: 1;
      flex-grow: 2;
      .loading-chart {
        width: 100%;
        // height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #979BA5;
        .loading-img {
          width: 28px;
          height: 28px;
          margin-bottom: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .loading-text {
          font-size: 12px;
        }
      }
    }
  }
  .empty-chart {
    width: 100%;
    height: calc(100% - 46px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alarm-chart-header {
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: #313238;
    display: flex;
    align-items: center;
    padding: 0 16px;
    position: relative;
    &:hover {
      .more-operation {
        display: block;
      }
    }
    .header-title {
      max-width: 54%;
      display: inline-block;
      height: 45px;
      line-height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .chart-header-select {
      width: 115px;
      height: 30px;
      display: inline-block;
      margin-left: 5px;
      margin-top: -5px;
      .bk-select-name {
        padding: 0 26px 0 5px;
      }
    }
  }
  .chart-legend {
    height: 26px;
    margin: 0 auto;
  }
}
.home-chart-tips-popover {
  .chart-tips {
    color: #ea3636;
    margin-right: 4px;
    cursor: pointer;
    font-size: 16px;
  }
}
.home-chart-more-popover {
  display: inline-block;
  position: absolute;
  right: 12px;
  // display: none;
  .more-operation {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    color: #63656e;
    cursor: pointer;
    &:hover {
      background: #e1ecff;
    }
  }
}
.new-home-popover {
  .tippy-tooltip {
    padding: 0;
  }
  .home-chart-more-list {
    background: #fff;
    padding: 5px 0;
    .more-list-item {
      padding: 0 12px;
      display: block;
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      &:hover {
        background: #f5f7fa;
      }
      &.delete {
        color: #e71818;
      }
    }
  }
}
.new-home-tips {
  .home-chart-tips-list {
    .tips-item {
      margin-bottom: 5px;
      color: #4d4f56;
    }
    .tips-item-tag {
      display: inline-block;
      width: 38px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      font-size: 10px;
      background: #f0f1f5;
      border-radius: 2px;
      color: #4d4f56;
      margin-right: 4px;
    }
    .deleted {
      .tips-item-tag {
        background: #ffebeb;
        color: #e71818;
      }
      .txt {
        color: #c4c6cc;
        text-decoration: line-through;
      }
    }
  }
}
.new-home-chart-tooltips {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: none !important;
  .tooltips-content-item {
    font-size: 12px;
    font-weight: normal;
    .item-name {
      min-width: 20px;
    }
    .item-value {
      background: none;
      margin-left: 0;
    }
  }
}
