.recent-alarm-events {
  padding: 10px;
  padding: 20px 0;
  margin: 0 auto;
  background-color: #f5f7fa;
  border-radius: 8px;

  .title {
    margin-bottom: 12px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    line-height: 24px;
    color: #313238;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .tabs {
      display: flex;
      align-items: center;

      .tab {
        position: relative;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-right: 10px;
        border: 1px solid transparent;

        .tab-title {
          padding: 8px 8px 9px 8px;
          font-family: MicrosoftYaHei;
          font-size: 14px;
          line-height: 22px;
          color: #4d4f56;
          vertical-align: middle;
          cursor: pointer;

          &.active {
            font-family: MicrosoftYaHei-Bold;
            font-size: 16px;
            font-weight: 700;
            color: #4d4f56;
            border-bottom: 2px solid #3a84ff;
          }
        }

        .item-drag {
          position: absolute;
          top: 12px;
          left: -13px;
          height: 16px;
          color: #979ba5;
          visibility: hidden;

          &:hover {
            cursor: move;
            visibility: visible;
          }
        }

        .item-close {
          font-size: 13px;
          color: #4d4f56;
          visibility: hidden;

          &:hover {
            color: #ea3636;
            cursor: pointer;
          }
        }

        &:hover {
          .item-drag {
            cursor: move;
            visibility: visible;
          }

          .item-close {
            visibility: visible;
          }
        }
      }

      .add-task {
        margin-left: auto;
        font-family: MicrosoftYaHei;
        font-size: 12px;
        line-height: 20px;
        color: #3a84ff;
        letter-spacing: 0;
        cursor: pointer;

        .icon-plus-circle {
          margin-right: 5px;
          font-size: 14px;
        }
      }

      .task-disabled {
        color: #c4c6cc;
        cursor: not-allowed;
      }

      .time-filter {
        margin-top: 10px;
      }
    }
  }

  .content {
    .list-content {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 16px;
      align-items: center;

      .list-item {
        width: 32%;
        height: 210px;
        background: #ffffff;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 #1919290d;

        &:hover {
          cursor: pointer;
        }
      }

      .add-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        line-height: 22px;
        color: #3a84ff;
        text-align: center;
        background: #f0f5ff;
        border: 1px dashed #a3c5fd;
        border-radius: 2px;

        .icon-mc-add {
          font-size: 22px;
        }

        &:hover {
          background: #e1ecff;
        }
      }
    }

    .empty-content {
      .empty-img {
        width: 220px;
        height: 100px;
        margin: 70px auto 0;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .empty-info {
      margin-bottom: 24px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 22px;
      color: #4d4f56;
      text-align: center;
    }

    .empty-btn {
      margin-bottom: 100px;
      text-align: center;
    }
  }
}

.task-del-dialog {
  .bk-dialog-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 32px 24px;

    .icon {
      width: 42px;
      height: 42px;
      margin-bottom: 19px;
      font-size: 30px;
      line-height: 42px;
      color: #ff9c01;
      text-align: center;
      background: #ffe8c3;
      border-radius: 50%;
    }

    .info {
      height: 32px;
      margin-bottom: 16px;
      font-family: MicrosoftYaHei;
      font-size: 20px;
      line-height: 32px;
      color: #313238;
      text-align: center;
    }

    .detail {
      width: 100%;
      height: 22px;
      margin-bottom: 16px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 22px;
      color: #4d4f56;
    }

    .tips {
      width: 100%;
      height: 46px;
      padding: 12px 16px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 22px;
      color: #4d4f56;
      background: #f5f6fa;
      border-radius: 2px;
    }

    .foot {
      &:first-child,
      button {
        margin-right: 9px;
      }
    }
  }
}

.add-task-select-ext {
  .bk-option-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .strategy-name {
      font-family: MicrosoftYaHei;
      font-size: 12px;
      line-height: 20px;
      color: #4d4f56;
    }

    .strategy-status {
      .strategy-tag {
        display: inline-block;
        width: 52px;
        height: 22px;
        font-size: 12px;
        line-height: 22px;
        color: #4d4f56;
        text-align: center;
        background: #f0f1f5;
        border-radius: 2px;
      }

      .strategy-selected {
        color: #3a84ff;
      }
    }
  }
}

.task-add-dialog-footer {
  button {
    margin-left: 8px;
  }
}
