@import '../../../theme';
$statusColor2: #3fc06d #ea3636 #ff9c01;
$statusColor3: #e5f6ea #ffe6e6 #ffe8c3;
$statusType2: 'green' 'red' 'yellow';

.application-configuration {
  @include application-configuration-nav;

  .icon-plugin-desc {
    cursor: pointer;

    &:hover {
      color: #3a84ff;
    }
  }

  .application-configuration-page {
    display: flex;
    width: 100%;
    height: calc(100vh - 104px);

    .configuration-content-left {
      position: relative;
      display: flex;
      flex: 1;
      width: 100%;
      min-height: calc(100% - 32px);
      margin: 16px;
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(25,25,41,.05);

      @for $i from 1 through length($statusType2) {
        .status-icon.status-#{nth($statusType2, $i)} {
          display: inline-block;
          width: 8px;
          height: 8px;
          background-color: nth($statusColor3, $i);
          border: 1px solid nth($statusColor2, $i);
          border-radius: 50%;
        }
      }

      .conf-content {
        flex: 1;

        @include flex-column;

        .item-row {
          @include flex-align;

          .underline-text {
            border-bottom: 1px dashed #979ba5;
            font-size: 12px;
            cursor: default;
          }
        }

        .item-content {
          margin-bottom: 24px;

          &.form-content {
            padding-bottom: 20px;
            border-bottom: 1px solid #eaebf0;
          }
        }

        .editable-form-item {
          margin-bottom: 4px;
        }

        .form-item-label {
          width: 92px;
          min-width: 92px;
        }

        .content-card {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 4px 160px 0 16px;
          margin-bottom: 4px;
          background: #f5f7fa;
          border-radius: 2px;

          .msg-item {
            @include flex-align;

            .apdex-chart-box {
              width: 234px;
              height: 52px;

              .apdex-chart {
                background-color: #f5f7fa;

                .apdex-chart-content {
                  padding-bottom: 0;
                }
              }
            }
          }

          .tip-label {
            margin-right: 14px;
            font-size: 14px;
            color: #313238;
            border-bottom: 1px dashed #979ba5;
          }

          .label {
            margin-right: 10px;
            color: #979ba5;
          }

          .status-icon {
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }

          .group-tag {
            height: 22px;
            padding: 0 10px;
            margin-right: 4px;
            background: #fafbfd;
            border: 1px solid rgba(151,155,165,.30);
            border-radius: 2px;

            @include flex-align;
          }

          .card-tool {
            position: absolute;
            right: 24px;
          }

          .tool-btn {
            margin-left: 24px;
            color: #3a84ff;
            cursor: pointer;
          }

          .icon-monitor {
            margin-left: 4px;
          }
        }
      }

      .right-btn-wrap {
        font-weight: initial;
        color: #3a84ff;
        cursor: pointer;

        .icon-shuaxin {
          margin-right: 5px;
          font-size: 14px;
        }
      }

      .sampling-table {
        .text-log {
          position: relative;
          max-height: 74px;
          margin: 10px 0;
          overflow: hidden;
          cursor: pointer;

          :hover {
            color: #3a84ff;
          }
        }

        .collapse-btn {
          position: absolute;
          top: 60px;
          left: 0;
          display: inline-block;
          width: 100%;
          color: #3a84ff;
          background: #fff;
          transition: background-color .25s ease;
        }

        .hover-row {
          .collapse-btn {
            background-color: #f5f7fa;
          }
        }

        .expand-row {
          max-height: unset;

          .collapse-btn {
            position: relative;
            top: 2px;
          }
        }
      }

      .indicator-dimension-wrap {
        .indicator-filter {
          display: flex;

          .filter-select {
            width: 112px;
            margin-right: 16px;
          }

          .filter-input {
            width: 288px;
          }
        }

        .indicator-name {
          color: #3a84ff;
          cursor: pointer;
        }
      }

      .status-name {
        margin-left: 8px;
        line-height: 16px;
        white-space: nowrap;
        vertical-align: middle;
      }
    }

    .configuration-content-right {
      display: flex;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(253, 207, 207, .1);

      .right-wrapper {
        width: 100%;
      }

      .drag {
        position: fixed;
        top: 104px;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-items: center;
        width: 7px;
        height: calc(100% - 104px);
        border-left: 1px solid rgba(255, 255, 255, 0);
        outline: 0;

        &.active {
          border-left: 1px solid #3a84ff;
        }

        &:hover {
          cursor: col-resize;
          border-left: 1px solid #3a84ff;
        }

        .line-trigger {
          position: absolute;
          top: 50%;
          left: -16px;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 16px;
          min-height: 72px;
          padding: 10px 0;
          overflow: hidden;
          font-size: 12px;
          color: #63656e;
          cursor: pointer;
          background-color: #eaebf0;
          border: 1px solid #dcdee5;
          border-radius: 4px 0 0 4px;
          transform: translateY(-50%);

          .trigger-text {
            text-align: center;
            writing-mode: horizontal-tb
          }

          &:hover {
            color: #3a84ff;
            background: #e1ecff;
            border-color: #3a84ff;
          }

          .icon-arrow-left {
            font-size: 20px;
          }

          &.is-show {
            .icon-arrow-left {
              transform: rotate(180deg);
            }

            &.right {
              .icon-arrow-left {
                transform: rotate(0deg);
              }
            }
          }
        }
      }

      .configuration-view {
        height: 100%;
        overflow: auto;

        .view-header {
          padding: 14px 24px;
          font-size: 14px;
          line-height: 22px;
          color: #313238;

          @include flex-justify(space-between);

          .detail-shrink {
            margin-left: auto;

            @include tool-icon(24px);
          }
        }

        .view-content {
          padding: 0 24px 24px;
        }
      }
    }
  }

  .dashboard-panel .vue-grid-layout {
    background-color: #fff;
  }
}

.base-info-wrap {
  .edit-config-form {
    .bk-label {
      padding-right: 24px;
      font-size: 12px;
      color: #63656e;
    }

    .bk-form-content {
      line-height: 28px;
    }

    .form-flex-item {
      margin-top: 0;
      margin-left: 40px;
    }

    .alias-name-input,
    .sampling-rate-input,
    .sampling-type-select {
      width: 240px;
    }

    .description-input {
      width: 470px;
    }

    .apdex-input {
      width: 184px;
      height: 32px;
    }

    .right-unit {
      width: 32px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      background-color: #f0f1f5;
    }

    .sampling-hint {
      position: absolute;
      top: 0;
      left: 264px;
      color: #979BA5;

      span {
        margin-left: 8px;
        color: #63656E;
      }
    }
  }

  .grid-form {
    display: grid;
    grid-template-columns: 400px 400px;

    .bk-form-item {
      margin: 0 0 16px;
    }
  }

  .panel-tips {
    margin: 16px 0 0 44px;

    label {
      margin-right: 24px;
      color: #979ba5;
    }
  }

  .panel-intro {
    position: absolute;
    top: -12px;
    padding-left: 68px;
    margin: 6px 0;
    line-height: 20px;
    color: #979ba5;

    .indentation-text {
      padding-left: 20px
    }
  }

  .form-content {
    padding-left: 26px;
  }

  .display-item {
    display: flex;
    align-items: center;
    min-width: 400px;
    height: 32px;

    label {
      width: 92px;
      min-width: 92px;
      margin-right: 24px;
      line-height: 20px;
      color: #979ba5;
      text-align: right;
      white-space: nowrap;
    }

    .unit {
      margin-left: 4px;
      color: #979ba5;
    }

    &.sampling-rules-item {
      margin-top: 10px;
      align-items: normal;
      height: auto;
    }
  }

  .sampling-rule-brackets {
    position: absolute;
    top: 8px;
    left: -14px;
    width: 12px;
    height: calc(100% - 34px);
    border: 1px solid #DCDEE5;
    border-radius: 4px 0 0 4px;
    border-right: 0;

    .or-condition {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: -14px;
      display: inline-block;
      padding: 0 2px;
      line-height: 14px;
      height: 14px;
      background-color: #FFF3E1;
      color: #FE9C00;
      border-radius: 2px;
    }
  }

  .sampling-rules {
    position: relative;
    display: table;

    .rule-item {
      margin-bottom: 18px;

      .condition-item {
        white-space: nowrap;
      }
      
      .method {
        margin: 0 4px;
        color: #3a84ff;
      }
  
      .and-condition {
        margin: 0 4px;
        color: #FE9C00;
      }
    }
  }

  .sampling-rule-form-item {

    .add-rule-btn {
      padding-left: 0;

      .icon-plus {
        font-size: 18px;
      }
    }

    .sampling-rule-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 8px;
      line-height: 18px;

      .simple-select-input-component {
        display: inline-block;
        width: 120px;

        &:not(:first-of-type) {
          margin-left: -1px;
        }

        span:first-of-type {
          display: inline-block;
          height: 100%;
        }
      }
    }

    .condition {
      &-item {
        margin-bottom: 2px;
  
        &-label {
          height: 32px;
          line-height: 32px;
          flex-shrink: 0;
          background: #e7e9ef;
          border: 1px solid #dcdee5;
          padding: 0 16px;
          color: #313238;
          margin-left: -1px;
        }
  
        &-method {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #3a84ff;
          cursor: pointer;
          margin-left: -1px;
          border: 1px solid #dcdee5;
          border-radius: 0;
          height: 32px;
          min-width: 32px;
          font-weight: bold;
          padding: 0 5px;
  
          &:focus {
            border-color: #3a84ff;
            background-color: white;
            z-index: 9;
            box-shadow: 0 0 4px rgba(58,132,255,.4);
          }
        }
  
        &-value {
          margin-left: -1px;
          min-width: 170px;
  
          &.bk-tag-selector .bk-tag-input {
            border: 1px solid #dcdee5;
            border-radius: 0;
  
            .tag-list {
              display: flex;
              flex-wrap: nowrap;
            }
          }
        }
  
        &-condition {
          margin-left: -1px;
          padding: 0 4px;
          text-align: center;
          color: #ff9c01;
          min-width: 46px;
          max-width: 46px;
          height: 32px;
          border: 1px solid #dcdee5;
          border-radius: 0;
          font-weight: bold;
        }
      }
  
      &-add {
        border: 1px solid #dcdee5;
        border-radius: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1px;
        cursor: pointer;
        color: #979ba5;
  
        .icon-plus {
          font-size: 24px;
        }
  
        &:hover {
          color: #3a84ff;
          border-color: #3a84ff;
          background-color: white;
          z-index: 9;
          box-shadow: 0 0 4px rgba(58,132,255,.4);
        }
      }
    }

    .cycle-input-wrap {
      width: 130px;
      margin-left: -1px;
    }

    .sampling-rule-brackets {
      top: 18px;
    }
  }

  .instance-list {
    margin-left: 44px;

    ul {
      display: flex;
      flex-wrap: wrap;
      line-height: 32px;

      .instanct-wrap {
        text-align: center;
      }

      .drag-item {
        display: flex;
        align-items: center;
        height: 32px;
        line-height: 32px;
      }

      .instance-card {
        display: flex;
        align-items: center;
        height: 22px;
        padding: 0 10px;
        line-height: 22px;
        cursor: move;
        background-color: #f0f1f5;
        border-radius: 2px;

        &.active-item {
          background-color: #dcdee5;
        }

        &.disabled-item {
          cursor: default;
        }

        .icon-mc-close {
          position: relative;
          top: 1px;
          left: 3px;
          display: none;
          font-size: 14px;
          cursor: pointer;
        }

        &:not(.disabled-item):hover {
          .icon-mc-close {
            display: inline-block;
          }
        }

        .icon-mc-tuozhuai {
          margin-right: 4px;
          color: #c4c6cc;
        }
      }

      .delimiter {
        margin: 0 4px;
      }

      .alias-name {
        position: relative;
        top: -6px;
        left: -4px;
      }

      .instanct-wrap:last-child {
        .alias-name {
          left: 0;
        }
      }
    }

    .add-instance-wrap {
      display: flex;
      align-items: flex-start;
      margin-left: 8px;

      .add-button {
        position: relative;
        top: 5px;
        width: 22px;
        height: 22px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        background: #fff;
        border: 1px solid #c4c6cc;
        border-radius: 2px;

        .icon-monitor {
          color: #979ba5;
        }

        &.is-disabled {
          cursor: not-allowed;
          background-color: #fafbfd;
          border-color: #dcdee5;
        }
      }

      .instance-select {
        width: 160px;
        margin-left: 8px;
      }
    }
  }

  .dimession-list {
    margin: 16px 0 0 70px;

    .dimession-row {
      display: flex;
      margin-bottom: 8px;

      &.dimession-row-head {
        color: #979ba5;
      }
    }

    .dimession-name,
    .dimession-alias {
      width: 160px;
    }
  }

  .edit-demission {
    .dimession-name,
    .dimession-alias {
      width: 230px;
    }
  }

  .submit-handle {
    padding-bottom: 38px;
  }

  .header-tool {
    position: absolute;
    top: 66px;
    right: 24px;
    display: flex;

    .edit-btn {
      min-width: 80px;
    }

    .history-btn {
      width: 32px;
      height: 32px;
      margin-left: 8px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      background: #fff;
      border: 1px solid #c4c6cc;
      border-radius: 2px;
    }
  }

  .switcher-self {
    margin-left: 24px;
  }

  .switcher-text {
    margin-left: 10px;
    font-size: 12px;

    /* stylelint-disable-next-line declaration-no-important */
    font-weight: normal !important;
  }

  .log-path-item-row {
    display: flex;
    margin-bottom: 4px;

    .label {
      min-width: 92px;
      height: 32px;
      margin-right: 24px;
      font-size: 12px;
      line-height: 32px;
      color: #979ba5;
      text-align: right;
    }

    .value {
      padding-top: 10px;
      margin-bottom: 4px;
      font-size: 12px;
      color: #313238;
    }
  }

  .log-path-icon {
    /* stylelint-disable-next-line declaration-no-important */
    font-size: 18px !important;
    color: #c4c6cc;
    cursor: pointer;

    &-plus {
      margin-left: 16px;
    }

    &-minus {
      margin-left: 14px;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  .log-path-hint {
    font-size: 12px;
    color: #979ba5;
  }

  .btn-target-collect {
    font-size: 12px;

    .bk-icon {
      font-size: 18px;
    }
  }
}

.indicator-detail-sideslider {
  .title-wrap {
    font-weight: normal;
    color: #313238;

    @include flex-justify(space-between);

    .retrieve-btn {
      margin-right: 18px;
      font-size: 14px;
      color: #3a84ff;
      cursor: pointer;

      .icon-monitor {
        margin-left: 4px;
      }
    }
  }

  .indicator-detail-wrap {
    padding: 20px 40px;

    .divider {
      width: 100%;
      height: 1px;
      margin: 20px 0;
      background-color: #eaebf0;
    }

    .value-content {
      color: #63656e;
    }

    .tag-form-item {
      display: inline-table;
      width: auto;
      margin-top: 8px;

      .form-item-label {
        float: left;
      }

      .form-item-value {
        flex: 1;
      }
    }
  }
}

.compare-time-select-custom {
  margin-bottom: 6px;

  .custom-text {
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 0 16px;
    line-height: 32px;
    cursor: pointer;

    &:hover {
      color: #3a84ff;
      background-color: #eaf3ff;
    }
  }

  .time-input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 0 16px;

    .bk-form-control {
      line-height: 26px;
    }

    .help-icon {
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 12px;
      transform: translate(0, -50%);
    }
  }
}

.origin-log-sideslider {
  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bk-sideslider-content {
    height: calc(100% - 60px);

    .json-text-style {
      height: 100%;
      color: #c4c6cc;
      background-color: #313238;

      .vjs-tree {
        height: 100%;
        padding: 20px;
      }
    }
  }
}

.custom-services-wrap {
  width: 100%;

  .item-content {
    flex-direction: column;
  }

  .add-service {
    width: 80px;
    padding: 0 18px 0 10px;
    margin-bottom: 16px;
  }

  .service-info {
    display: flex;
    align-items: center;

    img {
      width: 14px;
      height: 14px;
    }

    .service-name {
      margin-left: 8px;
      color: #3a84ff;
      cursor: pointer;
    }
  }
}

.add-service-dialog {
  .bk-dialog-header {
    padding-bottom: 10px;
  }

  .bk-dialog-body {
    max-height: 597px;
    overflow: auto;
  }

  .add-dialog-main {
    padding: 0 16px;
  }

  .uri-source-content {
    .header-tool {
      @include flex-justify(space-between);

      label {
        font-size: 12px;
      }

      .right-btn-wrap {
        font-size: 12px;
        font-weight: initial;
        color: #3a84ff;
        cursor: pointer;

        .icon-shuaxin {
          margin-right: 5px;
          font-size: 14px;
        }
      }
    }

    .source-box {
      height: 80px;
      margin: 2px 0 14px;

      .bk-form-textarea {
        height: 80px;
        color: #c4c6cc;
        word-break: break-all;
        background-color: #313238;
        border-radius: 2px;
      }

      .bk-form-textarea:focus {
        /* stylelint-disable-next-line declaration-no-important */
        background-color: #313238 !important;
        border-radius: 2px;
      }

      .bk-form-textarea[disabled] {
        /* stylelint-disable-next-line declaration-no-important */
        background-color: #313238 !important;
        border-radius: 2px;
      }

      .bk-textarea-wrapper {
        border: none;
      }
    }
  }

  .add-form {
    .bk-label {
      font-size: 12px;
      color: #63656e;
    }

    .match-type-select {
      width: 100%;
      margin-top: 16px;

      .bk-button {
        width: 50%;
      }
    }

    .bk-form-content {
      line-height: 28px;
      // .form-error-tip {
      //   position: absolute;
      // }
    }

    .group-text {
      .icon-angle-down {
        margin-left: 4px;
        color: #979ba5;
      }
    }

    .params-list {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .name-input,
      .bk-select {
        width: 100px;
        margin-right: 16px;
      }

      .value-input {
        width: 264px;
      }

      .icon-monitor {
        margin-left: 16px;
        font-size: 16px;
        color: #c4c6cc;
        cursor: pointer;
      }

      .icon-mc-minus-plus {
        margin-left: 12px;

        &.disabled {
          color: #eaebf0;
          cursor: not-allowed;
        }
      }
    }

    .desc-contnet {
      height: 87px;
      padding: 6px 16px;
      margin: 16px 0 12px;
      background: #f0f1f5;
      border-radius: 2px;
    }

    .auto-match-wrap {
      margin-bottom: 16px;
    }
  }

  .debugging-content {
    margin-top: 8px;

    .header-tool {
      @include flex-align;

      .status-wrap {
        margin-left: 18px;
        font-size: 12px;

        @include flex-align;

        .icon-monitor {
          margin-right: 6px;
          font-size: 16px;
          color: #2dcb56;
        }

        .icon-mc-close-fill {
          color: #ea3636;
        }
      }
    }

    .result-box {
      height: 142px;
      padding: 12px 24px;
      margin-top: 24px;
      overflow: auto;
      font-size: 12px;
      color: #63656e;
      word-break: break-all;
      background: #f0f1f5;
      border-radius: 0 0 2px 2px;

      .bk-exception-text {
        font-size: 12px;
      }
    }
  }

  .bk-dialog-tool {
    /* stylelint-disable-next-line declaration-no-important */
    cursor: default !important;

    .icon-mc-close {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 24px;
      color: #979ba5;
      cursor: pointer;
    }
  }
}

.instance-select-popover {
  .instance-config-option {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;

    .instance-name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .instance-alias {
      color: #979ba5;
    }
  }

  .is-disabled .instance-alias {
    color: #c4c6cc;
  }
}

.panel-intro {
  .dropdown-list-item-disabled {
    /* stylelint-disable-next-line declaration-no-important */
    color: #c4c6cc !important;
    pointer-events: none;
    cursor: not-allowed;
  }

  .bk-icon.icon-plus-circle {
    display: inline;

    /* stylelint-disable-next-line declaration-no-important */
    font-size: 18px !important;
    line-height: none;
  }

  .card-list-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .db-config-card {
    width: 530px;
    margin-bottom: 12px;

    .title-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 12px;
      background-color: #f0f1f5;
      border-radius: 2px 2px 0 0;

      &.is-not-default {
        /* stylelint-disable-next-line declaration-no-important */
        background: #f0f5ff !important;
      }

      .close {
        /* stylelint-disable-next-line declaration-no-important */
        font-size: 20px !important;
        cursor: pointer;
      }
    }

    .card-container {
      padding: 10px 0;
      border: 1px solid #dcdee5;
      border-top: none;
      border-radius: 0 0 2px 2px;

      .bk-radio-button-text {
        height: 26px;
        font-size: 12px;
        line-height: 26px;
      }

      .bk-form-item+.bk-form-item {
        margin-top: 10px;
      }
    }
  }

  .bk-label {
    /* stylelint-disable-next-line declaration-no-important */
    font-size: 12px !important;
  }

  .low-sql-container {
    display: flex;
    align-items: center;

    .excution-input {
      width: 100px;
    }

    .text {
      margin: 0 6px;
      font-size: 12px;
      color: #313238;
    }
  }

  .sql-length-container {
    display: flex;
    align-items: center;

    .sql-cut-input {
      width: 100px;
    }

    .text {
      margin: 0 6px;
      font-size: 12px;
      color: #313238;
    }
  }

  .db-config-card-preview {
    display: inline-flex;
    flex-wrap: wrap;

    .db-config-card-preview-container {
      width: 320px;
      margin: 0 16px 16px 0;

      .db-config-card-preview-title {
        padding: 2px 12px;
        font-size: 12px;
        color: #63656e;
        background-color: #f0f5ff;
        border-radius: 2px 2px 0 0;

        &.is-default {
          background-color: #f0f1f5;
        }
      }

      .db-config-card-preview-content {
        padding: 8px 0;
        overflow: hidden;
        background-color: #fafbfd;
        border-radius: 0 0 2px 2px;

        .row {
          display: flex;
          align-items: center;
          padding-top: 8px;
          padding-bottom: 8px;

          .label-text {
            display: inline-block;
            width: 100px;
            font-size: 12px;
            color: #63656e;
            text-align: right;
          }

          .label-colons {
            margin: 0 10px 0 5px;
          }

          .label-value {
            font-size: 12px;
            color: #313238;
          }
        }
      }
    }
  }
}
