.collector-detail-page {
  height: 100%;
  padding: 24px;

  .bk-tab.monitor-tab {
    .bk-tab-label-item {
      padding: 0 24px;
    }
  }

  .collector-status-details-component {
    padding: 0;
  }
}
