.action-detail-table-skeleton {
  width: 100%;
  background: #fff;

  .w--100 {
    width: auto;
  }

  .h-32 {
    height: 32px;
  }

  .h-20 {
    height: 20px;
  }

  .mt-24 {
    margin-top: 24px;
  }

  .h-36 {
    height: 36px;
  }

  .mt-26 {
    margin-top: 26px;
  }
}