<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蓝鲸监控平台</title>
</head>
<body>
{{attachments[0]['content_id']}}
<img src="cid:__INLINE__{{attachments[0]['filename']}}">
</body>
</html>