.uptime-check-node-table-skeleton { 
  padding: 20px 16px;
  background: #ffff;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(25,25,41,.05);

  .container-01 {
    display: flex;
    align-items: center;
  }
}