.uptime-check-task-card-skeleton {
  .container-01 {
    display: flex;
    align-items: center;
  }

  .container-02 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-row-gap: 8px;
    grid-column-gap: 16px;
    padding: 8px 0;
  }
}