.meal-content-new {
  margin-top: 16px;
  background-color: white;

  .header {
    position: relative;
    padding: 16px 30px 30px 30px;
    margin-bottom: 10px;
    background: #ffff;
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,.10), 0px 1px 0px 0px #eaebf0;

    .header-title {
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 700;
      color: #313238;
      text-align: left;
    }
  }

  .wrapper {
    padding: 0 30px 30px 30px;
  }
}

.meal-select-popover-warp {
  .meal-options {
    display: flex;
    justify-content: space-between;

    .icon-meal {
      // margin-right: 20px;
      cursor: pointer;
    }
  }
}