.description-card {
  display: flex;
  width: 100%;
  padding: 8px;
  line-height: 20px;
  color: #313238;
  background: #f5f7fa;

  .card-prefix {
    flex-shrink: 0;
    margin-right: 4px;

    .expression {
      margin-left: 4px;
      font-weight: 700;
      color: #3a84ff;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .description-row {
      display: flex;
      align-items: flex-start;

      .description-label {
        flex-shrink: 0;
        width: 60px;
        margin-right: 6px;
        color: #757880;
        text-align: right;
      }

      .description-value {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
        column-gap: 4px;

        &.tags-value {
          .tag-item {
            color: #4d4f56;
            background: #eaebf0;
          }
        }

        &.condition-value {
          .condition-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 4px;
            background: #eaebf0;
            border-radius: 2px;

            .key-wrap {
              .key-name {
                color: #757880;
              }

              .key-method {
                margin-left: 2px;
                color: #979ba5;
              }
            }

            .value-wrap {
              font-family: 'RobotoMono-Regular', 'Menlo', 'Monaco', Consolas, 'Courier New', monospace;
              color: #313238;
            }
          }
        }
      }
    }
  }
}
