.bklog-log-filter {
  &.form-input {
    height: 100%;

    .bk-form,
    .bk-select,
    .bk-form-item,
    .bk-select-dropdown,
    .bk-tooltip-ref,
    .bk-form-content,
    .input-trigger {
      width: 100%;
      height: 100%;
    }

    .input-box {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 10px;
      background: #fff;
    }

    .bk-form-input,
    .input-trigger {
      border: 1px solid transparent;
      border-radius: 0;
      transition: border-color 0.3s ease-in-out;

      &:hover {
        border-color: #a4c6fe;
      }
    }

    .none-border {
      border: none;
    }

    .bk-select {
      border: none;
    }

    .bk-form-content {
      height: 42px;
    }

    .bk-form-content .tooltips-icon {
      top: 14px;
    }
  }
}
