.tapd-basic-form {
  padding: 24px 40px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #1919290d;

  .tapd-form {
    display: flex;
    gap: 24px;

    .bk-form-item {
      flex: 1;
    }
  }

  .form-label-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .form-label-text {
      position: relative;
      font-size: 12px;
      font-weight: 700;
      color: #4d4f56;

      &::after {
        position: absolute;
        top: 0;
        width: 14px;
        color: #ea3636;
        text-align: center;
        content: '*';
      }
    }

    .default-tag {
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: 12px;
      color: #979ba5;
      cursor: pointer;

      .icon-monitor {
        font-size: 14px;
      }

      &.active {
        color: #3a84ff;

        .icon-monitor {
          color: #3a84ff;
        }
      }

      &:hover:not(.active) {
        color: #3a84ff;
      }
    }
  }

  .create-tapd-tab {
    display: flex;
    gap: 16px;
    align-items: center;

    .divider {
      width: 1px;
      height: 16px;
      background-color: #e9edf5;
    }

    .tab-item {
      display: flex;
      gap: 7px;
      align-items: center;
      height: 48px;
      font-size: 14px;
      font-weight: 500;
      color: #313238;
      cursor: pointer;
      border-bottom: 3px solid transparent;

      .icon-jia {
        font-size: 14px;
      }

      &.active {
        color: #3974ff;
        border-bottom-color: #3974ff;
      }

      &.disabled {
        color: #aaa;
        cursor: not-allowed;
      }
    }
  }
}
