.field-select-config {
  margin-left: 16px;
  font-weight: normal;
.bk-dropdown-content {
  width: 180px;
}
  .dropdown-trigger-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 68px;
    height: 32px;
    color: #313238;
    cursor: pointer;
    position: relative;
    &:hover {
      color: #3a84ff;
    }
  }
.dropdown-content{
  position: absolute;
  z-index: 999;
  width: 180px;
  /* height: 148px; */
  background: #FFFFFF;
  border: 1px solid #DCDEE5;
  box-shadow: 0 2px 6px 0 #0000001a;
  border-radius: 2px;
  left: 12px;
  .bk-form-input{
    border: 1px solid transparent;
    &:focus{
    border: 1px solid transparent;
    /* stylelint-disable-next-line declaration-no-important */
    border-color: #FFFFFF !important;
    }
  }
  ul{
    margin-top: 4px;
    max-height: 100px;
    overflow:scroll;
    cursor: pointer;
  }
  li{
    height: 32px;
    line-height: 32px;
    color: #4D4F56;
    padding-left: 12px;
  }
  .manage-setting{
    cursor: pointer;
    width: 178px;
    height: 40px;
    background: #FAFBFD;
    border-radius: 0 0 2px 2px;
    color: #4D4F56;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #DCDEE5;
  }
  .underline-box {
    width: 95%;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid #EAEBF0; /* 设置底部边框为1px，颜色为黑色 */
  }
}
  .dropdown-trigger-text .bklog-icon {
    margin-top: 2px;
    margin-right: 4px;
    font-size: 12px;
  }
}
