.alarm-center-detail-panel-host {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px 0;

  .alarm-detail-panel-host-skeleton-dom {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
  }

  &.is-loading {
    .alarm-detail-panel-host-skeleton-dom {
      display: block;
    }

    .host-selector-container,
    .ai-hight-card-wrap {
      position: relative;

      & > :not(.alarm-detail-panel-host-skeleton-dom) {
        z-index: -1;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }

  .panel-host-white-bg-container {
    flex-shrink: 0;
    padding: 16px;
    background: #fff;
    border: 1px solid #e4e9f2;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 #1919290a;

    .host-selector-wrap {
      .host-selector-label {
        display: inline-block;
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 20px;
        color: #4d4f56;
      }

      .host-selector-row {
        display: flex;
        align-items: center;
      }

      .host-selector-container {
        flex: 1;
        min-width: 0;
        max-width: 480px;
      }

      .host-explore-link-btn {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin-left: 12px;
        font-size: 12px;
        line-height: 20px;
        color: #3a84ff;
        cursor: pointer;

        &.disabled {
          color: #dcdee5;
          cursor: not-allowed;
        }

        &:not(.disabled):hover {
          color: #699df4;
        }

        .icon-mc-link {
          margin-left: 4px;
          font-size: 14px;
        }
      }
    }

    .ai-hight-card-wrap {
      margin-top: 12px;

      .ai-highlight-card-main {
        padding-left: 0;
      }

      .ai-content-wrap {
        .title {
          font-size: 12px;
          font-weight: 600;
          line-height: 20px;
          color: #313238;
        }

        .list {
          padding-left: 20px;
          font-size: 12px;
          line-height: 20px;
          color: #313238;

          li {
            list-style: disc;
          }

          .list-item {
            display: flex;
            align-items: center;

            .status {
              display: flex;
              align-items: center;
              color: #ea3636;

              .dot {
                width: 8px;
                height: 8px;
                margin: 0 4px;
                background-color: #ffebeb;
                border: 1px solid #ea3636;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }

  .panel-host-chart-wrap {
    flex: 1;
    padding: 16px 0;
  }
}
