.template-config-wrap-component {
  padding: 24px;
  margin-top: 12px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #1919290d;

  .template-config-title {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #313238;
  }

  .template-query-panel-component {
    margin-bottom: 10px;
  }
}