.download-main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 14px;
    color: #63656e;
    cursor: pointer;
    background: #f0f1f5;
    border-radius: 2px;

    &:hover {
      background: #eaebf0;
    }

    &:active {
      background-color: #e1ecff;
    }

    &.is-disabled {
      cursor: not-allowed;
      background-color: #fff;
      border-color: #dcdee5;

      &:hover,
      .bk-icon {
        color: #c4c6cc;
        border-color: #dcdee5;
      }
    }
  }
}