/* stylelint-disable declaration-no-important */
.collapse-wrap-event {
  margin: 0 !important;

  .bk-collapse-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &.is-empty {
      cursor: pointer;

      .bk-collapse-header {
        pointer-events: initial;

        .collapse-item-title {
          .title-left {
            .icon-mc-triangle-down {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }

    .bk-collapse-header {
      height: 26px !important;
      padding: 0 !important;

      .bk-collapse-title {
        margin: 0 !important;
      }

      .bk-collapse-icon {
        display: none !important;
      }

      .collapse-item-title {
        padding: 0 4px!important;
        cursor: pointer;

        &:hover {
          background-color: #f0f1f5;

          .display-btn {
            display: inline-block;
          }
        }

        .title-left {
          display: flex;
          align-content: center;
          align-items: center;
          font-size: 22px;
          line-height: 26px;
          border-radius: 2px;

          .icon-mc-triangle-down {
            display: inline-block;
            color: #63656e;
            transition: transform .3s;
            transform: rotateZ(-90deg);
          }

          span {
            font-size: 12px;
            color: #63656e;
          }

          .type-icon {
            display: inline-block;
            width: 22px;
            margin-left: -6px;
            color: #979ba5;
            text-align: center;
          }

          .field-value-count {
            height: 16px;
            padding: 0 4px;
            margin-left: 8px;
            line-height: 16px;
            color: #63656e;
            background: #fff;
            border: 1px solid #dcdee5;
            border-radius: 2px;
          }

          .field-name {
            font-size: 12px;
          }
        }

        &.is-expanded {
          background-color: #f0f1f5;

          .icon-mc-triangle-down {
            transform: rotateZ(0);
          }
        }

        .display-btn {
          display: none;
          height: 26px;
          font-size: 12px;
          line-height: 26px;
        }
      }
    }

    .bk-collapse-content {
      padding: 0 10px !important;
    }

    .bk-collapse-item-content {
      padding: 8px 16px 16px 12px;
    }

    .field-list-item-content {
      .field-list-item-desc {
        margin-bottom: 4px;
        line-height: 20px;
      }

      .val-percent-item {
        display: flex;
        align-items: center;
        margin: 6px 0;

        .val-percent-text {
          position: relative;
          top: 4px;
          display: flex;
          justify-content: space-between;
          line-height: 14px;

          .field {
            overflow: hidden;
            font-size: 12px;
            color: #63656e;
            text-overflow: ellipsis;
            white-space: pre;
          }

          .percent {
            color: #2dcb56;
          }
        }

        .val-percent-progress {
          position: relative;
          flex: 1px;
          width: 100%;
          overflow: hidden;

          .bk-progress {
            .progress-bar {
              border-radius: 3px;

              .progress-inner {
                border-radius: 3px;
              }
            }
          }
        }

        .icon-box {
          transform: translateY(10px);

          .icon {
            margin-left: 10px;
            font-size: 18px;
            color: #3a84ff;
            cursor: pointer;

            &:last-child {
              margin-left: 4px;
            }
          }
        }
      }

      .link-btn {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
        color: #3a84ff;

        .btn-more,
        .btn-grafana {
          cursor: pointer;
        }

        .icon-mc-link {
          margin-left: 4px;
        }
      }
    }
  }
}