html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #63656e;
}

html {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

label {
  margin-bottom: 0;
}

* {
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft YaHei', SimSun,
    sans-serif !important; /* stylelint-disable-line declaration-no-important */

  &:focus {
    outline: none;
  }
}

div,
ul,
section,
article {
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(204, 204, 204, .3);
  }
}

input::-webkit-inner-spin-button {
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
}

a {
  text-decoration: none;
}

.bk-monitor-drag {
  position: fixed;
  top: 50%;
  left: 242px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 6px;
  height: 100px;
  background-color: #dcdee5;
  border-radius: 3px;
  transform: translateY(-50%);

  &::after {
    position: absolute;
    left: 2px;
    width: 0;
    height: 80px;
    content: ' ';
    border-left: 2px dotted white;
  }

  &:hover {
    cursor: col-resize;
  }
}

.bk-monitor-drag-simple {
  position: absolute;
  top: 50%;
  right: -3px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 6px;
  height: 25px;
  border-radius: 3px;
  transform: translateY(-50%);

  &::after {
    position: absolute;
    left: 2px;
    width: 0;
    height: 100%;
    content: ' ';
    border-left: 4px dotted #63656e;
  }

  &:hover {
    cursor: col-resize;
  }
}

.tippy-tooltip {
  .tippy-content {
    padding: 0;
  }

  .tippy-arrow,
  .tippy-roundarrow {
    position: absolute;
    width: 0;
    height: 0;
  }

  &.common-monitor-theme {
    min-width: 68px;

    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
    pointer-events: all;

    /* stylelint-disable-next-line declaration-no-important */
    background-color: white !important;

    /* stylelint-disable-next-line declaration-no-important */
    border-radius: 2px !important;
  }
}

.disable-hover,
.disable-hover * {
  /* stylelint-disable-next-line declaration-no-important */
  pointer-events: none !important;
}

.cursor-element {
  width: 12px;
  height: 16px;
  background: url('../img/lock.svg');
}

.monitor-chart-tooltips {
  z-index: 12;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-radius: 10px;

  .tooltips-header {
    margin: 0 0 2px 6px;
    font-weight: bold;
    color: #f1f3fa;
    text-align: left;
  }

  .tooltips-content {
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      flex: 1;
      align-items: center;
      height: 18px;
      margin: 2px 4px;
      margin-right: 5px;

      .item-series {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6px;
        height: 6px;
        margin-right: 6px;
        border-radius: 50%;
      }

      .item-name {
        margin-right: 5px;
        color: #f1f3fa;
      }

      .item-value {
        display: flex;
        align-items: center;
        height: 18px;
        padding: 0 5px;
        // flex: 1;
        margin-left: auto;
        color: rgba(255, 255, 255, .8);
        background-color: rgba(1, 1, 1, .8);
        border-radius: 3px;
      }
    }
  }
}

.bk-scroll-home {
  .bk-min-nav-slide {
    /* stylelint-disable-next-line declaration-no-important */
    width: 4px !important;
    border-radius: 4px;
  }
}

.simplicity-input {
  .bk-form-input {
    height: 24px;
    padding-left: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  .bk-form-input[readonly] {
    /* stylelint-disable-next-line declaration-no-important */
    border-bottom-color: #c4c6cc !important;
  }
}

.bk-table-column-setting {
  /* stylelint-disable-next-line declaration-no-important */
  border-bottom: 1px solid #dfe0e5 !important;
}

.bk-table-setting-popover-content-theme.tippy-tooltip {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 15px 0 0 !important;
}

.bk-table-filter-panel .bk-link {
  color: #3a84ff;
  cursor: pointer;
}

.markdown-viewer.md-veiwer-flowchart-wrap .toastui-editor-contents ol li::before {
  /* stylelint-disable-next-line declaration-no-important */
  content: counter(li) !important;
}
