.suspicious-dimension-panel {
  .tips {
    margin-bottom: 8px;
    font-size: 12px;
    color: #313238;
  }

  .link-text {
    color: #3a84ff;
    cursor: pointer;
  }

  .dimension-group-list {
    .dimension-group-item {
      display: grid;
      grid-template-rows: 0fr;
      grid-template-columns: 100%;
      overflow: hidden;
      border: 1px solid #eaebf0;
      border-radius: 2px;
      transition: grid-template-rows 0.6s ease;

      .group-wrapper {
        min-height: 26px;

        .group-header {
          display: flex;
          align-items: center;
          height: 26px;
          cursor: pointer;
          background: #eaebf0;
          border-radius: 2px 2px 0 0;

          .icon-monitor {
            font-size: 24px;
          }

          .group-name {
            flex: 1;
            overflow: hidden;
          }

          .abnormal-degree {
            margin-right: 8px;
            font-size: 12px;
            color: #c12626;
          }
        }

        .group-content {
          .dimension-item {
            display: flex;
            align-items: center;
            height: 24px;
            background: #fff;

            .dimension-name {
              width: 110px;
              padding-left: 24px;
              font-size: 12px;
              color: #757880;
            }

            .dimension-value {
              font-size: 12px;
              color: #313238;
            }

            &.even {
              background: #f8fafd;
            }
          }
        }

        .group-footer {
          display: flex;
          align-items: center;
          height: 24px;
          padding-right: 8px;
          padding-left: 24px;
          border-top: 1px solid #eaebf0;

          .question-reason {
            flex: 1;
            font-size: 12px;
            color: #c12626;
          }

          .link-detail {
            display: flex;
            align-items: center;

            .icon-monitor {
              margin-right: 5px;
              font-size: 12px;
            }
          }
        }
      }

      &.expand {
        grid-template-rows: 1fr;
      }
    }
  }
}
