@import '../../../theme/index';

.custom-detail-page-component {
  height: 100%;
  overflow: hidden;

  .bk-alert-title {
    color: #4d4f56;
  }

  .hint-alert {
    margin: 16px 24px 12px;

    :deep(.icon-info) {
      margin-right: 5px;
      color: #979ba5;
    }
  }

  .icon-audit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 16px;

    &::before {
      width: 16px;
      height: 16px;
    }

    &:hover {
      color: #63656e;
      cursor: pointer;
      background-color: #f0f1f5;
      border-radius: 50%;
    }

    &.active {
      color: #3a84ff;
      background-color: #e1ecff;
      border-radius: 2px;
    }
  }

  .common-nav-bar-single {
    padding: 0 14px;

    .custom {
      display: flex;
      align-items: center;

      .dec {
        margin-right: 8px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        line-height: 24px;
        color: #313238;
      }

      .title {
        position: relative;
        padding-left: 9px;
        font-size: 14px;
        line-height: 22px;
        color: #979ba5;

        &::before {
          position: absolute;
          top: 4px;
          left: 0;
          width: 1px;
          height: 14px;
          content: '';
          background: #dcdee5;
        }
      }
    }
  }
}

.custom-detail-page {
  display: flex;
  align-items: flex-start;
  height: calc(100% - 96px);
  overflow: hidden;

  .custom-detail {
    position: relative;
    flex: 1;
    height: calc(100% - 20px);

    // border: 1px solid red;
    padding: 0 24px;
    overflow: -moz-scrollbars-none; /* Firefox */
    // overflow-y: auto;
    overflow: hidden;
    font-size: 12px;
    scrollbar-width: none; /* Firefox 64+ */
    -ms-overflow-style: none; /* IE/Edge */

    .form-content-textarea {
      position: relative;
      bottom: -30px;
    }

    .custom-detail-page-table {
      width: 100%;
      height: calc(100% - 250px);
      box-shadow: 0 2px 4px 0 #1919291f;
    }
  }

  .right-window {
    position: relative;
    z-index: 10;
    width: 0;
    height: calc(100vh - 104px);
    overflow: visible;
    background: $whiteColor;
    border: 0;

    &.active {
      width: 400px;
      min-width: 400px;

      @include border-1px($color: $defaultBorderColor);
    }

    .right-window-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      padding: 0 24px;
      font-size: 14px;
      line-height: 40px;
      color: #313238;

      .title-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
          background: #eaebf0;
        }

        .line {
          width: 9px;
          height: 2px;
          background: #63656e;
        }
      }
    }

    .right-window-content {
      height: calc(100% - 85px);
      padding: 16px 23px 0;
      overflow: hidden scroll;
      color: $defaultFontColor;

      .content-title {
        margin-bottom: 10px;
        font-weight: bold;
      }

      .content-interval {
        margin-top: 25px;
      }

      .content-row {
        position: relative;
        margin-bottom: 16px;

        .content-example {
          padding: 10px 14px;
          margin-top: 6px;
          overflow-x: auto;
          background: #f4f4f7;
        }

        .content-copy {
          position: absolute;
          top: 30px;
          right: 10px;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background: #fff;
          border-radius: 2px;
          box-shadow: 0 2px 4px 0 #1919290d;

          @include hover($cursor: pointer);

          .icon-mc-copy {
            font-size: 12px;
            color: #3a84ff;
          }
        }

        .content-prometheus {
          position: relative;

          .content-copy-prometheus {
            position: absolute;
            top: 6px;
            right: 6px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 #1919290d;

            @include hover($cursor: pointer);

            .icon-mc-copy {
              font-size: 12px;
              color: #3a84ff;
            }
          }
        }

        .copy-textarea {
          height: 0;
          opacity: 0;
        }
      }

      pre {
        margin: 0;
        line-height: 20px;
      }
    }

    .right-button {
      position: absolute;
      top: calc(50% - 72px);
      left: -16px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 72px;
      background: #eaebf0;
      border: 1px solid #dcdee5;
      border-radius: 4px 0 0 4px;

      @include hover($cursor: pointer);

      .icon {
        font-size: 24px;
        color: #979ba5;
      }

      div {
        margin: -4px 0 0 6px;
      }
    }
  }
}
