.event-source-header {
  .header-left-wrap {
    .text-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: bold;
      height: 100%;
      border-radius: 2px;
      background-color: #444;
    }
  }

  .operate-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}