@import '@/scss/mixins/scroller';

.log-extract-container {
  padding: 0 24px 20px;
  font-size: 14px;
  color: #313238;

  .top-title-container {
    height: 60px;
    padding: 20px 0;
    margin: 0 60px;
    border-bottom: 1px solid #dde4eb;

    .top-title {
      display: flex;
      align-items: center;
      padding-left: 10px;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      border-left: 2px solid #a3c5fd;

      .icon-arrows-left-shape {
        padding: 2px 8px 2px 2px;
        color: #979ba5;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
          color: #3a84ff;
          transition: color 0.2s;
        }
      }
    }
  }

  .main-container {
    position: relative;
    padding-bottom: 60px;
    overflow: auto;

    @include scroller($backgroundColor: #c4c6cc, $width: 4px);
  }
}
