.event-detail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  .event-detail-head-container {
    width: 100%;
    min-height: 52px;
    padding-left: 8px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 #1919291f;
  }

  .chat-btn,
  .feedback-btn {
    position: absolute;
    top: 48px;
    right: 40px;
    z-index: 1;
    color: #3a84ff;
    cursor: pointer;

    .icon-monitor {
      margin-right: 4px;
      font-size: 12px;
    }
  }

  .chat-btn {
    right: 100px;
  }

  .container-group {
    position: relative;
    width: 100%;
    padding: 0 84px;
    // min-width: 1200px;
    // padding-bottom: 68px;

    .basicinfo-bottom-border {
      display: none;
    }
  }

  .detail-resize-view {
    width: 100%;
    height: calc(100vh - 104px);
    border: none;

    .container-group {
      padding: 0 16px;
    }

    .bk-resize-layout-aside {
      background: #f0f3fa;
    }
  }

  .event-detail-aiops {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .container-group {
      padding: 12px 16px;

      .event-detail-basic {
        margin-top: 0px;
      }

      .event-detail-tab {
        .bk-tab-unborder-card {
          position: sticky;
          top: 0;
          z-index: 99;
          background: #fff;
        }
      }

      .view-bottom {
        position: sticky;
        bottom: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% + 66px);
        height: 42px;
        font-size: 12px;
        background-color: #e1ecff;
        border-radius: 2px;

        .view-bottom-label {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .link {
          margin: 0 4px;
          color: #3a84ff;
          cursor: pointer;

          .icon-fenxiang {
            margin: 0 2px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .bk-resize-layout-aside-content {
    background-color: #f0f3fa;
  }
}
