$textcolor: #63656e;

// 书签样式
@mixin bookmarks($color: #ffb848) {
  position: absolute;
  top: 0px;
  left: -8px;
  width: 12px;
  height: 18px;
  background: $color;

  &::before,
  &::after {
    position: absolute;
    width: 0px;
    height: 0px;
    content: '';
    border: 12px solid #0000;
  }

  &::after {
    bottom: -6px;
    border-left: 12px solid $color;
  }

  &::before {
    top: 0;
    right: 0;
    border-right: 12px solid $color;
  }
}

.event-detail-handleexperiences {
  width: 100%;
  padding: 17px 16px 24px 16px;
  margin-top: 16px;
  background: #ffff;

  &.displaynone {
    display: none;
  }

  .condition-readonly {
    line-height: 32px;
    word-break: break-all;
  }

  .big-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin-top: 16px;
    color: #979ba5;
    border: 1px dashed #dcdee5;
    border-radius: 2px;

    &:hover {
      color: #3a84ff;
      cursor: pointer;
      border: 1px dashed #3a84ff;
    }

    .center-text {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 22px;

      .icon-mc-add {
        font-size: 24px;
      }
    }
  }

  .empty-bg {
    .bk-exception-img {
      .exception-image {
        width: 350px;
      }
    }

    .bk-exception-text {
      position: relative;
      top: -30px;
      font-size: 12px;
      line-height: 20px;
      color: $textcolor;
    }
  }

  .experience-list {
    .experience-item {
      margin-top: 25px;

      &:first-of-type {
        margin-top: 16px;
      }

      .item-header {
        display: flex;
        align-items: flex-start;
        min-height: 40px;
        padding: 0 16px;
        font-size: 12px;
        background: #fafbfd;
        border: 1px solid #dcdee5;
        border-radius: 2px 2px 0px 0px;

        .bookmarks {
          @include bookmarks();
        }

        .metric-title {
          position: relative;
          padding: 10px 0 10px 12px;
          font-weight: bold;
          line-height: 20px;
          color: $textcolor;
          word-break: break-all;
        }

        .dimsion-title {
          padding: 10px 0;
          font-weight: bold;

          .condition-readonly {
            line-height: 20px;
          }
        }

        .status {
          padding: 0 10px;
          margin: 9px 0 0 8px;
          line-height: 22px;
          color: #14a568;
          white-space: nowrap;
          background: #e4faf0;
          border-radius: 2px;
        }

        .update-time {
          margin-right: 24px;
          margin-left: 24px;
          line-height: 40px;
          color: #979ba5;
          white-space: nowrap;
        }

        .operate-options {
          display: flex;
          align-items: center;
          height: 40px;
          margin: 0 0 0 auto;
          font-size: 16px;

          .icon-bianji {
            margin-right: 24px;
            font-size: 24px;
          }

          .icon-bianji,
          .icon-mc-delete-line {
            color: #979ba5;

            &:hover {
              color: $textcolor;
              cursor: pointer;
            }
          }
        }
      }

      .item-content {
        padding: 8px 16px 8px 16px;
        border: 1px solid #dcdee5;
        border-top: 0;
      }
    }
  }

  .edit-content {
    margin-top: 16px;

    .content-header {
      display: flex;
      align-items: flex-start;

      .bind-relation {
        display: flex;
        align-items: center;

        .title {
          color: $textcolor;
          white-space: nowrap;
        }

        .red {
          margin: 0 12px 0 6px;
          color: #ea3636;
        }

        .bind-select {
          width: 120px;
        }
      }

      .bind-condition {
        flex: 1;
        padding: 0 16px;

        .metric-name {
          display: flex;
          margin-top: 8px;
          line-height: 16px;
          color: $textcolor;
          word-break: break-all;
        }

        .condition-item-value {
          display: grid;

          .bk-tag-input {
            flex: 1;

            .tag-list {
              flex-wrap: wrap;
            }
          }
        }
      }

      .updata-time {
        display: flex;
        align-items: center;
        height: 32px;
        margin: 0 0 0 auto;
        color: #979ba5;
      }
    }

    .content-md {
      margin-top: 16px;
    }

    .content-bottom {
      margin-top: 16px;

      .save {
        margin-right: 8px;
      }

      .save,
      .cancel {
        min-width: 88px;
      }
    }
  }

  .err-red {
    color: #ea3636;
  }
}

.cycle-list-wrapper-theme {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
}
