/* stylelint-disable declaration-no-important */
.event-detail-log-info-component {
  display: none;
  min-height: 300px;

  &.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-panel {
    min-width: 100%;
    background: #f5f7fa;

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    .vue-grid-layout {
      background: #fff;

      .vue-grid-item{
        left: 0 !important; 
        width: 100% !important;
      }
    }
  }

  .related-log-chart-wrap {
    padding: 0 16px;
    // height: auto !important;
    overflow: visible;

    .related-alert-info {
      position: fixed;
      right: 0 !important;
      bottom: 0;
      left: unset !important;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 42px;
      background-color: #e1ecff !important;
      border-radius: 2px;
      box-shadow: none !important;
    }
  }

  .empty-chart {
    height: 440px;
  }
}