/* stylelint-disable declaration-no-important */
.event-detail-performance-view {
  display: none;
  min-height: 300px;

  &.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-panel {
    min-width: calc(100% + 34px);
    background: #f5f7fa;

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    .vue-grid-layout {
      background: #f5f7fa;
    }
  }

  .no-data {
    font-size: 12px;

    .no-data-img {
      width: 300px;
    }

    .no-data-01 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .link {
      margin: 0 8px;
      color: #3a84ff;
      cursor: pointer;
    }

    .row {
      margin-bottom: 12px;
    }
  }
}
