.quick-alarm-shield-event {
  padding: 0 1px;
  font-size: 14px;
  color: #63656e;
  margin-top: 25px;
  .stratrgy-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    &.m0 {
      margin-bottom: 0;
    }
    .item-label {
      width: 68px;
      margin-bottom: 8px;

    }
    .item-before {
      position: relative;
      &::before {
        content: "*";
        color: #ea3636;
        position: absolute;
        top: 0;
        right: -9px;
      }
    }
    .item-time {
      display: flex;
      .width-item {
        min-width: 86px;
        &:hover {
          color: #3a84ff;
          background: #e1ecff;
          border: 1px #3a84ff solid;
          z-index: 2;
        }
      }
      .custom-width {
        width: 327px;
      }
      .is-selected {
        color: #3a84ff;
        background: #e1ecff;
        border: 1px #3a84ff solid;
        z-index: 2;
      }
      .bk-button {
        border-radius: 0;
        margin-left: -1px;
      }
    }
    .item-content {
      display: flex;
      flex-direction: column;
      padding: 17px 21px 0 21px;
      min-width: 625px;
      background: #fafbfd;
      border: 1px solid #dcdee5;
      border-radius: 2px;
      margin-bottom: 17px;
      font-size: 12px;
      .column-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3px;
        .icon-mc-wailian {
          font-size: 21px;
          color: #979ba5;
          cursor: pointer;
          line-height: 12px;
          position: relative;
          top: 3px;
        }
      }
      .column-label {
        min-width: 70px;
        text-align: right;
        margin-right: 7px;
      }
      .column-content {
        word-wrap: break-word;
        word-break: break-all;
        .tag-theme {
          margin: 2px 6px 2px 0;
          background-color: #fff;
        }
        .icon-mc-wailian {
          &:hover {
            color: #3a84ff;
            cursor: pointer;
          }
        }
        .reset {
          border: 1px solid #C4C6CC;
          background: #FFFFFF;
          border-radius: 2px;
          box-sizing: border-box;
          display: inline-block;
          width: 22px;
          height: 22px;
          text-align: center;
          padding: 2px 0;
        }
        .icon-zhongzhi1 {
          display: inline-block;
          width: 16px;
          height: 16px;
          line-height: 16px;
        }
      }
    }
    .item-tips {
      display: flex;
      align-items: center;
      font-size: 12px;
      height: 32px;
      width: 100%;
      background: #f0f8ff;
      border: 1px solid #e1ecff;
      margin-bottom: 10px;
      i {
        font-size: 14px;
        color: #3a84ff;
        margin: 0 9px 0 11px;
      }
    }
    .bk-date-picker.long {
      width: 327px;
    }
    .bk-date-picker-rel .bk-date-picker-editor {
      border-radius: 0;
      margin-left: -1px;
      border: 1px #3a84ff solid;
    }
  }
  .bk-date-picker-dropdown {
    /* stylelint-disable-next-line declaration-no-important */
    left: 191px !important
  }
  .bk-dialog-wrapper .bk-dialog-body {
    padding: 1px 24px 4px;
  }
}
.quick-shield-dialog {
  .monitor-dialog {
    max-height: 549px;
    .monitor-dialog-body {
      max-height: 455px;
      overflow-y: auto;
    }
  }
}