.quick-alarm-shield-event {
  padding: 0 1px;
  font-size: 14px;
  color: #63656e;
  margin-top: 25px;
  .stratrgy-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 0 0 1px;
    max-height: 500px;
    overflow-y: auto;
    &.m0 {
      margin-bottom: 0;
    }

    &.custom-time {
      margin-top: -10px;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 42px;
      font-size: 12px;
      color: #4d4f56;
      border: 1px solid #dcdee5;
      background-color: #fafbfd;

      &::after {
        position: absolute;
        top: -4px;
        left: 0;
        width: 4px;
        height: 4px;
        content: '';
        border-top: 1px solid #dcdee5;;
        border-right: 1px solid #dcdee5;;
        transform: rotate(-45deg);
        background-color: #fafbfd;
      }

      .custom-input-time {
        margin: 0 8px;
        width: 48px;
        
        .bk-form-input {
          line-height: 22px;
          height: 22px;
        } 
      }

      .custom-select-time {
        margin: 0 8px;
      }
    }

    &.left-next-day::after {
      left: 81%;
    }

    &.left-custom::after {
      left: 93.7%;
    }

    .bk-tag {
      max-width: 448px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .item-label {
      width: 68px;
      margin-bottom: 8px;

    }
    .item-before {
      position: relative;
      &::before {
        content: "*";
        color: #ea3636;
        position: absolute;
        top: 0;
        right: -9px;
      }
    }
    .item-time {
      display: flex;
      width: 100%;
      .width-item {
        flex: 1;
        min-width: 86px;
        max-width: 13%;
        &:hover {
          color: #3a84ff;
          background: #e1ecff;
          border: 1px #3a84ff solid;
          z-index: 2;
        }
      }

      .is-selected {
        color: #3a84ff;
        background: #e1ecff;
        border: 1px #3a84ff solid;
        z-index: 2;
      }
      .bk-button {
        border-radius: 0;
        margin-left: -1px;
      }
    }
    .item-content {
      display: flex;
      flex-direction: column;
      padding: 17px 21px 0 21px;
      min-width: 625px;
      background: #fafbfd;
      border: 1px solid #dcdee5;
      border-radius: 2px;
      margin-bottom: 17px;
      font-size: 12px;
      .column-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3px;
        .icon-mc-wailian {
          font-size: 21px;
          color: #979ba5;
          cursor: pointer;
          line-height: 12px;
          position: relative;
          top: 3px;
        }

        &.column-item-select {
          margin: 6px 0;
          .column-label {
            padding-top: 5px;
          }
        }
      }
      .column-label {
        // min-width: 70px;
        flex-shrink: 0;
        // 修改宽度要注意调整屏蔽选择宽度计算方式（src\fta-solutions\pages\event\event-detail\quick-shield.tsx内的函数：targetOverviewCount函数）
        width: 70px;
        text-align: right;
        margin-right: 7px;
        word-wrap: break-word;
        word-break: break-all;

        &.is-special {
          padding-top: 5px;
        }
      }
      .column-content {
        word-wrap: break-word;
        word-break: break-all;
        .tag-theme {
          margin: 2px 6px 2px 0;
          background-color: #fff;
        }
        .icon-mc-wailian {
          &:hover {
            color: #3a84ff;
            cursor: pointer;
          }
        }
        .reset {
          border: 1px solid #C4C6CC;
          background: #FFFFFF;
          border-radius: 2px;
          box-sizing: border-box;
          display: inline-block;
          width: 22px;
          height: 22px;
          text-align: center;
          padding: 2px 0;
        }
        .icon-zhongzhi1 {
          display: inline-block;
          width: 16px;
          height: 16px;
          line-height: 16px;
        }

        .dimension-edit {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin: 2px 0;
          width: 22px;
          height: 22px;
          overflow: hidden;
          vertical-align: top;
          cursor: pointer;

          .icon-bianji {
            font-size: 12px;
            color: #979ba5;
            transform: scale(2);
          }

          & + .reset {
            margin-left: 12px;
          }

          &.is-hidden {
            visibility: hidden;
          }

          &.is-absolute {
            position: absolute;
            right: -4px;
            top: 1px;
          }
        }
      }
    }
    .item-tips {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 12px;
      height: 32px;
      width: 100%;
      background: #f0f8ff;
      border: 1px solid #e1ecff;
      margin-bottom: 10px;
      i {
        font-size: 14px;
        color: #3a84ff;
        margin: 0 9px 0 11px;
      }
    }
    .bk-date-picker.long {
      width: 300px;
    }
    .bk-date-picker-rel .bk-date-picker-editor {
      border-radius: 0;
      margin-left: -1px;
      // border: 1px #3a84ff solid;
    }
  }
  .bk-date-picker-dropdown {
    /* stylelint-disable-next-line declaration-no-important */
    left: 191px !important
  }
  .bk-dialog-wrapper .bk-dialog-body {
    padding: 1px 24px 4px;
  }

  .shield-radio-item {
    display: flex;
    align-items: center;
    line-height: 26px;
    & + .shield-radio-item {
      margin-top: 5px;
    }

    input[type=radio] {
      flex-shrink: 0;
      margin-right: 6px;
    }

    .shield-radio-content {
      position: relative;
      margin-left: 15px;
      // margin-right: -15px;
      padding-right: 15px;
      display: inline-block;
      vertical-align: middle;
      max-width: 530px;
      height: 30px;
      overflow: hidden;
    }

    .hide-count {
      margin: 2px 6px 2px 0;
      display: inline-block;
      vertical-align: top;
      width: 32px;
      height: 22px;
      text-align: center;
      line-height: 22px;
      border: 1px solid #DCDEE5;
      background-color: #fff;
      & ~ .bk-tag {
        display: none;
      }
    }
  }
  
  
}
.quick-shield-dialog {
  .monitor-dialog {
    // max-height: 549px;
    .monitor-dialog-body {
      // max-height: 455px;
      overflow-y: auto;
    }
  }
}

.quick-shield-dialog-wrap {
  .bk-dialog-body {
    padding: 0;
  }
  
  .header-on-left {
    margin-top: -7px;
  }
}
