/* stylelint-disable declaration-no-important */
.event-detail-scene-view {
  display: none;
  min-height: 300px;

  &.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-panel {
    min-width: calc(100% + 34px);
    background: #f5f7fa;

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    .vue-grid-layout {
      background: #f5f7fa;
    }
  }
}
