{{gettext("%(notice_title)s", notice_title=notice_title)}}{{gettext("notice，the %(level_name)s alarm occurs under the current %(bk_biz_name)s business %(strategy_name)s", bk_biz_name=business.bk_biz_name, strategy_name=alert.alert_name, level_name=level_name)}}