.k8s-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  background: #ffffff;
  box-shadow:
    0 1px 0 0 #dcdee5,
    0 3px 4px 0 #4070cb0f;

  .nav-title {
    display: flex;
    align-items: center;
    padding-left: 24px;

    .title {
      font-size: 16px;
      color: #313238;
    }

    .nav-select {
      width: 160px;
      height: 32px;
      margin: 0 18px;
      line-height: 32px;
      background: #f0f1f5;
      border: none;
      border-radius: 2px;

      .bk-select-name {
        font-size: 14px;
        color: #313238;
      }
    }

    .icon-mc-target-link {
      font-size: 14px;
      color: #3a84ff;
      cursor: pointer;
    }
  }

  .nav-tools {
    .dashboard-tools {
      padding-right: 25px;

      .dashboard-tools-interval {
        &::after {
          display: none;
        }
      }
    }
  }
}
