@import '@/scss/mixins/clearfix';
@import '@/scss/conf';
@import '@/scss/devops-common.scss'; 

.log-archive-repository {
  padding: 20px 24px;

  .top-operation {
    margin-bottom: 20px;

    @include clearfix;

    .bk-button {
      width: 120px;
    }
  }

  .repository-search {
    width: 320px;
  }

  .repository-table {
    .filter-column {
      .cell {
        display: flex;
      }
    }
  }
}