.repository-slider-content {
  min-height: 394px;

  .bk-form.bk-form-vertical {
    padding: 0 0 26px 36px;

    .bk-form-content {
      width: 500px;
    }

    .bk-form-item {
      padding-left: 34px;
      margin-top: 12px;
    }

    .bk-alert {
      width: 500px;
      margin: 10px 0 12px 34px;
    }

    .bk-select,
    .bk-date-picker {
      width: 300px;
    }

    .es-cluster-item {
      display: flex;
      margin-top: 16px;

      .bk-label {
        /* stylelint-disable-next-line declaration-no-important */
        width: auto !important;
      }

      .bk-form-content {
        display: flex;
      }

      .bk-select {
        width: 240px;
      }

      .es-source {
        margin-left: 10px;
        font-size: 14px;
        color: #63656e;
      }
    }

    .repository-item {
      display: inline-block;
    }

    .repository-card {
      position: relative;
      float: left;
      width: 158px;
      height: 76px;
      padding: 12px;
      margin-right: 12px;
      font-size: 14px;
      color: #63656e;
      cursor: pointer;
      background: #f5f7fa;
      border: 1px solid #f5f7fa;
      border-radius: 2px;

      &:last-child {
        margin-right: 0;
      }

      &.is-active {
        color: #3a84ff;
        background: #e1ecff;
        border: 1px solid #a3c5fd;
      }
    }

    .card-image {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }
  }

  .form-title {
    padding: 0 0 8px 10px;
    margin: 24px 40px 0 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #63656e;
    border-bottom: 1px solid #dcdee5;
  }

  .repository-alert {
    padding-right: 10px;
  }

  .principal-item {
    display: flex;
    align-items: center;

    .bk-switcher {
      margin-right: 16px;
    }

    .bk-form-control {
      flex: 1;
    }
  }
}

.option-slot-container {
  min-height: 32px;
  padding: 8px 0;
  line-height: 14px;

  &.no-authority {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c4c6cc;
    cursor: not-allowed;

    .text {
      width: calc(100% - 56px);
    }

    .apply-text {
      display: none;
      flex-shrink: 0;
      color: #3a84ff;
      cursor: pointer;
    }

    &:hover .apply-text {
      display: flex;
    }
  }
}