.alarm-center-detail-panel-host {
  display: flex;
  flex-direction: column;
  background: #f5f7fa;

  .panel-host-white-bg-container {
    flex-shrink: 0;
    padding: 12px 24px 8px;
    background: #fff;
    box-shadow: 0 0 12px 0 #00000014;

    .host-selector-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .host-selector {
        flex: 1;
        min-width: 0;
      }

      .host-explore-link-btn {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin-left: 16px;
        line-height: 20px;
        color: #3a84ff;
        cursor: pointer;

        .icon-mc-goto {
          margin-left: 4px;
          font-size: 15px;
        }
      }
    }
  }

  .panel-host-chart-wrap {
    flex: 1;
    padding: 12px 24px;
  }
}
