.fta-home {
  overflow-y: scroll;
  max-height: 100%;
  
  .fta-home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1366px;
  }

  .fta-home-content {
    width: 1366px;

    .business-overview,
    .data-overview {
      .overview-title {
        display: flex;
        align-items: center;

        .left {
          display: flex;
          align-items: flex-end;

          .title {
            font-size: 16px;
            font-weight: 700;
            color: #313238;
          }

          .msg {
            font-size: 12px;
            color: rgba(0,0,0,.40);
            font-weight: 400;
            margin-left: 10px;
          }
        }

        .right {
          margin: 0 0 0 auto;
          display: flex;
          align-items: center;

          .time-select {
            margin-right: 10px;
          }

          .filter-select {
            margin-left: 10px;
            width: 92px;
          }
        }
      }
    }

    .data-overview {
      margin-top: 32px;

      .overview-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 114px;
        background: #fff;
        box-shadow: 0px 1px 8px 0px #f0f1f5;
        border-radius: 2px;
        margin-top: 10px;
        padding: 0 7px;

        .data-item {
          position: relative;
          width: 163px;
          height: 88px;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: background-color .5s linear;

          &.border-right::before {
            content: '';
            background: #f0f1f5;
            height: 59px;
            width: 1px;
            position: absolute;
            right: 0;
            top: 14px;
          }

          &:hover {
            background: #f0f1f5;
            border-radius: 2px;
          }

          .item-top {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-top: 13px;

            .num {
              color: #313238;
              font-size: 30px;
            }

            .unit {
              color: #313238;
              font-size: 14px;
              margin: 0 0 5px 4px;
            }
          }

          .item-bottom {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
              color: #3a84ff;
            }

            .title {
              font-size: 14px;
              color: rgba(0,0,0,.60);
              margin-left: 4px;
            }
          }
        }
      }
    }

    .business-overview {
      margin-top: 38px;

      .overview-content {
        padding: 17px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 17px;
      }
    }
  }

  .home-scrollload {
    width: 100px;
    min-height: 32px;
  }

  .home-no-data {
    .bk-exception-img {
      .exception-image {
        width: 320px;
      }
    }

    &-msg {
      position: relative;
      font-size: 12px;
      top: -42px;
    }
  }
}