.favorite-box-favorite-info-query {
  background: #f0f1f5;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 12px;
  max-height: 280px;
  overflow-y: auto;
  .promql-box {
    display: flex;
    .promql-label {
      padding-right: 4px;
      word-break: keep-all;
    }
    .promql-val {
      word-break: break-all;
    }
  }
}
