<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${u'未登录蓝鲸平台(401页)'}</title>
<link href="${STATIC_URL}css/bk.css" rel="stylesheet">
</head>

<body style="font-family:Microsoft Yahei;">
	<div class="errors-401-wrap box">
        <img src="${STATIC_URL}img/expre_401.jpg" width="207" height="143" />
        <h1>${u'您还没有登录蓝鲸！'}</h1>
        <a href="###" style="cursor:pointer;" onclick="window.top.location.reload()">${u'立即登录'}</a>
    </div>
</body>

</html>
