{{alarm.ack_title}} [列表详情]({{alarm.detail_url}})
{{content.ack_operators}}
{{content.ack_reason}}
**{{gettext("代表：")}}**
{{alert.alert_name | safe}} [详情]({{alarm.example_detail_url}})
{{user_content | safe}}