@import "../../theme";

.panel-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  .item-header {
    margin-bottom: 16px;

    @include flex-justify(space-between);
    @include flex-align;
    .title {
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
    }
    .header-tool {
      color: #3a84ff;
      cursor: pointer;
    }
  }
  .item-row {
    @include flex-align
  }
  .item-content {
    position: relative;
    margin-bottom: 24px;
    flex: 1;
    display: flex;
    width: 100%;
    .form-content {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #eaebf0;
    }    
  }
}