.ai-panel-component {
  // border-top: 1px solid #eaebf0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 8px 0 16px;
  font-size: 12px;

  &::after {
    position: absolute;
    top: 0;
    width: calc(100% - 32px);
    height: 1px;
    content: '';
    background: #eaebf0;
  }

  .ai-panel-title {
    display: flex;
    align-items: center;
    height: 42px;
    margin-top: 10px;
    font-size: 14px;
    color: #313238;

    .icon-hint {
      margin-left: 4px;
      font-size: 14px;
      color: #979ba5;
    }

    .setting-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin: 0;
      overflow: hidden;
      font-size: 16px;
      color: #979ba5;
      cursor: pointer;
    }

    .icon-mc-add-strategy {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-left: auto;
      font-size: 15px;
      color: #63656e;
      cursor: pointer;

      &:hover {
        background-color: #e1ecff;
        border-radius: 50%;
      }
    }
  }

  .ai-panel-subtitle {
    display: flex;
    margin: 6px 0 12px 0;
    line-height: 20px;
    color: #979ba5;
  }

  .ai-panel-table {
    width: 100%;

    .name-col {
      overflow: hidden;
      color: #3a84ff;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }

    .score-col {
      color: #ea3636;
    }
  }

  .ai-panel-list {
    .ai-panel-list-item {
      height: 48px;
      padding: 4px 8px;
      margin-top: 8px;
      font-size: 12px;
      cursor: pointer;
      background: #f5f7fa;
      border-radius: 2px;

      .metric-name {
        line-height: 20px;
        color: #63656e;
      }

      .count-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 20px;
        color: #979ba5;

        .red {
          color: #ea3636;
        }
      }

      &:hover {
        background: #f0f5ff;

        .metric-name {
          color: #3a84ff;
        }
      }
    }
  }

  .no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 248px;
    height: 180px;
    background: #fafbfd;
    border-radius: 2px;

    .exception-image {
      width: 176px;
      height: 80px;
      margin-top: 24px;
    }

    .no-data-img {
      width: 176px;
      height: 80px;
      // margin-top: 24px;
      object-fit: cover;
      background-image: url('../../../../static/images/png/success.png');
    }

    .open-btn {
      margin-top: 8px;
      font-size: 12px;
    }

    .no-data-text {
      margin-top: 8px;
      font-size: 12px;
      line-height: 20px;
      color: #979ba5;
    }
  }
}
