.popover-add-index-set {
  background: #fff;
  box-shadow: 0 2px 6px 0 #0000001a;
  border-radius: 2px;
  width: 360px;
  padding: 16px 0 0;
  .mr8 {
    margin-right: 8px;
  }
  .title {
    font-size: 16px;
    color: #313238;
    margin-bottom: 12px;
  }
  .add-index-set-form {
    padding: 0 16px;
  }
  .title {
    padding: 0 16px;
  }
  .add-btns {
    padding: 8px 16px 8px 0;
    text-align: right;
    margin-top: 24px;
    background: #fafbfd;
    border-top: 1px solid #dcdee5;
  }
}
