.log-keyword-setting {
    margin-right: 40px;

    .new-button {
        width: 88px;
        margin: 12px 0;
    }

    .mr16 {
        margin-right: 16px;
    }

    .jump-link-placeholder {
        color: #3A84FF;
        cursor: default;
    }
}