.explore-tags-col {
  --tag-height: 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: var(--tag-height);

  .tag-item {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    height: var(--tag-height);
    padding: 0 8px;
    color: var(--tag-color);
    background-color: var(--tag-bg-color);
    border-radius: 2px;
  }
}
