.ai-highlight-card.ai-diagnostic-info-card {
  --border-left-width: 1px;
  --left-special-border-width: 0px;

  flex-direction: column;
  padding: 16px;
  border-radius: 8px;

  .link-text {
    font-size: 12px;
    color: #3a84ff;
    cursor: pointer;

    &:hover {
      color: #699df4;
    }
  }

  .ai-highlight-card-main {
    padding: 0;
  }

  .ai-diagnostic-info-content {
    padding: 8px 12px;
    background: #fff;
    border-radius: 8px;

    .ai-diagnostic-info-item {
      display: flex;

      .info-item-label {
        flex-shrink: 0;
        font-size: 12px;
        line-height: 20px;
        color: #8f9fbd;
      }

      .info-item-content {
        flex: 1;
        font-size: 12px;
        line-height: 20px;
        color: #313238;

        .empty {
          color: #c4c6cc;
        }

        .icon-bianji {
          font-size: 20px;
          vertical-align: middle;
        }
      }

      & + .ai-diagnostic-info-item {
        margin-top: 8px;
      }
    }

    .fara-process {
      line-height: 20px;

      & + .fara-process {
        margin-top: 4px;
      }

      .fara-process-name {
        font-size: 12px;

        &.link-text {
          color: #3a84ff;
        }
      }

      .fara-process-meta {
        font-size: 12px;
        color: #313238;
      }
    }
  }
}
