.k8s-new___group-item {
  & + .group-item {
    margin-top: 8px;
  }

  .group-count {
    height: 16px;
    padding: 0 8px;
    margin: 0 4px;
    line-height: 16px;
    background: #ffffff;
    border-radius: 2px;
  }

  .arrow-icon {
    font-size: 18px;
    transition: transform 0.1s;

    &.expand {
      transform: rotateZ(90deg);
    }
  }

  .group-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 12px 0 24px;
    margin-bottom: 8px;
    cursor: pointer;
    background: #f0f1f5;
    border-radius: 2px;

    &-left {
      display: flex;
      align-items: center;

      .arrow-icon {
        position: absolute;
        top: 7px;
        left: 4px;
      }

      .group-name {
        font-size: 12px;
        color: #313238;
      }

      .icon-shaixuan {
        font-size: 16px;
        color: #3a84ff;
      }
    }

    .group-select {
      font-size: 12px;
      color: #3a84ff;
    }
  }

  .group-content {
    .group-content-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      padding-left: 24px;
      cursor: pointer;

      .content-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .tools {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 44px;
        padding-left: 4px;
        font-size: 14px;

        .drill-down-icon {
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;

          &.active {
            color: #3a84ff;
            background: #cddffe;
          }
        }

        .view-icon:hover {
          color: #3a84ff;
        }

        .icon-monitor:hover {
          color: #3a84ff;
        }

        .icon-sousuo- {
          color: #3a84ff;
        }
      }
    }

    .show-more {
      padding-bottom: 4px;
      font-size: 12px;
      line-height: 20px;
      color: #979ba5;
      text-align: center;

      .text {
        cursor: pointer;

        &:hover {
          color: #3a84ff;
        }
      }
    }
  }

  .child-content {
    .child-header {
      position: relative;
      display: flex;
      align-items: center;
      height: 32px;
      padding-left: 37px;
      cursor: pointer;

      &:hover {
        background: #f5f7fa;
      }

      .group-count {
        background-color: #f0f1f5;
      }

      .arrow-icon {
        position: absolute;
        top: 7px;
        left: 18px;
      }
    }

    .group-content-item {
      padding-left: 37px;
    }
  }
}

.drill-down-list-menu {
  width: 100px;
  padding: 4px 0;

  .menu-item {
    height: 32px;
    padding: 0 7px 0 12px;
    font-size: 12px;
    line-height: 32px;
    color: #4d4f56;
    cursor: pointer;

    &:hover {
      background: #f5f7fa;
    }
  }
}
