.k8s-metric-list {
  width: 100%;
  padding: 12px 16px;
  background: #fafbfd;
  box-shadow: 0 -1px 0 0 #dcdee5;

  .panel-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #313238;
  }

  .group-content-item {
    cursor: pointer;

    &:hover {
      background-color: #f1f7ff;
    }

    .view-icon {
      margin-right: 13px;
    }
  }
}
