.k8s-left-panel {
  height: 100%;

  .k8s-left-panel-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    user-select: none;
    border-radius: 2px 0 0 0;
    box-shadow: 1px 0 0 0 #dcdee5;
  }

  .panel-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #313238;
  }

  .k8s-object {
    width: 100%;
    padding: 16px 24px;
    background-color: #fff;

    .object-group {
      margin-top: 12px;
    }
  }

  .k8s-metric {
    width: 100%;
    padding: 12px 24px;
    background: #fafbfd;
    box-shadow: 0 -1px 0 0 #dcdee5;

    .panel-title {
      margin-bottom: 8px;
    }

    .skeleton-element-group {
      & + .skeleton-element-group {
        margin-top: 20px;
      }

      .group-title {
        width: 100%;
        height: 32px;
        margin-bottom: 8px;
      }

      .group-content {
        width: calc(100% - 31px);
        height: 20px;
        margin: 0 7px 12px 24px;
      }
    }
  }
}
