.k8s-dimension-list {
  width: 100%;
  padding: 16px 24px;
  background-color: #fff;

  .panel-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #313238;
  }

  .object-group {
    margin-top: 12px;
  }
}
