/* stylelint-disable declaration-no-important */
.promql-monaco-editor-component {
  .monaco-scrollable-element {
    left: 10px !important;
    width: calc(100% - 10px) !important;
  }

  .placeholder-widget {
    top: 8px !important;
    left: 12px !important;
    color: #888;
    pointer-events: none;
  }
}