@import '../../../../theme/mixin.scss';

.host-list-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;

  .host-list-main {
    // height: calc(100% - 32px);
    height: 100%;
    padding: 0 16px;
  }

  .host-list-tool {
    .target-compare-tips {
      max-height: 32px;
      overflow: hidden;
    }

    & > * {
      margin-bottom: 8px;
    }
  }

  .overview-btn {
    height: 32px;
    padding: 0 16px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 32px;
    cursor: pointer;
    background-color: #fafbfd;
    border-radius: 2px;

    .icon-mc-overview {
      margin-right: 5px;
      font-size: 14px;
    }

    &.active,
    &:hover {
      color: #3a84ff;
      background-color: #e1ecff;
    }
  }

  .host-item-wrap {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 12px;
    line-height: 32px;
    cursor: pointer;

    @include host-status;
    @include ellipsis;

    .host-status {
      margin-right: 6px;
    }

    .host-item-host-name {
      flex-shrink: 0;
      color: #c4c6cc;
    }

    .compare-btn-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 0 8px;

      .compare-btn-text {
        display: none;
        font-size: 14px;
      }
    }

    &:hover:not(.active) {
      .compare-btn-wrap {
        background-color: #e1ecff;

        .compare-btn-text {
          display: initial;
        }
      }
    }

    &.checked-target {
      color: #979ba5;
      background-color: #f5f7fa;

      .compare-btn-wrap {
        background-color: #f5f7fa;

        .icon-mc-check-small {
          font-size: 20px;
          color: #979ba5;
        }
      }
    }

    &:hover {
      color: #3a84ff;
      background-color: #e1ecff;
    }

    &.active {
      color: #3a84ff;
      background-color: #e1ecff;
    }
  }

  .bk-scroll-home {
    width: 100%;

    .bk-scroll {
      /* stylelint-disable-next-line declaration-no-important */
      width: 100% !important;
    }
  }

  .host-list-skeleton-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #fff;
  }
}
