@import '../../../static/scss/mixin.scss';

.advanced-filter-skeleton {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  padding-right: 16px;

  @include simple-class-style('h', 24);
  @include simple-class-style('w', 24);
  @include simple-class-style('mt', 8);

  .w-auto {
    width: auto
  }

  .container-01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}