/* stylelint-disable declaration-no-important */
.table-legend {
  width: 320px;
  font-size: 12px;
  line-height: 26px;
  color: #63656e;
  border-collapse: collapse;

  tr {
    height: 26px;
  }

  thead tr {
    position: sticky;
    top: 0;
  }

  thead tr,
  tr:nth-child(even) {
    background: #f5f6fa;
  }

  th {
    padding: 0 12px;
    font-weight: bold;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      background-color: #f0f1f5;
    }

    .caret-wrapper {
      position: relative;
      top: -1px;
      display: inline-flex;
      flex: 20px 0 0;
      flex-direction: column;
      align-items: center;
      height: 20px;
      margin-left: 4px;
      vertical-align: middle;
      cursor: pointer;

      .sort-caret {
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 4px;
        border: 5px solid transparent;

        &:hover {
          cursor: pointer;
        }

        &.is-asc {
          top: -1px;
          border-bottom-color: #c0c4cc;

          &.active {
            border-bottom-color: #63656e;
          }
        }

        &.is-desc {
          bottom: -1px;
          border-top-color: #c0c4cc;

          &.active {
            border-top-color: #63656e;
          }
        }
      }
    }
  }

  td {
    display: table-cell;
    padding: 0 6px;
    text-align: right;
    white-space: nowrap;

    .content-wrapper {
      display: flex;
      align-items: center;
      text-align: right;

      .legend-metric {
        display: inline-flex;
        align-items: center;
        margin-right: 9px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;

        .metric-label {
          display: inline-block;
          width: 12px;
          min-width: 12px;
          height: 4px;
          margin-right: 6px;
          background-color: violet;

          &.is-dashed {
            height: 2px;
            background-color: transparent !important;
            background-image: linear-gradient(to right, var(--series-color, violet) 50%, transparent 50%) !important;
            background-size: 6px 1px;
          }
        }

        .metric-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:hover {
          color: #999;
          cursor: pointer;
        }
      }

      .legend-value {
        margin-left: auto;
        text-align: right;
      }
    }
  }
}
