.collection-favorite-popover {
  .bk-form-input[readonly],
  .bk-form-textarea[readonly] {
    /* stylelint-disable-next-line declaration-no-important */
    background-color: #f0f1f5 !important;
  }

  .popover-title-content {
    margin-bottom: 10px;

    .dialog-title {
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      color: #313238;
      letter-spacing: 0;
    }
  }

  .tippy-tooltip[data-size='small'] {
    height: 430px;
    padding: 16px 16px;
    box-shadow: 0 2px 6px 0 #999999;
  }

  .bk-tooltip-content {
    height: 414px;

    .bk-form-content {
      .bk-form-control {
        .bk-input-text {
          .bk-form-input[readonly] {
            border: 0px;
          }
        }

        .bk-textarea-wrapper {
          border: 0px;

          .bk-form-textarea[readonly] {
            border: 0px;
          }
        }
      }
    }
  }

  .popover-footer {
    position: absolute;
    right: -16px;
    bottom: 0;
    width: 400px;
    height: 42px;
    padding: 8px 16px;
    background: #fafbfd;
    box-shadow: 0 -1px 0 0 #dcdee5;

    .footer-button {
      text-align: right;
    }
  }

  .add-popover-new-page-container {
    .tippy-tooltip[data-size='small'] {
      height: auto;
      padding: 0;
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
    }

    .bk-tooltip-content {
      height: auto;
    }
  }
}

.favorite-group-extension {
  .select-add-new-group {
    cursor: pointer;
  }

  .add-new-page-input {
    display: flex;
    align-items: center;
    padding: 6px 0;

    .operate-button {
      justify-content: space-between;
      width: 45px;
      margin-left: 6px;
      font-size: 16px;
      color: #979ba5;

      .bk-icon {
        cursor: pointer;
      }
    }
  }
}

.bk-dropdown-menu {
  .bk-dropdown-list {
    li > .disabled:hover {
      color: #dcdee5;
    }

    .disabled {
      color: #dcdee5;
      cursor: not-allowed;
    }
  }

  .bk-dropdown-trigger {
    .icon-save {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 2px;
    }
  }
}
