.search-bar-wrapper {
  position: sticky;
  top: 0px;
  z-index: 4;

  .search-bar-container {
    display: flex;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 #19192914;

    .search-options {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 82px;
      min-height: 48px;
      cursor: pointer;
      border-right: solid 1px #dcdee5;

      .mode-text {
        display: inline-flex;
        font-size: 12px;
        color: #313238;
      }

      .bklog-qiehuan-2 {
        margin-left: 4px;
        color: #4d4f56;
      }

      &:hover {
        .mode-text {
          color: #3a84ff;
        }

        .bklog-qiehuan-2 {
          color: #3a84ff;
        }
      }
    }

    .search-input {
      position: relative;
      display: flex;
      width: 100%;
      min-height: 48px;
      // padding-right: 120px;
      background: #ffffff;
      border-radius: 2px;

      &.disabled {
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          cursor: not-allowed;
          content: '';
          background-color: transparent;
        }
      }

      .search-tool {
        // position: absolute;
        // top: 0;
        // bottom: 0;

        .bk-tooltip {
          display: inline-flex;
        }

        &.items .disabled {
          color: #dcdee5;
          cursor: not-allowed;
        }

        &.items {
          display: flex;
          align-items: center;
          justify-content: space-around;
          // width: 60px;
          padding-right: 4px;
          // right: 48px;
          color: #4d4f56;

          .bklog-keyword-inspect {
            width: 280px;
            padding: 12px;
            cursor: default;
            background: #ffffff;
            border: 1px solid #dcdee5;
            box-shadow: 0 2px 6px 0 #0000001a;

            .inspect-row {
              width: 100%;
              text-align: left;

              .inspect-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                color: #313238;

                .inspect-keyword-replace {
                  font-size: 12px;
                  color: #3a84ff;
                  cursor: pointer;
                }
              }

              .inspect-message {
                position: relative;

                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                padding: 6px 8px;

                font-size: 12px;
                line-height: 20px;
                color: #e71818;
                background: #f5f7fa;
                border-radius: 2px;
                word-break: break-all;
                white-space: break-word;
              }

              &:last-child {
                margin-top: 16px;
              }
            }
          }

          > div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            margin-right: 2px;
            font-size: 18px;
            color: #4d4f56;
            cursor: pointer;
            border-radius: 2px;

            &:hover {
              background: #eaebf0;
            }

            &.is-focused {
              color: #3a84ff;
              background: #e1ecff;
            }

            &.bklog-keyword-validate {
              position: relative;
              overflow: visible;
            }

            .bklog-star-line {
              font-size: 20px;
            }
          }
        }

        &.search-btn {
          // right: 0;
          // bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          font-size: 14px;
          color: #ffffff;
          cursor: pointer;
          background-color: #3a84ff;
          border-radius: 0 2px 2px 0;

          :deep(.bk-button) {
            width: 100%;
            height: 100%;
            border-radius: 0 2px 2px 0;

            .icon-search {
              font-size: 16px;
            }
          }
        }
      }
    }

    .search-refresh {
      position: relative;
      display: flex;
      align-items: center;
      height: 52px;
      padding: 0px 18px 0px 13px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 20px;
        left: 0;
        width: 1px;
        height: 14px;
        content: '';
        background-color: #dcdee5;
      }
    }

    .auto-refresh-trigger {
      display: flex;
      align-items: center;
      min-width: 103px;
      height: 52px;
      font-size: 12px;
      line-height: 22px;
      white-space: nowrap;
      cursor: pointer;

      .bklog-icon {
        padding: 0 5px 0 17px;
        font-size: 14px;
        color: #63656e;
      }

      .active-text {
        color: #3a84ff;
      }

      .icon-angle-down {
        margin: 0 10px;
        font-size: 22px;
        color: #63656e;
        transition: transform 0.3s;

        &.active {
          transition: transform 0.3s;
          transform: rotate(-180deg);
        }
      }

      &:hover > span {
        color: #3a84ff;
      }

      &::before {
        position: absolute;
        top: 20px;
        left: 0;
        width: 1px;
        height: 14px;
        content: '';
        background-color: #dcdee5;
      }
    }

    .query-params-wrap {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 50px;
      content: '';
      background-color: #f4f7fa;
      transform: translateY(-100%);
    }

    &.readonly {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: not-allowed;
        content: '';
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    &.set-border {
      border-bottom: 1px solid #dcdee5;
    }

    &.inspect-error {
      .search-input {
        background: #fff0f0;
      }
    }
  }

  &.no-margin {
    margin-left: 0;
  }
}
