@import "../../../../monitor-pc/theme/index.scss";

.chart-colllect-component {
  .view-collection {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 50px;
    left: calc(50vw - 210px);
    height: 42px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #313238;
    background: rgba(0, 0, 0, .85);
    border-radius: 21px;
    padding: 0 11px 0 20px;
    z-index: 1999;
    &-btn {
      margin-left: 10px;
      color: $primaryFontColor;
      cursor: pointer;
    }
    .icon-mc-close-fill {
      font-size: 22px;
      color: #63656e;
      cursor: pointer;
    }
  }
  .collection-fade-enter-active {
    transition: all .3s ease;
  }
  .collection-fade-leave-active {
    transition: all .3s ease;
  }
  .collection-fade-enter,
  .collection-fade-leave-to {
    transform: translateY(42px);
    opacity: 0;
  }
}