.minute-chart-component {
  width: 100%;
  border: 1px solid #dcdee5;
  border-radius: 2px;

  .chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px 12px 16px;
    line-height: 22px;

    .chart-label {
      font-size: 14px;
      color: #313238;
    }

    .chart-tools {
      display: flex;
      align-items: center;
      font-size: 12px;

      .operate {
        width: 20px;
        margin-left: 26px;

        .refresh {
          cursor: pointer;

          &:hover {
            color: #3a84ff;
          }
        }

        .loading-spin {
          position: relative;
          top: 3px;
          width: 16px;
        }
      }
    }
  }

  .chart-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
  }

  .empty-status-container {
    height: 200px;
  }
}
