.cluster-config-cluster-more-config {
  .horizontal {
    display: flex;
    align-items: center;

    & > div {
      &:not(:first-of-type) {
        margin-left: 16px;
      }
    }
  }

  .time-select-wrap {
    display: flex;
    height: 32px;
    background: #fff;
    border: 1px solid #c4c6cc;
    border-radius: 2px;

    .left-wrap {
      min-width: 46px;
      padding: 0 8px 0 10px;
      line-height: 32px;
      background: #fafbfd;
      border-right: 1px solid #c4c6cc;
    }

    .bk-select {
      width: 100%;
      border: 0;
    }

    .bk-form-input {
      height: 30px;
      border: 0;
    }
  }

  .hint-switcher {
    display: flex;
    align-items: center;

    .get-hint {
      margin-left: 16px;

      & > span {
        display: inline-flex;

        .button-text {
          margin: 0 4px;
          color: #3a84ff;
          cursor: pointer;
        }
      }
    }
  }

  .hint-lable-title {
    display: flex;
    align-items: center;

    .lable {
      margin-right: 6px;
    }

    .link {
      display: flex;
      align-items: center;
      color: #3a84ff;
      cursor: pointer;

      .icon-mc-visual {
        margin-right: 4px;
        font-size: 16px;
      }
    }
  }

  .cluster-form-item-radio {
    margin-right: 24px;
    font-size: 12px;
  }

  .space-select-component.space-select-component-common-style {
    max-width: 100%;
  }
}