.trace-detail-header {
  position: relative;
  margin-top: 12px;
  margin-right: 100px;
  white-space: nowrap;

  &.is-in-table {
    margin: 0;
  }

  .trace-id {
    font-size: 16px;
    line-height: 24px;
    color: #313238;
    letter-spacing: 0;
  }

  .icon-monitor {
    margin-left: 12px;
    font-size: 16px;
    color: #979ba5;
    cursor: pointer;

    &:hover {
      color: #3a84ff;
    }
  }
}

