.trace-detail-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
  margin-right: 100px;
  white-space: nowrap;

  .icon-monitor {
    margin-left: 12px;
    font-size: 16px;
    color: #979ba5;
    cursor: pointer;

    &:hover {
      color: #3a84ff;
    }
  }

  .trace-header-title {
    display: flex;
    align-items: center;
  }

  &.is-in-table {
    margin: 0;
  }

  .header-tool {
    display: flex;
    height: 100%;
    font-size: 14px;
    color: #63656e;

    .tool-item {
      padding: 0 24px;
      font-size: 12px;
      line-height: 20px;
      border-left: 1px solid #f5f7fa;

      .tool-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
      }

      .icon-monitor {
        margin: 0;
      }
    }
  }

  .trace-id {
    font-size: 16px;
    line-height: 24px;
    color: #313238;
    letter-spacing: 0;
  }
}
