/* stylelint-disable declaration-no-important */
.trace-state-wrap {
  .editable-form-item {
    height: 20px;
    margin-bottom: 12px;

    .value-content {
      span {
        // display: inline-block;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .item-content {
    margin-bottom: 24px !important;
  }

  .form-content {
    padding-bottom: 24px !important;

    .item-row {
      &:last-child {
        .editable-form-item {
          margin-bottom: 0px;
        }
      }
    }
  }
}
