.bklog-v2-echarts-container {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding-left: 15px;

  &.is-fold {
    height: 36px;
  }

  // 标题样式
  .title-wrapper {
    position: relative;
    flex: 1;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 36px;
    width: 100% !important;

    .converge-cycle {
      display: flex;
      align-items: center;
      margin-left: 14px;
      font-size: 12px;
      font-weight: normal;
      color: #4d4f56;

      .chart-back-btn {
        display: inline-flex;
        align-items: center;
        margin-right: 6px;
        cursor: pointer;
        color: #3a84ff;
      }

      .select-custom {
        display: inline-block;
        padding-left: 5px;
        color: #313238;
        vertical-align: middle;
        border: none;

        .bk-select-name {
          width: 60px;
          padding-right: 20px;
          padding-left: 0px;
          text-align: center;
        }
      }

      .bklog-icon {
        padding: 1px;
        font-size: 14px;
        cursor: pointer;
      }
    }

    .chart-title {
      width: 100%;
      padding: 0 4px;
      margin-left: -10px;
      font-size: 12px;
      color: #4d4f56;
      border-radius: 2px;

      .title-click {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
      }

      .main-title {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        height: 24px;

        .title-name {
          height: 20px;
          overflow: hidden;
          font-family: MicrosoftYaHei-Bold, sans-serif;
          font-weight: 700;
          line-height: 20px;
          color: #313238;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .time-result {
          .total-count {
            color: #f00;
          }
        }

        .icon-down-shape {
          margin-right: 8px;
          transition: transform 0.3s;

          &.is-flip {
            transition: transform 0.3s;
            transform: rotate(-90deg);
          }
        }
      }

      .sub-title {
        height: 16px;
        overflow: hidden;
        line-height: 16px;
        color: #979ba5;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .chart-spin {
      position: absolute;
      top: 27px;
      right: 36px;
    }
  }

  // 图表样式
  .echart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    color: #63656e;
    background-color: #fff;
    background-repeat: repeat;
    background-position: top;
    border-radius: 2px;
  }

  .bk-loading {
    z-index: 1;
  }
}
