@import '../../../theme';

.data-retrieval-view {
  .view-header-wrapper {
    .tool-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 52px;
      font-size: 14px;
      color: #979ba5;
      cursor: pointer;

      // border-left: 1px solid #f0f1f5;
      &.right {
        // border-right: 1px solid #f0f1f5;
      }

      .arrow-right {
        font-size: 24px;
        color: #979ba5;
        cursor: pointer;
        transform: rotate(90deg);
      }
    }

    .compare-wrap {
      height: 48px;

      .panel-wrap-left {
        .dropdown-trigger {
          height: 48px;
        }
      }

      .panel-wrap-center {
        border-left: 0;

        .favorites-list {
          flex: 1;
        }

        .time-select {
          margin-top: 8px;
        }

        .time-shift {
          height: 48px;
          border-left: 0;
        }

        .dropdown-trigger {
          height: 48px;
        }
      }

      .panel-wrap-right {
        .tool-icon {
          height: 48px;
        }
      }
    }

    .time-range-wrap {
      padding-right: 8px;
    }
  }

  .charts-view-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 104px);
    padding: 8px 0 0 16px;
    overflow-y: auto;

    &.is-event {
      padding: 0;
    }

    &.is-full-screen {
      height: calc(100vh - 14px);
    }

    .total-tips {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 8px;
      font-size: 12px;
      line-height: 20px;

      .split-btn-wrapper {
        display: flex;
        align-items: center;

        .btn-text {
          margin-right: 7px;
        }
      }

      .tips-text {
        .add-strategy-btn {
          margin-left: 4px;
          color: #3a84ff;
          cursor: pointer;
        }
      }
    }

    .charts-view-main {
      // flex: 1;
      display: flex;
      height: 100%;

      &.has-tips {
        height: calc(100% - 28px);
      }

      .charts-view-right {
        width: 0;
        height: 100%;
        will-change: width;

        .bk-monitor-drag {
          left: -10px;
        }

        &:hover {
          .charts-view-right-content {
            .charts-view-right-title {
              .icon-mc-close {
                display: initial;
              }
            }

            .charts-view-right-list {
              &::-webkit-scrollbar {
                display: initial;
              }
            }
          }
        }

        .charts-view-right-content {
          height: 100%;
          padding-top: 16px;

          .charts-view-right-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 20px;
            padding-right: 16px;
            margin-bottom: 24px;
            line-height: 20px;
            color: #313238;

            .icon-mc-close {
              display: none;
              font-size: 22px;
              color: #c4c6cc;
              cursor: pointer;

              &:hover {
                color: #313238;
              }
            }
          }

          .charts-view-right-list {
            height: calc(100% - 44px);
            padding-right: 16px;
            overflow-y: auto;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }

      .charts-view-left {
        min-width: 600px;
        height: 100%;
        padding-right: 16px;

        .dashboard-panels-list {
          height: calc(100% - 56px);
          overflow: hidden auto;
        }
      }
    }
  }

  .panels-tools {
    margin-bottom: 8px;

    .panels-tools-prepend {
      display: flex;
      align-items: center;
    }

    .icon-mc-list {
      @include tool-icon(28px, 12px);

      &.disabled {
        cursor: not-allowed;
        background-color: #f0f1f5;
        border-radius: 50%;
      }
    }
  }
}
