/* stylelint-disable declaration-no-important */
.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.only-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &.has-title {
    height: 24px;
    padding: 0 5px;
  }

  &.dark {
    &.checked {
      background-color: #252f43;
    }
  }
}

.icon-btn-theme {
  min-width: 74px;
  padding: 0 !important;
  background-color: transparent;
  border-radius: 0;

  .tippy-backdrop {
    background-color: transparent;
  }

  .icon-options-list {
    padding: 4px 0;
    color: #fff;
    background-color: #394561;
    border: 1px solid #656d8e;
    border-radius: 2px;

    .icon-option {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 0 12px;
      cursor: pointer;

      &:hover {
        background-color: #2c354d;
      }
    }

    .option-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 14px;
      margin-right: 6px;
      font-size: 14px;
    }
  }
}
