/* stylelint-disable declaration-no-important */
.tree-list {
  font-size: 14px;

  .tree-list-item {
  }

  .list-item-row {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #31394f;

      .list-item-icon {
        &::after {
          background-color: #fff;
        }
      }
    }

    .list-item-icon {
      flex: 0 0 22px;
      width: 22px;
      height: 22px;
    }

    .list-item-name {
      flex: 1;
      flex-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.checked {
      color: #fff;
      background-color: #3a84ff;

      .list-item-icon {
        &::after {
          background-color: #fff;
        }
      }
    }

    &.edit {
      background-color: #252f43;

      .bk-form-input {
        color: #fff;
      }
    }

    &.disabled {
      color: #6b7280;
      background-color: unset;

      .list-item-icon {
        &::after {
          background-color: unset;
        }
      }
    }

    .rename-input {
      .bk-form-input {
        background-color: #252f43 !important;
        border: 0 !important;
      }
    }
  }

  .list-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: 14px;

    &.is-null {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        content: '';
        background-color: #394561;
        border-radius: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }

  .list-item-handle {
    padding-right: 5px;
    margin-left: auto;
  }
}
