.filter-conditions-commonly-used-edit-box {
  height: 32px;
  background: #ffffff;
  border: 1px solid #c4c6cc;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  min-width: 180px;
  max-width: 500px;
  position: relative;
  z-index: 9;
  margin-right: 4px;
  margin-top: 4px;

  &.is-focused {
    border-color: #3a84ff;
    z-index: 10;
  }

  .conditions-key {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .conditions-option {
    color: #3a84ff;
    padding: 0 4px 0 2px;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    padding-right: 2px;
    position: relative;
    margin-right: -2px;
    z-index: 1;
  }

  .conditions-value {
    max-width: 200px;
    flex: 1;
    height: 30px;

    .bk-select {
      background: #fff;
      border-top: none;
      margin-right: -1px;
      .bk-select-tag-container {
        min-height: 28px;
      }
      .bk-select-tag-input {
        height: 20px;
      }
    }
  }
}
