.filter-conditions-common-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  padding: 0 6px;
  padding-bottom: 4px;
  background: #ebeef566;

  .selector-item {
    margin-top: 4px;
    margin-right: 4px;
    background: #fff;
  }

  .filter-conditions-setting {
    display: flex;
    align-items: center;
    margin-top: 2px;
    color: #3a84ff;
    cursor: pointer;

    .setting-icon {
      margin-top: 1px;
      margin-left: 4px;
      font-size: 14px;
    }
  }
}
